.modal-dialog {
  width: 80%;
  max-width: 1000px;
  margin: 2em auto;
  overflow-x: auto;
}

.varda-modal-title {
  font-size: var(--h3);
  margin-bottom: 10px;
}

.modal-body {
  max-height: 80vh;
  overflow-y: auto;
}

.modal-form-intro, .varda-info {
  padding: 1em 2em;
  background-color: var(--bg-color-info);
  margin-bottom: 1em;
}

.modal-form-intro a{
  text-decoration: underline;
  color: var(--gray);
}

.modal-checkbox-group .mat-checkbox-layout {
  white-space: normal;
}


.modal-body .mat-expansion-panel-body {
  padding: 0.5em;
  overflow-x: auto;
}

.puutteelliset-dialog {
  width: min(400px, 90%);
  max-height: 90vh;
}

.puutteelliset-dialog > .mat-dialog-container {
  padding: 0;
  overflow-x: hidden;
}

@media (max-width: 767px) {
  .modal-dialog {
    width: 90%;
  }
}

@media (max-width: 575px) {
  .modal-dialog {
    width: 96%;
  }
}
