<main class="huoltajuussuhteet">
  <h1>{{ i18n.huoltajuussuhteet | translate}}</h1>
  <div [innerHTML]="i18n.huoltajuussuhteet_instruction | translateMarkdown"></div>

  @if (huoltajatiedot$ | async; as huoltajatiedot) {
    <app-henkilotiedot [hideSyntymaPvm]="true"></app-henkilotiedot>
    <section class="huollettavat">
      <div class="section-header">
        <h2>{{ i18n.maksutiedot | translate }} ({{ huoltajatiedot.huoltajuussuhteet.length }})</h2>
        <span class="button-group">
          <button class="button h5"
            (click)="openDialog(i18n.info, i18n.tooltip_info_huoltajuussuhteet)">
            <mat-icon alt="">help_outline</mat-icon>
            <span>{{ i18n.info | translate }}</span>
          </button>
          <button class="button h5"
            (click)="openDialog(i18n.onko_tiedoissa_puutteita, i18n.huoltajuussuhteet_dialog_ota_yhteytta_vakajarjestajaan)">
            <mat-icon alt="">help_outline</mat-icon>
            <span>{{ i18n.onko_tiedoissa_puutteita | translate }}</span>
          </button>
        </span>
      </div>
      <div class="green-info"
        [innerHTML]="i18n.info_huoltajuussuhteet | translateMarkdown">
      </div>
      @if (huoltajatiedot.huoltajuussuhteet.length === 0) {
        <div class="no-results"
          >
          {{ i18n.huoltajuussuhteet_ei_huoltajuussuhteita | translate }}
        </div>
      }
      <mat-accordion>
        @for (huoltajuussuhde of huoltajatiedot.huoltajuussuhteet; track huoltajuussuhde) {
          <app-huoltajuussuhde
          [huoltajuussuhde]="huoltajuussuhde"></app-huoltajuussuhde>
        }
      </mat-accordion>
    </section>
  }
</main>
