<h1 class="varda-page-header">{{'label.paos-management.topic' | translate}}</h1>
<div class="varda-paos-hallinta-wrapper">
  <main *ngIf="isVardaPaakayttaja"
       class="varda-paos-hallinta-flex-column varda-paos-hallinta-flex-column-big varda-page-content">
    <h1>{{'label.paos-management.topic' | translate}}</h1>
    <p>
      {{(isVakajarjestajaKunta ? 'label.paos-management.description' : 'label.paos-management.description.yksityinen') | translate}}
    </p>
    <app-varda-error-alert [errorMessageKey$]="errorMessage$"></app-varda-error-alert>
    <app-paos-add-paos-toiminta [isVardaPaakayttaja]="isVardaPaakayttaja"
                                [isVakajarjestajaKunta]="isVakajarjestajaKunta"
                                [selectedVakajarjestaja]="selectedVakajarjestaja"></app-paos-add-paos-toiminta>
  </main>

  <aside class="varda-paos-hallinta-flex-column m-y-2">
    <section *ngIf="isVakajarjestajaKunta"
         class="varda-page-content">
      <app-paos-added-toimipaikat [isVardaPaakayttaja]="isVardaPaakayttaja"
                                  [selectedVakajarjestaja]="selectedVakajarjestaja">
      </app-paos-added-toimipaikat>
    </section>
    <section class="varda-page-content">
      <app-paos-added-toimijat [isVardaPaakayttaja]="isVardaPaakayttaja"
                               [selectedVakajarjestaja]="selectedVakajarjestaja">
      </app-paos-added-toimijat>
    </section>
  </aside>
</div>
