<h1 class="varda-page-header">{{i18n.paos | translate}}</h1>
<div class="varda-paos-hallinta-wrapper">
  <main *ngIf="isVardaPaakayttaja"
       class="varda-paos-hallinta-flex-column varda-paos-hallinta-flex-column-big varda-page-content">
    <h1>{{i18n.paos | translate}}</h1>
    <p>
      {{(selectedVakajarjestaja.kunnallinen_kytkin ? i18n.paos_instruction : i18n.paos_instruction_yksityinen) | translate}}
    </p>
    <app-varda-error-alert [errorMessageKey$]="errorMessage$"></app-varda-error-alert>
    <app-paos-add-paos-toiminta [isVardaPaakayttaja]="isVardaPaakayttaja"
                                [isVakajarjestajaKunta]="selectedVakajarjestaja.kunnallinen_kytkin"
                                [selectedVakajarjestaja]="selectedVakajarjestaja"></app-paos-add-paos-toiminta>
  </main>

  <aside class="varda-paos-hallinta-flex-column m-y-2">
    <section *ngIf="selectedVakajarjestaja.kunnallinen_kytkin"
         class="varda-page-content">
      <app-paos-added-toimipaikat [isVardaPaakayttaja]="isVardaPaakayttaja"
                                  [selectedVakajarjestaja]="selectedVakajarjestaja">
      </app-paos-added-toimipaikat>
    </section>
    <section class="varda-page-content">
      <app-paos-added-toimijat [isVardaPaakayttaja]="isVardaPaakayttaja"
                               [selectedVakajarjestaja]="selectedVakajarjestaja">
      </app-paos-added-toimijat>
    </section>
  </aside>
</div>
