<h2 mat-dialog-title>
  @if (!data.title) {
    <span>{{ i18n.contact_dialog_otsikko | translate }}</span>
  }
  @if (data.title) {
    <span>{{ data.title | translate }}</span>
  }
</h2>
<mat-dialog-content class="mat-typography">
  <div class="dialog-content"
    role="dialog-content"
    [innerHTML]="data.content | translateMarkdown">
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="dialog-button"
  mat-dialog-close>{{ i18n.poistu | translate }}</button>
</mat-dialog-actions>
