.mat-card-content, .mat-card-header .mat-card-title, .mat-card-subtitle {
  font-size: inherit;
}

.mat-icon {
  vertical-align: middle;
}

.varda-reporting-card-container {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
    align-items: stretch;
    padding-bottom: 10em;
}

.varda-reporting-search-wrapper {
    padding-left: 5%;
    padding-right: 5%;
    justify-content: flex-start;
    display: flex;
}

.varda-reporting-results-wrapper {
    display: flex;
    justify-content: flex-start;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 15px;
}

.varda-reporting-search-form-wrapper {
    width: 800px
}

.varda-reporting-search-form-content {
    display: flex;
    justify-content: flex-start;
}

.varda-toimipaikan-lapset-scroller {
    background-color: #ffffff;
    min-height: 200px;
    overflow: auto;
    flex: 1 0 300px;
    margin: 0.5em;
}

.varda-toimipaikan-lapset-scroller-header {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-left: 20px;
}

.varda-toimipaikan-lapset-scroller-item {
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
}

.varda-toimipaikan-lapset-scroller-item-selected {
    background-color: #159ecb;
    color: #f8eded;
}

.varda-toimipaikan-lapset-container {
  background-color: #ffffff;
  padding: 0.5em;
  flex: 2 2 450px;
  margin: 0.5em;
}

.varda-reporting-search-form-content.toimipaikka-search-form > div:first-child {
    flex: 0 1 50%; margin-right: 5px;
}

.varda-reporting-search-form-content.toimipaikka-search-form > div:nth-child(2) {
    flex: 0 1 20%; display: flex; align-items: flex-end;
}

.varda-reporting-search-form-content.lapsi-search-form {
    display: flex;
    flex-wrap: wrap;
}

.varda-reporting-search-form-content.lapsi-search-form > div {
  padding: 0.5em;
}

.varda-reporting-card {
    flex-grow: 1;
    flex-basis: 50%;
    margin-bottom: 1em;
    padding: 0.5em;

}

.varda-reporting-card > .mat-card {
  height: 100%;
}

.varda-reporting-card-content {
    display: flex;
    min-height: 25px;
}

.varda-reporting-card-content.kielipainotus-card-content,
.varda-reporting-card-content.toimintapainotus-card-content {
    padding-left: 50px;
    font-size: 0.75rem;
}

.varda-reporting-card-content > div {
    flex: 0 1 50%;
}

.varda-reporting-card-content > div > p {
    margin-bottom: 0;
}

.varda-reporting-toimipaikka-header {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.reporting-search-entity-radio-btn-wrapper {
    margin-bottom: 15px;
}

.varda-reporting-search-more-btn-wrapper {
    display: flex;
    margin: 1em;
    justify-content: flex-end;
    width: 100%;
}

.varda-reporting-search-more-btn-wrapper button {
    width: 200px;
}

.varda-reporting-initialization-error {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.varda-reporting-kielipainotus-wrapper,
.varda-reporting-toimintapainotus-wrapper {
    margin-top: 20px;
}

.varda-reporting-kielipainotus-item,
.varda-reporting-toimintapainotus-item {
    margin-bottom: 10px;
}

.varda-reporting-kielipainotus-koodi,
.varda-reporting-toimintapainotus-koodi {
    padding-left: 30px
}

.varda-reporting-kielipainotus-koodi p,
.varda-reporting-toimintapainotus-koodi p {
    margin: 0;
}
