.mat-card-content,
.mat-card-header .mat-card-title,
.mat-card-subtitle {
  font-size: inherit;
}

.mat-icon {
  vertical-align: middle;
}

.varda-field-label {
  font-weight: bold;
}

.varda-reporting-card-container {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: auto;
  align-items: stretch;
  padding-bottom: 10em;
}

.varda-reporting-search-wrapper {
  padding-left: 5%;
  padding-right: 5%;
  justify-content: flex-start;
  display: flex;
}

.varda-reporting-results-wrapper {
  display: flex;
  justify-content: flex-start;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 15px;
}

.varda-reporting-search-form-wrapper {
  width: 800px
}

.varda-reporting-search-form-content {
  display: flex;
  justify-content: flex-start;
}

.varda-toimipaikan-lapset-scroller {
  background-color: var(--white);
  min-height: 200px;
  overflow: auto;
  flex: 1 0 300px;
  margin: 0.5em;
}

.varda-toimipaikan-lapset-scroller .varda-table {
  max-width: 600px;
}

.lapsi-rivi > :nth-child(2) {
  font-style: italic;
  font-size: 80%;
}

.varda-toimipaikan-lapset-scroller-item-selected {
  background-color: #159ecb;
  color: #f8eded;
}

.varda-toimipaikan-lapset-container {
  background-color: #ffffff;
  padding: 0.5em;
  flex: 2 2 450px;
  margin: 0.5em;
}

.varda-reporting-search-form-content.toimipaikka-search-form>div:nth-child(2) {
  align-self: flex-end;
}

.varda-reporting-search-form-content.toimipaikka-search-form>div:nth-child(2) .varda-button {
  margin-bottom: 3px
}

.varda-reporting-row-wrap {
  display: flex;
  flex-wrap: wrap;
}

.varda-reporting-row-wrap>div:not(.lapsi-filter-instruction) {
  padding: 0.5em;
}

.varda-reporting-row-wrap>div:nth-child(3) {
  align-self: flex-end;
}

.varda-reporting-row-wrap>div:nth-child(3) .varda-button {
  margin-bottom: 3px;
}

.varda-reporting-row-wrap .modal-form-intro {
  margin-bottom: 0;
}

.lapsi-filter-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 1em .5em .5em .5em;
}

.lapsi-filter-form > div {
  margin: .5em 0 .5em 0;
}

.lapsi-filter-time-container {
  margin-top: -1em;
}

.lapsi-filter-time-container > * {
  margin-top: 1em;
}

.varda-date-range-dash {
  font-weight: bold;
  margin: .5em -10px 0 -10px;
}

.varda-reporting-card {
  flex-grow: 1;
  flex-basis: 50%;
  margin-bottom: 1em;
  padding: 0.5em;
}

.varda-reporting-card>.mat-card {
  height: 100%;
}

.varda-reporting-card-content {
  display: flex;
  min-height: 25px;
}

.varda-reporting-card-content.kielipainotus-card-content,
.varda-reporting-card-content.toimintapainotus-card-content {
  padding-left: 50px;
  font-size: 0.75rem;
}

.varda-reporting-card-content>div {
  flex: 0 1 50%;
}

.varda-reporting-card-content>div>p {
  margin-bottom: 0;
}

.varda-reporting-toimipaikka-header {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.reporting-search-entity-radio-btn-wrapper {
  margin-bottom: 15px;
}

.varda-reporting-search-more-btn-wrapper {
  display: flex;
  margin: 1em;
  justify-content: flex-end;
  width: 100%;
}

.varda-reporting-search-more-btn-wrapper button {
  width: 200px;
}

.varda-reporting-initialization-error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.varda-reporting-kielipainotus-wrapper,
.varda-reporting-toimintapainotus-wrapper {
  margin-top: 20px;
}

.varda-reporting-kielipainotus-item,
.varda-reporting-toimintapainotus-item {
  margin-bottom: 10px;
}

.varda-reporting-kielipainotus-koodi,
.varda-reporting-toimintapainotus-koodi {
  padding-left: 30px
}

.varda-reporting-kielipainotus-koodi p,
.varda-reporting-toimintapainotus-koodi p {
  margin: 0;
}

.varda-date-range-container {
  min-width: 320px;
}

.varda-date-range-container p {
  margin-bottom: 0;
}

.varda-small-text {
  font-size: .8em;
}

.varda-filter-summary {
  font-weight: normal;
  margin-right: .5em;
}

.varda-link {
  cursor: pointer;
  font-weight: normal;
  color: var(--blue-lighten-1);
}

.varda-link:hover {
  color: var(--blue);
}

.varda-filter-close {
  display: block;
  text-align: right;
  margin: 0;
}

.lapsi-filter-clear-container {
  align-self: flex-end;
  margin-bottom: 1.25em !important;
}

.lapsi-filter-clear {
  width: auto;
  white-space: nowrap;
  float: right;
}

.lapsi-filter-instruction {
  margin: .5em;
}

@media (min-width: 768px) {
  .varda-date-range-container {
    max-width: 400px;
  }
}

@media (max-width: 767px) {
  .lapsi-filter-clear {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .varda-date-range-container {
    min-width: initial;
  }

  .varda-date-range-container .varda-date-range-row {
    justify-content: center;
  }

  .varda-date-range-container .varda-date-range-row > div {
    width: 100%;
    flex-basis: initial;
    padding: 0 15px;
  }

  .varda-date-range-dash {
    margin: 0;
  }
}
