<h1 class="varda-page-header">
  {{ 'label.navi.tietojen-katselu' | translate }}
</h1>
<main class="varda-reporting-wrapper">
  <div class="varda-reporting-initialization-error alert alert-danger"
       role="alert"
       *ngIf="ui.reportingInitializationError">
    <p>{{'alert.error-occurred' | translate}}</p>
  </div>
  <section class="varda-page-content"
           *ngIf="!ui.reportingInitializationError">
    <form>
      <div class="mb-2">
        <app-varda-radio-button-group name="'reportingEntitySelectorRadio'"
                                      responsive="md"
                                      wrap="sm"
                                      (change)="changeSearchEntity($event)">
          <app-varda-radio-button [id]="'reportingToimipaikat'"
                                  [value]="'toimipaikka'"
                                  [checked]="true">
            {{'label.toimipaikat' | translate}}
          </app-varda-radio-button>
          <app-varda-radio-button [id]="'reportingLapset'"
                                  [value]="'lapsi'">
            {{'label.lapset' | translate}}
          </app-varda-radio-button>
          <app-varda-radio-button [id]="'reportingYhteenveto'"
                                  [value]="'yhteenveto'">
            {{'label.yhteenveto' | translate}}
          </app-varda-radio-button>
        </app-varda-radio-button-group>
      </div>
      <div class="varda-reporting-search-form-content toimipaikka-search-form"
           *ngIf="selectedSearchEntity === 'toimipaikka'">
        <div>
          <label for="reportingToimipaikkaSearchInput"
                 class="varda-field-label">{{getSearchInputLabel() | translate}}</label>
          <input class="varda-form-control form-control varda-input"
                 name="reportingToimipaikkaSearchInput"
                 id="reportingToimipaikkaSearchInput"
                 type="text"
                 [(ngModel)]="toimipaikkaSearchValue"
                 (keydown.enter)="searchToimipaikka()">
        </div>
        <div>
          <button class="varda-button"
                  type="button"
                  (click)="searchToimipaikka()">{{'label.hae' | translate}}</button>
        </div>
      </div>
      <div class="varda-reporting-search-form-content lapsi-search-form"
           *ngIf="selectedSearchEntity === 'lapsi'">
        <div class="col-md-4">
          <label for="toimipaikkaSelect"
                 class="varda-field-label">{{getSearchInputLabel() | translate}}</label>
          <select class="varda-form-control form-control varda-select"
                  name="toimipaikkaSelect"
                  id="toimipaikkaSelect"
                  (change)="searchLapsi()"
                  [(ngModel)]="toimipaikanLapsetSelectedToimipaikka">
            <option *ngFor="let toimipaikkaObj of vakajarjestajaToimipaikat"
                    [ngValue]="toimipaikkaObj">
              {{toimipaikkaObj.nimi}}</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="reportingLapsiSukunimiSearchInput"
                 class="varda-field-label">{{'label.sukunimi' | translate}}</label>
          <input class="varda-form-control form-control varda-input"
                 name="reportingLapsiSukunimiSearchInput"
                 id="reportingLapsiSukunimiSearchInput"
                 type="text"
                 [(ngModel)]="lapsiSukunimiSearchValue"
                 (keydown.enter)="searchLapsi()">
        </div>
        <div class="col-md-4">
          <label for="reportingLapsiEtunimetSearchInput"
                 class="varda-field-label">{{'label.etunimet' | translate}}</label>
          <input class="varda-form-control form-control varda-input"
                 name="reportingLapsiEtunimetSearchInput"
                 id="reportingLapsiEtunimetSearchInput"
                 type="text"
                 [(ngModel)]="lapsiEtunimetSearchValue"
                 (keydown.enter)="searchLapsi()">
        </div>
        <div class="col-md-3">
          <button class="varda-button"
                  type="button"
                  (click)="searchLapsi()">{{'label.hae' | translate}}</button>
        </div>
      </div>
    </form>
  </section>

  <div class="varda-reporting-results-wrapper"
       *ngIf="ui.resultsEmpty && selectedSearchEntity === 'toimipaikka'">
    {{'alert.reporting-no-results' | translate}}
  </div>
  <div class="varda-reporting-results-wrapper"
       *ngIf="!ui.resultsEmpty && ui.noOfResults">
    <ng-container *ngIf="selectedSearchEntity === 'toimipaikka'">
      {{'reporting.toimipaikkoja' | translate}}: {{ui.noOfResults}}
    </ng-container>
  </div>

  <section class="varda-reporting-card-container"
           *ngIf="!ui.isLoading && selectedSearchEntity === 'toimipaikka'">
    <div class="varda-reporting-card"
         *ngFor="let toimipaikkaObj of toimipaikat">
      <mat-card>
        <h2 class="varda-reporting-toimipaikka-header">{{toimipaikkaObj['toimipaikka'].nimi}}</h2>
        <mat-card-content>
          <div class="varda-reporting-card-content"
               *ngFor="let key of toimipaikkaObj['toimipaikka'] | keys">
            <div>
              <p>
                {{'label.' + key | translate}}
              </p>
            </div>
            <div>
              <p>
                {{formatToimipaikkaDisplayValue(key, toimipaikkaObj['toimipaikka'][key])}}
              </p>
            </div>
          </div>
          <div class="varda-reporting-kielipainotus-wrapper"
               *ngIf="toimipaikkaObj['kielipainotukset'] && toimipaikkaObj['kielipainotukset'].length > 0">
            <p><b>{{'label.kielipainotukset' | translate}}</b></p>
            <div class="varda-reporting-kielipainotus-item"
                 *ngFor="let kielipainotus of toimipaikkaObj['kielipainotukset']">
              <div class="varda-reporting-kielipainotus-koodi">
                <p>{{getKielikoodiDisplayValueByString(kielipainotus.kielipainotus_koodi)}}</p>
              </div>
              <div class="varda-reporting-card-content kielipainotus-card-content">
                <div>
                  <p>
                    {{'label.alkamis_pvm' | translate}}
                  </p>
                </div>
                <div>
                  {{getDateDisplayValue(kielipainotus.alkamis_pvm)}}
                </div>
              </div>
              <div class="varda-reporting-card-content kielipainotus-card-content">
                <div>
                  <p>
                    {{'label.paattymis_pvm' | translate}}
                  </p>
                </div>
                <div>
                  {{getDateDisplayValue(kielipainotus.paattymis_pvm)}}
                </div>
              </div>
            </div>
          </div>
          <div class="varda-reporting-toimintapainotus-wrapper"
               *ngIf="toimipaikkaObj['toimintapainotukset'] && toimipaikkaObj['toimintapainotukset'].length > 0">
            <p><b>{{'label.toimintapainotukset' | translate}}</b></p>
            <div class="varda-reporting-toimintapainotus-item"
                 *ngFor="let toimintapainotus of toimipaikkaObj['toimintapainotukset']">
              <div class="varda-reporting-toimintapainotus-koodi">
                <p>{{getToimintapainotusDisplayValue(toimintapainotus.toimintapainotus_koodi)}}</p>
              </div>
              <div class="varda-reporting-card-content toimintapainotus-card-content">
                <div>
                  <p>
                    {{'label.alkamis_pvm' | translate}}
                  </p>
                </div>
                <div>
                  {{getDateDisplayValue(toimintapainotus.alkamis_pvm)}}
                </div>
              </div>
              <div class="varda-reporting-card-content toimintapainotus-card-content">
                <div>
                  <p>
                    {{'label.paattymis_pvm' | translate}}
                  </p>
                </div>
                <div>
                  {{getDateDisplayValue(toimintapainotus.paattymis_pvm)}}
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="varda-reporting-search-more-btn-wrapper"
         *ngIf="!ui.isLoading">
      <button class="varda-button"
              type="button"
              (click)="searchMore()"
              *ngIf="nextSearchLink">{{'label.search-more' | translate}} + </button>
    </div>
  </section>
  <section class="varda-reporting-card-container"
           *ngIf="!ui.isLoading && selectedSearchEntity === 'lapsi'">
    <div class="varda-toimipaikan-lapset-scroller">
      <ng-container *ngIf="toimipaikanLapset">
        <div class="varda-table-responsive">
          <div class="varda-table">
            <div class="varda-table-caption">
              {{'label.haku-list.topic' | translate}} ({{ ui.noOfResults }}):
            </div>
            <div class="varda-table-error"
                 *ngIf="toimipaikanLapset.length === 0">
              {{'alert.toimipaikan-lapset-not-found' | translate}}
            </div>
            <div class="varda-table-body">
              <div class="varda-table-row lapsi-rivi"
                   tabindex="0"
                   (click)="showLapsi(result.lapsi_id)"
                   (keydown.enter)="showLapsi(result.lapsi_id)"
                   *ngFor="let result of toimipaikanLapset">
                <div class="varda-table-cell">
                  {{result.sukunimi}}, {{result.etunimet}}
                </div>
                <div class="varda-table-cell">
                  {{ getVakaJarjestajaText(result) }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <app-varda-list-pagination [prevLink]="prevSearchLink"
                                   [nextLink]="nextSearchLink"
                                   (prevSearch)="searchMore(true)"
                                   (nextSearch)="searchMore()">
        </app-varda-list-pagination>
      </ng-container>
    </div>
    <div class="varda-toimipaikan-lapset-container"
         *ngIf="selectedToimipaikanLapsi">
      <app-toimipaikan-lapset [selectedToimipaikanLapsi]="selectedToimipaikanLapsi"
                              (uiLoading)="updateUiLoading($event)"></app-toimipaikan-lapset>
    </div>
  </section>
  <section class="varda-reporting-card-container"
           *ngIf="selectedSearchEntity === 'yhteenveto'">
    <app-yhteenveto [toimipaikkaId]="getToimipaikkaId()"
                    (uiLoading)="updateUiLoading($event)"></app-yhteenveto>
    <div class="varda-reporting-search-more-btn-wrapper"
         *ngIf="!ui.isLoading">
      <button class="varda-button"
              type="button"
              (click)="searchMore()"
              *ngIf="nextSearchLink">{{'label.search-more' | translate}} + </button>
    </div>
  </section>
</main>

<lib-loading-indicator *ngIf="ui.isLoading"></lib-loading-indicator>
