<h1 class="varda-page-header">
  {{'label.navi.tietojen-katselu' | translate}}
</h1>
<main class="varda-reporting-wrapper">
  <div class="varda-reporting-initialization-error alert alert-danger"
       role="alert"
       *ngIf="ui.reportingInitializationError">
    <p>{{'alert.error-occurred' | translate}}</p>
  </div>
  <section class="varda-page-content"
           *ngIf="!ui.reportingInitializationError">
    <form>
      <div class="varda-reporting-row-wrap">
        <div class="col-md-6 col-lg-5">
          <label class="oph-bold">{{'label.choose' | translate}}</label>
          <app-varda-radio-button-group name="'reportingEntitySelectorRadio'"
                                        responsive="md"
                                        wrap="sm"
                                        (change)="changeSearchEntity($event)">
            <app-varda-radio-button [id]="'reportingToimipaikat'"
                                    [value]="'toimipaikka'"
                                    [checked]="true">
              {{'label.toimipaikat' | translate}}
            </app-varda-radio-button>
            <app-varda-radio-button [id]="'reportingLapset'"
                                    [value]="'lapsi'">
              {{'label.lapset' | translate}}
            </app-varda-radio-button>
            <app-varda-radio-button [id]="'reportingYhteenveto'"
                                    [value]="'yhteenveto'">
              {{'label.yhteenveto' | translate}}
            </app-varda-radio-button>
          </app-varda-radio-button-group>
        </div>
        <div class="col-lg-7" *ngIf="selectedSearchEntity==='lapsi'">
          <div class="modal-form-intro">
            {{'label.haku-condition.search-instruction' | translate}}<br />
            {{'label.haku-condition.search-instruction2' | translate}}
          </div>
        </div>
      </div>
      <div class="varda-reporting-search-form-content toimipaikka-search-form varda-reporting-row-wrap"
           *ngIf="selectedSearchEntity === 'toimipaikka'">
        <div class="col-sm col-md-6 col-lg-5">
          <label for="reportingToimipaikkaSearchInput"
                 class="oph-bold">{{getSearchInputLabel() | translate}}</label>
          <input class="oph-input"
                 name="reportingToimipaikkaSearchInput"
                 id="reportingToimipaikkaSearchInput"
                 type="text"
                 [(ngModel)]="toimipaikkaSearchValue"
                 (keydown.enter)="searchToimipaikka()">
        </div>
        <div class="col-sm-auto">
          <button class="varda-button varda-icon-button"
                  type="button"
                  (click)="searchToimipaikka()">
            <mat-icon>search</mat-icon>
            {{'label.hae' | translate}}
          </button>
        </div>
      </div>
      <div class="varda-reporting-search-form-content varda-reporting-row-wrap"
           *ngIf="selectedSearchEntity === 'lapsi'">
        <div class="col-md-5 col-lg-5">
          <label for="toimipaikkaSelect"
                 class="oph-bold">{{getSearchInputLabel() | translate}}</label>
          <div class="oph-select-container">
            <select class="oph-input oph-select"
                    name="toimipaikkaSelect"
                    id="toimipaikkaSelect"
                    (change)="searchLapsi()"
                    [(ngModel)]="toimipaikanLapsetSelectedToimipaikka">
              <option *ngFor="let toimipaikkaObj of vakajarjestajaToimipaikat.katselijaToimipaikat"
                      [ngValue]="toimipaikkaObj">
                {{toimipaikkaObj.nimi}}</option>
            </select>
          </div>
        </div>
        <div class="col-md col-lg-4">
          <label for="reportingLapsiSearchInput"
                 class="oph-bold">{{'label.haku-list.nimi-ssn-oid' | translate}}</label>
          <input class="oph-input"
                 name="reportingLapsiSearchInput"
                 id="reportingLapsiSearchInput"
                 type="text"
                 placeholder="{{'label.haku-condition.hae-henkilo' | translate}}..."
                 [(ngModel)]="lapsiSearchValue"
                 (keydown.enter)="searchLapsi()">
        </div>
        <div class="col-md-auto">
          <button class="varda-button varda-icon-button"
                  type="button"
                  (click)="searchLapsi()">
            <mat-icon>search</mat-icon>
            {{'label.hae' | translate}}
          </button>
        </div>
        <div class="oph-bg-gray-lighten-5 lapsi-filter-form" *ngIf="lapsiFiltersAreVisible">
          <div class="col-md-auto">
            <label class="varda-link varda-filter-close"
                   *ngIf="isSmall"
                   (click)="lapsiFiltersAreVisible = false; clearLapsiFilter()">
              {{'label.close' | translate}}
            </label>
            <label class="oph-bold">{{'label.filter-content' | translate}}</label>
            <app-varda-radio-button-group name="lapsiRajausButtonGroup"
                                          responsive="lg"
                                          wrap="lg"
                                          (change)="filterLapset()"
                                          [(ngModel)]="lapsiFilter.rajaus">
              <app-varda-radio-button [id]="'filterVakapaatokset'"
                                      [value]="lapsiRajaus.VAKAPAATOKSET">
                {{'label.varhaiskasvatuspaatokset' | translate}}
              </app-varda-radio-button>
              <app-varda-radio-button [id]="'filterVakasuhteet'"
                                      [value]="lapsiRajaus.VAKASUHTEET">
                {{'label.varhaiskasvatussuhteet' | translate}}
              </app-varda-radio-button>
              <app-varda-radio-button [id]="'filterMaksutiedot'"
                                      [value]="lapsiRajaus.MAKSUTIEDOT">
                {{'label.maksutiedot' | translate}}
              </app-varda-radio-button>
              <app-varda-radio-button [id]="'filterNone'"
                                      [value]="lapsiRajaus.NONE">
                {{'label.no-filters' | translate}}
              </app-varda-radio-button>
            </app-varda-radio-button-group>
          </div>
          <div class="col-md-auto" *ngIf="!lapsiFilterInactive">
            <label class="oph-bold">{{ 'label.filter-time' | translate }}</label>
            <div class="row lapsi-filter-time-container">
              <div class="col-md-auto">
                <app-varda-radio-button-group name="lapsiVoimassaoloButtonGroup"
                                              responsive="md"
                                              wrap="xs"
                                              (change)="filterLapset()"
                                              [(ngModel)]="lapsiFilter.voimassaolo">
                  <app-varda-radio-button [id]="'filterVoimassa'"
                                          [value]="lapsiVoimassaolo.VOIMASSA">
                    {{'label.voimassa' | translate}}
                  </app-varda-radio-button>
                  <app-varda-radio-button [id]="'filterAlkanut'"
                                          [value]="lapsiVoimassaolo.ALKANUT">
                    {{'label.alkanut' | translate}}
                  </app-varda-radio-button>
                  <app-varda-radio-button [id]="'filterPaattynyt'"
                                          [value]="lapsiVoimassaolo.PAATTYNYT">
                    {{'label.paattynyt' | translate}}
                  </app-varda-radio-button>
                </app-varda-radio-button-group>
              </div>
              <div class="col varda-date-range-container">
                <div class="row varda-date-range-row">
                  <div class="col">
                    <app-varda-datepicker
                      #alkamisPvm="ngModel"
                      [name]="'filterAlkamisPvm'"
                      [(ngModel)]="lapsiFilter.alkamisPvm"
                      (dateInput)="filterLapset()"
                      [required]="true">
                    </app-varda-datepicker>
                    <div aria-live="assertive" class="varda-error-message-block" role="alert" *ngIf="alkamisPvm.invalid">
                      <p>{{'alert.date-format' | translate}}</p>
                    </div>
                  </div>
                  <span class="varda-date-range-dash">–</span>
                  <div class="col">
                    <app-varda-datepicker
                      #paattymisPvm="ngModel"
                      [name]="'filterPaattymisPvm'"
                      [(ngModel)]="lapsiFilter.paattymisPvm"
                      (dateInput)="filterLapset()"
                      [required]="true">
                    </app-varda-datepicker>
                    <div aria-live="assertive" class="varda-error-message-block" role="alert" *ngIf="paattymisPvm.invalid">
                      <p>{{'alert.date-format' | translate}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col lapsi-filter-clear-container">
            <button class="varda-button varda-icon-button lapsi-filter-clear"
                    type="button"
                    (click)="clearLapsiFilter()"
                    [disabled]="lapsiFilterInactive">
              <mat-icon>delete</mat-icon>
              {{'label.clear-filters' | translate}}
            </button>
          </div>
        </div>
        <div class="modal-form-intro lapsi-filter-instruction"  *ngIf="lapsiFiltersAreVisible">
          {{'label.lapsi-filter.search-instruction' | translate}}
        </div>
        <div class="varda-link" *ngIf="!lapsiFiltersAreVisible" (click)="lapsiFiltersAreVisible = true">
          {{'label.filter-results' | translate}}
        </div>
      </div>
    </form>
  </section>

  <div class="varda-reporting-results-wrapper"
       *ngIf="ui.resultsEmpty && selectedSearchEntity === 'toimipaikka'">
    {{'alert.reporting-no-results' | translate}}
  </div>
  <div class="varda-reporting-results-wrapper"
       *ngIf="!ui.resultsEmpty && ui.noOfResults">
    <ng-container *ngIf="selectedSearchEntity === 'toimipaikka'">
      {{'reporting.toimipaikkoja' | translate}}: {{ui.noOfResults}}
    </ng-container>
  </div>

  <section class="varda-reporting-card-container"
           *ngIf="selectedSearchEntity === 'toimipaikka'">
    <div class="varda-reporting-card"
         *ngFor="let toimipaikkaObj of toimipaikat">
      <mat-card>
        <h2 class="varda-reporting-toimipaikka-header">{{toimipaikkaObj['toimipaikka'].nimi}}</h2>
        <mat-card-content>
          <div class="varda-reporting-card-content"
               *ngFor="let key of toimipaikkaObj['toimipaikka'] | keys">
            <div>
              <p>
                {{'label.' + key | translate}}
              </p>
            </div>
            <div>
              <p>
                {{formatToimipaikkaDisplayValue(key, toimipaikkaObj['toimipaikka'][key])}}
              </p>
            </div>
          </div>
          <div class="varda-reporting-kielipainotus-wrapper"
               *ngIf="toimipaikkaObj['kielipainotukset'] && toimipaikkaObj['kielipainotukset'].length > 0">
            <p><b>{{'label.kielipainotukset' | translate}}</b></p>
            <div class="varda-reporting-kielipainotus-item"
                 *ngFor="let kielipainotus of toimipaikkaObj['kielipainotukset']">
              <div class="varda-reporting-kielipainotus-koodi">
                <p>{{getKielikoodiDisplayValueByString(kielipainotus.kielipainotus_koodi)}}</p>
              </div>
              <div class="varda-reporting-card-content kielipainotus-card-content">
                <div>
                  <p>
                    {{'label.alkamis_pvm' | translate}}
                  </p>
                </div>
                <div>
                  {{getDateDisplayValue(kielipainotus.alkamis_pvm)}}
                </div>
              </div>
              <div class="varda-reporting-card-content kielipainotus-card-content">
                <div>
                  <p>
                    {{'label.paattymis_pvm' | translate}}
                  </p>
                </div>
                <div>
                  {{getDateDisplayValue(kielipainotus.paattymis_pvm)}}
                </div>
              </div>
            </div>
          </div>
          <div class="varda-reporting-toimintapainotus-wrapper"
               *ngIf="toimipaikkaObj['toimintapainotukset'] && toimipaikkaObj['toimintapainotukset'].length > 0">
            <p><b>{{'label.toimintapainotukset' | translate}}</b></p>
            <div class="varda-reporting-toimintapainotus-item"
                 *ngFor="let toimintapainotus of toimipaikkaObj['toimintapainotukset']">
              <div class="varda-reporting-toimintapainotus-koodi">
                <p>{{getToimintapainotusDisplayValue(toimintapainotus.toimintapainotus_koodi)}}</p>
              </div>
              <div class="varda-reporting-card-content toimintapainotus-card-content">
                <div>
                  <p>
                    {{'label.alkamis_pvm' | translate}}
                  </p>
                </div>
                <div>
                  {{getDateDisplayValue(toimintapainotus.alkamis_pvm)}}
                </div>
              </div>
              <div class="varda-reporting-card-content toimintapainotus-card-content">
                <div>
                  <p>
                    {{'label.paattymis_pvm' | translate}}
                  </p>
                </div>
                <div>
                  {{getDateDisplayValue(toimintapainotus.paattymis_pvm)}}
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="varda-reporting-search-more-btn-wrapper">
      <button class="varda-button"
              type="button"
              (click)="searchMore()"
              *ngIf="nextSearchLink">{{'label.search-more' | translate}} + </button>
    </div>
  </section>
  <section class="varda-reporting-card-container"
           *ngIf="selectedSearchEntity === 'lapsi'">
    <div class="varda-toimipaikan-lapset-scroller">
      <ng-container *ngIf="toimipaikanLapset">
        <div class="varda-table-responsive">
          <div class="varda-table">
            <div class="varda-table-caption">
              {{'label.haku-list.topic' | translate}} ({{ ui.noOfResults }})
              <label class="varda-small-text varda-filter-summary"
                     *ngIf="!lapsiFilterInactive">{{'label.selected-filters' | translate}}: {{lapsiFilterString}}</label>
            </div>
            <div class="varda-table-error"
                 *ngIf="toimipaikanLapset.length === 0">
              {{'alert.toimipaikan-lapset-not-found' | translate}}
            </div>
            <div class="varda-table-body">
              <div class="varda-table-row lapsi-rivi"
                   tabindex="0"
                   (click)="showLapsi(result.lapsi_id)"
                   (keydown.enter)="showLapsi(result.lapsi_id)"
                   *ngFor="let result of toimipaikanLapset">
                <div class="varda-table-cell">
                  {{result.sukunimi}}, {{result.etunimet}}
                </div>
                <div class="varda-table-cell">
                  {{getVakaJarjestajaText(result)}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <app-varda-list-pagination [prevLink]="prevSearchLink"
                                   [nextLink]="nextSearchLink"
                                   (prevSearch)="searchMore(true)"
                                   (nextSearch)="searchMore()">
        </app-varda-list-pagination>
      </ng-container>
    </div>
    <div class="varda-toimipaikan-lapset-container"
         *ngIf="selectedToimipaikanLapsi">
      <app-toimipaikan-lapset [selectedToimipaikanLapsi]="selectedToimipaikanLapsi"></app-toimipaikan-lapset>
    </div>
  </section>
  <section class="varda-reporting-card-container"
           *ngIf="selectedSearchEntity === 'yhteenveto'">
    <app-yhteenveto [toimipaikkaId]="getToimipaikkaId()"></app-yhteenveto>
    <div class="varda-reporting-search-more-btn-wrapper">
      <button class="varda-button"
              type="button"
              (click)="searchMore()"
              *ngIf="nextSearchLink">{{'label.search-more' | translate}} + </button>
    </div>
  </section>
</main>
