<div class="show-more-container" *ngIf="numberOfItems > VIEW_INITIAL_COUNT">
  <button class="varda-button varda-icon-button secondary"
          *ngIf="numberOfDisplayed < numberOfItems"
          (click)="showMore()">
    <mat-icon>expand_more</mat-icon>
    {{showMoreKey | translate}}
  </button>
  <button class="varda-button varda-icon-button secondary"
          *ngIf="numberOfDisplayed > VIEW_INITIAL_COUNT"
          (click)="showLess()">
    <mat-icon>expand_less</mat-icon>
    {{i18n.show_less | translate}}
  </button>
  <span class="varda-small-text">{{i18n.showing | translate}} {{ numberOfDisplayed }}/{{ numberOfItems }}</span>
</div>
