<div id="main-content" tabindex="-1" class="varda-router-outlet-container">
  <main>
    <h1 class="varda-page-header">
      <mat-icon class='mr-2' alt="">error_outline</mat-icon>
      <span>Selainta ei tueta</span>
      <span> / </span>
      <span>Din webbläsare stöds inte</span>
    </h1>
    <div class="varda-page-content">
      <p>Et voi käyttää Vardaa Internet Explorer-selaimella. Ole hyvä ja avaa Varda Chrome- tai Mozilla
        Firefox-selaimella.</p>
      <hr />
      <p>Du kan inte använda Varda med Internet Explorer. Var god och öppna Varda med Chrome eller Mozilla Firefox.</p>
      <div class="varda-button-group my-4">
        <a target="_blank"
           href="https://browser-update.org/update-browser.html">
          <button class="varda-button secondary responsive">
            <span><mat-icon alt="">new_releases</mat-icon> Lataa selain | Ladda ner webbläsaren   </span>
          </button>
        </a>
      </div>
    </div>
  </main>
</div>
