<div class="table-responsive">
  <table class="henkilo-list">
    <tbody>
      <ng-container *ngFor="let henkilo of henkiloList">
        <tr class="henkilo-list-item"
            tabindex="0"
            (keydown.enter)="clickErrorItem(henkilo)"
            (click)="clickErrorItem(henkilo)">
          <td>
            <mat-icon>perm_identity</mat-icon>
          </td>
          <td>{{ henkilo.sukunimi }} {{ henkilo.etunimet }}</td>
          <td>
            <div *ngFor="let error of henkilo.errors; let index = index">
              <span [libKoodistoValue]="koodistoEnum.virhe"
                    format="long">{{ error.error_code }}</span>
              <span *ngIf="error.model_id_list?.length > 1"> x{{ error.model_id_list?.length }}</span>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
