h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h1 {
  font-size: var(--h3);
}

h2 {
  font-size: var(--h4);
}

h3 {
  font-size: var(--h5)
}

h4 {
  font-size: var(--h5);
  font-weight: normal;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 0;
}

h5 {
  font-size: var(--h6)
}

.mat-expansion-panel {
  margin: 1em auto;
}

.accordion-large-margin>* {
  display: block;
  margin-bottom: 3em;
}

.accordion-medium-margin>* {
  display: block;
  margin-bottom: 2em;
}

.tyontekija-panel-content {
  margin-left: 2em;
  margin-bottom: 2em;
  margin-right: 0.5em;
}

.tyontekija-panel-content.tyontekija-panel-content-first {
  margin-left: 0;
  padding-left: 0;
}

.ei-palvelussuhteita {
  margin-left: 1.5em;
}

.mat-expansion-panel {
  background-color: var(--blue-lighten-4);
}

.mat-expansion-panel.main-section {
  background-color: var(--gray-lighten-5);
}

.mat-expansion-panel form {
  margin: 1em 1.5em;
}

mat-expansion-panel mat-expansion-panel-header {
  min-height: 48px;
  height: auto !important;
}


@media (max-width: 767px) {
  .action-button-wrapper>* {
    width: 100%;
  }

  .action-button-wrapper button {
    width: 100%;
    margin: 0.5em auto;
  }
}

@media (max-width: 576px) {
  .mat-expansion-panel form {
    margin: 1em 0.5em;
  }
}
