<section class="henkilo-section varda-page-content">
  <div class="henkilo-section-header">
    <h3 class="oph-h4 oph-bold">
      {{ i18n.henkilo_lapset | translate }}
      <span *ngIf="searchFilter.count"
            class="henkilo-section-header-counter">
        ({{ searchFilter.count }})
      </span>
    </h3>
  </div>

  <div class="row puutteelliset-filter margin-bottom">
    <div class="col-sm col-md-5">
      <label for="puutteellinenSearchInput"
             class="oph-bold">{{i18n.katsele_tietoja_nimi_tunniste | translate}}</label>
      <input class="oph-input"
             name="puutteellinenSearchInput"
             id="puutteellinenSearchInput"
             type="text"
             [placeholder]="i18n.henkilo_hae_nimella | translate"
             [(ngModel)]="searchFilter.search"
             (keydown.enter)="searchErrors()">
    </div>
    <div class="col-sm col-md-3 margin-top-sm">
      <label for="puutteellinenErrorInput"
             class="oph-bold">{{i18n.error | translate}}</label>
      <input class="oph-input"
             name="puutteellinenErrorInput"
             id="puutteellinenErrorInput"
             type="text"
             [placeholder]="i18n.puutteelliset_tiedot_error_placeholder | translate"
             [(ngModel)]="searchFilter.error"
             (keydown.enter)="searchErrors()">
    </div>
    <div class="col-sm-auto">
      <button class="varda-button varda-icon-button margin-top-sm"
              type="button"
              (click)="searchErrors()">
        <mat-icon alt="">search</mat-icon>
        {{i18n.search | translate}}
      </button>
    </div>
  </div>

  <div *ngIf="henkilot?.length === 0"
       class="varda-muted">
    {{ i18n.henkilo_toimipaikasta_ei_loydy_lapsia | translate }}
  </div>

  <mat-progress-bar *ngIf="!henkilot && isLoading | async"
                    mode="indeterminate"
                    color="accent"></mat-progress-bar>

  <app-varda-error-field [errors]="formErrors"></app-varda-error-field>

  <ng-container *ngIf="henkilot?.length > 0">
    <app-puutteelliset-list (openErrorForm)="findInstance($event)"
                            [errorList]="henkilot">
    </app-puutteelliset-list>
    <mat-paginator *ngIf="searchFilter.count"
                   [disabled]="isLoading | async"
                   [length]="searchFilter.count"
                   [pageSize]="searchFilter.page_size"
                   [pageIndex]="searchFilter.page - 1"
                   (page)="searchErrors($event)">
    </mat-paginator>
  </ng-container>

</section>
