<div class="public-header container">
  <div class="oph-logo">
    <img alt="logo" src="assets/logo.svg" />
  </div>
  <div class="language-selector">
    @if (isSmall | async) {
      <select
        [ngModel]="currentLang"
        (ngModelChange)="changeLanguage($event)"
        class="form-control">
        <option [ngValue]="'fi'">{{translations.lang_fi | translate}}</option>
        <option [ngValue]="'sv'">{{translations.lang_sv | translate}}</option>
      </select>
    }
    @if (!(isSmall | async)) {
      <div
        class="language-wrapper">
        <a class="language-link"
          (click)="changeLanguage('fi')"
          [class.active-language]="currentLang === 'fi'">
          {{ translations.lang_fi | translate}}
        </a>
        /
        <a class="language-link"
          (click)="changeLanguage('sv')"
          [class.active-language]="currentLang === 'sv'">
          {{translations.lang_sv | translate}}
        </a>
      </div>
    }
  </div>
</div>
