.varda-date-range-dash {
  font-weight: bold;
  margin: .5em -10px 0 -10px;
}

.varda-date-range-container {
  min-width: 320px;
}

.varda-date-range-container p {
  margin-bottom: 0;
}

app-tiedonsiirto-filter-header .oph-input {
  min-width: 150px;
  max-width: calc(100% - 80px);
}

@media (min-width: 768px) {
  .varda-date-range-container {
    max-width: 400px;
  }
}

@media (max-width: 576px) {
  .varda-date-range-container {
    min-width: initial;
  }

  .varda-date-range-container .varda-date-range-row {
    justify-content: center;
  }

  .varda-date-range-container .varda-date-range-row > div {
    width: 100%;
    flex-basis: initial;
    padding: 0 15px;
  }

  .varda-date-range-dash {
    margin: 0;
  }
}
