amqp==5.0.*  # BSD-license
boto3==1.17.*  # Apache 2.0-license
celery==5.1.*  # BSD-license
coreapi==2.3.*  # BSD-license
coreschema==0.0.*  # BSD-license
cryptography==3.4.*  # BSD-license
Django==3.2.*  # BSD-license
django-cas-ng==4.1.*  # BSD-license
django-celery-beat==2.2.*  # BSD-license
django-celery-results==2.0.*  # BSD-license
django-cors-headers==3.7.*  # MIT-license
django-crispy-forms==1.11.*  # MIT-license
django-csp==3.7  # BSD-license
django-filter==2.4.*  # BSD-license
django-guardian==2.4.*  # BSD-license
django-pg-bulk-update==3.4.*  # BSD-license
django-pylibmc==0.6.*  # BSD-license
django-ratelimit==3.0.*  # Apache 2.0-license
django-simple-history==3.0.*  # BSD-license
django-spaghetti-and-meatballs==0.4.*  # MIT-license
djangorestframework==3.12.*  # BSD-license
djangorestframework-guardian==0.3.*  # BSD-license
drf-nested-routers==0.93.*  # Apache 2.0-license
drf-yasg==1.20.*  # BSD 3-Clause License
flake8==3.9.*  # MIT-license
# flower==1.0.*  # BSD-license
git+git://github.com/mher/flower.git@ad5258b4beff6620ba0ea54ebbed5f69091f1300
gunicorn==20.1.*  # MIT-license
itypes==1.2.*  # BSD-license
Jinja2==3.0.*  # BSD-license
kombu==5.1.*  # BSD-license
MarkupSafe==2.0.*  # BSD-license
mccabe==0.6.*  # Expat license (same as MIT)
openapi-codec==1.3.*  # BSD-license
psycopg2-binary==2.9.1  # LGPL with exceptions or ZPL
pycodestyle==2.7.*  # Expat license (same as MIT)
pyflakes==2.3.*  # MIT-license
pylibmc==1.6.*  # BSD 3-Clause License
PyYAML==5.4.*  # MIT-license
requests==2.25.*  # Apache 2.0-license
simplejson==3.17.*  # MIT-license
uritemplate==3.0.*  # BSD 3-Clause License or Apache License, Version 2.0
responses==0.13.*  # Mocks. Apache 2.0-license
XlsxWriter==1.4.*  # BSD-2-Clause License
