amqp==5.1.*  # BSD-license
boto3==1.24.*  # Apache 2.0-license
celery==5.2.*  # BSD-license
coreapi==2.3.*  # BSD-license
coreschema==0.0.*  # BSD-license
cryptography==38.0.*  # BSD-license
Django==4.2.15  # BSD-license
django-cas-ng==4.3.*  # BSD-license
django-celery-beat==2.4.*  # BSD-license
django-celery-results==2.4.*  # BSD-license
django-cors-headers==3.13.*  # MIT-license
django-crispy-forms==1.14.*  # MIT-license
django-csp==3.7  # BSD-license
django-filter==22.1  # BSD-license
django-guardian==2.4.*  # BSD-license
django-pg-bulk-update==3.7.*  # BSD-license
django-pylibmc==0.6.*  # BSD-license
django-ratelimit==3.0.*  # Apache 2.0-license
django-rest-knox==4.2.*  # MIT-license
django-simple-history==3.1.*  # BSD-license
django-spaghetti-and-meatballs==0.4.*  # MIT-license
djangorestframework==3.14.*  # BSD-license
djangorestframework-guardian==0.3.*  # BSD-license
drf-nested-routers==0.93.*  # Apache 2.0-license
drf-yasg==1.21.*  # BSD 3-Clause License
flake8==5.0.*  # MIT-license
flower==1.2.*  # BSD-license
gunicorn==20.1.*  # MIT-license
itypes==1.2.*  # BSD-license
Jinja2==3.1.*  # BSD-license
kombu==5.2.*  # BSD-license
MarkupSafe==2.1.*  # BSD-license
mccabe==0.7.*  # Expat license (same as MIT)
openapi-codec==1.3.*  # BSD-license
psycopg2==2.9.*  # LGPL with exceptions or ZPL
pycodestyle==2.9.*  # Expat license (same as MIT)
pyflakes==2.5.*  # MIT-license
pylibmc==1.6.*  # BSD 3-Clause License
# Overrides django-cas-ng dependency, fixes https://github.com/python-cas/python-cas/issues/46, waiting for release
git+https://github.com/python-cas/python-cas.git@c1eb3f30c464fa889a13c800d101629e446e87b6
PyYAML==6.0  # MIT-license
requests==2.28.*  # Apache 2.0-license
simplejson==3.17.*  # MIT-license
uritemplate==4.1.*  # BSD 3-Clause License or Apache License, Version 2.0
responses==0.22.*  # Mocks. Apache 2.0-license
XlsxWriter==3.0.*  # BSD-2-Clause License
