.lapsi-form-content {
  --tree-width: .75em;
  --tree-width-negative: -.75em;
  --tree-border: .1em solid var(--gray-lighten-1);
}

.varda-vakapaatos-row {
  margin-bottom: 1em;
}

.varda-vakapaatos-row>div {
  margin-bottom: .5em;
}

.varda-vakapaatos-row .varda-recurring-field-add-new-wrapper {
  margin-top: 0;
  padding-left: 15px;
}

.lapsi-form-varhaiskasvatussuhteet {
  margin-right: 0;
  margin-left: 1.5em;
  margin-top: 1.5em;
}

.vakasuhde-panel {
  position: relative;
  overflow: visible;
  margin-bottom: 1em !important;
}

.vakasuhde-panel:first-child::before {
  content: "";
  position: absolute;
  top: -1.6em;
  left: var(--tree-width-negative);
  border-left: var(--tree-border);
  width: var(--tree-width);
  height: 3.25em;
}

.vakasuhde-panel::before {
  content: "";
  position: absolute;
  top: -1em;
  left: var(--tree-width-negative);
  border-left: var(--tree-border);
  border-bottom: var(--tree-border);
  width: var(--tree-width);
  height: 2.5em;
}

.vakasuhde-panel:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 1em;
  left: var(--tree-width-negative);
  border-left: var(--tree-border);
  width: var(--tree-width);
  height: 100%;
}

.varda-missing-vakasuhde {
  margin-top: 1.5em;
  font-weight: var(--font-weight-bold);
  color: var(--red);
}

