<div *ngIf="isEdit">
  <div class="backend-error-container"
       #backendErrorContainer>
    <div class="alert alert-danger"
         *ngIf="false">
      {{lapsiFormErrors | json}}
    </div>
    <div class="alert alert-danger varda-form-main-feedback"
         role="alert"
         aria-live="assertive"
         *ngIf="ui.lapsiFormHasErrors">
      <div *ngIf="ui.showErrorMessageInfo">
        {{this.ui.errorMessageInfo}}
      </div>
      <ul>
        <li *ngFor="let errItem of lapsiFormErrors">
          {{errItem.key | translate}}. {{errItem.msg | translate}}
        </li>
      </ul>
    </div>
    <div class="alert alert-success varda-form-main-feedback"
         role="alert"
         aria-live="polite"
         *ngIf="ui.lapsiFormSaveSuccess">
      {{ui.formSaveSuccessMsg | translate}}
    </div>
  </div>
  <div class="alert alert-danger varda-form-main-feedback"
       role="alert"
       aria-live="assertive"
       *ngIf="!toimipaikkaAccess.huoltajatiedot.katselija && !toimipaikkaAccess.lapsitiedot.katselija">
    {{ i18n.error | translate }}.
    {{ "alert.invalid-access-to-person" | translate }}
  </div>
  <div class="lapsi-form-content"
       *ngIf="toimipaikkaAccess.huoltajatiedot.katselija || toimipaikkaAccess.lapsitiedot.katselija"
       id="lapsiFormContent">
    <div class="lapsi-form-perustiedot"
         *ngIf="!ui.isPerustiedotLoading">
      <div class="modal-form-intro"
           aria-role="info">
        <div>{{ i18n.lapsi_intro_paragraph_1 | translate }}</div>
        <div>{{ i18n.lapsi_intro_paragraph_2 | translate }}
          <a [href]="i18n.lapsi_intro_link_1_href | translate"
             target="_blank">
            {{ i18n.lapsi_intro_link_1_text | translate }}
          </a>
        </div>
        <div>{{ i18n.lapsi_intro_paragraph_3 | translate }}
          <a [href]="i18n.lapsi_intro_link_2_href | translate"
             target="_blank">
            {{ i18n.lapsi_intro_link_2_text | translate }}
          </a>
        </div>
      </div>
      <form [formGroup]="lapsiForm"
            autocomplete="off">
        <fieldset class="form-group varda-fieldset"
                  [id]="'lapsiFormFieldSet'">
          <legend class="varda-fieldset-legend">{{ i18n.perustiedot | translate}}</legend>
          <div class="oph-field oph-field-inline">
            <label class="oph-label">{{ i18n.nimi | translate}}:</label>
            <span>{{henkilo.sukunimi + ', ' + henkilo.etunimet}}</span>
          </div>
          <div class="oph-field oph-field-inline">
            <label class="oph-label">{{ i18n.syntymapaiva | translate}}:</label>
            <span>{{henkilo.syntyma_pvm | vardaDate}}</span>
          </div>
          <div class="oph-field oph-field-inline">
            <label class="oph-label">{{ i18n.oppijanumero | translate}}:</label>
            <span>{{henkilo.henkilo_oid}}</span>
          </div>
          <div class="oph-field oph-field-inline"
               *ngIf="lapsi.oma_organisaatio_oid">
            <label class="oph-label">{{'label.oma-organisaatio' | translate}}:</label>
            <span>{{lapsi.oma_organisaatio_nimi}}</span>
          </div>
          <div class="oph-field oph-field-inline"
               *ngIf="lapsi.paos_organisaatio_oid">
            <label class="oph-label">{{'label.paos-organisaatio' | translate}}:</label>
            <span>{{lapsi.paos_organisaatio_nimi}}</span>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="varda-painotukset lapsi-form-varhaiskasvatuspaatokset"
         *ngIf="!ui.isPerustiedotLoading">
      <form [formGroup]="varhaiskasvatuspaatoksetForm"
            class="varda-painotukset-panel">
        <div class="row varda-vakapaatos-row">
          <div class="varda-painotukset-header col-md-6">
            {{'label.vakatiedot' | translate}}
          </div>
          <div class="varda-recurring-field-add-new-wrapper col-md-6"
               *ngIf="!ui.noVarhaiskasvatustietoPrivileges && toimipaikkaAccess.lapsitiedot.tallentaja">
            <a [routerLink]=""
               (click)="addNewRecurringStructure('varhaiskasvatuspaatos')">
              + {{'label.add-new-varhaiskasvatuspaatos' | translate}}</a>
          </div>
        </div>
        <div *ngIf="ui.noVarhaiskasvatustietoPrivileges || !toimipaikkaAccess.lapsitiedot.katselija; else validPermissionsContainer">
          {{ 'alert.invalid-permissions' | translate }}
        </div>
        <ng-template #validPermissionsContainer>
          <mat-accordion #lapsiFormAccordion *ngIf="varhaiskasvatuspaatoksetForm.get('varhaiskasvatuspaatoksetFormArr')">
            <ng-container *ngFor="let vakapaatosItem of varhaiskasvatuspaatoksetForm.get('varhaiskasvatuspaatoksetFormArr')['controls'];
                                let vakapaatosIndex = index;">
              <mat-expansion-panel formArrayName="varhaiskasvatuspaatoksetFormArr"
                                   [expanded]="false"
                                   (click)="onExpansionPanelClick($event, vakapaatosIndex, 'varhaiskasvatuspaatos', varhaiskasvatuspaatosPanels)"
                                   [attr.data-realindex]="vakapaatosIndex"
                                   #varhaiskasvatuspaatosPanels>
                <mat-expansion-panel-header>
                  <div class="oph-h4"
                       tabindex="0">
                    {{getRecurringEntityHeader(vakapaatosIndex, 'varhaiskasvatuspaatos')}}
                  </div>
                </mat-expansion-panel-header>
                <fieldset *ngFor="let varhaiskasvatuspaatosFieldSet of varhaiskasvatuspaatoksetFieldSets[vakapaatosIndex]; let vakapaatosFieldSetIndex = index"
                          class="form-group varda-fieldset"
                          [id]="varhaiskasvatuspaatosFieldSet.id + vakapaatosIndex"
                          [formGroup]="varhaiskasvatuspaatoksetForm.get('varhaiskasvatuspaatoksetFormArr')['controls'][vakapaatosIndex].get(varhaiskasvatuspaatosFieldSet.id)">
                  <legend class="varda-fieldset-legend">{{getFieldsetTitle(varhaiskasvatuspaatosFieldSet)}}</legend>
                  <div *ngFor="let field of varhaiskasvatuspaatosFieldSet.fields; let vakapaatosFieldIndex = index">
                    <app-varda-form-question [isReadOnly]="!toimipaikkaAccess.lapsitiedot.tallentaja"
                                             [field]="field"
                                             [fieldIndex]="vakapaatosFieldIndex"
                                             [partOfInline]="false"
                                             [fieldSet]="varhaiskasvatuspaatosFieldSet"
                                             [fieldSetIndex]="vakapaatosIndex"
                                             [fieldSetName]="varhaiskasvatuspaatosFieldSet.id"
                                             [form]="varhaiskasvatuspaatoksetForm.get('varhaiskasvatuspaatoksetFormArr')['controls'][vakapaatosIndex].get(varhaiskasvatuspaatosFieldSet.id)"
                                             [formName]="'varhaiskasvatuspaatos'"
                                             (changedField)="onFieldChanged($event)"></app-varda-form-question>
                  </div>
                </fieldset>
                <div *ngIf="toimipaikkaAccess.lapsitiedot.tallentaja"
                     [id]="'saveVarhaiskasvatuspaatosBtnWrapper' + vakapaatosIndex">
                  <div *ngIf="ui.selectedVarhaiskasvatuspaatosIndexToDelete !== vakapaatosIndex"
                       class="varda-form-btn-wrapper">
                    <button class="varda-button responsive"
                            type="button"
                            (click)="saveRecurringStructure(vakapaatosIndex, 'varhaiskasvatuspaatos', varhaiskasvatuspaatosPanels)"
                            [ngClass]="{'varda-disabled-button': varhaiskasvatuspaatoksetForm.get('varhaiskasvatuspaatoksetFormArr')['controls'][vakapaatosIndex].invalid}"
                            [disabled]="varhaiskasvatuspaatoksetForm.get('varhaiskasvatuspaatoksetFormArr')['controls'][vakapaatosIndex].invalid">
                      {{ i18n.save | translate}}
                    </button>
                    <button class="varda-button responsive varda-button-delete"
                            type="button"
                            [ngClass]="getDeleteButtonStyles('varhaiskasvatuspaatos', vakapaatosIndex)"
                            [disabled]="ui.isSubmitting"
                            (click)="displayDeleteWarning('varhaiskasvatuspaatos', vakapaatosIndex)">
                      {{getDeleteText('varhaiskasvatuspaatos', vakapaatosIndex) | translate}}
                    </button>
                  </div>
                  <div *ngIf="ui.selectedVarhaiskasvatuspaatosIndexToDelete === vakapaatosIndex"
                       role="alert"
                       aria-live="assertive">
                    <ng-container
                      *ngIf="varhaiskasvatuspaatoksetForm.get('varhaiskasvatuspaatoksetFormArr')['controls'].length === 1">
                      <div class="oph-bold">{{'label.confirm-delete-last-varhaiskasvatuspaatos' | translate}}</div>
                    </ng-container>
                    <ng-container
                      *ngIf="varhaiskasvatuspaatoksetForm.get('varhaiskasvatuspaatoksetFormArr')['controls'].length > 1">
                      <div class="oph-bold">{{'label.confirm-delete-varhaiskasvatuspaatos' | translate}}</div>
                    </ng-container>
                    <div class="varda-form-btn-wrapper">
                      <button [id]="'varhaiskasvatuspaatosConfirmDeleteBtn' + vakapaatosIndex"
                              class="varda-button responsive varda-button-danger"
                              (click)="confirmDeleteAction('varhaiskasvatuspaatos', vakapaatosIndex, true)"
                              [disabled]="ui.isSubmitting"
                              [ngClass]="{'varda-disabled-button': ui.isSubmitting}">
                        {{ i18n.delete | translate}}
                      </button>
                      <button [id]="'varhaiskasvatuspaatosCancelDeleteBtn' + vakapaatosIndex"
                              class="varda-button responsive varda-button-neutral"
                              (click)="cancelDelete('varhaiskasvatuspaatos')"
                              [disabled]="ui.isSubmitting"
                              [ngClass]="{'varda-disabled-button': ui.isSubmitting}">
                        {{ i18n.cancel | translate}}
                      </button>
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>
              <div class="varda-text-with-icon varda-missing-vakasuhde"
                   *ngIf="isVakapaatosWithoutVakasuhde(vakapaatosIndex)">
                <mat-icon>error_outline</mat-icon>{{'label.missing-varhaiskasvatussuhde' | translate}}
              </div>
              <div class="varda-painotukset lapsi-form-varhaiskasvatussuhteet"
                   *ngIf="varhaiskasvatuspaatokset[vakapaatosIndex]">
                <form [formGroup]="varhaiskasvatussuhteetForm"
                      class="varda-painotukset-panel">
                  <mat-accordion>
                    <mat-expansion-panel class="vakasuhde-panel"
                                         formArrayName="varhaiskasvatussuhteetFormArr"
                                         #varhaiskasvatussuhdePanels
                                         *ngFor="let vakasuhdeIndex of vakasuhteetVakapaatoksetMap[vakapaatosIndex];"
                                         [expanded]="false"
                                         (click)="onExpansionPanelClick($event, vakasuhdeIndex, 'varhaiskasvatussuhde', varhaiskasvatussuhdePanels)"
                                         [attr.data-realindex]="vakasuhdeIndex">
                      <mat-expansion-panel-header>
                        <header class="oph-h4"
                                tabindex="0">
                          {{getRecurringEntityHeader(vakasuhdeIndex, 'varhaiskasvatussuhde')}}
                        </header>
                      </mat-expansion-panel-header>
                      <fieldset class="form-group varda-fieldset"
                                [id]="'varhaiskasvatussuhde_toimipaikka'+ vakasuhdeIndex"
                                [formGroup]="varhaiskasvatussuhteetForm.get('varhaiskasvatussuhteetFormArr')['controls'][vakasuhdeIndex]">
                        <div class="varda-fieldset-content form-group">
                          <label id="vakaFormToimipaikkaLabel"
                                 class="varda-field-label">{{ i18n.toimipaikka | translate}}</label>
                          <div>
                            <select class="varda-form-control form-control varda-select"
                                    aria-labelledby="vakaFormToimipaikkaLabel"
                                    [formControlName]="'toimipaikka'"
                                    [attr.name]="'toimipaikka'"
                                    [compareWith]="byEndpoint"
                                    [disabled]="isEdit">
                              <ng-container
                                *ngIf="varhaiskasvatussuhteetForm.get('varhaiskasvatussuhteetFormArr')['controls'][vakasuhdeIndex].controls['toimipaikka'].disabled">
                                <option *ngFor="let toimipaikka of allToimipaikkaOptions"
                                        [ngValue]="toimipaikka">{{toimipaikka.nimi}}</option>
                              </ng-container>
                              <ng-container
                                *ngIf="!varhaiskasvatussuhteetForm.get('varhaiskasvatussuhteetFormArr')['controls'][vakasuhdeIndex].controls['toimipaikka'].disabled">
                                <option value=""
                                        disabled>-- {{ i18n.choose | translate}} --</option>
                                <option *ngFor="let toimipaikka of tallentajaToimipaikkaOptions"
                                        [ngValue]="toimipaikka">{{toimipaikka.nimi}}</option>
                              </ng-container>
                            </select>
                          </div>
                        </div>
                      </fieldset>
                      <fieldset *ngFor="let varhaiskasvatussuhdeFieldSet of varhaiskasvatussuhteetFieldSets[vakasuhdeIndex]; let vakasuhdeFieldSetIndex = index"
                                class="form-group varda-fieldset"
                                [id]="varhaiskasvatussuhdeFieldSet.id + vakasuhdeIndex"
                                [formGroup]="varhaiskasvatussuhteetForm.get('varhaiskasvatussuhteetFormArr')['controls'][vakasuhdeIndex].get(varhaiskasvatussuhdeFieldSet.id)">
                        <div *ngFor="let field of varhaiskasvatussuhdeFieldSet.fields; let vakasuhdeFieldIndex = index">
                          <app-varda-form-question [isReadOnly]="!toimipaikkaAccess.lapsitiedot.tallentaja"
                                                   [field]="field"
                                                   [fieldIndex]="vakasuhdeFieldIndex"
                                                   [partOfInline]="false"
                                                   [fieldSet]="varhaiskasvatussuhdeFieldSet"
                                                   [fieldSetIndex]="vakasuhdeIndex"
                                                   [fieldSetName]="varhaiskasvatussuhdeFieldSet.id"
                                                   [form]="varhaiskasvatussuhteetForm.get('varhaiskasvatussuhteetFormArr')['controls'][vakasuhdeIndex].get(varhaiskasvatussuhdeFieldSet.id)"
                                                   [formName]="'varhaiskasvatussuhde'"></app-varda-form-question>
                        </div>
                      </fieldset>
                      <div [id]="'saveVarhaiskasvatussuhdeBtnWrapper'+ vakasuhdeIndex"
                           *ngIf="toimipaikkaAccess.lapsitiedot.tallentaja">
                        <div class="varda-form-btn-wrapper"
                             *ngIf="ui.selectedVarhaiskasvatussuhdeIndexToDelete !== vakasuhdeIndex">
                          <button class="varda-button responsive"
                                  type="button"
                                  (click)="saveRecurringStructure(vakasuhdeIndex, 'varhaiskasvatussuhde', varhaiskasvatussuhdePanels)"
                                  [ngClass]="{'varda-disabled-button': varhaiskasvatussuhteetForm.get('varhaiskasvatussuhteetFormArr')['controls'][vakasuhdeIndex].invalid || ui.isSubmitting}"
                                  [disabled]="varhaiskasvatussuhteetForm.get('varhaiskasvatussuhteetFormArr')['controls'][vakasuhdeIndex].invalid || ui.isSubmitting">
                            {{ i18n.save | translate}}
                          </button>

                          <button class="varda-button responsive varda-button-delete"
                                  type="button"
                                  [ngClass]="getDeleteButtonStyles('varhaiskasvatussuhde', vakasuhdeIndex)"
                                  [disabled]="ui.isSubmitting"
                                  (click)="displayDeleteWarning('varhaiskasvatussuhde', vakasuhdeIndex)">
                            {{getDeleteText('varhaiskasvatussuhde', vakasuhdeIndex) | translate}}
                          </button>
                        </div>
                        <div *ngIf="ui.selectedVarhaiskasvatussuhdeIndexToDelete === vakasuhdeIndex"
                             role="alert"
                             aria-live="assertive">
                          <div class="oph-bold">{{'label.confirm-delete-varhaiskasvatussuhde' | translate}}</div>
                          <div class="varda-form-btn-wrapper">
                            <button [id]="'varhaiskasvatussuhdeConfirmDeleteBtn'+ vakasuhdeIndex"
                                    class="varda-button responsive varda-button-danger"
                                    (click)="confirmDeleteAction('varhaiskasvatussuhde', vakasuhdeIndex, true)"
                                    [disabled]="ui.isSubmitting"
                                    [ngClass]="{'varda-disabled-button': ui.isSubmitting}">
                              {{ i18n.delete | translate}}
                            </button>

                            <button [id]="'varhaiskasvatussuhdeCancelDeleteBtn'+ vakasuhdeIndex"
                                    class="varda-button responsive varda-button-neutral"
                                    (click)="cancelDelete('varhaiskasvatussuhde')"
                                    [disabled]="ui.isSubmitting"
                                    [ngClass]="{'varda-disabled-button': ui.isSubmitting}">
                              {{ i18n.cancel | translate}}
                            </button>
                          </div>
                        </div>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                  <div class="varda-recurring-field-add-new-wrapper"
                       *ngIf="toimipaikkaAccess.lapsitiedot.tallentaja">
                    <a [routerLink]=""
                       class=""
                       (click)="addNewRecurringStructure('varhaiskasvatussuhde', vakapaatosIndex)">
                      + {{'label.add-new-varhaiskasvatussuhde' | translate}}</a>
                  </div>
                </form>
              </div>
            </ng-container>
          </mat-accordion>
        </ng-template>
      </form>
    </div>
    <div class="varda-painotukset lapsi-form-maksutiedot"
         *ngIf="!ui.isPerustiedotLoading">
      <app-maksutiedot-form [toimipaikkaAccess]="toimipaikkaAccess"
                            [lapsiId]="currentLapsi.id"
                            [hideMaksutiedot]="hideMaksutiedot"
                            [isLapsiYksityinen]="isCurrentLapsiYksityinen"></app-maksutiedot-form>
    </div>
    <ng-container *ngIf="toimipaikkaAccess.lapsitiedot.tallentaja
    && toimipaikkaAccess.huoltajatiedot.tallentaja">
      <app-varda-error-field [errors]="deleteLapsiErrors"></app-varda-error-field>

      <app-varda-delete-henkilo *ngIf="lapsi?.id"
                                [instructionText]="i18n.lapsi_instruction_delete | translate"
                                [deleteText]="i18n.henkilo_poista_lapsi |translate"
                                (deleteAction)="deleteLapsiRole(lapsi.url)">
      </app-varda-delete-henkilo>
    </ng-container>
  </div>
</div>
<div *ngIf="!ui.isPerustiedotLoading && !isEdit"
     id="newLapsiForm"
     class="lapsi-form-new-form">
  <div class="varda-fieldset-content form-group">
    <div>
      <label for="paosKytkin"
             class="varda-field-label">{{'label.kunnan-tai-kuntayhtyman-jarjestama-varhaiskasvatus' | translate}}</label>
      <div class="varda-radio">
        <mat-radio-group id="paosKytkin"
                         (change)="fetchPaosOrganisaatiot($event)">
          <mat-radio-button [value]="false"
                            checked>{{ i18n.no | translate}}</mat-radio-button>
          <mat-radio-button [value]="true">{{ i18n.yes | translate}}</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>
  <div class="varda-fieldset-content form-group"
       *ngIf="paosJarjestajaKunnat$ | async as paosJarjestajaKunnat">
    <div class="oph-field">
      <div class="oph-field-inputs">
        <label for="jarjestavaKuntaSelect"
               class="oph-label">{{'label.jarjestava-kunta-tai-kuntayhtyma' | translate}}</label>
        <select class="oph-input varda-form-control form-control varda-select"
                aria-describedby="kuntaInstruction"
                name="jarjestavaKuntaSelect"
                id="jarjestavaKuntaSelect"
                (change)="setPaosOrganisaatiot($event)">
          <option [value]=""
                  disabled
                  selected>-- {{ i18n.choose | translate}} --</option>
          <option *ngFor="let vakajarjestaja of paosJarjestajaKunnat"
                  [value]="vakajarjestaja.url">
            {{vakajarjestaja.nimi}}
          </option>
        </select>
        <div class="oph-error"
             role="alert"
             *ngIf="!lapsiCreateForm.get('paos_organisaatio').value">
          {{'label.jarjestava-kunta-tai-kuntayhtyma.required' | translate}}
        </div>
      </div>
      <div class="oph-field-text"
           id="kuntaInstruction">
        <small [appSlideHide]="!lapsiCreateForm.get('paos_organisaatio').value">
          {{'label.jarjestava-kunta-tai-kuntayhtyma.infotext' | translate}}
        </small>
      </div>
    </div>
  </div>
  <form [formGroup]="toimipaikkaForm">
    <fieldset class="form-group varda-fieldset varda-fieldset-add-person">
      <legend id="toimipaikkaListLabel"
              class="varda-fieldset-legend">{{ i18n.toimipaikka | translate}}</legend>
      <div class="varda-fieldset-content form-group">
        <div class="oph-field">
          <div class="oph-field-inputs">
            <select class="varda-form-control form-control oph-select"
                    (change)="setToimipaikka()"
                    aria-labelledby="toimipaikkaListLabel"
                    [formControlName]="'toimipaikka'"
                    [attr.name]="'toimipaikka'"
                    [compareWith]="byEndpoint"
                    [attr.disabled]="henkilonToimipaikka?.id">
              <option [value]="null"
                      disabled>-- {{ i18n.choose | translate }} --</option>
              <option *ngFor="let toimipaikka of tallentajaToimipaikkaOptions"
                      [ngValue]="toimipaikka">{{toimipaikka.nimi}}</option>
            </select>
          </div>
          <div class="oph-field-text"
               id="toimipaikkaInstruction">
          </div>
        </div>
      </div>
    </fieldset>
  </form>
  <form [formGroup]="selectedSuhdeForm"
        style="display: none">
    <fieldset class="form-group varda-fieldset varda-fieldset-add-person"
              [id]="'selectedsuhdefieldset'">
      <legend class="varda-fieldset-legend">{{'label.suhteen-tyyppi' | translate}}</legend>
      <div class="varda-fieldset-content form-group">
        <div>
          <mat-checkbox [formControlName]="'addVarhaiskasvatussuhde'"
                        [attr.name]="'addVarhaiskasvatussuhde'"
                        [attr.aria-label]="'addVarhaiskasvatussuhde'"
                        type="checkbox"
                        style="margin-right: 10px"
                        (change)="selectedSuhdeFieldChange('varhaiskasvatussuhde',$event)"
                        appHighlightElement>{{'label.varhaiskasvatussuhde' | translate}}</mat-checkbox>
        </div>
      </div>
    </fieldset>
  </form>
  <div *ngIf="addVarhaiskasvatussuhde">
    <form [formGroup]="varhaiskasvatussuhdeForm">
      <fieldset *ngFor="let varhaiskasvatussuhdeFieldSet of varhaiskasvatussuhteetFieldSetsTemplate; let i = index"
                class="form-group varda-fieldset varda-fieldset-add-person"
                [id]="varhaiskasvatussuhdeFieldSet.id + i"
                [formGroupName]="varhaiskasvatussuhdeFieldSet.id">
        <legend class="varda-fieldset-legend">{{'label.varhaiskasvatussuhteen-kesto' | translate}}</legend>
        <div *ngFor="let field of varhaiskasvatussuhdeFieldSet.fields; let x = index">
          <app-varda-form-question [field]="field"
                                   [fieldIndex]="x"
                                   [fieldSet]="varhaiskasvatussuhdeFieldSet"
                                   [fieldSetIndex]="i"
                                   [fieldSetName]="varhaiskasvatussuhdeFieldSet.id"
                                   [formName]="'varhaiskasvatussuhde'"
                                   [form]="varhaiskasvatussuhdeForm.controls[varhaiskasvatussuhdeFieldSet.id]">
          </app-varda-form-question>
        </div>
      </fieldset>
    </form>
    <form [formGroup]="varhaiskasvatuspaatosForm">
      <fieldset *ngFor="let varhaiskasvatuspaatosFieldSet of varhaiskasvatuspaatoksetFieldSetsTemplate; let i = index"
                class="form-group varda-fieldset varda-fieldset-add-person"
                [id]="varhaiskasvatuspaatosFieldSet.id + 0"
                [formGroupName]="varhaiskasvatuspaatosFieldSet.id">
        <legend class="varda-fieldset-legend">{{getFieldsetTitle(varhaiskasvatuspaatosFieldSet)}}</legend>
        <div *ngFor="let field of varhaiskasvatuspaatosFieldSet.fields; let x = index">
          <app-varda-form-question [field]="field"
                                   [fieldIndex]="x"
                                   [fieldSet]="varhaiskasvatuspaatosFieldSet"
                                   [fieldSetIndex]="0"
                                   [fieldSetName]="varhaiskasvatuspaatosFieldSet.id"
                                   [formName]="'varhaiskasvatuspaatos'"
                                   [form]="varhaiskasvatuspaatosForm.controls[varhaiskasvatuspaatosFieldSet.id]"
                                   (changedField)="onFieldChanged($event)"></app-varda-form-question>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="varda-form-btn-wrapper">
    <button class="varda-button varda-button-wide responsive-md secondary"
            type="button"
            data-dismiss="modal"
            [ngClass]="{'varda-disabled-button': ui.isSubmitting }"
            [disabled]="ui.isSubmitting">{{ i18n.cancel | translate}}</button>
    <button class="varda-button varda-button-wide responsive-md"
            type="button"
            [ngClass]="{'varda-disabled-button': !addLapsiFormValid() || ui.isSubmitting }"
            [disabled]="!addLapsiFormValid() || ui.isSubmitting"
            (click)="saveLapsi()">{{ui.saveBtnText | translate}}</button>
  </div>
</div>
