<div *ngIf="isEdit">
  <div class="backend-error-container">
    <div class="alert alert-danger"
         *ngIf="false">
      {{lapsiFormErrors | json}}
    </div>
    <div class="alert alert-danger varda-form-main-feedback"
         role="alert"
         aria-live="assertive"
         *ngIf="ui.lapsiFormHasErrors">
      <div *ngIf="ui.showErrorMessageInfo">
        {{this.ui.errorMessageInfo}}
      </div>
      <ul>
        <li *ngFor="let errItem of lapsiFormErrors">
          {{errItem.key | translate}}. {{errItem.msg | translate}}
        </li>
      </ul>
    </div>
    <div class="alert alert-success varda-form-main-feedback"
         role="alert"
         aria-live="polite"
         *ngIf="ui.lapsiFormSaveSuccess">
      {{ui.formSaveSuccessMsg | translate}}
    </div>
  </div>
  <div class="alert alert-danger varda-form-main-feedback"
       role="alert"
       aria-live="assertive"
       *ngIf="!toimipaikkaAccess.huoltajatiedot.katselija && !toimipaikkaAccess.lapsitiedot.katselija">
    {{ "generic.error" | translate }}.
    {{ "alert.invalid-access-to-person" | translate }}
  </div>
  <div class="lapsi-form-content"
       *ngIf="toimipaikkaAccess.huoltajatiedot.katselija || toimipaikkaAccess.lapsitiedot.katselija"
       id="lapsiFormContent">
    <div class="lapsi-form-perustiedot"
         *ngIf="!ui.isPerustiedotLoading">
      <div class="modal-form-intro">{{'text.add-lapsi-form-info' | translate}}<br />
        {{'text.add-lapsi-form-info-edit-varhaiskasvatustiedot' | translate}}
        <a target="_blank"
           [href]="'ohjeet.url.lisaaminen-ja-muokkaaminen.lapsen-tietojen-tarkastelu-ja-muokkaaminen' | translate">{{'label.taalta' | translate}}</a>.<br />
        {{'text.add-lapsi-form-info-edit-huoltaja-ja-maksutiedot' | translate}}
        <a target="_blank"
           [href]="'ohjeet.url.lisaaminen-ja-muokkaaminen.huoltaja-ja-maksutiedot' | translate">{{'label.taalta' | translate}}</a>.
      </div>
      <form [formGroup]="lapsiForm"
            autocomplete="off">
        <fieldset class="form-group varda-fieldset"
                  [id]="'lapsiFormFieldSet'">
          <legend class="varda-fieldset-legend">{{'label.lapsi-stepper.lapsi-details' | translate}}</legend>
          <div class="oph-field oph-field-inline">
            <label class="oph-label">{{'label.generic-name' | translate}}:</label>
            <span>{{henkilo.sukunimi + ', ' + henkilo.etunimet}}</span>
          </div>
          <div class="oph-field oph-field-inline">
            <label class="oph-label">{{'label.birthday' | translate}}:</label>
            <span>{{henkilo.syntyma_pvm | vardaDate}}</span>
          </div>
          <div class="oph-field oph-field-inline">
            <label class="oph-label">{{'label.oppijanumero' | translate}}:</label>
            <span>{{henkilo.henkilo_oid}}</span>
          </div>
          <div class="oph-field oph-field-inline"
               *ngIf="currentLapsi.oma_organisaatio">
            <label class="oph-label">{{'label.oma-organisaatio' | translate}}:</label>
            <span>{{currentLapsi.oma_organisaatio_nimi}}</span>
          </div>
          <div class="oph-field oph-field-inline"
               *ngIf="currentLapsi.paos_organisaatio">
            <label class="oph-label">{{'label.paos-organisaatio' | translate}}:</label>
            <span>{{currentLapsi.paos_organisaatio_nimi}}</span>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="varda-painotukset lapsi-form-varhaiskasvatuspaatokset"
         *ngIf="!ui.isPerustiedotLoading && !ui.noVarhaiskasvatustietoPrivileges && toimipaikkaAccess.lapsitiedot.katselija">
      <form [formGroup]="varhaiskasvatuspaatoksetForm"
            class="varda-painotukset-panel">
        <div class="varda-painotukset-header">
          {{'label.varhaiskasvatuspaatokset' | translate}}
        </div>
        <mat-accordion #lapsiFormAccordion
                       *ngIf="varhaiskasvatuspaatoksetForm.get('varhaiskasvatuspaatoksetFormArr')">
          <mat-expansion-panel formArrayName="varhaiskasvatuspaatoksetFormArr"
                               *ngFor="let item of varhaiskasvatuspaatoksetForm.get('varhaiskasvatuspaatoksetFormArr')['controls']; let k = index;"
                               [expanded]="false"
                               (click)="onExpansionPanelClick($event, k, 'varhaiskasvatuspaatos')"
                               #varhaiskasvatuspaatosPanels>
            <mat-expansion-panel-header>
              <div class="oph-h4"
                   tabindex="0">
                {{getRecurringEntityHeader(k, 'varhaiskasvatuspaatos')}}
              </div>
            </mat-expansion-panel-header>
            <fieldset *ngFor="let varhaiskasvatuspaatosFieldSet of varhaiskasvatuspaatoksetFieldSets[k]; let i = index"
                      class="form-group varda-fieldset"
                      [id]="varhaiskasvatuspaatosFieldSet.id + k"
                      [formGroup]="varhaiskasvatuspaatoksetForm.get('varhaiskasvatuspaatoksetFormArr')['controls'][k].get(varhaiskasvatuspaatosFieldSet.id)">
              <legend class="varda-fieldset-legend">{{getFieldsetTitle(varhaiskasvatuspaatosFieldSet)}}</legend>
              <div *ngFor="let field of varhaiskasvatuspaatosFieldSet.fields; let x = index">
                <app-varda-form-question [isReadOnly]="!toimipaikkaAccess.lapsitiedot.tallentaja"
                                         [field]="field"
                                         [fieldIndex]="x"
                                         [partOfInline]="false"
                                         [fieldSet]="varhaiskasvatuspaatosFieldSet"
                                         [fieldSetIndex]="k"
                                         [fieldSetName]="varhaiskasvatuspaatosFieldSet.id"
                                         [form]="varhaiskasvatuspaatoksetForm.get('varhaiskasvatuspaatoksetFormArr')['controls'][k].get(varhaiskasvatuspaatosFieldSet.id)"
                                         [formName]="'varhaiskasvatuspaatos'"
                                         (changedField)="onFieldChanged($event)"></app-varda-form-question>
              </div>
            </fieldset>
            <div *ngIf="toimipaikkaAccess.lapsitiedot.tallentaja"
                 [id]="'saveVarhaiskasvatuspaatosBtnWrapper' + k">
              <div *ngIf="ui.selectedVarhaiskasvatuspaatosIndexToDelete !== k"
                   class="varda-form-btn-wrapper">
                <button class="varda-button responsive"
                        type="button"
                        (click)="saveRecurringStructure(k, 'varhaiskasvatuspaatos')"
                        [ngClass]="{'varda-disabled-button': varhaiskasvatuspaatoksetForm.get('varhaiskasvatuspaatoksetFormArr')['controls'][k].invalid}"
                        [disabled]="varhaiskasvatuspaatoksetForm.get('varhaiskasvatuspaatoksetFormArr')['controls'][k].invalid">
                  {{'label.generic-save' | translate}}
                </button>
                <button class="varda-button responsive varda-button-delete"
                        type="button"
                        [ngClass]="getDeleteButtonStyles('varhaiskasvatuspaatos', k)"
                        [disabled]="ui.isSubmitting"
                        (click)="displayDeleteWarning('varhaiskasvatuspaatos', k)">
                  {{getDeleteText('varhaiskasvatuspaatos', k) | translate}}
                </button>
              </div>
              <div *ngIf="ui.selectedVarhaiskasvatuspaatosIndexToDelete === k"
                   role="alert"
                   aria-live="assertive">
                <ng-container
                              *ngIf="varhaiskasvatuspaatoksetForm.get('varhaiskasvatuspaatoksetFormArr')['controls'].length === 1">
                  <div class="oph-bold">{{'label.confirm-delete-last-varhaiskasvatuspaatos' | translate}}</div>
                </ng-container>
                <ng-container
                              *ngIf="varhaiskasvatuspaatoksetForm.get('varhaiskasvatuspaatoksetFormArr')['controls'].length > 1">
                  <div class="oph-bold">{{'label.confirm-delete-varhaiskasvatuspaatos' | translate}}</div>
                </ng-container>
                <div class="varda-form-btn-wrapper">
                  <button [id]="'varhaiskasvatuspaatosConfirmDeleteBtn' + k"
                          class="varda-button responsive varda-button-danger"
                          (click)="confirmDeleteAction('varhaiskasvatuspaatos', k, true)"
                          [disabled]="ui.isSubmitting"
                          [ngClass]="{'varda-disabled-button': ui.isSubmitting}">
                    {{'label.delete' | translate}}
                  </button>
                  <button [id]="'varhaiskasvatuspaatosCancelDeleteBtn' + k"
                          class="varda-button responsive varda-button-neutral"
                          (click)="cancelDelete('varhaiskasvatuspaatos')"
                          [disabled]="ui.isSubmitting"
                          [ngClass]="{'varda-disabled-button': ui.isSubmitting}">
                    {{'label.cancel' | translate}}
                  </button>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <div class="varda-recurring-field-add-new-wrapper"
             *ngIf="toimipaikkaAccess.lapsitiedot.tallentaja">
          <a [routerLink]=""
             (click)="addNewRecurringStructure('varhaiskasvatuspaatos')">
            {{'label.add-new-varhaiskasvatuspaatos' | translate}}</a>
        </div>
      </form>
    </div>
    <div class="varda-painotukset lapsi-form-varhaiskasvatussuhteet"
         *ngIf="!ui.isPerustiedotLoading && !ui.noVarhaiskasvatustietoPrivileges && toimipaikkaAccess.lapsitiedot.katselija">
      <form [formGroup]="varhaiskasvatussuhteetForm"
            class="varda-painotukset-panel">
        <div class="varda-painotukset-header">
          {{'label.varhaiskasvatussuhteet'  | translate}}
        </div>
        <mat-accordion *ngIf="varhaiskasvatussuhteetForm.get('varhaiskasvatussuhteetFormArr')">
          <mat-expansion-panel formArrayName="varhaiskasvatussuhteetFormArr"
                               #varhaiskasvatussuhdePanels
                               *ngFor="let item of varhaiskasvatussuhteetForm.get('varhaiskasvatussuhteetFormArr')['controls']; let k = index;"
                               [expanded]="false"
                               (click)="onExpansionPanelClick($event, k, 'varhaiskasvatussuhde')">
            <mat-expansion-panel-header>
              <header class="oph-h4"
                      tabindex="0">
                {{getRecurringEntityHeader(k, 'varhaiskasvatussuhde')}}
              </header>
            </mat-expansion-panel-header>
            <fieldset class="form-group varda-fieldset"
                      [id]="'varhaiskasvatussuhde_perustiedot'"
                      [formGroup]="varhaiskasvatussuhteetForm.get('varhaiskasvatussuhteetFormArr')['controls'][k]">
              <label id="vakaFormToimipaikkaLabel"
                     class="varda-field-label">{{'label.toimipaikka' | translate}}</label>
              <div class="varda-fieldset-content form-group">
                <div>
                  <select class="varda-form-control form-control varda-select"
                          aria-labelledby="vakaFormToimipaikkaLabel"
                          [formControlName]="'toimipaikka'"
                          [attr.name]="'toimipaikka'"
                          [compareWith]="byEndpoint"
                          [disabled]="isEdit">
                    <option *ngFor="let toimipaikka of toimipaikkaOptions"
                            [ngValue]="toimipaikka">{{toimipaikka.nimi}}</option>
                  </select>
                </div>
              </div>
            </fieldset>
            <fieldset class="form-group varda-fieldset varda-fieldset-add-person"
                      [id]="'varhaiskasvatussuhde_perustiedot'"
                      [formGroup]="varhaiskasvatussuhteetForm.get('varhaiskasvatussuhteetFormArr')['controls'][k]">
              <label id="vakaFormPaatosLabel"
                     class="varda-field-label">{{'label.varhaiskasvatuspaatos' | translate}}</label>
              <div class="varda-fieldset-content form-group">
                <select class="varda-form-control form-control varda-select"
                        aria-labelledby="vakaFormPaatosLabel"
                        [formControlName]="'varhaiskasvatuspaatos'"
                        [attr.name]="'varhaiskasvatuspaatos'"
                        [id]="'varhaiskasvatuspaatos' + k"
                        [compareWith]="byEndpoint"
                        [disabled]="isEdit">
                  <option *ngFor="let varhaiskasvatuspaatos of varhaiskasvatuspaatokset; let y = index"
                          [ngValue]="varhaiskasvatuspaatos">{{'label.varhaiskasvatuspaatos' | translate}}
                    ({{varhaiskasvatuspaatos.alkamis_pvm | vardaDate}})</option>
                </select>
              </div>
            </fieldset>
            <fieldset *ngFor="let varhaiskasvatussuhdeFieldSet of varhaiskasvatussuhteetFieldSets[k]; let i = index"
                      class="form-group varda-fieldset"
                      [id]="varhaiskasvatussuhdeFieldSet.id + k"
                      [formGroup]="varhaiskasvatussuhteetForm.get('varhaiskasvatussuhteetFormArr')['controls'][k].get(varhaiskasvatussuhdeFieldSet.id)">
              <div *ngFor="let field of varhaiskasvatussuhdeFieldSet.fields; let x = index">
                <app-varda-form-question [isReadOnly]="!toimipaikkaAccess.lapsitiedot.tallentaja"
                                         [field]="field"
                                         [fieldIndex]="x"
                                         [partOfInline]="false"
                                         [fieldSet]="varhaiskasvatussuhdeFieldSet"
                                         [fieldSetIndex]="k"
                                         [fieldSetName]="varhaiskasvatussuhdeFieldSet.id"
                                         [form]="varhaiskasvatussuhteetForm.get('varhaiskasvatussuhteetFormArr')['controls'][k].get(varhaiskasvatussuhdeFieldSet.id)"
                                         [formName]="'varhaiskasvatussuhde'"></app-varda-form-question>
              </div>
            </fieldset>
            <div [id]="'saveVarhaiskasvatussuhdeBtnWrapper' + k"
                 *ngIf="toimipaikkaAccess.lapsitiedot.tallentaja">
              <div class="varda-form-btn-wrapper"
                   *ngIf="ui.selectedVarhaiskasvatussuhdeIndexToDelete !== k">
                <button class="varda-button responsive"
                        type="button"
                        (click)="saveRecurringStructure(k, 'varhaiskasvatussuhde')"
                        [ngClass]="{'varda-disabled-button': varhaiskasvatussuhteetForm.get('varhaiskasvatussuhteetFormArr')['controls'][k].invalid || ui.isSubmitting}"
                        [disabled]="varhaiskasvatussuhteetForm.get('varhaiskasvatussuhteetFormArr')['controls'][k].invalid || ui.isSubmitting">
                  {{'label.generic-save' | translate}}
                </button>

                <button class="varda-button responsive varda-button-delete"
                        type="button"
                        [ngClass]="getDeleteButtonStyles('varhaiskasvatussuhde', k)"
                        [disabled]="ui.isSubmitting"
                        (click)="displayDeleteWarning('varhaiskasvatussuhde', k)">
                  {{getDeleteText('varhaiskasvatussuhde', k) | translate}}
                </button>
              </div>
              <div *ngIf="ui.selectedVarhaiskasvatussuhdeIndexToDelete === k"
                   role="alert"
                   aria-live="assertive">
                <div class="oph-bold">{{'label.confirm-delete-varhaiskasvatussuhde' | translate}}</div>
                <div class="varda-form-btn-wrapper">
                  <button [id]="'varhaiskasvatussuhdeConfirmDeleteBtn' + k"
                          class="varda-button responsive varda-button-danger"
                          (click)="confirmDeleteAction('varhaiskasvatussuhde', k, true)"
                          [disabled]="ui.isSubmitting"
                          [ngClass]="{'varda-disabled-button': ui.isSubmitting}">
                    {{'label.delete' | translate}}
                  </button>

                  <button [id]="'varhaiskasvatussuhdeCancelDeleteBtn' + k"
                          class="varda-button responsive varda-button-neutral"
                          (click)="cancelDelete('varhaiskasvatussuhde')"
                          [disabled]="ui.isSubmitting"
                          [ngClass]="{'varda-disabled-button': ui.isSubmitting}">
                    {{'label.cancel' | translate}}
                  </button>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <div class="varda-recurring-field-add-new-wrapper"
             *ngIf="toimipaikkaAccess.lapsitiedot.tallentaja">
          <a [routerLink]=""
             class=""
             (click)="addNewRecurringStructure('varhaiskasvatussuhde')">
            {{'label.add-new-varhaiskasvatussuhde' | translate}}</a>
        </div>
      </form>
    </div>
    <div class="varda-painotukset lapsi-form-maksutiedot"
         *ngIf="!ui.isPerustiedotLoading && toimipaikkaAccess.huoltajatiedot.katselija">
      <app-maksutiedot-form [toimipaikkaAccess]="toimipaikkaAccess"
                            [lapsiId]="currentLapsi.id"></app-maksutiedot-form>
    </div>
  </div>
</div>
<div *ngIf="!ui.isPerustiedotLoading && !isEdit"
     id="newLapsiForm"
     class="lapsi-form-new-form">
  <div class="varda-fieldset-content form-group">
    <div>
      <label
             class="varda-field-label">{{'label.kunnan-tai-kuntayhtyman-jarjestama-varhaiskasvatus' | translate}}</label>
      <div class="varda-radio">
        <mat-radio-group [(ngModel)]="ui.kunnanJarjestamaVarhaiskasvatus">
          <mat-radio-button [value]="false">{{'label.no' | translate}}</mat-radio-button>
          <mat-radio-button [value]="true">{{'label.yes' | translate}}</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>
  <div class="varda-fieldset-content form-group"
       *ngIf="ui.kunnanJarjestamaVarhaiskasvatus">
    <div>
      <label class="varda-field-label">{{'label.jarjestava-kunta-tai-kuntayhtyma' | translate}}</label>
      <div>
        <select class="varda-form-control form-control varda-select"
                name="jarjestavaKuntaSelect"
                [disabled]="selectedVakajarjestajaGlobal.kunnallinen_kytkin"
                [(ngModel)]="selectedVakajarjestaja">
          <option *ngIf="selectedVakajarjestajaGlobal.kunnallinen_kytkin"
                  [ngValue]="selectedVakajarjestaja"
                  selected>{{selectedVakajarjestaja.nimi}}</option>
          <option *ngFor="let vakajarjestaja of getTallentajaVakajarjestajat(vakajarjestajat)"
                  [ngValue]="vakajarjestaja">{{vakajarjestaja.vakajarjestaja_nimi}}</option>
        </select>
      </div>
    </div>
  </div>
  <form [formGroup]="toimipaikkaForm">
    <fieldset class="form-group varda-fieldset varda-fieldset-add-person"
              [id]="'toimipaikkafieldset'">
      <legend class="varda-fieldset-legend">{{'label.toimipaikka' | translate}}</legend>
      <div class="varda-fieldset-content form-group">
        <div>
          <select class="varda-form-control form-control varda-select"
                  (change)="setToimipaikka()"
                  [formControlName]="'toimipaikka'"
                  [attr.name]="'toimipaikka'"
                  [compareWith]="byEndpoint"
                  disabled>
            <option *ngFor="let toimipaikka of toimipaikkaOptions"
                    [ngValue]="toimipaikka">{{toimipaikka.nimi}}</option>
          </select>
        </div>
      </div>
    </fieldset>
  </form>
  <form [formGroup]="selectedSuhdeForm"
        style="display: none">
    <fieldset class="form-group varda-fieldset varda-fieldset-add-person"
              [id]="'selectedsuhdefieldset'">
      <legend class="varda-fieldset-legend">{{'label.suhteen-tyyppi' | translate}}</legend>
      <div class="varda-fieldset-content form-group">
        <div>
          <mat-checkbox [formControlName]="'addVarhaiskasvatussuhde'"
                        [attr.name]="'addVarhaiskasvatussuhde'"
                        [attr.aria-label]="'addVarhaiskasvatussuhde'"
                        type="checkbox"
                        style="margin-right: 10px"
                        (change)="selectedSuhdeFieldChange('varhaiskasvatussuhde',$event)"
                        appHighlightElement>{{'label.varhaiskasvatussuhde' | translate}}</mat-checkbox>
        </div>
      </div>
    </fieldset>
  </form>
  <div *ngIf="addVarhaiskasvatussuhde">
    <form [formGroup]="varhaiskasvatussuhdeForm">
      <fieldset *ngFor="let varhaiskasvatussuhdeFieldSet of varhaiskasvatussuhteetFieldSetsTemplate; let i = index"
                class="form-group varda-fieldset varda-fieldset-add-person"
                [id]="varhaiskasvatussuhdeFieldSet.id + i"
                [formGroupName]="varhaiskasvatussuhdeFieldSet.id">
        <legend class="varda-fieldset-legend">{{'label.varhaiskasvatussuhteen-kesto' | translate}}</legend>
        <div *ngFor="let field of varhaiskasvatussuhdeFieldSet.fields; let x = index">
          <app-varda-form-question [field]="field"
                                   [fieldIndex]="x"
                                   [fieldSet]="varhaiskasvatussuhdeFieldSet"
                                   [fieldSetIndex]="i"
                                   [fieldSetName]="varhaiskasvatussuhdeFieldSet.id"
                                   [formName]="'varhaiskasvatussuhde'"
                                   [form]="varhaiskasvatussuhdeForm.controls[varhaiskasvatussuhdeFieldSet.id]">
          </app-varda-form-question>
        </div>
      </fieldset>
    </form>
    <form [formGroup]="varhaiskasvatuspaatosForm">
      <fieldset *ngFor="let varhaiskasvatuspaatosFieldSet of varhaiskasvatuspaatoksetFieldSetsTemplate; let i = index"
                class="form-group varda-fieldset varda-fieldset-add-person"
                [id]="varhaiskasvatuspaatosFieldSet.id + 0"
                [formGroupName]="varhaiskasvatuspaatosFieldSet.id">
        <legend class="varda-fieldset-legend">{{getFieldsetTitle(varhaiskasvatuspaatosFieldSet)}}</legend>
        <div *ngFor="let field of varhaiskasvatuspaatosFieldSet.fields; let x = index">
          <app-varda-form-question [field]="field"
                                   [fieldIndex]="x"
                                   [fieldSet]="varhaiskasvatuspaatosFieldSet"
                                   [fieldSetIndex]="0"
                                   [fieldSetName]="varhaiskasvatuspaatosFieldSet.id"
                                   [formName]="'varhaiskasvatuspaatos'"
                                   [form]="varhaiskasvatuspaatosForm.controls[varhaiskasvatuspaatosFieldSet.id]"
                                   (changedField)="onFieldChanged($event)"></app-varda-form-question>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="varda-form-btn-wrapper">
    <button class="varda-button varda-button-wide responsive-md secondary"
            type="button"
            data-dismiss="modal"
            [ngClass]="{'varda-disabled-button': ui.isSubmitting }"
            [disabled]="ui.isSubmitting">{{'label.cancel' | translate}}</button>
    <button class="varda-button varda-button-wide responsive-md"
            type="button"
            [ngClass]="{'varda-disabled-button': !addLapsiFormValid() || ui.isSubmitting }"
            [disabled]="!addLapsiFormValid() || ui.isSubmitting"
            (click)="saveLapsi()">{{ui.saveBtnText | translate}}</button>
  </div>
</div>
