<form [formGroup]="paosToimijaForm"
      (ngSubmit)="searchToimija()">
  <h2>{{(isVakajarjestajaKunta ? i18n.paos_toiminta_instruction : i18n.paos_toiminta_instruction_yksityinen) | translate}}
  </h2>
  <p>
    {{(isVakajarjestajaKunta ? i18n.paos_toiminta_instruction_search : i18n.paos_toiminta_instruction_search_yksityinen) | translate}}
  </p>
  <div>
    <label class="oph-h4 oph-bold"
           for="add-paos-toiminta-toimija-search-input">{{(isVakajarjestajaKunta ? i18n.paos_toiminta_search : i18n.paos_toiminta_search_yksityinen) | translate}}</label>
    <div id="add-paos-toiminta-toimija-search-wrapper">
      <input type="text"
             class="oph-input"
             id="add-paos-toiminta-toimija-search-input"
             [placeholder]="i18n.paos_search_placeholder | translate"
             autofocus
             formControlName="search" />
      <button type="submit"
              class="varda-button responsive add-paos-toiminta-toimija-search-button"
              [disabled]="paosToimijaForm.invalid"
              [class.varda-disabled-button]="paosToimijaForm.invalid">
        {{i18n.search | translate}}
      </button>
    </div>
  </div>
</form>
<div *ngIf="isVakajarjestajatFetched">
  <div class="oph-h5 oph-bold my-2">{{i18n.paos_results | translate}}</div>
  <div *ngIf="!vakajarjestajat.length">
    {{i18n.paos_toiminta_no_results | translate}}
  </div>
  <div *ngIf="vakajarjestajat.length"
       class="varda-paos-hallinta-result-wrapper">
    <div *ngFor="let vakajarjestaja of vakajarjestajat; let i = index"
         [class.varda-paos-hallinta-colored-background]="i % 2">
      <ng-container *ngIf="vakajarjestaja.id !== selectedVakajarjestaja.id">
        <div class="varda-paos-hallinta-result-flex">
          <div class="varda-paos-hallinta-result-column varda-paos-hallinta-result-column-wide small-text">
            <div>
              <h6>{{vakajarjestaja.nimi}}</h6>
            </div>
            <div>
              {{i18n.organisaatio_y_tunnus | translate}}: {{vakajarjestaja.y_tunnus}}
            </div>
            <div>
              {{i18n.organisaatio_oid | translate}}: {{vakajarjestaja.organisaatio_oid}}
            </div>
          </div>
          <ng-container *ngIf="isVardaPaakayttaja">
            <div class="varda-paos-hallinta-result-column varda-paos-hallinta-result-middle">
              <div *ngIf="vakajarjestaja.kunnallinen_kytkin"
                   class="varda-paos-hallinta-result-button-wrapper">
                <button class="varda-button add-paos-toiminta-toimija-add-button"
                        *ngIf="!ignoredJarjestajaIds.has(vakajarjestaja.id)"
                        (click)="addJarjestaja(vakajarjestaja)">
                  {{i18n.paos_toiminta_add | translate}}
                </button>
                <span
                      *ngIf="ignoredJarjestajaIds.has(vakajarjestaja.id)">{{i18n.paos_toiminta_already_added | translate}}</span>
              </div>
            </div>
          </ng-container>
          <div class="varda-paos-hallinta-result-column varda-paos-hallinta-result-middle">
            <app-varda-toggle-button *ngIf="isVakajarjestajaKunta"
                                     [isUp]="!isToimipaikkadata(vakajarjestaja.id)"
                                     [showTextKey]="i18n.paos_toimipaikat_show"
                                     [hideTextKey]="i18n.paos_toimipaikat_hide"
                                     (click)="toggleSearchToimipaikat(vakajarjestaja)"></app-varda-toggle-button>
          </div>

        </div>
        <div *ngIf="isToimipaikkadata(vakajarjestaja.id)">
          <app-paos-add-toiminta-list [isVardaPaakayttaja]="isVardaPaakayttaja"
                                      [selectedVakajarjestaja]="selectedVakajarjestaja"
                                      [toimipaikat]="toimipaikatById[vakajarjestaja.id]"
                                      [ignoredIds]="ignoredToimipaikkaIds"></app-paos-add-toiminta-list>
        </div>
      </ng-container>
    </div>
  </div>
</div>
