<ng-container *ngIf="varhaiskasvatuspaatosList">
  <mat-expansion-panel class="palvelussuhteet mt-4 main-section"
                       (opened)="togglePanel(true)"
                       (closed)="togglePanel(false)"
                       [expanded]="expandPanel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2 class="varda-fieldset-legend">
          {{ i18n.varhaiskasvatuspaatokset | translate }}
          <span *ngIf="varhaiskasvatuspaatosList?.length">({{ varhaiskasvatuspaatosList.length }})</span>
        </h2>
      </mat-panel-title>
      <ng-container *ngIf="lapsitiedotTallentaja">
        <mat-panel-description *ngIf="varhaiskasvatuspaatosList.length">
          <button class="varda-text-button" id="add-varhaiskasvatuspaatos"
                  (keydown.enter)="initObject()"
                  (click)="initObject()">
            <mat-icon class="d-none d-md-inline-block" alt="">assignment_outline</mat-icon>
            <mat-icon alt="">add</mat-icon>{{ i18n.varhaiskasvatuspaatokset_lisaa_varhaiskasvatuspaatos | translate }}
          </button>
        </mat-panel-description>
      </ng-container>
    </mat-expansion-panel-header>

    <div class="tyontekija-panel-content tyontekija-panel-content-first">
      <ng-container *ngIf="!toimipaikkaAccess.lapsitiedot.katselija">
        <div class="ei-palvelussuhteita"
             role="alert">
          <p>{{ i18n.varhaiskasvatuspaatokset_ei_oikeuksia | translate }}</p>
        </div>
      </ng-container>

      <ng-container *ngIf="toimipaikkaAccess.lapsitiedot.katselija">
        <div *ngIf="!varhaiskasvatuspaatosList.length"
             class="ei-palvelussuhteita"
             role="alert">
          <p class="missing-info">
            <mat-icon aria-ignore>error_outline</mat-icon>
            {{ i18n.varhaiskasvatuspaatokset_ei_varhaiskasvatuspaatoksia | translate }}
          </p>

          <ng-container *ngIf="lapsitiedotTallentaja">
            <button class="varda-text-button" id="add-varhaiskasvatuspaatos-empty"
                    *ngIf="!addObjectBoolean"
                    (click)="initObject()">
              <mat-icon alt="">add</mat-icon>{{ i18n.varhaiskasvatuspaatokset_lisaa_varhaiskasvatuspaatos | translate }}
            </button>
          </ng-container>
        </div>

        <mat-accordion class="accordion-large-margin">
          <app-varda-varhaiskasvatuspaatos *ngFor="let varhaiskasvatuspaatos of varhaiskasvatuspaatosList | slice:0:numberOfDisplayed"
                                           [lapsitiedotTallentaja]="lapsitiedotTallentaja"
                                           [varhaiskasvatuspaatos]="varhaiskasvatuspaatos"
                                           [henkilonToimipaikka]="henkilonToimipaikka"
                                           (addObject)="addVarhaiskasvatuspaatos($event)"
                                           (deleteObject)="deleteVarhaiskasvatuspaatos($event)">
          </app-varda-varhaiskasvatuspaatos>
          <app-varda-show-more-less *ngIf="varhaiskasvatuspaatosList" [showMoreKey]="i18n.varhaiskasvatuspaatokset_show_more"
                                    [(numberOfDisplayed)]="numberOfDisplayed" [numberOfItems]="varhaiskasvatuspaatosList.length">
          </app-varda-show-more-less>
          <app-varda-varhaiskasvatuspaatos *ngIf="addObjectBoolean && lapsitiedotTallentaja"
                                           [lapsitiedotTallentaja]="lapsitiedotTallentaja"
                                           [henkilonToimipaikka]="henkilonToimipaikka"
                                           (addObject)="addVarhaiskasvatuspaatos($event)"
                                           (deleteObject)="deleteVarhaiskasvatuspaatos($event)"
                                           (closeEmitter)="hideAddObject()">
          </app-varda-varhaiskasvatuspaatos>
        </mat-accordion>
      </ng-container>
    </div>
  </mat-expansion-panel>
</ng-container>
