<nav class="navbar navbar-expand-md navbar-light bg-light varda-navbar">
  <div class="navbar-brand varda-navbar-toimija"
       *ngIf="vakajarjestajat && vakajarjestajat.length">
    <span id="siteTitle"
          class="d-none d-lg-inline">{{ i18n.toimija | translate}}:</span>
    <ng-container *ngIf="vakajarjestajat">
      <app-varda-dropdown-filter [filterBy]="['nimi', 'organisaatio_oid', 'y_tunnus']"
                                 [label]="selectedVakajarjestaja?.nimi"
                                 [attr.aria-label]="i18n.navi_oma_organisaatio | translate"
                                 [placeholder]="i18n.navi_haku_filter_placeholder | translate"
                                 [noResults]="i18n.navi_haku_filter_no_results | translate"
                                 (valueSelected)="changeVakajarjestaja($event)"
                                 [list]="vakajarjestajat">
      </app-varda-dropdown-filter>
    </ng-container>
  </div>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          [attr.aria-label]="i18n.navi_toggle_menu | translate">
    <span class="navbar-toggler-text">{{ i18n.navi_menu | translate }}</span>
    <mat-icon alt="">expand_more</mat-icon>
  </button>

  <div *ngIf="toimipaikkaAccessToAnyToimipaikka"
       class="collapse navbar-collapse varda-navbar-links"
       id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"
        *ngIf="vakajarjestajat">
      <ng-container *ngIf="!tilapainenHenkilostoOnly">
        <li class="varda-header-nav-item-container"
            [class.active-nav-item]="activeNavItem === 'syota-tietoja'">
          <a routerLink="/syota-tietoja">
            {{ i18n.navi_syota_tietoja | translate}}</a>
        </li>
      </ng-container>
      <li class="varda-header-nav-item-container"
          [class.active-nav-item]="activeNavItem === 'tietojen-katselu'">
        <a routerLink="/tietojen-katselu">
          {{ i18n.katsele_tietoja | translate}}</a>
      </li>

      <li class="varda-header-nav-item-container divider">
        <span class="d-none d-md-block"> | </span>
      </li>


      <li class="varda-header-nav-item-container"
          [matMenuTriggerFor]="menu"
          #trigger="matMenuTrigger"
          [class.active-nav-item]=" activeNavItem === 'vakatoimija'">
        <button class="varda-text-button">
          <mat-icon *ngIf="puutteellisetWarning | async"
                    aria-ignore="true"
                    class="warning">warning</mat-icon>
          <span>{{ i18n.toimijan_tiedot | translate }}</span>
          <mat-icon *ngIf="!trigger.menuOpen">arrow_drop_down</mat-icon>
          <mat-icon *ngIf="trigger.menuOpen">arrow_drop_up</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <a routerLink="/vakatoimija"
             (keydown.tab)="$event.stopPropagation()"
             (keydown.shift.tab)="$event.stopPropagation()"
             mat-menu-item>
            {{ i18n.yhteystiedot | translate }}
          </a>
          <a routerLink="/paos-hallinta"
             *ngIf="toimipaikkaAccessToAnyToimipaikka.lapsitiedot.katselija"
             (keydown.tab)="$event.stopPropagation()"
             (keydown.shift.tab)="$event.stopPropagation()"
             mat-menu-item>
            {{ i18n.paos | translate }}
          </a>
          <a *ngIf="toimipaikkaAccessToAnyToimipaikka.tilapainenHenkilosto.katselija"
             routerLink="/tilapainen-henkilosto"
             (keydown.tab)="$event.stopPropagation()"
             (keydown.shift.tab)="$event.stopPropagation()"
             mat-menu-item>
            {{i18n.tilapainen_henkilosto | translate }}
          </a>
          <a *ngIf="showRaportitBoolean"
             routerLink="/raportit"
             (keydown.tab)="$event.stopPropagation()"
             (keydown.shift.tab)="$event.stopPropagation()"
             mat-menu-item
             appHighContrast>
            <mat-icon [class.warning]="puutteellisetWarning | async"
                      aria-ignore="true">warning</mat-icon>
            <span>{{i18n.raportit | translate }}</span>
          </a>
        </mat-menu>
      </li>
      <li class="varda-header-nav-item-container">
        <a [href]="i18n.navi_ohjeet_href | translate"
           target="_vardaGuides">
          {{ i18n.navi_ohjeet | translate}}</a>
      </li>
    </ul>
  </div>
</nav>
