<ng-container *ngIf="!virkailijaRaamit">
  <div id="virkailija-raamit-filleri"></div>
</ng-container>
<nav class="navbar navbar-expand-md navbar-light bg-light varda-navbar"
     *ngIf="isAuthenticated() && !ui.isLoading"
     appHighContrast>
  <div class="navbar-brand varda-navbar-toimija"
       *ngIf="vakajarjestajat && vakajarjestajat.length">
    <span class="d-none d-md-inline">{{'label.toimija' | translate}}:</span>
    <ng-container *ngIf="vakajarjestajat">
      <app-varda-dropdown-filter [filterBy]="['nimi', 'organisaatio_oid', 'y_tunnus']"
                                 [label]="selectedVakajarjestaja?.nimi"
                                 [attr.aria-label]="'label.oma-organisaatio' | translate"
                                 (select)="changeVakajarjestaja($event)"
                                 [list]="vakajarjestajat">
      </app-varda-dropdown-filter>
    </ng-container>
  </div>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-text">{{'label.menu' | translate }}</span>
    <mat-icon>expand_more</mat-icon>
  </button>

  <div class="collapse navbar-collapse varda-navbar-links"
       id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="varda-header-nav-item-container" *ngIf="!isKatselija"
          [ngClass]="{'active-nav-item': activeNavItem === 'toimipaikatjalapset'}">
        <a [routerLink]="['/']"
           class=""
           (click)="setActiveNavItem('toimipaikatjalapset')">
          {{'label.navi.syotto' | translate}}</a>
      </li>

      <li class="varda-header-nav-item-container"
          [ngClass]="{'active-nav-item': activeNavItem === 'haku'}">
        <a [routerLink]="['/haku']"
           (click)="setActiveNavItem('haku')">
          {{'label.navi.haku' | translate}}</a>
      </li>
      <li class="varda-header-nav-item-container"
          [ngClass]="{'active-nav-item': activeNavItem === 'tietojen-katselu'}">
        <a [routerLink]="['/tietojen-katselu']"
           (click)="setActiveNavItem('tietojen-katselu')">
          {{'label.navi.tietojen-katselu' | translate}}</a>
      </li>

      <li class="varda-header-nav-item-container divider">
        <span class="d-none d-md-block"> | </span>
      </li>

      <li class="varda-header-nav-item-container"
          [ngClass]="{'active-nav-item': activeNavItem === 'vakatoimija'}"
          *ngIf="canViewToimijanTiedot">
        <app-varda-dropdown-menu topicKey="label.varhaiskasvatustoimija"
                                 [routeMaps]="toimijanTiedotRouteMaps"
                                 (navigationChange)="setActiveNavItem('vakatoimija')"></app-varda-dropdown-menu>
      </li>
      <li class="varda-header-nav-item-container"
          [ngClass]="{'active-nav-item': activeNavItem === 'ohjeet'}">
        <a [routerLink]="['/ohjeet']"
           (click)="setActiveNavItem('ohjeet')">
          {{'label.ohjeet' | translate}}</a>
      </li>
    </ul>
  </div>
</nav>
