<div class="koodisto-detail-header">
  <h2>{{selectedKoodistoName}}</h2>
  <p *ngIf="isValidKoodistoName"
        class="koodisto-version">
    {{ translation.koodistot_version | translate}}: {{version}}
  </p>
  <p *ngIf="isValidKoodistoName"
        class="koodisto-update-date">
    {{ translation.koodistot_updated| translate}}: {{update_datetime.format('DD.MM.YYYY')}}
  </p>
</div>
<hr *ngIf="!isValidKoodistoName">
<p *ngIf="!isValidKoodistoName">{{ translation.koodistot_invalid_koodisto_name | translate}}</p>
<div *ngIf="isValidKoodistoName && !(isExtraSmall | async)" class="table-responsive koodisto-table">
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">{{ translation.koodistot_code | translate}}</th>
      <th scope="col">{{ translation.koodistot_name | translate}}</th>
      <th scope="col">{{ translation.koodistot_description | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let code of codes">
      <td>{{code.code_value}}</td>
      <td>{{code.name}}</td>
      <td>{{code.description}}</td>
    </tr>
    </tbody>
  </table>
  <table *ngIf="isExtraSmall | async">
    <tbody>
    </tbody>
  </table>
</div>
<div *ngIf="isExtraSmall | async" class="koodisto-small-wrapper">
  <div *ngFor="let code of codes" class="table-responsive">
    <table class="table table-borderless koodisto-table-small">
      <tbody>
        <tr>
          <th scope="row">{{ translation.koodistot_code | translate}}</th>
          <td>{{code.code_value}}</td>
        </tr>
        <tr>
          <th scope="row">{{ translation.koodistot_name | translate}}</th>
          <td>{{code.name}}</td>
        </tr>
        <tr>
          <th scope="row">{{ translation.koodistot_description | translate}}</th>
          <td>{{code.description}}</td>
        </tr>
      </tbody>
    </table>
    <hr>
  </div>
</div>
