.main-wrapper {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

header.main-header {
  border-bottom: 1px solid #dee2e6;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

footer.main-footer {
  background-color: #f0f3f8;
  padding-top: 1em;
  padding-bottom: 1em;
}
