{% extends "rest_framework/base.html" %}
{% load static %}
{% load i18n %}

{% block bootstrap_theme %}
    <link rel="stylesheet" href="{% static 'rest_framework/css/yeti.bootstrap.min.css' %}" type="text/css">
{% endblock %}

{% block bootstrap_navbar_variant %}{% endblock %}

{% block title %} VARDA - REST API{% endblock %}

{% block branding %}
    <span>
        <a href="" rel="nofollow" class="navbar-brand">
            VARDA <span class="version">1</span>
        </a>
    </span>
{% endblock %}
