.page-not-found-wrapper {
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.page-not-found-content {
    width: 50;
}

.page-not-found-content ul {
    list-style-type: circle;
}

#pageNotFound {
    font-weight: bold;
}