.varda-main-frame-toimipaikka-section-content {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    background-color: #eee;
    padding-left: 17%;
    grid-column-gap: 20px;
    height: 85px;
}

.varda-main-frame-toimipaikka-info-section {
    font-size: 0.87rem;
}

.varda-main-frame-toimipaikka-section-content p {
    margin: 0;
}

.varda-main-frame-toimipaikka-add-new {
    display: flex;
    justify-content: flex-start;
}

.varda-main-frame-toimipaikka-edit,
.varda-main-frame-toimipaikka-info-section {
    display: flex;
    justify-content: center;
}

.varda-main-frame-toimipaikka-add-new div:first-child {
    flex: 0 1 30px;
}

.varda-main-frame-toimipaikka-info-section div:first-child {
    flex: 0 1 100px;
}

.varda-main-frame-toimipaikka-edit {
    justify-content: flex-end;
}

.varda-main-frame-toimipaikka-edit > div {
    width: 170px;
}

.varda-main-frame-toimipaikka-add-new a,
.varda-main-frame-toimipaikka-edit a {
    font-size: 0.87rem;
}

.varda-main-frame-toimipaikka-selector {
    margin-bottom: 20px;
    display: flex;
}

.varda-main-frame-toimipaikka-selector > div:first-child {
    flex: 0 1 25%;
}

.varda-main-frame-toimipaikka-selection {
    flex: 0 1 50%;
    display: flex;
    justify-content: center;
}

.toimipaikka-edit-btn-wrapper {
    flex: 0 1 50%;
}

.varda-main-frame-toimipaikka-action-edit {
    display: flex;
    margin-bottom: 20px;
}

.varda-main-frame-toimipaikka-action-edit > div:first-child {
    flex: 0 1 25%;
}

.toimipaikka-delete-btn-wrapper {
    flex: 1 1 10%;
    display: flex;
    justify-content: flex-end;
}

.toimipaikka-delete-btn {
    padding-top: 0px;
    width: 80px;
    height: 30px;
    font-size: 0.8rem;
    padding-bottom: 1px;
    padding-left: 0px;
    padding-right: 0px;
}

.toimipaikka-action-btns {
    flex: 0 1 50%;
}

.toimipaikka-selector-add-toimipaikka {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #EEEEEE;
}

.toimipaikka-selector-add-toimipaikka div {
    width: 205px;
}

.toimipaikka-selector-add-toimipaikka div button {
    font-size: 0.8rem;
}

.toimipaikka-selector-choose-toimipaikka {
    display: flex;
    justify-content: center;
}

.toimipaikka-selector-choose-toimipaikka p {
    margin-bottom: 2px;
}

.varda-main-frame-toimipaikka-action-content {
    display: flex;
    justify-content: space-between;
}

.varda-toimipaikka-selector-empty {
    margin-top: 10px;
}

.varda-toimipaikka-selector-empty div {
    display: flex;
    justify-content: center;
    padding: 25px;
}

.varda-toimipaikka-selector-empty div button {
    width: 220px;
}

.add-toimipaikka-btn {
    box-shadow: none;
    border-radius: 2px;
}

.delete-toimipaikka-prompt {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.toimipaikka-selector-items {
    display: flex;
    flex-wrap: wrap;
    /*align-items: center;*/
    justify-content: space-between;
}

.toimipaikka-selector-items > div:first-child {
    flex: 0 1 30%;
}

.toimipaikka-selector-items p {
    margin: 0;
}

.toimipaikka-selector-wrapper > div:first-child {
    margin-bottom: 20px;
}

.toimipaikka-selector-wrapper h2 {
    font-weight: bold;
}

.toimipaikka-flex-itemize-two-items {
  display: flex;
  min-width: 310px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 40px;
}

.varda-select {
  width: 180px;
}

.toimipaikka-select-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#toimipaikkaSelectorSelect {
    width: 300px;
}

@media (max-width: 800px) {
    .varda-main-frame-toimipaikka-selection,
    .varda-main-frame-toimipaikka-action-content {
        width: 100%;
    }

    .varda-main-frame-toimipaikka-selector,
    .varda-main-frame-toimipaikka-action-wrapper,
    .varda-main-frame-toimipaikka-section-content {
        padding-left: 0;
    }
}

@media (max-width: 652px) {
  .add-toimipaikka-btn {
    margin-top: 50px;
    width: 310px;
  }
}

@media (max-width: 450px) {
  .add-toimipaikka-btn {
    width: 100%;
  }
  .add-toimipaikka-btn-container {
    width: 100%;
  }
  .toimipaikka-flex-itemize-two-items {
    width: 100%;
  }
}

@media (max-width: 440px) {

.toimipaikka-flex-itemize-two-items {
min-width: 300px;
margin-right: 10px;
}

.varda-select {
width: 160px;
}
}

@media (max-width: 350px) {

.varda-select {
width: 150px;
}

.toimipaikka-flex-itemize-two-items {
min-width: 270px;
margin-right: 10px;
}
}
