<ng-container *ngIf="errors | async as errorArr">
  <div *ngIf="errorArr?.length"
       role="alert"
       aria-live="polite"
       class="varda-error-component">
    <div class="varda-error-header">
      <header class="oph-h3"
              #scrollTo>
        <mat-icon>error_outline</mat-icon>
        <span
              *ngIf="errorArr.length > 1; else singlemistake">{{ i18n.error_multiple | translate: { count: errorArr.length } }}</span>
        <ng-template #singlemistake>
          {{ i18n.error_single | translate }}
        </ng-template>


      </header>
      <button (click)="hideError()"
              class="varda-text-button">
        <mat-icon mat-button>close</mat-icon>
      </button>

    </div>
    <div class="tyontekija-error-line"
         *ngFor="let errorBranch of errorArr; let lineNr = index">
      <label>
        {{ i18n.error | translate }} {{lineNr + 1}}:
      </label>

      <span *ngFor="let key of errorBranch.keys">
        <i> {{ key }} <mat-icon>chevron_right</mat-icon></i>
      </span>
      <b *ngFor="let errorValue of errorBranch.values">
        {{ errorValue.errorTranslation }}
      </b>
    </div>
  </div>
</ng-container>
