@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/css/variables.css";

html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
}

#header-overflow-menu-links-tietojeni-kaytto,
#header-login-button,
#header-koski-link,
#header-omatsivut-link,
.header-language-en {
  display: none !important;
}

#header-overflow-menu-container {
  z-index: 1;
}

#header-profile-icon {
  margin-left: 0.5em;
}

body {
  font-size: clamp(0.9rem, 2.0vw, 1.0rem);
}

h1,
.h1 {
  font-size: clamp(1.4rem, 5vw, 1.5rem);
}

h2,
.h2 {
  font-size: clamp(1.1rem, 4vw, 1.3rem);
}

h3,
.h3 {
  font-size: clamp(1.0rem, 4vw, 1.1rem);
}

h4,
.h4 {
  font-size: clamp(0.9rem, 3vw, 1rem);
}

h5,
.h5 {
  font-size: clamp(0.8rem, 3vw, 0.9rem);
}

.mat-cell {
  font-size: clamp(0.8rem, 1.9vw, 1.0rem);
  word-break: break-word;
}

td {
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.m-b-05 {
  margin-bottom: 0.5em;
}

.m-b-1 {
  margin-bottom: 1em;
}

.m-b-2 {
  margin-bottom: 2em;
}

.link-color {
  color: var(--link-color);
}

.word-break {
  word-break: break-all;
}

.error-field {
  padding: 1em;
  background-color: var(--oph-orange-darken-1);
  color: var(--oph-white);
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.button {
  border: 1px solid black;
  border-radius: 0.25em;
  padding: 0.1em 0.75em;
  text-align: center;
}

.button:hover,
.button:focus {
  background-color: var(--oph-gray-lighten-1);
}

.material-icons,
mat-icon {
  position: relative;
  user-select: none;
}

.extension-info {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.5em;
  font-size: 1em;
  background-color: var(--oph-gray-lighten-1);
}

mat-expansion-panel mat-expansion-panel-header {
  min-height: 48px;
  height: auto !important;
}

@media (min-width: 700px) {
  .mat-tooltip {
    animation: scaleTooltip 1s forwards;
  }

  @keyframes scaleTooltip {
    0% {
      transform: scale(0.9);
    }

    100% {
      transform: scale(1.3);
    }
  }
}

@media (min-width: 1000px) {
  @keyframes scaleTooltip {
    0% {
      transform: scale(0.9);
    }

    100% {
      transform: scale(1.5);
    }
  }
}
