@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/css/variables.css";

html {
  font-size: 16px;
  color: #4A4A4A;
}

#header-overflow-menu-links-tietojeni-kaytto,
#header-login-button,
#header-koski-link,
#header-omatsivut-link,
.header-language-en {
  display: none !important;
}

#header-overflow-menu-container {
  z-index: 1;
}

#header-profile-icon {
  margin-left: 0.5em;
}

@media (min-width: 700px) {
  .mat-tooltip {
    animation: scaleTooltip 2.5s forwards;
  }

  @keyframes scaleTooltip {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(1.3);
    }
  }
}

@media (min-width: 1000px) {
  @keyframes scaleTooltip {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(1.5);
    }
  }
}
