<div (click)="showDropdown = !showDropdown" class="varda-dropdown-menu-wrapper">
  <a [routerLink]=""
     [mat-menu-trigger-for]="dropdown">
    <span>{{topicKey | translate}}</span>
    <mat-icon *ngIf="!showDropdown">arrow_drop_down</mat-icon>
    <mat-icon *ngIf="showDropdown">arrow_drop_up</mat-icon>
  </a>
</div>
<mat-menu #dropdown>
  <!--  Prevent tab and shift+tab from closing the menu -->
  <ul (keydown.tab)="$event.stopPropagation()" (keydown.shift.tab)="$event.stopPropagation()">
    <ng-container *ngFor="let route of routeMaps">
      <li *ngIf="!route.isHidden">
        <a mat-menu-item [routerLink]="[route.route]" (click)="setActiveNavItem()">{{route.textKey | translate}}</a>
      </li>
    </ng-container>
  </ul>
</mat-menu>
