<mat-expansion-panel expanded="true">
  <table class="mat-table huoltaja-table m-b-2">
    <tr class="mat-header-row"
        tabindex="0">
      <th class="mat-cell">{{ translation.lapsi_oppijanumero | translate}}</th>
      <td class="mat-cell">{{ lapsiDto.henkilo_oid }}</td>
      <td class="mat-cell">
        <button [matTooltip]="translation.tooltip_henkilotiedot_oppijanumero | translate"
                #oppijanumero="matTooltip"
                (click)="oppijanumero.toggle()"
                (mouseenter)="$event.stopImmediatePropagation()"
                (mouseleave)="$event.stopImmediatePropagation()">
          <mat-icon>help_outline</mat-icon>
        </button>
      </td>
    </tr>
    <tr class="mat-header-row"
        tabindex="0">
      <th class="mat-cell">{{ translation.lapsi_henkilotunnus | translate }}</th>
      <td class="mat-cell">{{ lapsiDto.henkilotunnus }}</td>
      <td class="mat-cell">
        <button [matTooltip]="translation.tooltip_henkilotiedot_henkilotunnus | translate"
                #henkilotunnus="matTooltip"
                (click)="henkilotunnus.toggle()"
                (mouseenter)="$event.stopImmediatePropagation()"
                (mouseleave)="$event.stopImmediatePropagation()">
          <mat-icon>help_outline</mat-icon>
        </button>
      </td>
    </tr>
    <tr class="mat-header-row"
        tabindex="0">
      <th class="mat-cell">{{ translation.lapsi_etunimet | translate }}</th>
      <td class="mat-cell">{{ lapsiDto.etunimet }}</td>
      <td class="mat-cell">
        <button [matTooltip]="translation.tooltip_henkilotiedot_etunimet | translate"
                #etunimet="matTooltip"
                (click)="etunimet.toggle()"
                (mouseenter)="$event.stopImmediatePropagation()"
                (mouseleave)="$event.stopImmediatePropagation()">
          <mat-icon>help_outline</mat-icon>
        </button>
      </td>
    </tr>
    <tr class="mat-header-row"
        tabindex="0">
      <th class="mat-cell">{{ translation.lapsi_kutsumanimi| translate }}</th>
      <td class="mat-cell">{{lapsiDto.kutsumanimi}}</td>
      <td class="mat-cell">
        <button [matTooltip]="translation.tooltip_henkilotiedot_kutsumanimi | translate"
                #kutsumanimi="matTooltip"
                (click)="kutsumanimi.toggle()"
                (mouseenter)="$event.stopImmediatePropagation()"
                (mouseleave)="$event.stopImmediatePropagation()">
          <mat-icon>help_outline</mat-icon>
        </button>
      </td>
    </tr>
    <tr class="mat-header-row"
        tabindex="0">
      <th class="mat-cell">{{ translation.lapsi_sukunimi | translate}}</th>
      <td class="mat-cell">{{lapsiDto.sukunimi}}</td>
      <td class="mat-cell">
        <button [matTooltip]="translation.tooltip_henkilotiedot_sukunimi | translate"
                #sukunimi="matTooltip"
                (click)="sukunimi.toggle()"
                (mouseenter)="$event.stopImmediatePropagation()"
                (mouseleave)="$event.stopImmediatePropagation()">
          <mat-icon>help_outline</mat-icon>
        </button>
      </td>
    </tr>
    <tr class="mat-header-row"
        tabindex="0">
      <th class="mat-cell">{{ translation.lapsi_aidinkieli | translate}}</th>
      <td class="mat-cell"
          libKoodistoValue="kielikoodistoopetushallinto">{{lapsiDto.aidinkieli_koodi}}</td>
      <td class="mat-cell">
        <button [matTooltip]="translation.tooltip_henkilotiedot_aidinkieli | translate"
                #aidinkieli="matTooltip"
                (click)="aidinkieli.toggle()"
                (mouseenter)="$event.stopImmediatePropagation()"
                (mouseleave)="$event.stopImmediatePropagation()">
          <mat-icon>help_outline</mat-icon>
        </button>
      </td>
    </tr>
    <tr class="mat-header-row"
        tabindex="0">
      <th class="mat-cell">{{ translation.lapsi_syntymaaika | translate}}</th>
      <td class="mat-cell">{{lapsiDto.syntyma_pvm | date:'d.M.yyyy'}}</td>
      <td class="mat-cell">
        <button [matTooltip]="translation.tooltip_henkilotiedot_syntymaaika | translate"
                #syntymaaika="matTooltip"
                (click)="syntymaaika.toggle()"
                (mouseenter)="$event.stopImmediatePropagation()"
                (mouseleave)="$event.stopImmediatePropagation()">
          <mat-icon>help_outline</mat-icon>
        </button>
      </td>
    </tr>
    <tr class="mat-header-row"
        tabindex="0">
      <th class="mat-cell">{{ translation.lapsi_sukupuoli | translate}}</th>
      <td class="mat-cell"
          libKoodistoValue="sukupuoli">{{lapsiDto.sukupuoli_koodi}}</td>
      <td class="mat-cell">
        <button [matTooltip]="translation.tooltip_henkilotiedot_sukupuoli | translate"
                #sukupuoli="matTooltip"
                (click)="sukupuoli.toggle()"
                (mouseenter)="$event.stopImmediatePropagation()"
                (mouseleave)="$event.stopImmediatePropagation()">
          <mat-icon>help_outline</mat-icon>
        </button>
      </td>
    </tr>
    <tr class="mat-header-row"
        tabindex="0">
      <th class="mat-cell">{{ translation.lapsi_kotikunta | translate}}</th>
      <td class="mat-cell"
          libKoodistoValue="kunta">{{lapsiDto.kotikunta_koodi}}</td>
      <td class="mat-cell">
        <button [matTooltip]="translation.tooltip_henkilotiedot_kotikunta | translate"
                #kotikunta="matTooltip"
                (click)="kotikunta.toggle()"
                (mouseenter)="$event.stopImmediatePropagation()"
                (mouseleave)="$event.stopImmediatePropagation()">
          <mat-icon>help_outline</mat-icon>
        </button>
      </td>
    </tr>
    <tr class="mat-header-row"
        tabindex="0">
      <th class="mat-cell">{{ translation.lapsi_katuosoite | translate}}</th>
      <td class="mat-cell">{{lapsiDto.katuosoite}}</td>
      <td class="mat-cell">
        <button [matTooltip]="translation.tooltip_henkilotiedot_katuosoite | translate"
                #katuosoite="matTooltip"
                (click)="katuosoite.toggle()"
                (mouseenter)="$event.stopImmediatePropagation()"
                (mouseleave)="$event.stopImmediatePropagation()">
          <mat-icon>help_outline</mat-icon>
        </button>
      </td>
    </tr>
    <tr class="mat-header-row"
        tabindex="0">
      <th class="mat-cell">{{ translation.lapsi_postinumero | translate}}</th>
      <td class="mat-cell">{{lapsiDto.postinumero}}</td>
      <td class="mat-cell">
        <button [matTooltip]="translation.tooltip_henkilotiedot_postinumero | translate"
                #postinumero="matTooltip"
                (click)="postinumero.toggle()"
                (mouseenter)="$event.stopImmediatePropagation()"
                (mouseleave)="$event.stopImmediatePropagation()">
          <mat-icon>help_outline</mat-icon>
        </button>
      </td>
    </tr>
    <tr class="mat-header-row"
        tabindex="0">
      <th class="mat-cell">{{ translation.lapsi_postitoimipaikka | translate}}</th>
      <td class="mat-cell">{{lapsiDto.postitoimipaikka}}</td>
      <td class="mat-cell">
        <button [matTooltip]="translation.tooltip_henkilotiedot_postitoimipaikka | translate"
                #postitoimipaikka="matTooltip"
                (click)="postitoimipaikka.toggle()"
                (mouseenter)="$event.stopImmediatePropagation()"
                (mouseleave)="$event.stopImmediatePropagation()">
          <mat-icon>help_outline</mat-icon>
        </button>
      </td>
    </tr>
  </table>

  <!-- <mat-expansion-panel class="osoitetiedot m-b-2">
    <mat-expansion-panel-header>
      <mat-icon>list_alt</mat-icon>
      <h3 class="link-color">{{ translation.muut_osoitetiedot | translate }}</h3>
    </mat-expansion-panel-header>

    <ng-container *ngIf="!lapsiDto.muut_osoitteet?.length">
      Will be added after CSCVARDA-1729
    </ng-container>
  </mat-expansion-panel> -->


  <div class="extension-info">
    {{ translation.info_henkilotiedot | translate }}
  </div>
</mat-expansion-panel>
