<ng-container *ngIf="poissaoloForm">
  <div class="tyoskentelypaikka poissaolo">
    <mat-expansion-panel [expanded]="expandPanel"
                         (opened)="togglePanel(true)"
                         (closed)="togglePanel(false)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span *ngIf="poissaolo; else addPoissaolo">
            {{ i18n.poissaolo | translate }}
            {{poissaolo.alkamis_pvm | vardaDate }} - {{poissaolo.paattymis_pvm | vardaDate }}
          </span>
          <ng-template #addPoissaolo>
            <span>{{ i18n.palvelussuhde_lisaa_poissaolo | translate }}</span>
          </ng-template>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="poissaoloForm"
            (submit)="savePoissaolo(poissaoloForm)">
        <app-varda-form-field name="alkamis_pvm"
                              [form]="poissaoloForm"
                              [label]="i18n.poissaolo_alkamis_pvm | translate"
                              [errorText]="i18n.poissaolo_error_alkamis_pvm | translate"
                              [instructionText]="i18n.poissaolo_instruction_alkamis_pvm | translate">
          <app-varda-datepicker #fieldItem
                                formControlName='alkamis_pvm'></app-varda-datepicker>
        </app-varda-form-field>

        <app-varda-form-field name="paattymis_pvm"
                              [form]="poissaoloForm"
                              [label]="i18n.poissaolo_paattymis_pvm | translate"
                              [errorText]="i18n.poissaolo_error_paattymis_pvm | translate"
                              [instructionText]="i18n.poissaolo_instruction_paattymis_pvm | translate">
          <app-varda-datepicker #fieldItem
                                formControlName='paattymis_pvm'></app-varda-datepicker>
        </app-varda-form-field>

        <app-varda-tyontekija-error [errors]="poissaoloFormErrors"></app-varda-tyontekija-error>

        <app-tyontekija-form-action-row [saveDisabled]="poissaoloForm.pristine"
                                        [saveAccess]="toimipaikkaAccess?.tyontekijatiedot.tallentaja"
                                        [formExists]="!!poissaolo"
                                        [isEdit]="isEdit"
                                        (togglePanel)="togglePanel($event)"
                                        (deleteForm)="deletePoissaolo()"
                                        (enableEdit)="enableForm()"></app-tyontekija-form-action-row>
      </form>
    </mat-expansion-panel>
  </div>
</ng-container>
