<div class="modal fade" [id]="identifier" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body varda-modal-body varda-success-modal-body">
          <div>
            <div class="success-icon-wrapper">
              <i class="material-icons success-sign">check_circle</i>
            </div>
            <div class="success-icon-title">
              <p>{{successTitle | translate}}</p>
            </div>
            <div class="success-icon-text">
              <p>{{successMsg}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
