<form [formGroup]=""
      class="tutkintoSection">
  <h2 class="varda-fieldset-legend">
    {{ i18n.tutkinnot | translate }} <span
          *ngIf="henkilonTutkinnot?.getValue().length > 1">({{henkilonTutkinnot.getValue().length}})</span>
  </h2>
  <ul>
    <ng-container *ngFor="let tutkinto of henkilonTutkinnot | async; index as i;">
      <li *ngIf="i < tutkintoViewLimit || henkilonTutkinnotExpand">
        <span tabindex="0">{{tutkinto.tutkinto_nimi}} ({{ tutkinto.tutkinto_koodi }})</span>
        <ng-container *ngIf="toimipaikkaAccess.tyontekijatiedot.tallentaja">
          <span class="tutkintoEdit"
                (click)="tutkinto.edit = !tutkinto.edit">
            <button class="varda-text-button"
                    *ngIf="!tutkinto.edit">
              <mat-icon>edit</mat-icon>
              {{ i18n.edit | translate }}
            </button>
            <button class="varda-text-button"
                    *ngIf="tutkinto.edit">
              <mat-icon>close</mat-icon>
              {{ i18n.cancel | translate }}
            </button>
          </span>
          <span *ngIf="tutkinto.edit"
                class="tutkintoDelete">
            <button class="varda-button responsive varda-button-danger varda-button-small"
                    type="button"
                    [disabled]="false"
                    (click)="deleteTutkinto(tutkinto.id)">
              <mat-icon>restore_from_trash</mat-icon>
              {{ i18n.delete | translate }}
            </button>
          </span>
        </ng-container>
      </li>
    </ng-container>
    <ng-container *ngIf="henkilonTutkinnot?.getValue().length > tutkintoViewLimit">
      <li *ngIf="!henkilonTutkinnotExpand">
        <button class="varda-text-button"
                (click)="henkilonTutkinnotExpand = true">
          {{ i18n.show_more | translate }}
          <mat-icon>expand_more</mat-icon>
        </button>
      </li>
      <li *ngIf="henkilonTutkinnotExpand">
        <button class="varda-text-button"
                (click)="henkilonTutkinnotExpand = false">
          {{ i18n.show_less | translate }}
          <mat-icon>expand_less</mat-icon>
        </button>
      </li>
    </ng-container>
  </ul>

  <ng-container *ngIf="!toimipaikkaAccess.tyontekijatiedot.tallentaja">
    <div *ngIf="henkilonTutkinnot.getValue().length === 0">
      {{ i18n.tutkinnot_ei_tutkintoja | translate }}
    </div>
  </ng-container>
  <ng-container *ngIf="toimipaikkaAccess.tyontekijatiedot.tallentaja">
    <div class="modal-form-intro"
         *ngIf="henkilonTutkinnot?.getValue().length === 0">
      {{ i18n.tutkinnot_lisaa_ylin_tutkinto | translate }}
    </div>

    <div class="mt-4"
         *ngIf="!addTutkinto">
      <button class="varda-text-button"
              (click)="addTutkinto = true">
        <mat-icon>add</mat-icon> {{ i18n.tutkinnot_lisaa_tutkinto | translate }}
      </button>
    </div>

    <form *ngIf="addTutkinto"
          [formGroup]="tutkintoForm"
          (submit)="createTutkinto(tutkintoForm)"
          class="mt-4">
      <mat-form-field appereance="standard">

        <mat-label>
          <mat-icon>school</mat-icon> {{ i18n.tutkinnot_lisaa_tutkinto | translate }}
        </mat-label>
        <mat-select panelClass="mt-3"
                    [class.mb-4]="tutkintoFormErrors | async"
                    formControlName="tutkinto_koodi">
          <mat-option [value]="null"
                      disabled>-- {{ 'label.choose' | translate }} --</mat-option>
          <mat-option *ngFor="let tutkintoOption of tutkintoOptions"
                      [value]="tutkintoOption.code_value">
            {{ tutkintoOption.name }} ({{ tutkintoOption.code_value }})
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="action-button-wrapper">
        <button class="varda-button varda-button-wide responsive-md"
                [disabled]="!tutkintoForm.valid || (isSubmitting | async)"
                type="submit">
          {{ i18n.save | translate}}
        </button>
        <button class="varda-button varda-button-wide varda-button-neutral responsive-md secondary"
                (click)="addTutkinto = false">{{ i18n.cancel | translate }}
        </button>
      </div>
    </form>
    <app-varda-error-field [errors]="tutkintoFormErrors"></app-varda-error-field>

  </ng-container>

</form>
