@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~oph-virkailija-style-guide/src/index.css";
@import "./assets/css/variables.css";
@import "./assets/css/buttons.css";
@import "./assets/css/forms.css";
@import "./assets/css/modals.css";
@import "./assets/css/lists.css";
@import "./assets/css/tables.css";

/* virkailija-raamifixit */
:root {
  --virkailija-raami-height: 100px;
  --virkailija-z-index: 50;
  --varda-navi-height: 50px;
}

app-varda-dashboard {
  border: none;
}

app-varda-header {
  position: relative;
  top: -5px;
  border: none;
}


#raamit_app_root {
  position: sticky !important;
  top: 0px;
  z-index: var(--virkailija-z-index);
  background-color: cadetblue;
}

#virkailija-raamit-filleri {
  position: sticky;
  top: 0px;
  height: var(--virkailija-raami-height);
  width: 100%;
  background-color: var(--blue-lighten-1);
  z-index: calc(var(--virkailija-z-index) - 2);
}

@media (max-width: 1223px) {
  :root {
    --virkailija-raami-height: 55px;
  }
}

/* </virkailijaraamit> */

html {
  font-size: 16px;
}

body {
  background-color: #eeeeee;
}

/*Override Bootstrap .nav-link to get it work with Virkailijaraamit*/
.nav-link {
  display: initial;
  padding: 0;
}

a {
  text-decoration: none;
  color: #4A4A4A;
}

mat-icon,
.material-icons {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
legend {
  font-size: 1rem;
  color: #4A4A4A;
  margin: 0;
  font-weight: normal;
  line-height: normal;
}

.varda-app-wrapper {
  width: 100%;
}

.varda-router-outlet-container {
  width: 90%;
  max-width: 1450px;
  margin-bottom: 55px;
  margin-right: auto;
  margin-left: auto;
  padding: 1em 0;
}

.varda-page-header {
  display: block;
  font-size: var(--h3);
  width: 100%;
  margin: 1em 0;
}

.varda-page-content {
  background-color: var(--white);
  border-radius: 0.25em;
  padding: 1em;
  border: 2px solid transparent;
}

.varda-high-contrast .varda-page-content {
  border-color: var(--black) !important;
}

.varda-page-content:not(:last-child) {
  margin-bottom: 1em;
}


.varda-highlight-container {
  border: 0;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 4px;
  background-color: #f6f6f6;
}

.varda-high-contrast .varda-highlight-container {
  background-color: var(--white);
}

.varda-highlight-label {
  font-weight: bold;
}


.varda-recurring-field-add-new-wrapper {
  margin-top: 20px;
  padding-left: 20px;
}

.varda-recurring-field-add-new-wrapper a {
  display: flex;
  color: #007bff;
  outline: none;
}

.varda-recurring-field-add-new-wrapper a.varhaiskasvatuspaatos-highlight {
  max-width: 320px;
  padding: 10px;
  background-color: #F148EE;
  color: var(--white);
}

.varda-recurring-field-add-new-wrapper app-varda-icon {
  margin-right: 8px;
  position: relative;
  top: -2px;
}

.varda-prompt-modal {
  position: fixed;
  z-index: 10000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.varda-prompt-modal h2 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.varda-prompt-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 8px;
  max-width: 400px;
  height: 180px;
  position: relative;
  text-align: center;
}

.varda-prompt-modal-btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.varda-prompt-modal-btn-wrapper>div:first-child {
  margin-right: 20px;
}

.mat-nav-list .mat-list-item:hover,
.mat-nav-list .mat-list-item:focus,
.mat-selection-list .mat-list-item:hover,
.mat-selection-list .mat-list-item:focus {
  border: 1px solid var(--black);
}

mat-expansion-panel mat-expansion-panel-header {
  min-height: 48px;
  height: auto !important;
}

.varda-accessibility-settings-container {
  box-shadow: 0px 7px 8px -2px var(--gray-lighten-1);
  background-color: var(--white);
  border-radius: 10px;
  padding: 20px;
  border: 2px solid transparent;
}

.varda-text-with-icon {
  display: flex;
  align-items: center;
}

.varda-text-with-icon mat-icon {
  margin-right: .5em;
}

/*HIGH CONTRAST DEFAULT STYLES*/
.varda-high-contrast,
.varda-high-contrast .varda-main-login-opintopolku-section-content,
.varda-high-contrast .varda-main-login-varda-section-content a,
.varda-high-contrast .varda-main-login-varda-section-content,
.varda-high-contrast .varda-main-logout-title-section-content,
.varda-high-contrast .varda-main-logout-form-section-content,
.varda-high-contrast .varda-main-frame-toimipiste-section-content,
.varda-high-contrast .varda-main-frame-toimipaikka-section-content,
.varda-high-contrast .varda-main-frame-toimipiste-section-content a,
.varda-high-contrast .varda-main-frame-toimipaikka-section-content a,
.varda-high-contrast .varda-main-frame-entity-section-content a,
.varda-high-contrast .varda-fieldset-input-instructions-section small {
  background-color: var(--white) !important;
  color: var(--black) !important;
}

.varda-high-contrast .varda-main-frame-henkilo-section-container>div:first-child,
.varda-high-contrast .varda-main-frame-toimipaikka-section-container>div:first-child {
  border: 2px solid var(--black);
}

.varda-high-contrast .varda-henkilo-list-warning>i,
.varda-high-contrast .varda-error-message-block,
.varda-high-contrast #logoutLinkIcon,
.varda-high-contrast .toimipaikka-settings-info p,
.varda-high-contrast .henkilo-list-empty,
.varda-high-contrast .site-version,
.varda-high-contrast #myUsername,
.varda-high-contrast #logoutLink,
.varda-high-contrast .language-link-text,
.varda-high-contrast .site-caption,
.varda-high-contrast #toimipaikanLapset,
.varda-high-contrast .toimipaikka-settings-panel-title,
.varda-high-contrast #addNewKielipainotusLink,
.varda-high-contrast #addNewToimintapainotusLink,
.varda-high-contrast .varda-henkilo-form-instructions-section small,
.varda-high-contrast .varda-modal-title {
  color: var(--black) !important;
}

.varda-high-contrast .varhaiskasvatuspaatos-highlight {
  background-color: var(--black);
}

.varda-high-contrast ::placeholder {
  color: #A2A2A2;
}

.varda-high-contrast ::-ms-input-placeholder {
  color: #A2A2A2;
}


.cdk-overlay-container,
.cdk-overlay-pane {
  z-index: 9999 !important;
}







/*HIGH CONTRAST LINK STYLES*/
.varda-high-contrast .header-nav-link-wrapper .varda-header-link-item:hover {
  border-color: var(--black);
}

.varda-high-contrast .header-nav-link-wrapper .varda-header-link-item:active {
  background-color: var(--white) !important;
  color: var(--black) !important;
  border-color: var(--black);
}

.varda-high-contrast .varda-footer-nav-link-wrapper .varda-footer-link-item:active {
  background-color: var(--white) !important;
  color: var(--black) !important;
  border-color: var(--black);
}

/*HIGH CONTRAST ICON STYLES*/

/*HIGH CONTRAST ADDNEW ICON*/
.varda-high-contrast .varda-icon-default.varda-icon-addnew circle {
  fill: var(--black) !important;
  stroke: var(--black) !important;
  stroke-width: 1.4;
}

.varda-high-contrast .varda-icon-default.varda-icon-addnew line {
  stroke: var(--white) !important;
  stroke-width: 6 !important;
}

.varda-high-contrast .varda-icon-default.varda-icon-addnew line {
  stroke: var(--white) !important;
  stroke-width: 6 !important;
}

.varda-high-contrast .varda-icon-default.varda-icon-addnew:hover circle {
  fill: var(--white) !important;
  stroke: var(--black) !important;
}

.varda-high-contrast .varda-icon-default.varda-icon-addnew:hover line {
  stroke: var(--black) !important;
  stroke-width: 6 !important;
}

.varda-high-contrast .varda-icon-default.varda-icon-addnew:hover line {
  stroke: var(--black) !important;
  stroke-width: 6 !important;
}

.varda-high-contrast .varda-icon-default.varda-icon-addnew:hover line {
  stroke: var(--black) !important;
  stroke-width: 6;
}


/*HIGH CONTRAST CLOSE ICON*/
.varda-high-contrast .varda-icon-default.varda-icon-close.action-icon:hover circle {
  fill: var(--white) !important;
  stroke: var(--black);
  stroke-width: 1.4;
}

.varda-high-contrast .varda-icon-default.varda-icon-close.action-icon:hover line {
  stroke: var(--black) !important;
  stroke-width: 6;
}


/*HIGH CONTRAST MOREINFO ICON*/
.varda-high-contrast .varda-icon-default.varda-icon-moreinfo.action-icon:hover .white-circle {
  fill: var(--white) !important;
  stroke: var(--black);
}

.varda-high-contrast .varda-icon-default.varda-icon-moreinfo.action-icon:hover .more-info-circle {
  stroke: var(--black) !important;
  fill: var(--black) !important;
}

.varda-high-contrast .varda-accessibility-settings-container {
  border-color: var(--black);
}

/*OUTLINE STYLES FOR ACCESSIBILITY ADJUSTMENTS*/
body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) a:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus,
body:not(.user-is-tabbing) h5:focus {
  outline: none;
}

.user-is-tabbing .varda-language-selector-flag-wrapper>div>a:focus,
.user-is-tabbing #siteMenuWrapper:focus,
.user-is-tabbing .varda-main-frame-toimipaikka-selector-panel mat-expansion-panel-header:focus,
.user-is-tabbing.overlay .menu-nav-link-wrapper .varda-menu-link-item:focus,
.user-is-tabbing.overlay .menu-nav-link-wrapper.last-menu-item .varda-menu-link-item:focus,
.user-is-tabbing .varda-button:focus,
.user-is-tabbing a#siteTitle:focus,
.user-is-tabbing .varda-henkilo-item-name:focus,
.user-is-tabbing .varda-footer-link-item:focus,
.user-is-tabbing #increaseFontSizeBtn:focus,
.user-is-tabbing #decreaseFontSizeBtn:focus,
.user-is-tabbing #closeAccessibilitySettingsIcon:focus,
.user-is-tabbing .varda-recurring-field-add-new-wrapper a:focus,
.user-is-tabbing .varda-recurring-field-add-new-wrapper a.varhaiskasvatuspaatos-highlight:focus,
.user-is-tabbing #kielipainotuksetYes:focus,
.user-is-tabbing #toimintapainotuksetYes:focus,
.user-is-tabbing #henkiloPromptModalLeave:focus,
.user-is-tabbing #henkiloPromptModalStay:focus,
.user-is-tabbing .recurring-varhaiskasvatuspaatos-entity-header:focus,
.user-is-tabbing .recurring-varhaiskasvatussuhde-entity-header:focus,
.user-is-tabbing .recurring-maksutieto-entity-header:focus,
.user-is-tabbing .recurring-esiopetuspaatos-entity-header:focus,
.user-is-tabbing .recurring-esiopetussuhde-entity-header:focus,
.user-is-tabbing .recurring-esiopetussuoritus-entity-header:focus,
.user-is-tabbing #myUsername:focus,
.user-is-tabbing #logoutLink:focus,
.user-is-tabbing .lapsi-form-esiopetus-link:focus {
  outline: 3px solid var(--black) !important;
}

.user-is-tabbing #addContrastBtn:focus,
.user-is-tabbing #decreaseContrastBtn:focus {
  outline: 3px solid #FFFF00 !important;
}


.user-is-tabbing.overlay .menu-nav-link-wrapper .varda-menu-link-item:focus,
.user-is-tabbing.overlay .menu-nav-link-wrapper.last-menu-item .varda-menu-link-item:focus {
  border-bottom-color: var(--black);
  background-color: var(--black);
  font-weight: bold;
  color: var(--white);
}

.user-is-tabbing .varda-button:focus {
  border-radius: 0;
}

.user-is-tabbing .selected-language:focus {
  border-bottom: none;
}

.mat-tooltip {
  animation: scaleTooltip 2.5s forwards;
}

.tyoskentelypaikka-panel .mat-expansion-panel-body {
  overflow: hidden;
}

@media (max-width: 576px) {
  .varda-router-outlet-container {
    width: calc(98% - 0.5rem);
  }
}

@keyframes scaleTooltip {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}
