<mat-expansion-panel class="vakapaatos"
                     (opened)="togglePanel(vakapaatos)"
                     (closed)="togglePanel(vakapaatos)"
                     hideToggle="false">
  <mat-expansion-panel-header class="huoltaja-header vakapaatos-header">
    <mat-panel-title>
      <i class="material-icons material-icons-outlined">assignment</i>
      <h3 class="expansion-otsikko vakapaatos-expansion h5">
        <div class="varhaiskasvatustext">{{ translation.varhaiskasvatuspaatos | translate}}</div>
        <div *ngIf="vakapaatos.paattymis_pvm"
             class="voimassaoloaika">
          <span class="laaja">{{ vakapaatos.alkamis_pvm | date:'d.M.yyyy'}} -
            {{vakapaatos.paattymis_pvm | date:'d.M.yyyy'}}</span>
          <span class="suppea">{{ vakapaatos.alkamis_pvm | date:'MM/yyyy'}} -
            {{vakapaatos.paattymis_pvm | date:'MM/yyyy'}}</span>
        </div>
        <div *ngIf="!vakapaatos.paattymis_pvm"
             class="voimassaoloaika">
          <span
                class="laaja">{{ translation.alkaen | translate:{date: vakapaatos.alkamis_pvm | date:'d.M.yyyy'} }}</span>
          <span class="suppea">{{ translation.alkaen | translate:{date: vakapaatos.alkamis_pvm | date:'MM/yyyy'} }}</span>
        </div>
        <div class="toimipaikkaList">{{ toimipaikkaList.join(", ") }}</div>
        <div class="togglePanel"
             *ngIf="!vakapaatos.toggle_expanded">{{ translation.open | translate }}</div>
        <div class="togglePanel"
             *ngIf="vakapaatos.toggle_expanded">{{ translation.close | translate }}</div>
      </h3>

    </mat-panel-title>
  </mat-expansion-panel-header>

  <table class="mat-table huoltaja-table">
    <tr class="mat-header-row"
        tabindex="0">
      <th class="mat-cell">{{ translation.varhaiskasvatuspaatos_hakemus_pvm| translate}}</th>
      <td class="mat-cell">{{vakapaatos.hakemus_pvm | date:'d.M.yyyy'}}</td>
      <td class="mat-cell">
        <button [matTooltip]="translation.tooltip_hakemus_pvm | translate"
                #hakemusPvm="matTooltip"
                (click)="hakemusPvm.toggle()"
                (mouseenter)="$event.stopImmediatePropagation()"
                (mouseleave)="$event.stopImmediatePropagation()">
          <mat-icon>help_outline</mat-icon>
        </button>
      </td>
    </tr>
    <tr class="mat-header-row"
        tabindex="0">
      <th class="mat-cell">{{ translation.varhaiskasvatuspaatos_tuntimaara_viikossa | translate}}</th>
      <td class="mat-cell">{{vakapaatos.tuntimaara_viikossa}}</td>
      <td class="mat-cell">
        <button [matTooltip]="translation.tooltip_tuntimaara_viikossa | translate"
                #tuntimaaraViikossa="matTooltip"
                (click)="tuntimaaraViikossa.toggle()"
                (mouseenter)="$event.stopImmediatePropagation()"
                (mouseleave)="$event.stopImmediatePropagation()">
          <mat-icon>help_outline</mat-icon>
        </button>
      </td>
    </tr>
    <tr class="mat-header-row huoltaja-even-row"
        tabindex="0">
      <th class="mat-cell">{{ translation.varhaiskasvatuspaatos_jarjestamismuoto | translate}}</th>
      <td class="mat-cell"
          libKoodistoValue="vardajarjestamismuoto">{{vakapaatos.jarjestamismuoto_koodi}}</td>
      <td class="mat-cell">
        <button [matTooltip]="translation.tooltip_jarjestamismuoto | translate"
                #jarjestamismuoto="matTooltip"
                (click)="jarjestamismuoto.toggle()"
                (mouseenter)="$event.stopImmediatePropagation()"
                (mouseleave)="$event.stopImmediatePropagation()">
          <mat-icon>help_outline</mat-icon>
        </button>
      </td>
    </tr>
    <tr class="mat-header-row"
        tabindex="0">
      <th class="mat-cell">{{ translation.varhaiskasvatuspaatos_paivittainen_varhaiskasvatus | translate}}</th>
      <td class="mat-cell">
        {{vakapaatos.paivittainen_vaka_kytkin ? (translation.varhaiskasvatuspaatos_paivittainen_varhaiskasvatus_kylla | translate) : (translation.varhaiskasvatuspaatos_paivittainen_varhaiskasvatus_ei | translate)}}
      </td>
      <td class="mat-cell">
        <button [matTooltip]="translation.tooltip_paivittainen_varhaiskasvatus | translate"
                #paivittainenVarhaiskasvatus="matTooltip"
                (click)="paivittainenVarhaiskasvatus.toggle()"
                (mouseenter)="$event.stopImmediatePropagation()"
                (mouseleave)="$event.stopImmediatePropagation()">
          <mat-icon>help_outline</mat-icon>
        </button>
      </td>
    </tr>
    <tr class="mat-header-row huoltaja-even-row"
        tabindex="0">
      <th class="mat-cell">{{ translation.varhaiskasvatuspaatos_kokoaikainen_varhaiskasvatus | translate}}</th>
      <td class="mat-cell">
        {{vakapaatos.kokopaivainen_vaka_kytkin ? (translation.varhaiskasvatuspaatos_kokoaikainen_varhaiskasvatus_kylla | translate) : (translation.varhaiskasvatuspaatos_kokoaikainen_varhaiskasvatus_ei | translate)}}
      </td>
      <td class="mat-cell">
        <button [matTooltip]="translation.tooltip_kokoaikainen_varhaiskasvatus | translate"
                #kokoaikainenVarhaiskasvatus="matTooltip"
                (click)="kokoaikainenVarhaiskasvatus.toggle()"
                (mouseenter)="$event.stopImmediatePropagation()"
                (mouseleave)="$event.stopImmediatePropagation()">
          <mat-icon>help_outline</mat-icon>
        </button>
      </td>
    </tr>
    <tr class="mat-header-row"
        tabindex="0">
      <th class="mat-cell">{{ translation.varhaiskasvatuspaatos_vuorohoito | translate}}</th>
      <td class="mat-cell">
        {{vakapaatos.vuorohoito_kytkin ? (translation.varhaiskasvatuspaatos_vuorohoito_kylla | translate) : (translation.varhaiskasvatuspaatos_vuorohoito_ei | translate)}}
      </td>
      <td class="mat-cell">
        <button [matTooltip]="translation.tooltip_vuorohoito | translate"
                #vuorohoito="matTooltip"
                (click)="vuorohoito.toggle()"
                (mouseenter)="$event.stopImmediatePropagation()"
                (mouseleave)="$event.stopImmediatePropagation()">
          <mat-icon>help_outline</mat-icon>
        </button>
      </td>
    </tr>
    <tr class="mat-header-row huoltaja-even-row"
        tabindex="0">
      <th class="mat-cell">{{translation.varhaiskasvatuspaatos_pikakasittely | translate}}</th>
      <td class="mat-cell">
        {{vakapaatos.pikakasittely_kytkin ? (translation.varhaiskasvatuspaatos_pikakasittely_kylla | translate) : (translation.varhaiskasvatuspaatos_pikakasittely_ei | translate)}}
      </td>
      <td class="mat-cell">
        <button [matTooltip]="translation.tooltip_pikakasittely | translate"
                #pikakasittely="matTooltip"
                (click)="pikakasittely.toggle()"
                (mouseenter)="$event.stopImmediatePropagation()"
                (mouseleave)="$event.stopImmediatePropagation()">
          <mat-icon>help_outline</mat-icon>
        </button>
      </td>
    </tr>
  </table>
  <div>
    <button class="onko-tiedoissa-virhe"
            (click)="openDialog(lapsi)">{{ translation.varhaiskasvatuspaatos_onko_tiedoissa_virhe | translate}}
    </button>
    <div class="extension-info">{{ translation.info_varhaiskasvatuspaatos | translate }}</div>
  </div>


  <h4>{{ translation.varhaiskasvatussuhteet | translate }} ({{ vakapaatos.varhaiskasvatussuhteet.length}})</h4>
  <div *ngIf="!vakapaatos.varhaiskasvatussuhteet.length"
       class="huoltaja-alert"
       role="alert">{{ translation.varhaiskasvatussuhteet_nolla_suhdetta | translate }}</div>
  <mat-expansion-panel class="vakasuhde-panel"
                       *ngFor="let vakasuhde of vakapaatos.varhaiskasvatussuhteet">
    <mat-expansion-panel-header style="position:relative;">
      <mat-panel-title>
        <h5 class="expansion-otsikko">
          <span class="toimipaikkaList">
            {{ vakasuhde.toimipaikka.toimipaikka_nimi }}
          </span>
          <span class="voimassaoloaika"
                [class.voimassa]="isOngoing(vakasuhde.paattymis_pvm)">
            <span *ngIf="vakasuhde.paattymis_pvm">
              {{vakasuhde.alkamis_pvm | date:'d.M.yyyy'}} -
              {{vakasuhde.paattymis_pvm | date:'d.M.yyyy'}}
            </span>
            <span *ngIf="!vakasuhde.paattymis_pvm">
              {{ translation.alkaen | translate:{date: vakasuhde.alkamis_pvm | date:'d.M.yyyy'} }}
            </span>
          </span>
        </h5>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <table class="mat-table huoltaja-table">
      <tr class="mat-header-row"
          tabindex="0">
        <th class="mat-cell">{{ translation.lapsi_postitoimipaikka | translate}}</th>
        <td class="mat-cell"
            libKoodistoValue="kunta">{{ vakasuhde.toimipaikka.toimipaikka_kunta_koodi }}</td>
        <td class="mat-cell">
          <button [matTooltip]="translation.tooltip_toimipaikka_postitoimipaikka | translate"
                  #hakemusPvm="matTooltip"
                  (click)="hakemusPvm.toggle()"
                  (mouseenter)="$event.stopImmediatePropagation()"
                  (mouseleave)="$event.stopImmediatePropagation()">
            <mat-icon>help_outline</mat-icon>
          </button>
        </td>
      </tr>
      <tr class="mat-header-row"
          tabindex="0">
        <th class="mat-cell">{{ translation.varhaiskasvatussuhteet_jarjestaja | translate}}</th>
        <td class="mat-cell">{{ lapsi.varhaiskasvatuksen_jarjestaja }}</td>
        <td class="mat-cell">
          <button [matTooltip]="translation.tooltip_toimipaikka_jarjestaja | translate"
                  #jarjestaja="matTooltip"
                  (click)="jarjestaja.toggle()"
                  (mouseenter)="$event.stopImmediatePropagation()"
                  (mouseleave)="$event.stopImmediatePropagation()">
            <mat-icon>help_outline</mat-icon>
          </button>
        </td>
      </tr>
    </table>
  </mat-expansion-panel>
</mat-expansion-panel>
