.varda-input-1 {
    width: 10%;
}
.varda-input-2 {
    width: 20%;
}
.varda-input-3 {
    width: 30%;
}
.varda-input-4 {
    width: 40%;
}
.varda-input-5 {
    width: 50%;
}
.varda-input-6 {
    width: 60%;
}
.varda-input-7 {
    width: 70%;
}
.varda-input-8 {
    width: 80%;
}
.varda-input-9 {
    width: 90%;
}

.varda-input-full {
    width: 100%;
}

.varda-input[readonly] {
    cursor: not-allowed;
    background-color: #e9ecef;
    opacity: 1;
}

.koodisto-options-beyond-limit-wrapper {
    padding-left: 15px;
    padding-top: 10px;
    font-weight: bold;
}

.koodisto-options-list-wrapper, .selected-koodisto-options-list-wrapper {
    background-color: #fff;
}

.selected-koodisto-options-list-wrapper p {
    font-weight: bold;
    padding-left: 15px;
    margin-bottom: 0;
}

.koodisto-options-list-wrapper span {
    font-size: 0.8rem;
}

.varda-select-arr-remove-item-wrapper {
    display: flex;
    justify-content: flex-end;
    height: 25px;
}

@media (max-width: 600px) {
    .varda-input {
        width: 100% !important;
    }
}