<div class="varda-fieldset-content form-group" *ngIf="!ui.isLoading">
  <div [formGroup]="form">
    <ng-container [ngSwitch]="field.widget">
      <ng-container *ngSwitchCase="VardaWidgetNames.STRING">
        <label [for]="field.key + fieldSetIndex" class="varda-field-label">{{getDisplayName(field)}} {{field.rules.required ? '*' : ''}}</label>
        <input type="text"
               class="varda-form-control form-control varda-input"
               *ngIf="!isReadOnly"
               [id]="field.key + fieldSetIndex"
               [ngClass]="getClasses(field)"
               [placeholder]="getPlaceholderText(field)"
               [formControlName]="field.key"
               [attr.name]="field.key"
               [attr.aria-required]="isRequired"
               [attr.aria-describedby]="'instructionBlock' + fieldIndex + fieldSetIndex"
               [attr.data-parent-container]="fieldSetName + fieldSetIndex"
               (focus)="onFocus(field)"
               (blur)="onBlur(field)"
               appHighlightElement>
        <div *ngIf="isReadOnly">
          <span>{{field.value}}</span>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="VardaWidgetNames.TEXTAREA">
        <label [for]="field.key + fieldSetIndex" class="varda-field-label">{{getDisplayName(field)}} {{field.rules.required ? '*' : ''}}</label>
        <textarea
          class="varda-form-control form-control varda-input"
          [id]="field.key + fieldSetIndex"
          [ngClass]="getClasses(field)"
          [readonly]="field.isReadonly"
          [placeholder]="getPlaceholderText(field)"
          [formControlName]="field.key"
          [attr.name]="field.key"
          [attr.aria-required]="isRequired"
          [attr.aria-describedby]="'instructionBlock' + fieldIndex + fieldSetIndex"
          [attr.data-parent-container]="fieldSetName + fieldSetIndex"
          (focus)="onFocus(field)"
          (blur)="onBlur(field)"
          appHighlightElement></textarea>
      </ng-container>

      <ng-container *ngSwitchCase="VardaWidgetNames.CHECKBOX">
        <mat-checkbox
          [formControlName]="field.key"
          [attr.name]="field.key"
          [attr.aria-required]="isRequired"
          [attr.aria-describedby]="'instructionBlock' + fieldIndex + fieldSetIndex"
          [attr.data-parent-container]="'fieldset' + fieldSetIndex"
          type="checkbox"
          (change)="onInputValueChanged(field)"
          class="varda-mat-checkbox"
          [ngClass]="{'form-field-hidden': field.hidden}"
          appHighlightElement>{{getDisplayName(field)}}</mat-checkbox>
      </ng-container>

      <ng-container *ngSwitchCase="VardaWidgetNames.DATE">
        <label [for]="field.key + fieldSetName + fieldSetIndex" class="varda-field-label">{{getDisplayName(field)}} {{field.rules.required ? '*' : ''}}</label>
        <div class="varda-date" [ngClass]="getClasses(field)">
          <my-date-picker
            *ngIf="!isReadOnly"
            [id]="field.key + fieldSetName + fieldSetIndex"
            [options]="myDatePickerOptions"
            [formControlName]="field.key"
            [attr.name]="field.key + fieldSetName + fieldSetIndex"
            [attr.data-fieldname]="field.key"
            [attr.aria-required]="isRequired"
            [attr.aria-describedby]="'instructionBlock' + fieldIndex + fieldSetIndex"
            [attr.data-parent-container]="fieldSetName + fieldSetIndex"
            (inputFieldChanged)="dateFieldChanged($event, fieldSet, field)"
            (inputFocusBlur)="dateFieldFocus($event, fieldSet, field)"
            (calendarToggle)="dateFieldToggle($event, fieldSet, field)"></my-date-picker>
        </div>
        <div *ngIf="isReadOnly">
          <span>{{field.value}}</span>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="VardaWidgetNames.SELECT">
        <label [for]="field.key + fieldSetIndex" class="varda-field-label">{{getDisplayName(field)}} {{field.rules.required ? '*' : ''}}</label>
        <select
          *ngIf="!isReadOnly"
          [id]="field.key + fieldSetIndex"
          [formControlName]="field.key"
          [attr.name]="field.key"
          [attr.aria-required]="isRequired"
          [attr.aria-describedby]="'instructionBlock' + fieldIndex + fieldSetIndex"
          [attr.data-parent-container]="fieldSetName + fieldSetIndex"
          class="varda-form-control form-control varda-select"
          [ngClass]="getClasses(field)"
          (focus)="onFocus(field)"
          (blur)="onBlur(field)"
          (change)="onSelectValueChange($event, field)"
          appHighlightElement>
          <option disabled selected [ngValue]="null"> --Valitse-- </option>
          <ng-container *ngFor="let option of selectOptions">
            <option [ngValue]="option.code" [disabled]="!option.code">
              <ng-container *ngIf="option.code">
                {{getOptionDisplayName(option)}}
              </ng-container>
              <ng-container *ngIf="!option.code">
                {{'----------------------------------------------'}}
              </ng-container>
            </option>
          </ng-container>
        </select>
        <div *ngIf="isReadOnly && !!selectOptions[0]">
          <span>{{getOptionDisplayNameByCode(field.value)}}</span>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="VardaWidgetNames.SELECTARR">
        <fieldset [formGroupName]="field.key">
          <legend class="varda-field-label varda-chkgroup-legend">{{getDisplayName(field)}} {{field.rules.required ? '*' : ''}}</legend>
          <div formArrayName="selectArr" *ngFor="let key of form.get(field.key).get('selectArr').controls; let m = index;">
            <select
              *ngIf="!isReadOnly"
              [formControlName]="m.toString()"
              [attr.aria-describedby]="'instructionBlock' + fieldIndex + fieldSetIndex"
              [attr.data-parent-container]="fieldSetName + fieldSetIndex"
              class="varda-form-control form-control varda-select"
              appHighlightElement>
              <option disabled selected [ngValue]="null"> --Valitse-- </option>
              <ng-container *ngFor="let option of selectOptions">
                <option [ngValue]="option.code" [disabled]="!option.code">
                  <ng-container *ngIf="option.code">
                    {{getOptionDisplayName(option)}}
                  </ng-container>
                  <ng-container *ngIf="!option.code">
                    {{'----------------------------------------------'}}
                  </ng-container>
                </option>
              </ng-container>
            </select>
            <div *ngIf="isReadOnly">
              <div *ngFor="let code of field.value['selectArr'] || []">
                <span>{{getOptionDisplayNameByCode(code)}}</span>
              </div>
            </div>
            <div class="varda-select-arr-remove-item-wrapper" *ngIf="!isReadOnly">
              <a href="#" class="" (click)="removeSelectArrControl(m)" *ngIf="m > 0">{{'label.delete' | translate}}</a>
            </div>
          </div>
        </fieldset>
        <a *ngIf="!isReadOnly"
           href="#"
           class=""
           (click)="addSelectArrControl()">
          {{'label.lisaa-toimipaikalle-enemman-asiointikielia' | translate}}
        </a>
      </ng-container>

      <ng-container *ngSwitchCase="VardaWidgetNames.CHECKBOXGROUP">
        <fieldset [formGroupName]="field.key">
          <legend class="varda-field-label varda-chkgroup-legend">{{getDisplayName(field)}} {{field.rules.required ? '*' : ''}}</legend>
          <div *ngIf="!isReadOnly">
            <div *ngFor="let option of field.options">
              <mat-checkbox
                [formControlName]="option.code"
                [attr.name]="option.code"
                [attr.aria-describedby]="'instructionBlock' + fieldIndex + fieldSetIndex"
                [attr.data-parent-container]="'fieldset' + fieldSetIndex"
                class="varda-mat-checkbox"
                type="checkbox"
                value="{{option.code}}"
                appHighlightElement>
                {{getOptionDisplayName(option)}}
              </mat-checkbox>
            </div>
          </div>
          <div *ngIf="isReadOnly">
            <div *ngFor="let code of getSelectedCheckboxCodes(field.value)">
              <span>{{getOptionDisplayNameByCode(code, field.options)}}</span>
            </div>
          </div>
        </fieldset>
      </ng-container>
      <ng-container *ngSwitchCase="VardaWidgetNames.BOOLEANRADIO">
        <label class="varda-field-label">{{getDisplayName(field)}} {{field.rules.required ? '*' : ''}}</label>
        <div class="varda-radio">
          <mat-radio-group
            [name]="field.key"
            [formControlName]="field.key"
            [attr.aria-required]="isRequired"
            [attr.aria-describedby]="'instructionBlock' + fieldIndex + fieldSetIndex"
            [attr.data-parent-container]="'fieldset' + fieldSetIndex"
            (change)="onInputValueChanged(field)">
            <mat-radio-button class="boolean-radio-yes" [value]="true">{{'label.yes' | translate}}</mat-radio-button>
            <mat-radio-button [value]="false">{{'label.no' | translate}}</mat-radio-button>
          </mat-radio-group>
        </div>
      </ng-container>

    </ng-container>
    <div class="varda-error-message-block" role="alert" aria-live="assertive" *ngIf="form && form.get(field.key) && form.get(field.key).invalid && form.get(field.key).touched">
      <p *ngFor="let errorText of getErrorTexts(field)">
        {{errorText}}
      </p>
    </div>
  </div>

  <div class="varda-fieldset-input-instructions-section">
    <small [id]="'instructionBlock' + fieldIndex + fieldSetIndex" class="form-text text-muted instruction-block-text" *ngIf="showInstructionText">
      {{getInstructionText(field)}}
    </small>
  </div>

</div>
