<div class="varda-card-bottom">
  <form class="margin-top">
    <div class="varda-reporting-search-form-content varda-reporting-row-wrap">
      <div class="col-md-5 order-1">
        <label for="lapsiToimipaikkaInput"
               class="oph-bold">{{i18n.toimipaikka_plural | translate}}</label>
        <div [class.oph-invalid-container]="!isAllToimipaikatSelected && selectedToimipaikat.length === 0">
          <div class="oph-select-container">
            <input class="oph-input"
                   id="lapsiToimipaikkaInput"
                   name="lapsiToimipaikkaInput"
                   type="text"
                   placeholder="{{i18n.katsele_tietoja_select_toimipaikat | translate}}"
                   #toimipaikkaInput
                   [matAutocomplete]="auto"
                   (input)="toimipaikkaSelectInputChange($event)">
          </div>
          <mat-autocomplete #auto="matAutocomplete"
                            (optionSelected)="toimipaikkaAutocompleteSelected($event)">
            <mat-option *ngIf="!isAllToimipaikatSelected"
                        [value]="null">{{i18n.kaikki_toimipaikat | translate}}</mat-option>
            <mat-option *ngIf="isNoToimipaikkaResults"
                        disabled>{{i18n.no_autofill_results | translate}}</mat-option>
            <mat-option *ngFor="let toimipaikkaObj of filteredToimipaikkaOptions | async"
                        [value]="toimipaikkaObj"
                        [title]="toimipaikkaObj.nimi">
              {{toimipaikkaObj.nimi}}
            </mat-option>
          </mat-autocomplete>
          <div class="varda-error-message-block"
               aria-live="assertive"
               role="alert"
               *ngIf="!isAllToimipaikatSelected && selectedToimipaikat.length === 0">
            <p>{{i18n.katsele_tietoja_error_no_toimipaikka_selected | translate}}</p>
          </div>
        </div>
      </div>
      <div class="col-md col-lg-4 order-3 order-md-2 margin-top-md">
        <label for="reportingLapsiSearchInput"
               class="oph-bold">{{i18n.katsele_tietoja_nimi_tunniste | translate}}</label>
        <button mat-icon-button
                class="varda-info-button"
                [matTooltip]="i18n.katsele_tietoja_lapsi_tooltip_search | translate"
                aria-label="katsele tietoja ohje">
          <mat-icon>info</mat-icon>
        </button>
        <input class="oph-input"
               name="reportingLapsiSearchInput"
               id="reportingLapsiSearchInput"
               type="text"
               placeholder="{{i18n.katsele_tietoja_nimi_tunniste | translate}}"
               [(ngModel)]="searchValue"
               (keydown.enter)="search()">
      </div>
      <div class="col-md-auto order-4 order-md-3">
        <button class="varda-button varda-icon-button search-button margin-top-md"
                type="button"
                (click)="search()">
          <mat-icon>search</mat-icon>
          {{i18n.katsele_tietoja_search | translate}}
        </button>
      </div>
      <div class="toimipaikka-chip-container col-12 order-2 order-md-4">
        <mat-chip-list aria-label="valitut toimipaikat"
                       #toimipaikkaChipList>
          <mat-chip *ngIf="isAllToimipaikatSelected"
                    [removable]="true"
                    (removed)="removeSelectedToimipaikka(null)">
            {{i18n.kaikki_toimipaikat | translate}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <mat-chip *ngFor="let toimipaikkaObj of selectedToimipaikat"
                    [removable]="true"
                    (removed)="removeSelectedToimipaikka(toimipaikkaObj)">
            {{toimipaikkaObj.nimi}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </div>
      <div class="oph-bg-gray-lighten-5 filter-form order-5"
           *ngIf="isFiltersVisible">
        <div class="col-md-auto">
          <label class="varda-link varda-filter-close"
                 *ngIf="isSmall"
                 (click)="isFiltersVisible = false; clearFilters()">
            {{i18n.close | translate}}
          </label>
          <label class="oph-bold">{{i18n.katsele_tietoja_filter_content | translate}}</label>
          <app-varda-radio-button-group name="lapsiRajausButtonGroup"
                                        responsive="lg"
                                        wrap="lg"
                                        (change)="search()"
                                        [(ngModel)]="filterParams.rajaus">
            <app-varda-radio-button [id]="'filterVakapaatokset'"
                                    [value]="rajaus.VAKAPAATOKSET">
              {{i18n.varhaiskasvatuspaatokset | translate}}
            </app-varda-radio-button>
            <app-varda-radio-button [id]="'filterVakasuhteet'"
                                    [value]="rajaus.VAKASUHTEET">
              {{i18n.varhaiskasvatussuhde_plural | translate}}
            </app-varda-radio-button>
            <app-varda-radio-button [id]="'filterMaksutiedot'"
                                    [value]="rajaus.MAKSUTIEDOT">
              {{i18n.maksutiedot | translate}}
            </app-varda-radio-button>
            <app-varda-radio-button [id]="'filterNone'"
                                    [value]="rajaus.NONE">
              {{i18n.katsele_tietoja_no_filter_content | translate}}
            </app-varda-radio-button>
          </app-varda-radio-button-group>
        </div>
        <div class="col-md-auto"
             *ngIf="!isFiltersInactive">
          <label class="oph-bold">{{i18n.katsele_tietoja_filter_time | translate}}</label>
          <div class="row filter-time-container">
            <div class="col-md-auto">
              <app-varda-radio-button-group name="lapsiVoimassaoloButtonGroup"
                                            responsive="md"
                                            wrap="xs"
                                            (change)="search()"
                                            [(ngModel)]="filterParams.voimassaolo">
                <app-varda-radio-button [id]="'filterVoimassa'"
                                        [value]="voimassaolo.VOIMASSA">
                  {{i18n.katsele_tietoja_voimassa | translate}}
                </app-varda-radio-button>
                <app-varda-radio-button [id]="'filterAlkanut'"
                                        [value]="voimassaolo.ALKANUT">
                  {{i18n.katsele_tietoja_alkanut | translate}}
                </app-varda-radio-button>
                <app-varda-radio-button [id]="'filterPaattynyt'"
                                        [value]="voimassaolo.PAATTYNYT">
                  {{i18n.katsele_tietoja_paattynyt | translate}}
                </app-varda-radio-button>
              </app-varda-radio-button-group>
            </div>
            <div class="col varda-date-range-container">
              <div class="row varda-date-range-row">
                <div class="col">
                  <app-varda-datepicker #alkamisPvm="ngModel"
                                        [name]="'filterAlkamisPvm'"
                                        [(ngModel)]="filterParams.alkamisPvm"
                                        (dateInput)="search()"
                                        [required]="true">
                  </app-varda-datepicker>
                  <div aria-live="assertive"
                       class="varda-error-message-block"
                       role="alert"
                       *ngIf="alkamisPvm.invalid">
                    <p>{{i18n.katsele_tietoja_error_date_format | translate}}</p>
                  </div>
                </div>
                <span class="varda-date-range-dash">–</span>
                <div class="col">
                  <app-varda-datepicker #paattymisPvm="ngModel"
                                        [name]="'filterPaattymisPvm'"
                                        [(ngModel)]="filterParams.paattymisPvm"
                                        (dateInput)="search()"
                                        [required]="true">
                  </app-varda-datepicker>
                  <div aria-live="assertive"
                       class="varda-error-message-block"
                       role="alert"
                       *ngIf="paattymisPvm.invalid">
                    <p>{{i18n.katsele_tietoja_error_date_format | translate}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col filter-clear-container">
          <button class="varda-button varda-icon-button filter-clear"
                  type="button"
                  (click)="clearFilters()"
                  [disabled]="isFiltersInactive">
            <mat-icon>delete</mat-icon>
            {{i18n.katsele_tietoja_clear_filters | translate}}
          </button>
        </div>
      </div>
      <div class="modal-form-intro lapsi-filter-instruction order-6"
           *ngIf="isFiltersVisible">
        {{i18n.katsele_tietoja_lapsi_filter_help | translate}}
      </div>
      <div class="varda-link col-12 order-7 margin-top-md"
           *ngIf="!isFiltersVisible"
           (click)="isFiltersVisible = true">
        {{i18n.katsele_tietoja_apply_filters | translate}}
      </div>
    </div>
  </form>
</div>
<app-varda-result-info [filterString]="filterString"
                       [resultCount]="resultCount"></app-varda-result-info>
<div class="varda-reporting-card-container"
     *ngIf="resultCount > 0">
  <div class="col-12 col-lg-5 varda-reporting-card">
    <app-varda-result-list #resultList
                           [resultCount]="resultCount"
                           [searchResults]="searchResults"
                           [pageSize]="pageSize"
                           (paginationChanged)="search($event)"
                           (resultSelected)="setSelectedId($event)"></app-varda-result-list>
  </div>
  <div class="col-12 col-lg-7 varda-reporting-card"
       *ngIf="selectedId">
    <app-varda-result-lapsi [lapsiId]="selectedId"
                            [userAccess]="userAccess"></app-varda-result-lapsi>
  </div>
</div>
