<ng-container *ngIf="formGroup">
  <div [id]="'maksutieto_' + currentObject?.id"
       class="maksutieto taydennyskoulutus">
    <app-robo-id [tunniste]="currentObject?.id"
                 nimi="maksutieto"
                 [alkamis_pvm]="currentObject?.alkamis_pvm"
                 [paattymis_pvm]="currentObject?.paattymis_pvm"></app-robo-id>

    <mat-expansion-panel #matPanel
                         (opened)="togglePanel(true)"
                         (closed)="togglePanel(false)">
      <mat-expansion-panel-header>
        <mat-panel-title *ngIf="objectExists(); else addMaksutieto">
          <app-varda-form-error-icon [errors]="errorList"></app-varda-form-error-icon>
          <span *ngIf="!currentObject.paattymis_pvm; else hasPaattymispvm">
            {{ i18n.maksutieto_alkaen_PVM | translate: {pvm: currentObject.alkamis_pvm | vardaDate} }}
          </span>
          <ng-template #hasPaattymispvm>
            <span *ngIf="currentObject.paattymis_pvm">
              {{ i18n.maksutieto | translate }}
              {{currentObject.alkamis_pvm | vardaDate }} - {{currentObject.paattymis_pvm | vardaDate }}
            </span>
          </ng-template>
        </mat-panel-title>
        <ng-template #addMaksutieto>
          <mat-panel-title>
            <span>
              {{ i18n.maksutiedot_lisaa_maksutieto | translate }}
            </span>
          </mat-panel-title>
        </ng-template>
        <ng-container *ngIf="toimipaikkaAccess?.huoltajatiedot.tallentaja && objectExists()">
          <button type="button"
                  robot="copy-button"
                  class="copy-button varda-button varda-button-small secondary"
                  (click)="useAsCopy($event)">
            {{ i18n.use_as_copy | translate }}
          </button>
        </ng-container>
      </mat-expansion-panel-header>
      <form [formGroup]="formGroup"
            (submit)="saveMaksutieto(formGroup)"
            autocomplete="off">
        <app-varda-form-error-list [errors]="errorList"></app-varda-form-error-list>
        <div class="huoltajat">
          <ng-container *ngIf="objectExists()">
            <app-varda-maksutieto-huoltaja *ngFor="let huoltaja of currentObject.huoltajat; let i = index"
                                           [indexNr]="i"
                                           [huoltaja]="huoltaja">
            </app-varda-maksutieto-huoltaja>
          </ng-container>
          <ng-container *ngIf="isEdit">
            <ng-container formArrayName="huoltajat">
              <app-varda-maksutieto-huoltaja *ngFor="let huoltajaFormGroup of huoltajat.controls, let i = index"
                                             [huoltajaForm]="huoltajaFormGroup"
                                             [indexNr]="i"
                                             [showDeleteButton]="huoltajat.controls.length > 1 || objectExists()"
                                             (removeHuoltaja)="removeHuoltajaForm($event)">
              </app-varda-maksutieto-huoltaja>
            </ng-container>
            <button class="varda-button secondary responsive-md"
                    type="button"
                    *ngIf="huoltajat.length < 7"
                    (click)="addHuoltaja()">
              <mat-icon alt="">add</mat-icon>
              {{ i18n.maksutieto_lisaa_huoltaja | translate }}
            </button>
          </ng-container>
        </div>

        <app-varda-form-field name="maksun_peruste_koodi"
                              [form]="formGroup"
                              [label]="i18n.maksutieto_maksunperuste_koodi | translate"
                              [errorText]="i18n.maksutieto_error_maksunperuste_koodi | translate"
                              [instructionText]="i18n.maksutieto_instruction_maksunperuste_koodi | translate">
          <div *ngIf="objectExists(); else maksunPerusteSelect"
               [libKoodistoValue]="koodistoEnum.maksunperuste"
               format="long">{{ currentObject.maksun_peruste_koodi }}</div>
          <ng-template #maksunPerusteSelect>
            <mat-select #fieldItem
                        *ngIf="maksunperusteKoodisto?.codes.length > 0"
                        (valueChange)="changeMaksunPeruste($event)"
                        placeholder="-- {{ i18n.choose | translate }} --"
                        class="oph-input oph-select"
                        formControlName="maksun_peruste_koodi">
              <mat-option *ngFor="let maksunperuste of maksunperusteKoodisto.codes"
                          [value]="maksunperuste.code_value"
                          [libKoodistoValue]="koodistoEnum.maksunperuste"
                          format="long">
                {{ maksunperuste.code_value }}
              </mat-option>
            </mat-select>
          </ng-template>
        </app-varda-form-field>

        <app-varda-form-field name="palveluseteli_arvo"
                              *ngIf="!yksityinenBoolean"
                              [form]="formGroup"
                              [label]="i18n.maksutieto_palveluseteli_arvo | translate"
                              [placeholder]="i18n.maksutieto_placeholder_palveluseteli_arvo | translate"
                              [errorText]="i18n.maksutieto_error_palveluseteli_arvo | translate"
                              [instructionText]="i18n.maksutieto_instruction_palveluseteli_arvo | translate">
          <input #fieldItem
                 [readonly]="disableForMaksuttomuus"
                 type="number"
                 class="oph-input"
                 min="0"
                 max="999"
                 step="0.05"
                 formControlName="palveluseteli_arvo" />
        </app-varda-form-field>

        <app-varda-form-field name="asiakasmaksu"
                              [form]="formGroup"
                              [label]="i18n.maksutieto_asiakasmaksu | translate"
                              [placeholder]="i18n.maksutieto_placeholder_asiakasmaksu | translate"
                              [errorText]="i18n.maksutieto_error_asiakasmaksu | translate"
                              [instructionText]="i18n.maksutieto_instruction_asiakasmaksu | translate">
          <input #fieldItem
                 [readonly]="disableForMaksuttomuus"
                 type="number"
                 class="oph-input"
                 min="0"
                 max="9999"
                 step="0.05"
                 formControlName="asiakasmaksu" />
        </app-varda-form-field>

        <app-varda-form-field name="perheen_koko"
                              *ngIf="!yksityinenBoolean"
                              [form]="formGroup"
                              [label]="i18n.maksutieto_perheen_koko | translate"
                              [placeholder]="i18n.maksutieto_placeholder_perheen_koko | translate"
                              [errorText]="i18n.maksutieto_error_perheen_koko | translate"
                              [instructionText]="i18n.maksutieto_instruction_perheen_koko | translate">
          <input #fieldItem
                 type="number"
                 class="oph-input"
                 min="2"
                 max="50"
                 step="1"
                 formControlName="perheen_koko" />
        </app-varda-form-field>

        <app-varda-form-field name="alkamis_pvm"
                              [form]="formGroup"
                              [label]="i18n.maksutieto_alkamis_pvm | translate"
                              [errorMap]="[
                                { key: 'required', value: i18n.maksutieto_error_alkamis_pvm },
                                { key: 'matDatepickerParse', value: i18n.katsele_tietoja_error_date_format }
                              ]"
                              [instructionText]="i18n.maksutieto_instruction_alkamis_pvm | translate">
          <app-varda-datepicker #fieldItem
                                (dateChange)="startDateChange($event.value)"
                                formControlName='alkamis_pvm'></app-varda-datepicker>
        </app-varda-form-field>

        <app-varda-form-field name="paattymis_pvm"
                              [form]="formGroup"
                              [label]="i18n.maksutieto_paattymis_pvm | translate"
                              [errorMap]="[
                                { key: 'matDatepickerMin', value: i18n.maksutieto_error_paattymis_pvm },
                                { key: 'matDatepickerParse', value: i18n.katsele_tietoja_error_date_format }
                              ]"
                              [instructionText]="i18n.maksutieto_instruction_paattymis_pvm | translate">
          <app-varda-datepicker #fieldItem
                                [min]="minEndDate"
                                formControlName='paattymis_pvm'></app-varda-datepicker>
        </app-varda-form-field>

        <app-varda-error-field [errors]="maksutietoFormErrors"></app-varda-error-field>

        <div *ngIf="huoltajaSaveStatus"
             role="alert"
             aria-live="polite"
             class="alert alert-success">
          <div *ngIf="!huoltajaSaveStatus.failure; else savePartial">
            {{ i18n.save_success | translate }}
          </div>
          <ng-template #savePartial>
            <div>{{ i18n.maksutieto_save_success_partial | translate }}</div>
            <div>{{ i18n.maksutieto_save_success_COUNT | translate: { count: huoltajaSaveStatus.success} }}</div>
            <div>{{ i18n.maksutieto_save_failure_COUNT | translate: { count: huoltajaSaveStatus.failure} }}</div>
          </ng-template>
        </div>

        <app-varda-action-row [saveDisabled]="formGroup.pristine || isSubmitting"
                              [saveAccess]="toimipaikkaAccess?.huoltajatiedot.tallentaja"
                              [formExists]="objectExists()"
                              [isEdit]="isEdit"
                              (togglePanel)="togglePanel($event)"
                              (deleteForm)="deleteMaksutieto()"
                              (enableEdit)="enableForm()"></app-varda-action-row>
      </form>
    </mat-expansion-panel>
  </div>
</ng-container>
