.huoltaja-container-wrapper > fieldset {
  border: 1px solid black;
}

.huoltaja-container-wrapper legend {
  display: block;
  margin-left: 25px;
  padding-left: 2px;
  padding-right: 2px;
  border: none;
  width: initial;
}

.huoltaja-add-new-wrapper {
  padding-top: 20px;
  padding-bottom: 10px;
}

.huoltaja-add-new-wrapper > a.disabled {
  color: gray;
  cursor: not-allowed;
  text-decoration: underline;
}

.huoltaja-delete-btn-container > .huoltaja-delete-btn {
  width: 30px;
  height: 30px;
  padding: 0;
  font-size: 1.5rem;
}

.huoltaja-delete-btn-container {
  text-align: right;
}
