<section class="henkilo-section varda-page-content">
  <div class="henkilo-section-header">
    <h3 class="oph-h4 oph-bold">
      {{ i18n.henkilo_lapset | translate }}
      <span *ngIf="searchFilter.count"
            class="henkilo-section-header-counter">
        ({{ searchFilter.count }})
      </span>
    </h3>

    <button id="addLapsiBtn"
            *ngIf="toimipaikkaAccess.lapsitiedot.tallentaja"
            class="varda-button responsive"
            (click)="addHenkilo()">
      + {{ i18n.henkilo_lisaa_lapsi | translate }}
    </button>
  </div>

  <div class="henkilo-section-filter">
    <mat-form-field>
      <mat-label>{{ i18n.henkilo_hae_nimella | translate }}</mat-label>
      <input autocomplete="off"
             matInput
             type="text"
             [disabled]="isLoading | async"
             (change)="searchHenkilot()"
             [(ngModel)]="searchFilter.search" />
      <button mat-button
              [title]="i18n.henkilo_hae_nimella | translate"
              [disabled]="isLoading | async"
              (click)="searchHenkilot()"
              matSuffix>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>

    <div class="checkbox-filter varda-theme">
      <mat-checkbox [value]="!searchFilter.voimassa_pvm"
                    (change)="toggleAktiiviset()"
                    [disabled]="isLoading | async">
        {{ i18n.henkilo_lapset_voimassa_kytkin | translate }}
      </mat-checkbox>
    </div>

  </div>

  <div *ngIf="henkilot?.length === 0"
       class="varda-muted">
    {{ i18n.henkilo_toimipaikasta_ei_loydy_lapsia | translate }}
  </div>

  <mat-progress-bar *ngIf="!henkilot && isLoading | async"
                    mode="indeterminate"
                    color="accent"></mat-progress-bar>

  <ng-container *ngIf="henkilot?.length > 0">
    <app-varda-henkilo-list (openHenkiloForm)="openHenkilo($event)"
                            henkiloRooli="lapsi"
                            [henkiloList]="henkilot">
    </app-varda-henkilo-list>
    <mat-paginator *ngIf="searchFilter.count"
                   [disabled]="isLoading | async"
                   [length]="searchFilter.count"
                   [pageSize]="searchFilter.page_size"
                   [pageIndex]="searchFilter.page - 1"
                   (page)="searchHenkilot($event)">
    </mat-paginator>
  </ng-container>

</section>
