.varda-henkilo-list-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    font-size: 0.87rem;
    overflow: auto;
    max-height: 250px;
    padding-top: 5px;
}

.henkilo-list-details {
    display: flex;
    justify-content: center;
    font-size: 0.75rem;
    color: #9a9a9a;
    margin-top: 2px;
}

.varda-henkilo-list-wrapper,
.henkilo-list-group-info {
    display: flex;
    justify-content: center;
}

.varda-henkilo-list-list-content {
    font-size: 0.87rem;
    width: 100%;
    display: table;
    border-collapse: separate;
    border-spacing: 0 5px;
}

.varda-entity-list-item {
  display: table-row-group;
}

.henkilo-list-group {
    margin-bottom: 20px;
}

.henkilo-list-group-info > div:first-child {
    flex: 0 1 200px;
}

.henkilo-list-group-info > div:nth-child(2) {
    flex: 0 1 30px;
}

.varda-henkilo-list-add-henkilo-section {
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center
}

.varda-henkilo-list-add-henkilo-btn-wrapper,
.varda-henkilo-list-no-results {
    display: flex;
    justify-content: center
}

.varda-henkilo-list-no-results p {
   font-size: 0.8rem;
   font-weight: bold;
}

.varda-add-henkilo-button {
    box-shadow: none;
    border-radius: 2px;
    font-size: 0.8rem;
}

.varda-add-henkilo-button span {
    margin-right: 5px;
}

@media (max-width: 800px) {

    .varda-henkilo-list-list-content {
        padding: 5px;
    }

    .henkilo-list-group-info {
        justify-content: flex-start;
    }
}

@media (max-width: 652px) {
  .varda-add-henkilo-button {
    width: 310px;
  }
  .varda-henkilo-list-add-henkilo-section {
    justify-content: flex-start;
  }
}
@media (max-width: 450px) {
  .varda-add-henkilo-button {
    width: 100%;
  }
  .varda-henkilo-list-add-henkilo-btn-wrapper {
    width: 100%;
  }
}
