<div class="varda-list"
     id="henkiloListScrollWrapper">
  <div class="varda-list-content varda-list-content-scrollable">
    <div class="oph-error"
         *ngIf="henkilot && henkilot.length === 0 && henkiloSearchValue && henkiloSearchValue.searchValue !== ''">
      <p>{{'alert.henkilo-search-not-found-in-toimipaikka' | translate}}</p>
    </div>

    <div class="varda-list-item-outside"
         *ngFor="let item of henkilot"
         aria-live="polite">
      <app-varda-henkilo-item [henkiloItem]="item"
                              [activeHenkiloItemId]="activeHenkiloItemId"
                              (editHenkiloItem)="editHenkilo($event)"></app-varda-henkilo-item>
    </div>
  </div>
  <div *ngIf="toimipaikkaAccess.lapsitiedot.tallentaja" class="varda-henkilo-list-content-button-wrapper">
    <button class="varda-button varda-button-wide responsive-md"
            (click)="addHenkilo()"
            id="addHenkiloBtn">
      + {{'label.add-lapsi' | translate}}
    </button>
  </div>
</div>
<app-varda-modal-form [identifier]="'henkiloModal'"
                      [isLg]="true"
                      [modalTitle]="activeHenkiloItemId"
                      [openModal]="henkiloFormOpen"
                      [closeWithoutConfirm]="confirmedHenkiloFormLeave"
                      (events)="handleFormClose($event)">
  <app-varda-henkilo-form *ngIf="henkiloFormOpen"
                          [henkilo]="activeHenkiloItem"
                          (createHenkilo)="onHenkiloAdded($event)"
                          (updateLapsi)="onLapsiUpdated($event)"
                          (deleteLapsi)="onLapsiDeleted($event)"
                          (valuesChanged)="henkiloFormValuesChanged($event)"></app-varda-henkilo-form>
</app-varda-modal-form>
<app-varda-success-modal [identifier]="'lapsiSuccessModal'"
                         [successTitle]="'alert.modal-generic-save-success'"></app-varda-success-modal>
