<mat-expansion-panel class="vakasuhde-panel">
  <mat-expansion-panel-header class="toimipaikan-lapset-header">
    <mat-panel-title>
      <h3 class="toimipaikan-lapset-font-blue">
        <table class="toimipaikan-lapset-header-table">
          <tr>
            <td>
              <span>{{'label.varhaiskasvatussuhde' | translate}}</span>
            </td>
            <td>
              <span *ngIf="vakasuhde.paattymis_pvm">{{vakasuhde.alkamis_pvm | date:'d.M.yyyy'}}-{{vakasuhde.paattymis_pvm | date:'d.M.yyyy'}}</span>
              <span *ngIf="!vakasuhde.paattymis_pvm">{{'label.alkaen' | translate:{value: vakasuhde.alkamis_pvm | date:'d.M.yyyy'} }}</span>
            </td>
          </tr>
        </table>
      </h3>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <table class="mat-table toimipaikan-lapset-table toimipaikan-lapset-vakatable">
    <tr class="mat-header-row">
      <td class="mat-cell">{{'label.toimipaikka' | translate}}</td>
      <td class="mat-cell">{{vakasuhde.toimipaikka_nimi}}</td>
    </tr>
    <tr class="mat-header-row">
      <td class="mat-cell">{{'label.alkamis_pvm' | translate}}</td>
      <td class="mat-cell">{{vakasuhde.alkamis_pvm | date:'d.M.yyyy'}}</td>
    </tr>
    <tr class="mat-header-row">
      <td class="mat-cell">{{'label.paattymis_pvm' | translate}}</td>
      <td class="mat-cell">{{vakasuhde.paattymis_pvm | date:'d.M.yyyy'}}</td>
    </tr>
  </table>
</mat-expansion-panel>
