<ng-container *ngIf="poissaoloForm">
  <div class="tyoskentelypaikka poissaolo">
    <mat-expansion-panel [expanded]="expandPanel"
                         (opened)="togglePanel(true)"
                         (closed)="togglePanel(false)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span *ngIf="poissaolo; else addPoissaolo">
            {{ i18n.poissaolo | translate }}
            {{poissaolo.alkamis_pvm | vardaDate }} - {{poissaolo.paattymis_pvm | vardaDate }}
          </span>
          <ng-template #addPoissaolo>
            <span>{{ i18n.palvelussuhde_lisaa_poissaolo | translate }}</span>
          </ng-template>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="poissaoloForm"
            autocomplete="off"
            (submit)="savePoissaolo(poissaoloForm)">
        <app-varda-form-field name="alkamis_pvm"
                              [form]="poissaoloForm"
                              [label]="i18n.poissaolo_alkamis_pvm | translate"
                              [errorText]="i18n.poissaolo_error_alkamis_pvm | translate"
                              [errorMap]="[
                              { key: 'matDatepickerMin', value: i18n.poissaolo_error_min_alkamis_pvm },
                              { key: 'matDatepickerMax', value: i18n.poissaolo_error_max_alkamis_pvm }
                              ]"
                              [instructionText]="i18n.poissaolo_instruction_alkamis_pvm | translate">
          <app-varda-datepicker #fieldItem
                                [min]="startDateRange.min"
                                [max]="startDateRange.max"
                                (dateChange)="startDateChange($event.value)"
                                formControlName='alkamis_pvm'></app-varda-datepicker>
        </app-varda-form-field>

        <app-varda-form-field name="paattymis_pvm"
                              [form]="poissaoloForm"
                              [label]="i18n.poissaolo_paattymis_pvm | translate"
                              [errorText]="i18n.poissaolo_error_paattymis_pvm | translate"
                              [errorMap]="[
                              { key: 'matDatepickerMin', value: i18n.poissaolo_error_min_paattymis_pvm },
                              { key: 'matDatepickerMax', value: i18n.poissaolo_error_max_paattymis_pvm }
                              ]"
                              [instructionText]="i18n.poissaolo_instruction_paattymis_pvm | translate">
          <app-varda-datepicker #fieldItem
                                [min]="endDateRange.min"
                                formControlName='paattymis_pvm'></app-varda-datepicker>
        </app-varda-form-field>

        <app-varda-error-field [errors]="poissaoloFormErrors"></app-varda-error-field>

        <app-varda-action-row [saveDisabled]="poissaoloForm.pristine || (isSubmitting | async)"
                              [saveAccess]="toimipaikkaAccess?.tyontekijatiedot.tallentaja"
                              [formExists]="!!poissaolo"
                              [isEdit]="isEdit"
                              (togglePanel)="togglePanel($event)"
                              (deleteForm)="deletePoissaolo()"
                              (enableEdit)="enableForm()"></app-varda-action-row>
      </form>
    </mat-expansion-panel>
  </div>
</ng-container>
