<main class="puutteelliset-tiedot-section">
  <mat-button-toggle-group class="puutteelliset-navi"
                           aria-role="navigation"
                           name="henkiloSection"
                           [value]="activeSection"
                           [attr.aria-label]="i18n.tiedonsiirrot_navigointi_label | translate">
    <mat-button-toggle *ngIf="showToimipaikat"
                       routerLink="."
                       [fragment]="'toimipaikat'"
                       value="toimipaikat">
      <mat-icon aria-ignore>home</mat-icon>
      {{ i18n.toimipaikka_plural | translate }}
    </mat-button-toggle>
    <mat-button-toggle *ngIf="showLapset"
                       routerLink="."
                       [fragment]="'lapset'"
                       value="lapset">
      <mat-icon aria-ignore>child_friendly</mat-icon>
      {{ i18n.henkilo_lapset | translate }}
    </mat-button-toggle>
    <mat-button-toggle *ngIf="showTyontekijat"
                       routerLink="."
                       [fragment]="'tyontekijat'"
                       value="tyontekijat">
      <mat-icon aria-ignore>group</mat-icon>
      {{ i18n.henkilo_tyontekijat | translate }}
    </mat-button-toggle>
  </mat-button-toggle-group>

  <div class="raportit-info varda-info">
    {{ i18n.puutteelliset_tiedot_instruction_paragraph_1 | translate }}<br />
    {{ i18n.puutteelliset_tiedot_instruction_paragraph_2 | translate }}
  </div>

  <div class="henkilo-sections"
       aria-live="polite"
       role="region">
    <app-varda-puutteelliset-tyontekijat *ngIf="activeSection === 'tyontekijat' && showTyontekijat"
                                         [selectedVakajarjestaja]="selectedVakajarjestaja"
                                         (openHenkiloForm)="openHenkilo($event)"></app-varda-puutteelliset-tyontekijat>
    <app-varda-puutteelliset-lapset *ngIf="activeSection === 'lapset' && showLapset"
                                    [selectedVakajarjestaja]="selectedVakajarjestaja"
                                    (openHenkiloForm)="openHenkilo($event)"></app-varda-puutteelliset-lapset>
    <app-varda-puutteelliset-toimipaikat *ngIf="activeSection === 'toimipaikat' && showToimipaikat"
                                         [selectedVakajarjestaja]="selectedVakajarjestaja"
                                         (openToimipaikkaForm)="openToimipaikka($event)"></app-varda-puutteelliset-toimipaikat>
  </div>

  <app-varda-modal-form [identifier]="'henkiloModal'"
                        [isLg]="true"
                        [openModal]="!!activeHenkilo"
                        [closeWithoutConfirm]="confirmedFormLeave"
                        (events)="handleFormClose($event)">
    <app-varda-henkilo-form *ngIf="!!activeHenkilo"
                            [henkilonSuhde]="activeHenkilo"
                            (closeHenkiloForm)="handleFormClose('hidden')"
                            (valuesChanged)="formValuesChanged($event)"></app-varda-henkilo-form>
  </app-varda-modal-form>
  <app-varda-modal-form [identifier]="'toimipaikkaModal'"
                        [isLg]="true"
                        [openModal]="!!activeToimipaikka"
                        [closeWithoutConfirm]="confirmedFormLeave"
                        (events)="handleFormClose($event)">
    <app-varda-toimipaikka-form *ngIf="!!activeToimipaikka"
                                [toimipaikka]="activeToimipaikka"
                                (valuesChanged)="formValuesChanged($event)"></app-varda-toimipaikka-form>
  </app-varda-modal-form>
</main>
