<div class="full-width-row">
  <div class="col-md-auto">
    <button class="varda-button varda-icon-button"
            type="button"
            routerLink="new">
      <mat-icon alt="">add</mat-icon>
      {{i18n.excel_new | translate}}
    </button>
  </div>
  <div class="modal-form-intro col-12 margin-top-large">
    {{ i18n.excel_instructions | translate }}
  </div>
  <div class="col-12 margin-top">
    <div class="full-width-row excel-list-container">
      <div class="col-auto">
        <h2 class="oph-bold">{{i18n.excel_existing | translate}}</h2>
      </div>
      <div class="col">
        <button class="varda-button varda-icon-button secondary refresh-button"
                *ngIf="resultCount !== 0"
                (click)="getExcelReportList()"
                [disabled]="isLoading">
          <mat-icon alt="">refresh</mat-icon>
          {{i18n.excel_refresh | translate}}
        </button>
      </div>
    </div>
    <div class="table-responsive" *ngIf="resultCount !== 0">
      <table mat-table class="excel-table" [dataSource]="excelReportList">
        <ng-container matColumnDef="reportType">
          <th mat-header-cell *matHeaderCellDef>{{i18n.excel_report_type | translate }}</th>
          <td mat-cell *matCellDef="let excelReport">{{getReportTypeTranslationKey(excelReport.report_type) | translate}}</td>
        </ng-container>
        <ng-container matColumnDef="targetDate">
          <th mat-header-cell *matHeaderCellDef>{{i18n.excel_target_date | translate}}</th>
          <td mat-cell *matCellDef="let excelReport">
            <ng-container *ngIf="excelReport.target_date">{{excelReport.target_date | vardaDate}}</ng-container>
            <ng-container *ngIf="excelReport.target_date_start && excelReport.target_date_end">{{excelReport.target_date_start | vardaDate}} - {{excelReport.target_date_end | vardaDate}}</ng-container>
        </ng-container>
        <ng-container matColumnDef="toimipaikka">
          <th mat-header-cell *matHeaderCellDef>{{i18n.toimipaikka | translate }}</th>
          <td mat-cell *matCellDef="let excelReport">{{excelReport.toimipaikka_nimi}}</td>
        </ng-container>
        <ng-container matColumnDef="timestamp">
          <th mat-header-cell *matHeaderCellDef>{{i18n.excel_timestamp | translate }}</th>
          <td mat-cell *matCellDef="let excelReport">{{excelReport.timestamp | vardaLongDate}}</td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>{{i18n.status | translate }}</th>
          <td mat-cell *matCellDef="let excelReport">{{getReportStatusTranslationKey(excelReport.status) | translate}}</td>
        </ng-container>
        <ng-container matColumnDef="password">
          <th mat-header-cell *matHeaderCellDef>{{i18n.excel_password | translate }}</th>
          <td mat-cell *matCellDef="let excelReport" class="password-input">
            <mat-form-field *ngIf="excelReport.status === ReportStatus.FINISHED && excelReport.password" class="excel-password-field">
              <input #passwordInput disabled matInput type="password" [value]="excelReport.password">
              <button mat-icon-button matSuffix (click)="passwordInput.type = passwordInput.type === 'password' ? 'text' : 'password'">
                <mat-icon>{{passwordInput.type === 'password' ? 'visibility' : 'visibility_off' }}</mat-icon>
              </button>
              <button class="password-copy-button" mat-icon-button matSuffix (click)="copyToClipboard(excelReport.password)">
                <mat-icon>content_copy</mat-icon>
              </button>
            </mat-form-field>
          </td>
        </ng-container>
        <ng-container matColumnDef="download">
          <th mat-header-cell *matHeaderCellDef class="download-cell">{{i18n.excel_actions | translate }}</th>
          <td mat-cell *matCellDef="let excelReport" class="download-cell">
            <button *ngIf="excelReport.status === ReportStatus.FINISHED"
                    class="varda-button varda-icon-button"
                    #downloadButton
                    (click)="downloadReport(excelReport.id, downloadButton)">
              <mat-icon alt="">download</mat-icon>
              {{i18n.excel_download | translate}}
            </button>
            <mat-progress-bar *ngIf="excelReport.status === ReportStatus.PENDING ||
                                     excelReport.status === ReportStatus.CREATING"
                              mode="indeterminate"
                              class="varda-theme">
            </mat-progress-bar>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
        <tr mat-row *matRowDef="let excelReport; columns: tableColumns;"></tr>
      </table>
    </div>
    <mat-paginator *ngIf="resultCount > paginatorParams.page_size"
                   [disabled]="isLoading"
                   [length]="resultCount"
                   [pageSize]="paginatorParams.page_size"
                   [pageIndex]="paginatorParams.page - 1"
                   (page)="getExcelReportList($event)">
    </mat-paginator>
    <p *ngIf="resultCount === 0" class="margin-top">{{i18n.excel_none | translate}}</p>
  </div>
</div>
