th {
  overflow-x: hidden;
}

th.timestamp {
  width: fit-content;
  max-width: 200px;
}

th button .material-icons {
  position: relative;
  top: -1px;
  margin-left: 0.25rem;
}

app-tiedonsiirto-filter-header .oph-input {
  min-width: 150px;
  max-width: calc(100% - 80px);
}

app-varda-datepicker {
  display: block;
  min-width: 150px;
}
