<div class="table-responsive">
  <table class="henkilo-list">
    <tbody>
      <ng-container *ngFor="let henkilo of henkiloList">
        <ng-container *ngIf="henkiloRooli === 'lapsi'">
          <tr class="henkilo-list-item"
              tabindex="0"
              [class.disabled]="henkilo.expanded"
              (keydown.enter)="clickItem(henkilo)"
              (click)="clickItem(henkilo)">
            <td>
              <mat-icon *ngIf="henkilo.lapset.length === 1">perm_identity</mat-icon>
              <mat-icon *ngIf="henkilo.lapset.length > 1 && !henkilo.expanded">add</mat-icon>
            </td>
            <td>
              {{ henkilo.sukunimi }} {{ henkilo.etunimet }}
              <span *ngIf="henkilo.lapset?.length > 1">({{henkilo.lapset.length}})</span>
            </td>
            <td>
              <i *ngIf="henkilo.lapset?.length === 1">
                {{ getPaosText(henkilo.lapset[0]) }}
              </i>
            </td>
          </tr>

          <ng-container *ngIf="henkilo.expanded">
            <tr class="henkilo-list-item sub-item"
                tabindex="0"
                (keydown.enter)="openItem(lapsi, henkilo)"
                (click)="openItem(lapsi, henkilo)"
                *ngFor="let lapsi of henkilo.lapset">
              <td>
                <mat-icon alt="">perm_identity</mat-icon>
              </td>
              <td>{{ henkilo.sukunimi }} {{ henkilo.etunimet }}</td>
              <td><i>{{ getPaosText(lapsi) }}</i></td>
            </tr>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="henkiloRooli === 'tyontekija'">
          <ng-container *ngFor="let tyontekija of henkilo.tyontekijat">
            <tr class="henkilo-list-item"
                tabindex="0"
                (keydown.enter)="clickItem(henkilo)"
                (click)="clickItem(henkilo)">
              <td>
                <mat-icon alt="">perm_identity</mat-icon>
              </td>
              <td>{{ henkilo.sukunimi }} {{ henkilo.etunimet }}</td>
              <td *ngIf="tyontekija.is_missing_data"
                  class="henkilo-warning">
                <mat-icon alt="">error_outline</mat-icon>
                {{ i18n.henkilo_tyontekija_tiedot_puuttuu | translate }}
              </td>
              <td *ngIf="tyontekija.tehtavanimikkeet?.length > 0">
                <div *ngFor="let koodi of tyontekija.tehtavanimikkeet; let index = index; let last = last">
                    <span *ngIf="index < 2"
                          libKoodistoValue="vardatehtavanimike">{{ koodi }}</span>
                  <span *ngIf="index === 1 && !last"> (+{{tyontekija.tehtavanimikkeet.length - 2}})</span>
                </div>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </ng-container>
    </tbody>
  </table>
</div>
