<div class="koodisto-detail-header">
  <h2>{{selectedKoodistoName}}</h2>
  @if (isValidKoodistoName) {
    <p
      class="koodisto-version">
      {{ translation.koodistot_version | translate}}: {{version}}
    </p>
  }
  @if (isValidKoodistoName) {
    <p
      class="koodisto-update-date">
      {{ translation.koodistot_updated| translate}}: {{update_datetime.toFormat('dd.MM.yyyy')}}
    </p>
  }
</div>
@if (!isValidKoodistoName) {
  <hr>
  }
  @if (!isValidKoodistoName) {
    <p>{{ translation.koodistot_invalid_koodisto_name | translate}}</p>
  }
  @if (isValidKoodistoName && !(isExtraSmall | async)) {
    <div class="table-responsive koodisto-table">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">{{ translation.koodistot_code | translate}}</th>
            <th scope="col">{{ translation.koodistot_name | translate}}</th>
            <th scope="col">{{ translation.koodistot_description | translate}}</th>
          </tr>
        </thead>
        <tbody>
          @for (code of codes; track code) {
            @if (showSubheader(code)) {
              <tr>
                <td colspan="3" class="koodisto-table-subheading">
                  {{getSubheaderTranslationKey(code) | translate}}
                </td>
              </tr>
            }
            <tr>
              <td>{{code.code_value}}</td>
              <td>{{code.name}}</td>
              <td>{{code.description}}</td>
            </tr>
          }
          @if (codesPassive.length > 0) {
            <tr class="koodisto-passive-header">
              <td colspan="3">{{ translation.koodistot_passive | translate }}</td>
            </tr>
            @for (code of codesPassive; track code) {
              <tr class="koodisto-passive">
                <td>{{code.code_value}}</td>
                <td>{{code.name}}</td>
                <td>{{code.description}}</td>
              </tr>
            }
          }
        </tbody>
      </table>
    </div>
  }
  @if (isExtraSmall | async) {
    <div class="koodisto-small-wrapper">
      @for (code of codes; track code) {
        @if (showSubheader(code)) {
          <div
            class="koodisto-table-small-subheading">
            {{getSubheaderTranslationKey(code) | translate}}
          </div>
        }
        <div class="table-responsive">
          <table class="table table-borderless koodisto-table-small">
            <tbody>
              <tr>
                <th scope="row">{{ translation.koodistot_code | translate}}</th>
                <td>{{code.code_value}}</td>
              </tr>
              <tr>
                <th scope="row">{{ translation.koodistot_name | translate}}</th>
                <td>{{code.name}}</td>
              </tr>
              <tr>
                <th scope="row">{{ translation.koodistot_description | translate}}</th>
                <td>{{code.description}}</td>
              </tr>
            </tbody>
          </table>
          <hr>
          </div>
        }
        @if (codesPassive.length > 0) {
          <p class="koodisto-passive-header">{{ translation.koodistot_passive | translate }}</p>
          @for (code of codesPassive; track code) {
            <div class="table-responsive">
              <table class="table table-borderless koodisto-table-small koodisto-passive">
                <tbody>
                  <tr>
                    <th scope="row">{{ translation.koodistot_code | translate}}</th>
                    <td>{{code.code_value}}</td>
                  </tr>
                  <tr>
                    <th scope="row">{{ translation.koodistot_name | translate}}</th>
                    <td>{{code.name}}</td>
                  </tr>
                  <tr>
                    <th scope="row">{{ translation.koodistot_description | translate}}</th>
                    <td>{{code.description}}</td>
                  </tr>
                </tbody>
              </table>
              <hr>
              </div>
            }
          }
        </div>
      }
