.form-error-list {
  position: relative;
  background-color: var(--red-lighten-2);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}
.warning-icon {
  position: absolute;
  top: 0.8rem;
  left: 1rem;
}

ul {
  margin-left: 1rem;
  margin-bottom: 0;
}
