<ng-container *ngIf="formGroup">
  <div [id]="'varhaiskasvatussuhde_' + varhaiskasvatussuhde?.id"
       class="tyoskentelypaikka">
    <app-robo-id [tunniste]="varhaiskasvatussuhde?.id"
                 nimi="varhaiskasvatussuhde"
                 [alkamis_pvm]="varhaiskasvatussuhde?.alkamis_pvm"
                 [paattymis_pvm]="varhaiskasvatussuhde?.paattymis_pvm"></app-robo-id>

    <mat-expansion-panel #matPanel
                         (opened)="togglePanel(true)"
                         (closed)="togglePanel(false)">
      <mat-expansion-panel-header>
        <mat-panel-title *ngIf="varhaiskasvatussuhde">
          <h4>
            <app-varda-form-error-icon [errors]="errorList"></app-varda-form-error-icon>
            <span appToimipaikkaNimi>
              {{ varhaiskasvatussuhde.toimipaikka_oid }}
            </span>
            <span *ngIf="!varhaiskasvatussuhde.paattymis_pvm">
              {{ i18n.tyoskentelypaikka_alkaen_PVM | translate: {pvm: varhaiskasvatussuhde.alkamis_pvm | vardaDate} }}
            </span>
            <span *ngIf="varhaiskasvatussuhde.paattymis_pvm">
              {{varhaiskasvatussuhde.alkamis_pvm | vardaDate}} -
              {{varhaiskasvatussuhde.paattymis_pvm | vardaDate}}
            </span>
          </h4>
        </mat-panel-title>
        <mat-panel-title *ngIf="!varhaiskasvatussuhde">
          <h4>{{ i18n.varhaiskasvatuspaatos_lisaa_varhaiskasvatussuhde | translate }}</h4>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <form [formGroup]="formGroup"
            (submit)="saveVarhaiskasvatussuhde(formGroup)">
        <app-varda-form-error-list [errors]="errorList"></app-varda-form-error-list>
        <app-varda-form-field name="toimipaikka_oid"
                              [form]="formGroup"
                              [label]="i18n.varhaiskasvatussuhde_toimipaikka | translate"
                              [errorText]="i18n.varhaiskasvatussuhde_error_toimipaikka | translate"
                              [instructionText]="i18n.varhaiskasvatussuhde_instruction_toimipaikka | translate">
          <div *ngIf="varhaiskasvatussuhde; else toimipaikkaSelector"
               class="my-3"
               appToimipaikkaNimi>
            {{ varhaiskasvatussuhde.toimipaikka_oid }}
          </div>

          <ng-template #toimipaikkaSelector>
            <select #fieldItem
                    *ngIf="!formGroup.controls.toimipaikka_oid.disabled"
                    class="oph-input oph-select"
                    formControlName="toimipaikka_oid">
              <option [value]="null"
                      disabled>-- {{ i18n.choose | translate }} --</option>
              <option *ngFor="let toimipaikka of toimipaikat"
                      [value]="toimipaikka.organisaatio_oid">
                {{ toimipaikka.nimi }}
              </option>
            </select>
          </ng-template>
        </app-varda-form-field>
        <app-varda-form-field name="alkamis_pvm"
                              [form]="formGroup"
                              [label]="i18n.varhaiskasvatussuhde_alkamis_pvm | translate"
                              [errorText]="i18n.varhaiskasvatussuhde_error_alkamis_pvm | translate"
                              [errorMap]="[
                                { key: 'required', value: i18n.varhaiskasvatussuhde_error_alkamis_pvm },
                                { key: 'matDatepickerMin', value: i18n.varhaiskasvatussuhde_error_min_alkamis_pvm },
                                { key: 'matDatepickerMax', value: i18n.varhaiskasvatussuhde_error_max_alkamis_pvm },
                                { key: 'matDatepickerParse', value: i18n.katsele_tietoja_error_date_format }
                              ]"
                              [instructionText]="i18n.varhaiskasvatussuhde_instruction_alkamis_pvm | translate">
          <app-varda-datepicker #fieldItem
                                [min]="startDateRange.min"
                                [max]="startDateRange.max"
                                (dateChange)="startDateChange($event.value)"
                                formControlName='alkamis_pvm'></app-varda-datepicker>
        </app-varda-form-field>

        <app-varda-form-field name="paattymis_pvm"
                              [form]="formGroup"
                              [label]="i18n.varhaiskasvatussuhde_paattymis_pvm | translate"
                              [errorText]="i18n.varhaiskasvatussuhde_error_paattymis_pvm | translate"
                              [errorMap]="[
                                { key: 'matDatepickerMin', value: i18n.varhaiskasvatussuhde_error_min_paattymis_pvm },
                                { key: 'matDatepickerMax', value: i18n.varhaiskasvatussuhde_error_max_paattymis_pvm },
                                { key: 'matDatepickerParse', value: i18n.katsele_tietoja_error_date_format }
                              ]"
                              [instructionText]="i18n.varhaiskasvatussuhde_instruction_paattymis_pvm | translate">
          <app-varda-datepicker #fieldItem
                                [min]="endDateRange.min"
                                [max]="endDateRange.max"
                                formControlName='paattymis_pvm'></app-varda-datepicker>
        </app-varda-form-field>

        <app-varda-error-field [errors]="varhaiskasvatussuhdeFormErrors"></app-varda-error-field>

        <app-varda-action-row [saveDisabled]="formGroup.pristine || isSubmitting"
                              [saveAccess]="lapsitiedotTallentaja"
                              [formExists]="!!varhaiskasvatussuhde"
                              [isEdit]="isEdit"
                              (togglePanel)="togglePanel($event)"
                              (deleteForm)="deleteVarhaiskasvatussuhde()"
                              (enableEdit)="enableForm()"></app-varda-action-row>
      </form>
    </mat-expansion-panel>
  </div>
</ng-container>
