<mat-expansion-panel class="maksutieto-panel">
  <mat-expansion-panel-header class="toimipaikan-lapset-header">
    <mat-panel-title>{{'label.maksutieto' | translate}}</mat-panel-title>
    <mat-panel-description>
      {{getDateRangeDisplayValue(maksutieto.alkamis_pvm, maksutieto.paattymis_pvm)}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="table-responsive">
    <table class="mat-table">
      <tr class="mat-header-row">
        <th scope="row" class="mat-header-cell">{{i18n.id | translate}}</th>
        <td class="mat-cell">{{maksutieto.id}}</td>
      </tr>
      <tr class="mat-header-row">
        <th scope="row" class="mat-header-cell">{{'label.maksutieto.maksunperuste' | translate}}</th>
        <td class="mat-cell" [libKoodistoValue]="koodistoEnum.maksunperuste" format="long">
          {{maksutieto.maksun_peruste_koodi}}
        </td>
      </tr>
      <tr class="mat-header-row" *ngIf="!isYksityinen">
        <th scope="row" class="mat-header-cell">{{'label.maksutieto.palvelusetelin_arvo_euroina' | translate}}</th>
        <td class="mat-cell">{{maksutieto.palveluseteli_arvo}}</td>
      </tr>
      <tr class="mat-header-row">
        <th scope="row" class="mat-header-cell">{{'label.maksutieto.asiakasmaksu_euroina' | translate}}</th>
        <td class="mat-cell">{{maksutieto.asiakasmaksu}}</td>
      </tr>
      <tr class="mat-header-row" *ngIf="!isYksityinen">
        <th scope="row" class="mat-header-cell">{{'label.maksutieto.perheen_koko' | translate}}</th>
        <td class="mat-cell">{{maksutieto.perheen_koko}}</td>
      </tr>
      <tr class="mat-header-row">
        <th scope="row" class="mat-header-cell">{{'label.maksutieto.alkamis_pvm' | translate}}</th>
        <td class="mat-cell">{{maksutieto.alkamis_pvm | date:'d.M.yyyy'}}</td>
      </tr>
      <tr class="mat-header-row">
        <th scope="row" class="mat-header-cell">{{'label.maksutieto.paattymis_pvm' | translate}}</th>
        <td class="mat-cell">{{maksutieto.paattymis_pvm | date:'d.M.yyyy'}}</td>
      </tr>
    </table>
  </div>
  <div class="huoltajat-container">
    <h3 class="oph-bold">
      <span>{{'label.huoltajat' | translate}}</span>
    </h3>
    <div class="table-responsive"
         *ngFor="let huoltaja of maksutieto.huoltajat; let i = index;"
         [class.margin-top]="i !== 0">
      <table class="mat-table">
        <tr class="mat-header-row">
          <th scope="row" class="mat-header-cell">{{'label.oppijanumero' | translate}}</th>
          <td class="mat-cell">{{huoltaja.henkilo_oid}}</td>
        </tr>
        <tr class="mat-header-row">
          <th scope="row" class="mat-header-cell">{{'label.firstnamesbyseparated' | translate}}</th>
          <td class="mat-cell">{{huoltaja.etunimet}}</td>
        </tr>
        <tr class="mat-header-row">
          <th scope="row" class="mat-header-cell">{{'label.lastname' | translate}}</th>
          <td class="mat-cell">{{huoltaja.sukunimi}}</td>
        </tr>
      </table>
    </div>
  </div>
</mat-expansion-panel>
