<ng-container *ngIf="taydennyskoulutusList">
  <mat-expansion-panel class="palvelussuhteet mt-4 main-section"
                       (opened)="togglePanel(true)"
                       (closed)="togglePanel(false)"
                       [expanded]="expandPanel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2 class="varda-fieldset-legend">{{ i18n.taydennyskoulutukset | translate }} <span
                *ngIf="taydennyskoulutusList.length">({{ taydennyskoulutusList.length }})</span></h2>
      </mat-panel-title>
      <ng-container *ngIf="toimipaikkaAccess?.taydennyskoulutustiedot.tallentaja">
        <mat-panel-description *ngIf="taydennyskoulutusList.length">
          <button class="varda-text-button" id="add-taydennyskoulutus"
                  (keydown.enter)="initObject()"
                  (click)="initObject()">
            <mat-icon class="d-none d-md-inline-block" alt="">assignment_outline</mat-icon>
            <mat-icon alt="">add</mat-icon>{{ i18n.taydennyskoulutukset_lisaa_taydennyskoulutus | translate }}
          </button>
        </mat-panel-description>
      </ng-container>
    </mat-expansion-panel-header>

    <div class="tyontekija-panel-content tyontekija-panel-content-first">
      <ng-container *ngIf="!toimipaikkaAccess.taydennyskoulutustiedot.katselija">
        <div class="ei-palvelussuhteita"
             role="alert">
          <p>{{ i18n.taydennyskoulutukset_ei_oikeuksia | translate }}</p>
        </div>
      </ng-container>

      <ng-container *ngIf="toimipaikkaAccess.taydennyskoulutustiedot.katselija">
        <div *ngIf="!taydennyskoulutusList.length"
             class="ei-palvelussuhteita"
             role="alert">
          <p>{{ i18n.taydennyskoulutukset_ei_taydennyskoulutuksia | translate }}</p>

          <ng-container *ngIf="toimipaikkaAccess?.taydennyskoulutustiedot.tallentaja">
            <button class="varda-text-button" id="add-taydennyskoulutus-empty"
                    *ngIf="!addObjectBoolean"
                    (click)="initObject()">
              <mat-icon alt="">add</mat-icon>{{ i18n.taydennyskoulutukset_lisaa_taydennyskoulutus | translate }}
            </button>
          </ng-container>
        </div>

        <mat-accordion>
          <app-varda-tyontekija-taydennyskoulutus *ngFor="let taydennyskoulutus of taydennyskoulutusList | slice:0:numberOfDisplayed"
                                                  [toimipaikkaAccess]="toimipaikkaAccess"
                                                  [taydennyskoulutus]="taydennyskoulutus"
                                                  [tehtavanimikeOptions]="tehtavanimikeOptions"
                                                  (addObject)="addTaydennyskoulutus($event)"
                                                  (deleteObject)="deleteTaydennyskoulutus($event)">
          </app-varda-tyontekija-taydennyskoulutus>
          <app-varda-show-more-less *ngIf="taydennyskoulutusList" [showMoreKey]="i18n.taydennyskoulutukset_show_more"
                                    [(numberOfDisplayed)]="numberOfDisplayed" [numberOfItems]="taydennyskoulutusList.length">
          </app-varda-show-more-less>
          <app-varda-tyontekija-taydennyskoulutus *ngIf="addObjectBoolean && toimipaikkaAccess.taydennyskoulutustiedot.tallentaja"
                                                  [toimipaikkaAccess]="toimipaikkaAccess"
                                                  [tehtavanimikeOptions]="tehtavanimikeOptions"
                                                  (addObject)="addTaydennyskoulutus($event)"
                                                  (deleteObject)="deleteTaydennyskoulutus($event)"
                                                  (closeEmitter)="hideAddObject()">
          </app-varda-tyontekija-taydennyskoulutus>
        </mat-accordion>
      </ng-container>
    </div>
  </mat-expansion-panel>
</ng-container>
