<ng-container *ngIf="taydennyskoulutukset">
  <mat-expansion-panel class="palvelussuhteet mt-4 main-section"
                       (opened)="togglePanel(true)"
                       (closed)="togglePanel(false)"
                       [expanded]="expandPanel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2 class="varda-fieldset-legend">{{ i18n.taydennyskoulutukset | translate }} <span
                *ngIf="taydennyskoulutukset?.length">({{ taydennyskoulutukset.length }})</span></h2>
      </mat-panel-title>
      <ng-container *ngIf="toimipaikkaAccess?.taydennyskoulutustiedot.tallentaja">
        <mat-panel-description *ngIf="taydennyskoulutukset.length">
          <button class="varda-text-button" id="add-taydennyskoulutus"
                  (keydown.enter)="initTaydennyskoulutus()"
                  (click)="initTaydennyskoulutus()">
            <mat-icon class="d-none d-md-inline-block" alt="">assignment_outline</mat-icon>
            <mat-icon alt="">add</mat-icon>{{ i18n.taydennyskoulutukset_lisaa_taydennyskoulutus | translate }}
          </button>
        </mat-panel-description>
      </ng-container>
    </mat-expansion-panel-header>

    <div class="tyontekija-panel-content tyontekija-panel-content-first">
      <ng-container *ngIf="!toimipaikkaAccess.taydennyskoulutustiedot.katselija">
        <div class="ei-palvelussuhteita"
             role="alert">
          <p>{{ i18n.taydennyskoulutukset_ei_oikeuksia | translate }}</p>
        </div>
      </ng-container>

      <ng-container *ngIf="toimipaikkaAccess.taydennyskoulutustiedot.katselija">
        <div *ngIf="!taydennyskoulutukset.length"
             class="ei-palvelussuhteita"
             role="alert">
          <p>{{ i18n.taydennyskoulutukset_ei_taydennyskoulutuksia | translate }}</p>

          <ng-container *ngIf="toimipaikkaAccess?.taydennyskoulutustiedot.tallentaja">
            <button class="varda-text-button" id="add-taydennyskoulutus-empty"
                    *ngIf="!addTaydennyskoulutus"
                    (click)="initTaydennyskoulutus()">
              <mat-icon alt="">add</mat-icon>{{ i18n.taydennyskoulutukset_lisaa_taydennyskoulutus | translate }}
            </button>
          </ng-container>
        </div>

        <mat-accordion class="">
          <app-varda-tyontekija-taydennyskoulutus *ngFor="let taydennyskoulutus of taydennyskoulutukset"
                                                  [toimipaikkaAccess]="toimipaikkaAccess"
                                                  [tyontekija]="tyontekija"
                                                  [taydennyskoulutus]="taydennyskoulutus"
                                                  [tehtavanimikkeet]="tehtavanimikkeet"
                                                  (closeEmitter)="closeAddTaydennyskoulutus($event)">
          </app-varda-tyontekija-taydennyskoulutus>
          <app-varda-tyontekija-taydennyskoulutus *ngIf="addTaydennyskoulutus && toimipaikkaAccess.taydennyskoulutustiedot.tallentaja"
                                                  [toimipaikkaAccess]="toimipaikkaAccess"
                                                  [tyontekija]="tyontekija"
                                                  [tehtavanimikkeet]="tehtavanimikkeet"
                                                  (closeEmitter)="closeAddTaydennyskoulutus($event, true)">
          </app-varda-tyontekija-taydennyskoulutus>
        </mat-accordion>
      </ng-container>
    </div>
  </mat-expansion-panel>
</ng-container>
