.tyontekija-panel-content {
  padding-left: 5em;
}


mat-panel-description > .varda-text-button .mat-icon:first-child {
  color: black;
  margin-right: 1em;
}


@media (max-width: 576px) {
  .tyontekija-panel-content {
    padding-left: 1em;
  }
}
