
.varda-login-page {
  max-width: 600px;
  margin: 2em auto;
  text-align: center;
}

.varda-login-page > .varda-page-content {
  margin-top: 1em;
  padding: 3em;
}

.varda-login-page > .varda-page-content > button {
  min-width: 150px;
}

.varda-login-page > .varda-page-content > .varda-logout-clear {
    margin-top: 1em;
}
