<div class="varda-main-frame-wrapper">
  <main class="varda-main-frame-section">
      <section class="varda-main-logout-title-section">
        <div class="varda-main-logout-title-section-content" appHighContrast>
          <div></div>
          <div class="varda-main-logout-title-section-title">
            <div><h1 class="section-title">{{'Olet kirjautunut ulos'}}</h1></div>
          </div>
          <div></div>
          <div></div>
        </div>
      </section>
      <section class="varda-main-logout-form-section">
          <div class="varda-main-logout-form-section-content" appHighContrast>
            <div></div>
            <div class="varda-main-logout-form-loginbtn-section">
              <button class="varda-button" type="button" (click)="navigateToLogin($event)">Takaisin sisäänkirjautumiseen</button>
            </div>
            <div></div>
            <div></div>
            <div></div>
            <div><p class="varda-main-logout-form-logout-info">Muista sulkea selaimesi ja tyhjentää selaimesi välimuisti.</p></div>
          </div>
      </section>
  </main>
</div>