<div class="varda-router-outlet-container"
     appHighContrast>
  <div class="varda-login-page">
    <div class="oph-h2 oph-bold"
         aria-live="polite">
      {{'logout-info' | translate}}
    </div>

    <div class="varda-page-content">
      <button class="varda-button responsive-md"
              id="navigateToVardaLoginBtn"
              (click)="navigateToLogin($event)">
        {{'label.action-login' | translate}}
      </button>

      <div class="oph-h4 varda-logout-clear">
        {{'logout-close-and-clear' | translate}}
      </div>

    </div>
  </div>
</div>
