.tiedonsiirto-text-button {
  color: var(--link-color);
  font-weight: bold;
}

.expanded-grid {
  min-width: min(400px, 70vw);
  padding-left: 0.5rem;
}

.tiedonsiirto-error-grid {
  max-width: 100%;
  display: grid;
  grid-template-columns: 40px auto auto 50px;
  grid-template-rows: auto;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  align-items: center;
}

.tiedonsiirto-error-grid button {
  align-self: center;
}

.error-column {
  position: relative;
  min-width: 120px;
}

.error-column > button {
  position: absolute;
  top: 1px;
  right: 12px;
}
