.varda-navbar {
  border-bottom: 2px solid var(--gray-lighten-4);
  padding: 0;
  position: sticky;
  top: var(--virkailija-raami-height);
  z-index: calc(var(--virkailija-z-index) - 1);
  align-items: stretch;
  width: min(100vw, 100%);
  min-height: var(--varda-navi-height);
  user-select: none;
}

.varda-navbar>.navbar-toggler {
  margin: 0.25em 0.5em;
  padding: 0.0em 0.8em;
  color: var(--black);
}

.varda-navbar>.navbar-toggler>.navbar-toggler-text {
  font-size: 1rem;
  text-transform: uppercase;
}


.varda-navbar-toimija {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0.5em;
  overflow-x: hidden;
  flex: 3 1 200px;
}

.varda-navbar-toimija>*:last-child {
  width: calc(100% - 70px);
}

.varda-navbar-links {
  min-width: min(520px, 100%);
  flex: 3 1 520px;
  height: 100%;
  align-items: top;
  overflow-y: hidden;
}

.varda-navbar-links>ul {
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.varda-navbar-links>ul>li {
  height: 3em;
  line-height: 3em;
  padding: 0 0.25em;
}

.varda-navbar-links a,
.varda-navbar-links .varda-text-button {
  color: var(--black);
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

.varda-navbar-links .varda-text-button .mat-icon:last-child {
  height: 24px;
  width: 24px;
  font-size: 24px;
  line-height: 1;
}

.varda-navbar-links a .material-icons:hover {
  text-transform: none;
}

.varda-navbar-links .active-nav-item {
  border-bottom: 2px solid var(--blue-lighten-1);
}

.varda-high-contrast .varda-navbar-links .active-nav-item {
  border-color: var(--black);
}

.warning {
  margin-right: 0.25rem;
  font-size: 1.25rem;
}

.mat-icon-smaller {
  font-size: 20px !important;
}

@media (max-width: 992px) {
  .varda-navbar-toimija>*:last-child {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .varda-navbar-links {
    flex: 1 1 100%;
  }

  .varda-navbar-links .active-nav-item {
    border-bottom: none;
    font-weight: bold;
    background-color: var(--blue-lighten-1);
  }

  .varda-high-contrast .varda-navbar-links .active-nav-item {
    background-color: var(--black);
    color: var(--white) !important;
  }

  .varda-high-contrast .varda-navbar-links .active-nav-item a {
    color: var(--white);
  }


  .varda-navbar-links>ul>li.divider {
    height: 2px;
    margin: 0.25em;
    background-color: var(--gray-lighten-3)
  }

  .varda-navbar-links>ul>li {
    padding: 0 1em;
    height: 2em;
    line-height: 2em;
  }

}

@media (max-width: 450px) {
  .varda-navbar-toimija>label {
    display: none;
  }
}
