.varda-haku-wrapper {
  background-color: #fff;
  padding: 20px 10px 20px 10px;
  width: 80%;
  border-radius: 4px;
  margin: 30px auto;
}

.varda-haku-wrapper > * {
  padding: 0 10px 20px 10px;
}

h2 {
  font-weight: bold;
}

@media (max-width: 680px) {

  .varda-haku-wrapper {
    width: 90%;
  }

}
