<h1 class="varda-page-header">
  {{'label.haku-condition.topic' | translate}}
</h1>
<main class="varda-page-content varda-haku-container">
  <div class="backend-error-container">
    <div class="alert alert-danger varda-form-main-feedback"
         role="alert"
         aria-live="assertive"
         *ngIf="ui.formSaveErrorMsg || ui.formSaveErrors.length">
      <div *ngIf="ui.formSaveErrorMsg">
        {{ui.formSaveErrorMsg}}
      </div>
      <ul>
        <li *ngFor="let error of ui.formSaveErrors">
          {{error.key | translate}}. {{error.msg | translate}}
        </li>
      </ul>
    </div>
  </div>
  <section>
    <app-haku-condition [isLoading]="ui.isLoading" [searchAction]="search.bind(this)"></app-haku-condition>
  </section>
  <section>
    <app-haku-list [searchResult]="searchResult"></app-haku-list>
    <app-varda-list-pagination [prevLink]="prevSearchLink"
                               [nextLink]="nextSearchLink"
                               (prevSearch)="search(null, true)"
                               (nextSearch)="search()"></app-varda-list-pagination>
  </section>
</main>
<lib-loading-indicator *ngIf="ui.isLoading"></lib-loading-indicator>
