<h2 mat-dialog-title>
  <span *ngIf="!data.title">{{ translation.contact_dialog_otsikko | translate }}</span>
  <span *ngIf="data.title">{{ data.title | translate }}</span>
</h2>
<mat-dialog-content class="mat-typography">
  <div class="dialog-content"
       role="dialog-content">
    <ng-container *ngIf="data.content">
      {{ data.content | translate }}
    </ng-container>
    <ng-container *ngIf="data.toimija">
      <div class="jarjestaja">{{ translation.varhaiskasvatussuhteet_jarjestaja | translate }}: {{ data.toimija }}</div>
    </ng-container>
    <ng-container *ngIf="data.email">
      {{ translation.contact_dialog_ota_yhteytta_osoitteeseen | translate: { toimija: data.toimija, email: data.email } }}:
      <address><a [href]="'mailto:'+data.email"
           target="_blank">{{ data.email }}</a></address>
      <span *ngIf="data.toimija"> ({{ data.toimija }})</span>.
      {{ translation.contact_dialog_muista_mainita | translate }}
    </ng-container>

    <ng-container *ngIf="!data.content && !data.email">
      {{ translation.contact_dialog_ota_yhteytta_vakajarjestajaan | translate }}
    </ng-container>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="dialog-button"
          mat-dialog-close>{{ translation.poistu | translate }}</button>
</mat-dialog-actions>
