<div class="varda-instructions-wrapper">
  <div class="varda-instructions-content">

    <!-- Yleiset ohjeet -->
    <a class="varda-instructions-item-level1 varda-instructions-item" target="_blank"
      href="{{'ohjeet.url.confluence' | translate}}#{{'ohjeet.url.yleiset.ohjeet' | translate}}">
      {{'ohjeet.yleiset.ohjeet' | translate}}
    </a>

      <a class="varda-instructions-item-level2 varda-instructions-item" target="_blank"
        href="{{'ohjeet.url.confluence' | translate}}#{{'ohjeet.url.yleiset.sisaankirjautuminen' | translate}}">
        {{'label.instructions.sisaankirjautuminen' | translate}}
      </a>

      <a class="varda-instructions-item-level2 varda-instructions-item" target="_blank"
        href="{{'ohjeet.url.confluence' | translate}}#{{'ohjeet.url.yleiset.unohtunut-kayttajatunnus-tai-salasana' | translate}}">
        {{'label.instructions.unohtunut-kayttajatunnus-tai-salasana' | translate}}
      </a>

      <a class="varda-instructions-item-level2 varda-instructions-item" target="_blank"
        href="{{'ohjeet.url.confluence' | translate}}#{{'ohjeet.url.yleiset.uloskirjautuminen-vardasta' | translate}}">
        {{'label.instructions.uloskirjautuminen-vardasta' | translate}}
      </a>

      <a class="varda-instructions-item-level2 varda-instructions-item" target="_blank"
        href="{{'ohjeet.url.confluence' | translate}}#{{'ohjeet.url.yleiset.kayttajaroolit-ja-oikeudet' | translate}}">
        {{'label.instructions.kayttajaroolit-ja-oikeudet' | translate}}
      </a>

    <!-- Tietojen lisääminen ja muokkaaminen Vardan käyttöliittymän kautta -->
    <a class="varda-instructions-item-level1 varda-instructions-item" target="_blank"
      href="{{'ohjeet.url.confluence' | translate}}#{{'ohjeet.url.lisaaminen-ja-muokkaaminen.tietojen-lisaaminen-ja-muokkaaminen-vardan-kayttoliittyman-kautta' | translate}}">
      {{'ohjeet.lisaaminen-ja-muokkaaminen.tietojen-lisaaminen-ja-muokkaaminen-vardan-kayttoliittyman-kautta' | translate}}
    </a>

      <a class="varda-instructions-item-level2 varda-instructions-item" target="_blank"
        href="{{'ohjeet.url.confluence' | translate}}#{{'ohjeet.url.lisaaminen-ja-muokkaaminen.varhaiskasvatustoimijan-tiedot' | translate}}">
        {{'ohjeet.lisaaminen-ja-muokkaaminen.varhaiskasvatustoimijan-tiedot' | translate}}
      </a>

        <a class="varda-instructions-item-level3 varda-instructions-item" target="_blank"
          href="{{'ohjeet.url.confluence' | translate}}#{{'ohjeet.url.lisaaminen-ja-muokkaaminen.toimijan-tietojen-lisaaminen-ja-muokkaaminen' | translate}}">
          {{'ohjeet.lisaaminen-ja-muokkaaminen.toimijan-tietojen-lisaaminen-ja-muokkaaminen' | translate}}
        </a>

        <a class="varda-instructions-item-level3 varda-instructions-item" target="_blank"
          href="{{'ohjeet.url.confluence' | translate}}#{{'ohjeet.url.lisaaminen-ja-muokkaaminen.toimijan-tietojen-tarkastelu' | translate}}">
          {{'ohjeet.lisaaminen-ja-muokkaaminen.toimijan-tietojen-tarkastelu' | translate}}
        </a>

        <a class="varda-instructions-item-level3 varda-instructions-item" target="_blank"
          href="{{'ohjeet.url.confluence' | translate}}#{{'ohjeet.url.lisaaminen-ja-muokkaaminen.paos-hallinta' | translate}}">
          {{'ohjeet.lisaaminen-ja-muokkaaminen.paos-hallinta' | translate}}
        </a>

      <a class="varda-instructions-item-level2 varda-instructions-item" target="_blank"
        href="{{'ohjeet.url.confluence' | translate}}#{{'ohjeet.url.lisaaminen-ja-muokkaaminen.toimipaikan-tiedot' | translate}}">
        {{'ohjeet.lisaaminen-ja-muokkaaminen.toimipaikan-tiedot' | translate}}
      </a>

        <a class="varda-instructions-item-level3 varda-instructions-item" target="_blank"
          href="{{'ohjeet.url.confluence' | translate}}#{{'ohjeet.url.lisaaminen-ja-muokkaaminen.toimipaikan-lisaaminen' | translate}}">
          {{'label.instructions.toimipaikan-lisaaminen' | translate}}
        </a>

        <a class="varda-instructions-item-level3 varda-instructions-item" target="_blank"
          href="{{'ohjeet.url.confluence' | translate}}#{{'ohjeet.url.lisaaminen-ja-muokkaaminen.toimipaikan-tietojen-muokkaaminen' | translate}}">
          {{'ohjeet.lisaaminen-ja-muokkaaminen.toimipaikan-tietojen-muokkaaminen' | translate}}
        </a>

        <a class="varda-instructions-item-level3 varda-instructions-item" target="_blank"
          href="{{'ohjeet.url.confluence' | translate}}#{{'ohjeet.url.lisaaminen-ja-muokkaaminen.toimipaikan-mitatointi' | translate}}">
          {{'label.instructions.toimipaikan-mitatointi' | translate}}
        </a>

      <a class="varda-instructions-item-level2 varda-instructions-item" target="_blank"
        href="{{'ohjeet.url.confluence' | translate}}#{{'ohjeet.url.lisaaminen-ja-muokkaaminen.lapsen-tiedot' | translate}}">
        {{'ohjeet.lisaaminen-ja-muokkaaminen.lapsen-tiedot' | translate}}
      </a>

        <a class="varda-instructions-item-level3 varda-instructions-item" target="_blank"
          href="{{'ohjeet.url.confluence' | translate}}#{{'ohjeet.url.lisaaminen-ja-muokkaaminen.lapsen-lisaaminen' | translate}}">
          {{'label.instructions.lapsen-lisaaminen' | translate}}
        </a>

          <a class="varda-instructions-item-level4 varda-instructions-item" target="_blank"
            href="{{'ohjeet.url.confluence' | translate}}#{{'ohjeet.url.lisaaminen-ja-muokkaaminen.lapsen-henkilotiedot' | translate}}">
            {{'ohjeet.lisaaminen-ja-muokkaaminen.lapsen-henkilotiedot' | translate}}
          </a>

          <a class="varda-instructions-item-level4 varda-instructions-item" target="_blank"
            href="{{'ohjeet.url.confluence' | translate}}#{{'ohjeet.url.lisaaminen-ja-muokkaaminen.lapsen-varhaiskasvatustiedot' | translate}}">
            {{'ohjeet.lisaaminen-ja-muokkaaminen.lapsen-varhaiskasvatustiedot' | translate}}
          </a>

          <a class="varda-instructions-item-level4 varda-instructions-item" target="_blank"
            href="{{'ohjeet.url.confluence' | translate}}#{{'ohjeet.url.lisaaminen-ja-muokkaaminen.henkilotunnuksettoman-lapsen-lisaaminen' | translate}}">
            {{'label.instructions.henkilotunnuksettoman-lapsen-lisaaminen' | translate}}
          </a>

          <a class="varda-instructions-item-level4 varda-instructions-item" target="_blank"
            href="{{'ohjeet.url.confluence' | translate}}#{{'ohjeet.url.lisaaminen-ja-muokkaaminen.palvelusetelilla-tai-ostopalveluna-tuotetussa-varhaiskasvatuksessa-olevan-lapsen-lisaaminen' | translate}}">
            {{'label.instructions.palveluseteli' | translate}}
          </a>

        <a class="varda-instructions-item-level3 varda-instructions-item" target="_blank"
          href="{{'ohjeet.url.confluence' | translate}}#{{'ohjeet.url.lisaaminen-ja-muokkaaminen.lapsen-tietojen-tarkastelu-ja-muokkaaminen' | translate}}">
          {{'label.instructions.lapsen-tietojen-tarkastelu-ja-muokkaaminen' | translate}}
        </a>

          <a class="varda-instructions-item-level4 varda-instructions-item" target="_blank"
            href="{{'ohjeet.url.confluence' | translate}}#{{'ohjeet.url.lisaaminen-ja-muokkaaminen.lapsen-tietojen-tarkastelu' | translate}}">
            {{'ohjeet.lisaaminen-ja-muokkaaminen.lapsen-tietojen-tarkastelu' | translate}}
          </a>

          <a class="varda-instructions-item-level4 varda-instructions-item" target="_blank"
            href="{{'ohjeet.url.confluence' | translate}}#{{'ohjeet.url.lisaaminen-ja-muokkaaminen.lapsen-varhaiskasvatustietojen-muokkaaminen' | translate}}">
            {{'ohjeet.lisaaminen-ja-muokkaaminen.lapsen-varhaiskasvatustietojen-muokkaaminen' | translate}}
          </a>

        <a class="varda-instructions-item-level3 varda-instructions-item" target="_blank"
          href="{{'ohjeet.url.confluence' | translate}}#{{'ohjeet.url.lisaaminen-ja-muokkaaminen.lapsen-varhaiskasvatustietojen-poistaminen' | translate}}">
          {{'ohjeet.lisaaminen-ja-muokkaaminen.lapsen-varhaiskasvatustietojen-poistaminen' | translate}}
        </a>

      <a class="varda-instructions-item-level2 varda-instructions-item" target="_blank"
        href="{{'ohjeet.url.confluence' | translate}}#{{'ohjeet.url.lisaaminen-ja-muokkaaminen.huoltaja-ja-maksutiedot' | translate}}">
        {{'ohjeet.lisaaminen-ja-muokkaaminen.huoltaja-ja-maksutiedot' | translate}}
      </a>

        <a class="varda-instructions-item-level3 varda-instructions-item" target="_blank"
          href="{{'ohjeet.url.confluence' | translate}}#{{'ohjeet.url.lisaaminen-ja-muokkaaminen.huoltaja-ja-maksutietojen-lisaaminen' | translate}}">
          {{'ohjeet.lisaaminen-ja-muokkaaminen.huoltaja-ja-maksutietojen-lisaaminen' | translate}}
        </a>

        <a class="varda-instructions-item-level3 varda-instructions-item" target="_blank"
          href="{{'ohjeet.url.confluence' | translate}}#{{'ohjeet.url.lisaaminen-ja-muokkaaminen.huoltaja-ja-maksutietojen-muokkaaminen' | translate}}">
          {{'ohjeet.lisaaminen-ja-muokkaaminen.huoltaja-ja-maksutietojen-muokkaaminen' | translate}}
        </a>

    <!-- Tietojen katselu Vardan käyttöliittymän kautta -->
    <a class="varda-instructions-item-level1 varda-instructions-item" target="_blank"
      href="{{'ohjeet.url.confluence' | translate}}#{{'ohjeet.url.katselu.tietojen-katselu-vardan-kayttoliittyman-kautta' | translate}}">
      {{'ohjeet.katselu.tietojen-katselu-vardan-kayttoliittyman-kautta' | translate}}
    </a>

      <a class="varda-instructions-item-level2 varda-instructions-item" target="_blank"
        href="{{'ohjeet.url.confluence' | translate}}#{{'ohjeet.url.katselu.toimipaikat' | translate}}">
        {{'label.toimipaikat' | translate}}
      </a>

      <a class="varda-instructions-item-level2 varda-instructions-item" target="_blank"
        href="{{'ohjeet.url.confluence' | translate}}#{{'ohjeet.url.katselu.lapset' | translate}}">
        {{'label.lapset' | translate}}
      </a>

      <a class="varda-instructions-item-level2 varda-instructions-item" target="_blank"
        href="{{'ohjeet.url.confluence' | translate}}#{{'ohjeet.url.katselu.yhteenveto' | translate}}">
        {{'label.yhteenveto' | translate}}
      </a>

      <a class="varda-instructions-item-level2 varda-instructions-item" target="_blank"
        href="{{'ohjeet.url.confluence' | translate}}#{{'ohjeet.url.katselu.tietojen-tarkastelu-hae-ja-muokkaa-sivulla' | translate}}">
        {{'ohjeet.katselu.tietojen-tarkastelu-hae-ja-muokkaa-sivulla' | translate}}
      </a>

    <!-- Käyttöliittymän tekstin koko ja kontrasti -->
    <a class="varda-instructions-item-level1 varda-instructions-item" target="_blank"
      href="{{'ohjeet.url.confluence' | translate}}#{{'ohjeet.url.tekstin-koko.kayttoliittyman-tekstin-koko-ja-kontrasti' | translate}}">
      {{'label.instructions.kayttoliittyman-teksti-ja-kontrasti' | translate}}
    </a>

    <!-- Ota yhteys käyttäjätukeen tai anna palautetta -->
    <a class="varda-instructions-item-level1 varda-instructions-item" target="_blank"
      href="{{'ohjeet.url.confluence' | translate}}#{{'ohjeet.url.yhteys-ja-palaute.ota-yhteys-kayttajatukeen-tai-anna-palautetta' | translate}}">
      {{'label.instructions.ota-yhteys' | translate}}
    </a>

    <!-- Tietosuojaseloste -->
    <a class="varda-instructions-item-level1 varda-instructions-item" target="_blank"
      href="{{'ohjeet.url.confluence' | translate}}#{{'ohjeet.url.tietosuojaseloste.tietosuojaseloste' | translate}}">
      {{'label.instructions.tietosuojaseloste' | translate}}
    </a>

  </div>
</div>
