.varda-instructions-item {
  color: var(--blue-lighten-1);
  display: block;
}

.varda-instructions-item-level1 {
  margin-left: 1em;
}

.varda-instructions-item-level2 {
  margin-left: 2em;
}

.varda-instructions-item-level3 {
  margin-left: 3em;
}

.varda-instructions-item-level4 {
  margin-left: 4em;
}
