<ng-container *ngIf="formGroup">
  <div [id]="'toimintapainotus_'+ currentObject?.id"
       class="painotus">
    <app-robo-id [tunniste]="currentObject?.id"
                 nimi="toimintapainotus"
                 [alkamis_pvm]="currentObject?.alkamis_pvm"
                 [paattymis_pvm]="currentObject?.paattymis_pvm"></app-robo-id>
    <mat-expansion-panel #matPanel
                         [hideToggle]="savePending"
                         (opened)="togglePanel(true)"
                         (closed)="togglePanel(false)">
      <mat-expansion-panel-header>
        <mat-panel-title *ngIf="currentObject; else addPainotus">
          <app-varda-form-error-icon [errors]="errorList"></app-varda-form-error-icon>
          <span [libKoodistoValue]="koodistoEnum.toiminnallinenpainotus"
                format="long">{{ currentObject.toimintapainotus_koodi }}</span>&nbsp;
          <span *ngIf="!currentObject.paattymis_pvm; else hasPaattymispvm">
            {{ i18n.alkaen_PVM | translate: {pvm: currentObject.alkamis_pvm | vardaDate} }}
          </span>
          <ng-template #hasPaattymispvm>
            <span>{{currentObject.alkamis_pvm | vardaDate }} - {{currentObject.paattymis_pvm | vardaDate }}</span>
          </ng-template>
        </mat-panel-title>

        <ng-template #addPainotus>
          <mat-panel-title>
            {{ i18n.painotukset_lisaa_toimintapainotus | translate }}
          </mat-panel-title>
        </ng-template>
      </mat-expansion-panel-header>
      <form [formGroup]="formGroup"
            autocomplete="off"
            (submit)="savePainotus(formGroup)">
        <app-varda-form-error-list [errors]="errorList"></app-varda-form-error-list>
        <app-varda-form-field name="toimintapainotus_koodi"
                              [form]="formGroup"
                              [label]="i18n.painotukset_toimintapainotus_koodi | translate"
                              [errorText]="i18n.painotukset_error_toimintapainotus_koodi | translate"
                              [instructionText]="i18n.painotukset_instruction_toimintapainotus_koodi | translate">
          <mat-select #fieldItem
                      placeholder="-- {{ i18n.choose | translate }} --"
                      class="oph-input oph-select"
                      formControlName="toimintapainotus_koodi">
            <mat-option *ngFor="let option of toiminnallinenPainotusKoodisto?.codes"
                        [value]="option.code_value"
                        [libKoodistoValue]="koodistoEnum.toiminnallinenpainotus"
                        format="long">
              {{ option.code_value }}
            </mat-option>
          </mat-select>

        </app-varda-form-field>

        <app-varda-form-field name="alkamis_pvm"
                              [form]="formGroup"
                              [label]="i18n.painotukset_toimintapainotus_alkamis_pvm | translate"
                              [errorText]="i18n.painotukset_toimintapainotus_error_alkamis_pvm | translate"
                              [errorMap]="[
                              { key: 'matDatepickerMin', value: i18n.painotukset_toimintapainotus_error_min_alkamis_pvm },
                              { key: 'matDatepickerMax', value: i18n.painotukset_toimintapainotus_error_max_alkamis_pvm }
                              ]"
                              [instructionText]="i18n.painotukset_toimintapainotus_instruction_alkamis_pvm | translate">
          <app-varda-datepicker #fieldItem
                                [min]="startDateRange.min"
                                [max]="startDateRange.max"
                                (dateChange)="startDateChange($event.value)"
                                formControlName='alkamis_pvm'></app-varda-datepicker>
        </app-varda-form-field>

        <app-varda-form-field name="paattymis_pvm"
                              [form]="formGroup"
                              [label]="i18n.painotukset_toimintapainotus_paattymis_pvm | translate"
                              [errorText]="i18n.painotukset_toimintapainotus_error_paattymis_pvm | translate"
                              [errorMap]="[
                              { key: 'matDatepickerMin', value: i18n.painotukset_toimintapainotus_error_min_paattymis_pvm },
                              { key: 'matDatepickerMax', value: i18n.painotukset_toimintapainotus_error_max_paattymis_pvm }
                              ]"
                              [instructionText]="i18n.painotukset_toimintapainotus_instruction_paattymis_pvm | translate">
          <app-varda-datepicker #fieldItem
                                [min]="endDateRange.min"
                                [max]="endDateRange.max"
                                formControlName='paattymis_pvm'></app-varda-datepicker>
        </app-varda-form-field>

        <app-varda-error-field [errors]="formErrors"></app-varda-error-field>

        <div class="save-pending"
             *ngIf="savePending">
          <mat-icon alt="">warning</mat-icon>
          {{ i18n.painotukset_toimintapainotus_save_pending | translate }}
        </div>

        <app-varda-action-row *ngIf="!savePending"
                              [saveDisabled]="formGroup.pristine || isSubmitting"
                              [saveAccess]="saveAccess"
                              [formExists]="!!currentObject"
                              [isEdit]="isEdit"
                              (togglePanel)="togglePanel($event)"
                              (deleteForm)="deletePainotus()"
                              (enableEdit)="enableForm()"></app-varda-action-row>
      </form>
    </mat-expansion-panel>
  </div>
</ng-container>
