<h1 class="varda-page-header">
  {{ 'label.navi.syotto' | translate }}
</h1>
<main class="varda-main-frame-wrapper">
  <section class="varda-main-frame-toimipaikka-section-container varda-page-content">
    <app-varda-toimipaikka-selector [userAccess]="userAccess"
                                    [entityType]="'toimipaikka'"
                                    [toimipaikat]="toimipaikat"
                                    [activeToimipaikka]="selectedToimipaikka"
                                    (changeToimipaikka)="onToimipaikkaChanged($event)"
                                    (updateToimipaikka)="onToimipaikkaUpdated($event)">
    </app-varda-toimipaikka-selector>
  </section>
  <section class="varda-main-frame-henkilo-section-container varda-page-content"
           *ngIf="toimipaikat && toimipaikat.length > 0 && selectedToimipaikka"
           aria-live="polite"
           role="region">
    <app-varda-lapsi-section [toimipaikkaAccess]="toimipaikkaAccess"
                               [henkilot]="henkilot"></app-varda-lapsi-section>
  </section>
</main>
