<h3>{{'label.paos-toimipaikat.topic' | translate}} ({{paosToiminnat.length}})</h3>
<div>
  <p>{{'label.paos-toimipaikat.description' | translate}}</p>
  <p *ngIf="!paosToiminnat.length"
     class="paos-list-toimijat-search-empty">
    {{'label.paos-toimipaikat.list.empty' | translate}}</p>
</div>
<div *ngIf="showSuccess"
     class="oph-alert oph-alert-success"
     [@fadeOut]>
  {{'label.paos-toimipaikat.created-notification' | translate}}
</div>
<div *ngIf="paosToiminnat.length">
  <mat-form-field>
    <input type="text"
           matInput
           id="paos-list-toimipaikat-search"
           class="varda-input"
           [placeholder]="'label.hae' | translate"
           (keyup)="filterToimintaInfo($event.target.value)" />
  </mat-form-field>
  <div [class.scrollable]="paosToiminnat.length > 3">
    <div *ngFor="let paosToiminta of filteredToiminnat"
         class="paos-yksikot oph-alert oph-alert-info small-text"
         [class.varda-paos-list-toimintainfo-highlight]="isToimijaHighlighted(highlighted, paosToiminta)">
      <h4>{{paosToiminta.toimijaNimi}} ({{paosToiminta.toimipaikat.length}})
        <mat-icon *ngIf="paosToiminta.paosOikeus.voimassa_kytkin"
                  title="{{'label.paos-toimijat.added-each-other' | translate }}">sync_alt</mat-icon>
      </h4>
      <div class="paos-list-flexbox">
        <div>
          <div>{{'label.oid' | translate}}:
            <span class='text-nowrap'>{{paosToiminta.toimijaOID}}</span></div>
          <div>{{'label.ytunnus' | translate}}:
            <span class='text-nowrap'>{{paosToiminta.toimijaYTunnus}}</span></div>
          <div>{{'label.varda-id' | translate}}: {{paosToiminta.toimijaId}}</div>
        </div>
        <app-varda-toggle-button [isUp]="openToimija !== paosToiminta.toimijaId"
                                 [showTextKey]="'label.paos-toimipaikat.list.show-toimipaikka'"
                                 [hideTextKey]="'label.paos-toimipaikat.list.hide-toimipaikka'"
                                 (click)="toggleToimija(paosToiminta.toimijaId)"></app-varda-toggle-button>
      </div>


      <div *ngIf="openToimija === paosToiminta.toimijaId">
        <div class="paos-toimijat-list-tallennusvastuu-wrapper paos-list-flexbox">
          <div class="paos-list-flexbox">
            <div class="paos-toimipaikat-list-tallennusvastuu-column">
              {{'label.paos-toimipaikat.list.tiedot-tallentaa' | translate}}:
            </div>
            <div class="paos-toimipaikat-list-tallennusvastuu-column"
                 *ngIf="openTallennusvastuu !== paosToiminta.toimijaId">
              {{getCurrentTallentajaName(paosToiminta.paosOikeus, paosToiminta.toimijaNimi)}}
            </div>
          </div>
          <ng-container *ngIf="isVardaPaakayttaja">
            <div class="paos-toimipaikat-list-tallennusvastuu-column"
                 *ngIf="openTallennusvastuu !== paosToiminta.toimijaId">
              <button type="text"
                      class="varda-button"
                      mat-button
                      (click)="openTallennusvastuu = paosToiminta.toimijaId">
                {{'label.vaihda' | translate}}
              </button>
            </div>
            <div class="paos-toimipaikat-list-tallennusvastuu-column"
                 *ngIf="openTallennusvastuu === paosToiminta.toimijaId">
              <select [value]="paosToiminta.paosOikeus.tallentaja_organisaatio_id"
                      (change)="changeTallennusvastuu($event.target.value, paosToiminta)"
                      class="varda-select">
                <option [value]="this.selectedVakajarjestaja.id | number">{{ this.selectedVakajarjestaja.nimi }}
                </option>
                <option [value]="paosToiminta.toimijaId">{{ paosToiminta.toimijaNimi }}</option>
              </select>
            </div>

            <div class="paos-toimipaikat-list-tallennusvastuu-column"
                 *ngIf="openTallennusvastuu === paosToiminta.toimijaId">
              <button class="varda-button"
                      (click)="saveTallennusvastuu(paosToiminta)"
                      [class.varda-disabled-button]="isTallentajaChanged(paosToiminta)"
                      [disabled]="isTallentajaChanged(paosToiminta)">
                {{'label.generic-save' | translate}}
              </button>
            </div>
          </ng-container>
        </div>
        <h4 class="paos-toimijat-list-toimipaikat-text">{{'label.toimipaikat' | translate}}</h4>
        <div *ngFor="let toimipaikka of paosToiminta.toimipaikat"
             class="paos-toimijat-list-toimipaikka paos-list-flexbox">
          <div>
            <div class="paos-toimijat-list-toimipaikka-header">
              {{toimipaikka.toimipaikka_nimi}}
            </div>
            <div>
              {{'label.oid' | translate}}:
              <span class="text-nowrap">{{toimipaikka.toimipaikka_organisaatio_oid}}</span>
            </div>
            <div>
              {{'label.varda-id' | translate}}: {{toimipaikka.toimipaikka_id}}
            </div>
          </div>
          <app-varda-delete-button *ngIf="isVardaPaakayttaja"
                                   (click)="showDeleteConfirm(toimipaikka)">
            {{'label.delete' | translate}}
          </app-varda-delete-button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-varda-prompt-modal [show$]="showConfirmModal$"
                        (saveEvent)="deletePaosToiminta()">
  <div class="paos-prompt-modal-header"
       *ngIf="paosToimintaToDelete">{{paosToimintaToDelete.toimipaikka_nimi }}, {{paosToimintaToDelete.toimija_nimi }}
  </div>
  {{'label.paos-toimipaikat.list.delete-confirm' | translate}}
</app-varda-prompt-modal>
