<mat-expansion-panel class="vakapaatos-panel">
  <mat-expansion-panel-header class="toimipaikan-lapset-header">
    <mat-panel-title>{{'label.varhaiskasvatuspaatos' | translate}}</mat-panel-title>
    <mat-panel-description>
      {{getDateRangeDisplayValue(vakapaatos.alkamis_pvm, vakapaatos.paattymis_pvm)}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="table-responsive">
    <table class="mat-table">
      <tr class="mat-header-row">
        <th scope="row" class="mat-header-cell">{{i18n.id | translate}}</th>
        <td class="mat-cell">{{vakapaatos.id}}</td>
      </tr>
      <tr class="mat-header-row">
        <th scope="row" class="mat-header-cell">{{'label.vaka_paatos_hakemus_pvm' | translate}}</th>
        <td class="mat-cell">{{vakapaatos.hakemus_pvm | date:'d.M.yyyy'}}</td>
      </tr>
      <tr class="mat-header-row">
        <th scope="row" class="mat-header-cell">{{'label.vaka_paatos_tuntimaara_viikossa' | translate}}</th>
        <td class="mat-cell">{{vakapaatos.tuntimaara_viikossa}}</td>
      </tr>
      <tr class="mat-header-row">
        <th scope="row" class="mat-header-cell">{{'label.vaka_paatos_jarjestamismuoto' | translate}}</th>
        <td class="mat-cell" [libKoodistoValue]="koodistoEnum.jarjestamismuoto" format="long">
          {{vakapaatos.jarjestamismuoto_koodi}}
        </td>
      </tr>
      <tr class="mat-header-row">
        <th scope="row" class="mat-header-cell">{{'label.vaka_paatos_paivittainen_vaka_kytkin' | translate}}</th>
        <td class="mat-cell">{{vakapaatos.paivittainen_vaka_kytkin ? ('label.yes' | translate) : ('label.no' | translate)}}</td>
      </tr>
      <tr class="mat-header-row">
        <th scope="row" class="mat-header-cell">{{'label.vaka_paatos_kokopaivainen_vaka_kytkin' | translate}}</th>
        <td class="mat-cell">{{vakapaatos.kokopaivainen_vaka_kytkin ? ('label.yes' | translate) : ('label.no' | translate)}}</td>
      </tr>
      <tr class="mat-header-row">
        <th scope="row" class="mat-header-cell">{{'label.vaka_paatos_vuorohoito_kytkin' | translate}}</th>
        <td class="mat-cell">{{vakapaatos.vuorohoito_kytkin ? ('label.yes' | translate) : ('label.no' | translate)}}</td>
      </tr>
      <tr class="mat-header-row">
        <th scope="row" class="mat-header-cell">{{'label.vaka_paatos_pikakasittely' | translate}}</th>
        <td class="mat-cell">{{vakapaatos.pikakasittely_kytkin ? ('label.yes' | translate) : ('label.no' | translate)}}</td>
      </tr>
    </table>
  </div>
</mat-expansion-panel>
