.huoltaja-frontpage-div-margin-bottom {
  margin-bottom: 45px;
}



.voimassa-useita-vakapaatoksia-container {
  display: flex;
  margin-bottom: 1em;
  border-left: 12px solid var(--oph-green);
  padding: 0.25em 1em;
}

.huoltaja-table {
  padding-top: 1em;
  border-spacing: 0;
  text-align: left;
  width: 100%;
}

.huoltaja-vakapaatos-header-table {
  table-layout: fixed;
  width: 100%;
}

tr:nth-child(even) {
  background-color: var(--oph-gray-lighten-1);
}

.onko-tiedoissa-virhe {
  color: var(--link-color);
  font-weight: bold;
  text-decoration: underline;
}

.expansion-otsikko {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: left;
  align-items: center;
  font-weight: bold;
}

.expansion-otsikko>*:last-child {
  text-align: right;
  flex: 2 2;
}

.vakapaatos {
  border: 2px solid #b3b3b3;
  border-radius: 4px;
  margin-bottom: 25px;
}

.vakasuhde-panel {
  margin-bottom: 1em;
}

.voimassaoloaika {
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.voimassa {
  color: var(--oph-green-darken-1);
}

.lapsi-header>.mat-icon {
  position: relative;
  top: 0.2em;
  user-select: none;
  margin-right: 0.5em;
}


.varhaiskasvatustiedot>.varhaiskasvatustiedot-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;

}

.varhaiskasvatustiedot>.varhaiskasvatustiedot-header>*:first-child {
  margin-right: 1em;
}

.varhaiskasvatustiedot>.varhaiskasvatustiedot-header .button-group .mat-icon {
  margin-right: 0.5em;
  top: 0.25em;
}

.varhaiskasvatustiedot>.varhaiskasvatustiedot-header .button-group>button:first-child {
  margin-right: 1em;
}

.varhaiskasvatustiedot>.varhaiskasvatustiedot-header .button-group>button>span {
  color: var(--link-color);
  line-height: 2.2em;
  margin-right: 0.5em;
  font-weight: bold;
}

.mat-expansion-panel-header:focus-within,
.mat-expansion-panel-header:hover:not([aria-disabled=true]) {
  font-weight: bold;
  background: var(--oph-gray-lighten-1) !important;
}


@media (max-width: 465px) {
  .expansion-otsikko {
    white-space: wrap;
  }

  button {
    width: calc(100% - 1em);
    margin: 0.5em;
  }

  mat-expansion-panel ::ng-deep .mat-expansion-panel-body {
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
  }
}


@media (max-width: 740px) {
  .huoltaja-frontpage-container {
    width: 95%;
  }

  .mat-expansion-panel-header {
    padding: 0.75em;
  }

  .voimassa-useita-vakapaatoksia-text-container {
    height: 90px;
  }
}
