
.huoltaja-frontpage-container {
  position: relative;
  margin: 0 auto;
  width: 75%;
  max-width: 1000px;
  padding: 20px 0 25px 0;
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
}

.huoltaja-frontpage-div-margin-bottom {
  margin-bottom: 45px;
}

h1, .h1 {
  font-size: 1.5rem;
}

h2, .h2 {
  font-size: 1.25rem;
}

h3, .h3 {
  font-size: 1.1rem;
}

h4, .h4 {
  font-size: 1rem;
}

h5, .h5 {
  font-size: 0.9rem;
}

.m-b-05 {
  margin-bottom: 0.5em;
}

.m-b-1 {
  margin-bottom: 1em;
}

.m-b-2 {
  margin-bottom: 2em;
}

.link-color {
  color: var(--link-color);
}

.voimassa-useita-vakapaatoksia-container {
  white-space: nowrap;
  overflow: hidden;
}

.voimassa-useita-vakapaatoksia-rectangle {
  height: 50px;
  width: 12px;
  background-color: var(--oph-green);
  display: inline-block;
  margin-right: 15px;
}

.voimassa-useita-vakapaatoksia-text-container {
  display: inline-block;
  height: 60px;
  vertical-align: middle;
  white-space: normal;
}

.huoltaja-table {
  padding-top: 1em;
  border-spacing: 0;
  text-align: left;
  width: 100%;
}

.huoltaja-vakapaatos-header-table {
  table-layout: fixed;
  width: 100%;
}

tr:nth-child(even) {
  background-color: var(--oph-gray-lighten-1);
}

.onko-tiedoissa-virhe {
  color: var(--link-color);
  font-weight: bold;
  text-decoration: underline;
}

.expansion-otsikko {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: left;
}

.expansion-otsikko > *:last-child {
  text-align: right;
  flex: 2 2;
}

.vakapaatos {
  border: 2px solid #b3b3b3;
  border-radius: 4px;
  margin-bottom: 25px;
}

.vakasuhde-panel {
  margin-bottom: 1em;
}

.voimassaoloaika {
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.voimassa {
  color: var(--oph-green-darken-1);
}

.material-icons, mat-icon {
  position:relative;
  user-select: none;
}

.extension-info {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.5em;
  font-size: 1em;
  background-color: var(--oph-gray-lighten-1);
}

.varhaiskasvatustiedot > .varhaiskasvatustiedot-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;

}

.varhaiskasvatustiedot > .varhaiskasvatustiedot-header > *:first-child {
  margin-right: 1em;
}

.varhaiskasvatustiedot > .varhaiskasvatustiedot-header .button-group .mat-icon {
  margin-right: 0.5em;
  top: 0.25em;
}

.varhaiskasvatustiedot > .varhaiskasvatustiedot-header .button-group > button:first-child {
  margin-right: 1em;
}

.varhaiskasvatustiedot > .varhaiskasvatustiedot-header .button-group > button > span {
  color: var(--link-color);
  line-height: 2.2em;
  margin-right: 0.5em;
}


.error-field {
  padding: 1em;
  background-color: var(--oph-orange-darken-1);
  color: var(--oph-white);
}

.button {
  border: 1px solid black;
  border-radius: 0.25em;
  padding: 0.1em 0.75em;
  text-align: center;
}

@media (max-width: 465px) {
  h1, .h1 {
    font-size: 1.4rem;
  }

  h2, .h2 {
    font-size: 1.15rem;
  }

  h3, .h3 {
    font-size: 1.0rem;
  }

  h4, .h4 {
    font-size: 0.9rem;
  }

  h5, .h5 {
    font-size: 0.8rem;
  }
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.lapsi-header>.mat-icon {
  position: relative;
  top: 0.2em;
  user-select: none;
  margin-right: 0.5em;
}

@media (max-width: 740px) {
  .huoltaja-frontpage-container {
    width: 95%;
  }

  .mat-expansion-panel-header {
    padding: 0.75em;
  }

  .voimassa-useita-vakapaatoksia-text-container {
    height: 90px;
  }
}
