<div class="huoltaja-frontpage-container">

  <div class="huoltaja-frontpage-div-margin-bottom">
    <h1>{{'label.varhaiskasvatustiedot' | translate}}</h1>
    <p>{{'text.varhaiskasvatustiedot' | translate}}</p>
  </div>
  <div *ngIf="fetchError" class="error-field">
    {{ 'error.ei-henkilotietoja' | translate }}
  </div>
  <div *ngIf="lapsi?.henkilo">
    <div class="huoltaja-frontpage-div-margin-bottom">
      <h2>{{'label.henkilotiedot' | translate}}: {{lapsi.henkilo.etunimet}} {{lapsi.henkilo.sukunimi}}
        ({{'label.katsot-tietoja-huoltajana' | translate}})</h2>

      <app-huoltaja-frontpage-lapsi [lapsiDto]="lapsi.henkilo">
      </app-huoltaja-frontpage-lapsi>
    </div>

    <div>
      <h2>{{'label.varhaiskasvatustiedot-toimipaikoittain' | translate}}</h2>
      <div *ngIf="lapsi.voimassaolevia_varhaiskasvatuspaatoksia" class="voimassa-useita-vakapaatoksia-container">
        <div class="voimassa-useita-vakapaatoksia-rectangle"></div>
        <div class="voimassa-useita-vakapaatoksia-text-container">
          <span>{{'text.voimassa-useita-vakapaatoksia' | translate}}</span>
        </div>
      </div>
    </div>

    <ng-container *ngFor="let toimipaikka of lapsi.toimipaikat">
      <div [ngClass]="onkoVakasuhdeVoimassa(vakasuhde) ? 'vakapaatos-voimassa' : 'vakapaatos-ei-ole-voimassa'"
           *ngFor="let vakasuhde of toimipaikka.varhaiskasvatussuhteet">
        <h3>
          <table class="huoltaja-vakapaatos-header-table">
            <tr>
              <td>{{toimipaikka.toimipaikka_nimi}}</td>
              <td>{{vakasuhde.alkamis_pvm | date:'d.M.yyyy'}} - {{vakasuhde.paattymis_pvm | date:'d.M.yyyy'}}</td>
            </tr>
          </table>
        </h3>

        <app-huoltaja-frontpage-vakasuhde [vakasuhde]="vakasuhde">
        </app-huoltaja-frontpage-vakasuhde>
      </div>
    </ng-container>
  </div>

</div>


