<ng-container *ngIf="palvelussuhdeForm">
  <div [id]="'palvelussuhde_'+ palvelussuhde?.id"
       class="palvelussuhde">
    <app-robo-id [tunniste]="palvelussuhde?.id"
                 nimi="palvelussuhde"
                 [alkamis_pvm]="palvelussuhde?.alkamis_pvm"
                 [paattymis_pvm]="palvelussuhde?.paattymis_pvm"></app-robo-id>

    <mat-icon class="d-none d-md-block" alt="">assignment</mat-icon>

    <mat-expansion-panel [id]="'palvelussuhde-panel_'+ palvelussuhde?.id"
                         [class.before-icon]="true"
                         (opened)="togglePanel(true)"
                         (closed)="togglePanel(false)"
                         [expanded]="expandPanel">
      <mat-expansion-panel-header>
        <mat-panel-title *ngIf="palvelussuhde; else addPalvelussuhde">
          <app-varda-form-error-icon [errors]="errorList"></app-varda-form-error-icon>
          <span *ngIf="!palvelussuhde.paattymis_pvm; else hasPaattymispvm">
            {{ i18n.palvelussuhde_alkaen_PVM | translate: {pvm: palvelussuhde.alkamis_pvm | vardaDate} }}
          </span>
          <ng-template #hasPaattymispvm>
            <span *ngIf="palvelussuhde.paattymis_pvm">
              {{ i18n.palvelussuhde | translate }}
              {{palvelussuhde.alkamis_pvm | vardaDate }} - {{palvelussuhde.paattymis_pvm | vardaDate }}
            </span>
          </ng-template>
        </mat-panel-title>

        <ng-template #addPalvelussuhde>
          <mat-panel-title>
            <span>
              {{ i18n.palvelussuhteet_lisaa_palvelussuhde | translate }}
            </span>
          </mat-panel-title>
        </ng-template>
      </mat-expansion-panel-header>
      <form [formGroup]="palvelussuhdeForm"
            (submit)="savePalvelussuhde(palvelussuhdeForm)">
        <app-varda-henkilo-form-error-list [errors]="errorList"></app-varda-henkilo-form-error-list>
        <app-varda-form-field name="tyosuhde_koodi"
                              [form]="palvelussuhdeForm"
                              [label]="i18n.palvelussuhde_palvelussuhteen_tyyppi | translate"
                              [errorText]="i18n.palvelussuhde_error_palvelussuhteen_tyyppi | translate"
                              [instructionText]="i18n.palvelussuhde_instruction_palvelussuhteen_tyyppi | translate">
          <mat-radio-group #fieldItem
                           formControlName="tyosuhde_koodi">
            <mat-radio-button *ngFor="let tyosuhdeKoodi of tyosuhdeKoodisto.codes"
                              [value]="tyosuhdeKoodi.code_value">
              {{ tyosuhdeKoodi.name }}
            </mat-radio-button>
          </mat-radio-group>
        </app-varda-form-field>

        <app-varda-form-field name="alkamis_pvm"
                              [form]="palvelussuhdeForm"
                              [label]="i18n.palvelussuhde_alkamis_pvm | translate"
                              [errorText]="i18n.palvelussuhde_error_alkamis_pvm | translate"
                              [instructionText]="i18n.palvelussuhde_instruction_alkamis_pvm | translate">
          <app-varda-datepicker #fieldItem
                                (dateChange)="startDateChange($event.value)"
                                formControlName='alkamis_pvm'></app-varda-datepicker>
        </app-varda-form-field>

        <app-varda-form-field name="paattymis_pvm"
                              [form]="palvelussuhdeForm"
                              [label]="i18n.palvelussuhde_paattymis_pvm | translate"
                              [errorText]="i18n.palvelussuhde_error_paattymis_pvm | translate"
                              [instructionText]="i18n.palvelussuhde_instruction_paattymis_pvm | translate">
          <app-varda-datepicker #fieldItem
                                [min]="minEndDate"
                                formControlName='paattymis_pvm'></app-varda-datepicker>
        </app-varda-form-field>

        <app-varda-form-field name="tyoaika_koodi"
                              [form]="palvelussuhdeForm"
                              [label]="i18n.palvelussuhde_tyoajan_tyyppi | translate"
                              [errorText]="i18n.palvelussuhde_error_tyoajan_tyyppi | translate"
                              [instructionText]="i18n.palvelussuhde_instruction_tyoajan_tyyppi | translate">
          <mat-radio-group #fieldItem
                           formControlName="tyoaika_koodi">
            <mat-radio-button *ngFor="let tyoaikaKoodi of tyoaikaKoodisto.codes"
                              [value]="tyoaikaKoodi.code_value">
              {{ tyoaikaKoodi.name }}
            </mat-radio-button>
          </mat-radio-group>
        </app-varda-form-field>

        <app-varda-form-field name="tyoaika_viikossa"
                              [form]="palvelussuhdeForm"
                              [label]="i18n.palvelussuhde_tyoaika_viikossa | translate"
                              [errorText]="i18n.palvelussuhde_error_tyoaika_viikossa | translate"
                              [instructionText]="i18n.palvelussuhde_instruction_tyoaika_viikossa | translate">
          <input #fieldItem
                 type="number"
                 class="oph-input"
                 min="0.5"
                 step="0.5"
                 max="50"
                 formControlName="tyoaika_viikossa" />
        </app-varda-form-field>

        <app-varda-form-field name="tutkinto_koodi"
                              [form]="palvelussuhdeForm"
                              [label]="i18n.palvelussuhde_tutkinto | translate"
                              [errorText]="i18n.palvelussuhde_error_tutkinto | translate"
                              [instructionText]="i18n.palvelussuhde_instruction_tutkinto | translate">
          <select #fieldItem
                  class="oph-input oph-select"
                  formControlName="tutkinto_koodi">
            <option [value]="null"
                    disabled>-- {{ i18n.tutkinnot_valitse_ylin_tutkinto | translate }} --</option>
            <option *ngFor="let tutkinto of henkilonTutkinnot"
                    [value]="tutkinto.tutkinto_koodi">
              {{ tutkinto.tutkinto_nimi }} ({{ tutkinto.tutkinto_koodi }})
            </option>
          </select>
        </app-varda-form-field>

        <app-varda-error-field [errors]="palvelussuhdeFormErrors"></app-varda-error-field>

        <app-varda-action-row [saveDisabled]="palvelussuhdeForm.pristine || (isSubmitting | async)"
                              [saveAccess]="toimipaikkaAccess?.tyontekijatiedot.tallentaja"
                              [formExists]="!!palvelussuhde"
                              [isEdit]="isEdit"
                              (togglePanel)="togglePanel($event)"
                              (deleteForm)="deletePalvelussuhde()"
                              (enableEdit)="enableForm()"></app-varda-action-row>
      </form>
    </mat-expansion-panel>
  </div>

  <ng-container *ngIf="palvelussuhde">
    <div *ngIf="tyoskentelypaikat"
         [class.tree-border]="tyoskentelypaikat.length || poissaolot?.length"
         [class.no-save2]="!toimipaikkaAccess.tyontekijatiedot.tallentaja"
         [class.has-poissaolo]="poissaolot?.length || addPoissaoloBoolean"
         class="tyoskentelypaikat tyontekija-panel-content">
      <h3 class="oph-h3">{{i18n.palvelussuhde_tyoskentelypaikat_palvelussuhteessa | translate }}
        <span *ngIf="tyoskentelypaikat.length > 1">({{ tyoskentelypaikat.length }})</span>
      </h3>

      <div class="missing-info"
           *ngIf="tyoskentelypaikat.length === 0">
        <mat-icon alt="">error_outline</mat-icon>
        {{ i18n.palvelussuhde_ei_tyoskentelypaikkoja | translate }}
      </div>


      <mat-accordion>
        <app-varda-tyoskentelypaikka *ngFor="let tyoskentelypaikka of tyoskentelypaikat"
                                     [palvelussuhde]="palvelussuhde"
                                     [toimipaikkaAccess]="toimipaikkaAccess"
                                     [henkilonToimipaikka]="henkilonToimipaikka"
                                     [tyoskentelypaikka]="tyoskentelypaikka"
                                     (closeTyoskentelypaikka)="closeTyoskentelypaikka($event)">
        </app-varda-tyoskentelypaikka>
        <app-varda-tyoskentelypaikka *ngIf="addTyoskentelypaikkaBoolean"
                                     [palvelussuhde]="palvelussuhde"
                                     [toimipaikkaAccess]="toimipaikkaAccess"
                                     [henkilonToimipaikka]="henkilonToimipaikka"
                                     (closeTyoskentelypaikka)="closeTyoskentelypaikka($event)">
        </app-varda-tyoskentelypaikka>
      </mat-accordion>

      <button class="varda-text-button"
              *ngIf="!addTyoskentelypaikkaBoolean && toimipaikkaAccess.tyontekijatiedot.tallentaja"
              (click)="addTyoskentelypaikkaBoolean = true">
        <mat-icon alt="">add</mat-icon> {{ i18n.palvelussuhde_lisaa_tyoskentelypaikka | translate }}
      </button>
    </div>

    <div *ngIf="poissaolot"
         [class.tree-border]="poissaolot.length"
         [class.no-save]="!toimipaikkaAccess.tyontekijatiedot.tallentaja"
         class="poissaolot tyontekija-panel-content">
      <h3 class="oph-h3">{{ i18n.palvelussuhde_poissaolot_palvelussuhteessa | translate }}
        <span *ngIf="poissaolot.length > 1">({{ poissaolot.length }})</span>
      </h3>

      <div *ngIf="poissaolot.length === 0 && !toimipaikkaAccess.tyontekijatiedot.tallentaja">
        {{ i18n.palvelussuhde_ei_poissaoloja | translate }}
      </div>

      <mat-accordion>
        <app-varda-poissaolo *ngFor="let poissaolo of poissaolot"
                             [henkilonToimipaikka]="henkilonToimipaikka"
                             [palvelussuhde]="palvelussuhde"
                             [toimipaikkaAccess]="toimipaikkaAccess"
                             [poissaolo]="poissaolo"
                             (closePoissaolo)="closePoissaolo($event)"></app-varda-poissaolo>
        <app-varda-poissaolo *ngIf="addPoissaoloBoolean"
                             [henkilonToimipaikka]="henkilonToimipaikka"
                             [palvelussuhde]="palvelussuhde"
                             [toimipaikkaAccess]="toimipaikkaAccess"
                             (closePoissaolo)="closePoissaolo($event)">
        </app-varda-poissaolo>
      </mat-accordion>

      <button class="varda-text-button"
              *ngIf="!addPoissaoloBoolean && toimipaikkaAccess.tyontekijatiedot.tallentaja"
              (click)="addPoissaoloBoolean = true">
        <mat-icon alt="">add</mat-icon> {{ i18n.palvelussuhde_lisaa_poissaolo | translate }}
      </button>
    </div>
  </ng-container>
</ng-container>
