<form [formGroup]="taydennyskoulutusForm"
      autocomplete="off"
      (submit)="saveTaydennyskoulutus(taydennyskoulutusForm)">
  <div class="modal-header">
    <div class="taydennyskoulutus-header"
         [class.taydennyskoulutus-flex-header]="!isEdit">
      <h1 class="modal-title varda-modal-title"
          [id]="'vardaModalTitleLabelhenkiloModal'">
        <span *ngIf="taydennyskoulutus?.id; else uusikoulutus">
          {{ taydennyskoulutus.nimi }}
        </span>
        <ng-template #uusikoulutus>
          {{ i18n.taydennyskoulutukset_lisaa_taydennyskoulutus | translate }}
        </ng-template>
      </h1>

      <div *ngIf="userAccess.taydennyskoulutustiedot.tallentaja">
        <button *ngIf="!isEdit; else actionRow"
                type="button"
                class="varda-button secondary responsive-md"
                (click)="enableForm()">{{ i18n.edit | translate }}</button>
      </div>
    </div>
    <ng-template #actionRow>
      <app-varda-action-row [saveDisabled]="taydennyskoulutusForm.pristine || (isLoading | async)"
                                      [saveAccess]="true"
                                      [formExists]="!!taydennyskoulutus?.id"
                                      [isEdit]="isEdit"
                                      [noToggle]="true"
                                      [noMargin]="true"
                                      (deleteForm)="deleteTaydennyskoulutus()"
                                      (enableEdit)="enableForm()"
                                      (disableEdit)="disableForm()"></app-varda-action-row>
    </ng-template>
    <button type="button"
            class="close"
            data-dismiss="modal"
            [attr.aria-label]="i18n.close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div>
      <app-varda-form-field name="nimi"
                            [form]="taydennyskoulutusForm"
                            [label]="i18n.taydennyskoulutus_nimi | translate"
                            [errorText]="i18n.taydennyskoulutus_error_nimi | translate"
                            [instructionText]="i18n.taydennyskoulutus_instruction_nimi | translate">
        <input #fieldItem
               type="text"
               class="oph-input"
               [readonly]="limitedEditAccess"
               formControlName="nimi" />
      </app-varda-form-field>

      <app-varda-form-field name="suoritus_pvm"
                            [form]="taydennyskoulutusForm"
                            [label]="i18n.taydennyskoulutus_suoritus_pvm | translate"
                            [errorText]="i18n.taydennyskoulutus_error_suoritus_pvm | translate"
                            [errorMap]="[
                            { key: 'matDatepickerMin', value: i18n.taydennyskoulutus_error_min_suoritus_pvm }
                            ]"
                            [instructionText]="i18n.taydennyskoulutus_instruction_suoritus_pvm | translate">
        <app-varda-datepicker #fieldItem
                              [min]="firstAllowedDate"
                              [readonly]="limitedEditAccess"
                              formControlName='suoritus_pvm'></app-varda-datepicker>
      </app-varda-form-field>

      <app-varda-form-field name="koulutuspaivia"
                            [form]="taydennyskoulutusForm"
                            [label]="i18n.taydennyskoulutus_koulutuspaivia | translate"
                            [errorText]="i18n.taydennyskoulutus_error_koulutuspaivia | translate"
                            [instructionText]="i18n.taydennyskoulutus_instruction_koulutuspaivia | translate">
        <input #fieldItem
               type="number"
               class="oph-input"
               min="0.5"
               max="160"
               step="0.5"
               [readonly]="limitedEditAccess"
               formControlName="koulutuspaivia" />
      </app-varda-form-field>

      <div class="taydennyskoulutus-rajoitettu"
           *ngIf="limitedEditAccess"
           role="alert">
        <mat-icon>info_outlined</mat-icon>
        {{ i18n.taydennyskoulutus_instruction_massasyotto_muokkaus_rajoitettu | translate }}
      </div>

      <div *ngIf="taydennyskoulutusForm.enabled"
           class="open-tyontekijat-button-row">
        <button *ngIf="!openTyontekijatBoolean"
                type="button"
                class="varda-button responsive"
                (click)="openTyontekijatBoolean = true">
          {{ i18n.taydennyskoulutus_valitse_osallistujat | translate }}
        </button>
      </div>

      <div class="taydennyskoulutus-osallistuja-sections clearfix"
           *ngIf="tyontekijaList">
        <app-taydennyskoulutus-osallistuja-list [tyontekijaList]="tyontekijaList"
                                                [osallistujat]="currentOsallistujat"
                                                [isDisabled]="taydennyskoulutusForm.disabled"
                                                [userAccess]="userAccess"
                                                (selectOsallistujat)="selectOsallistujat($event)">
        </app-taydennyskoulutus-osallistuja-list>
        <app-taydennyskoulutus-osallistuja-picker *ngIf="userAccess.taydennyskoulutustiedot.tallentaja && openTyontekijatBoolean"
                                                  [tyontekijaList]="tyontekijaList"
                                                  [osallistujat]="currentOsallistujat"
                                                  (selectOsallistujat)="selectOsallistujat($event)">
        </app-taydennyskoulutus-osallistuja-picker>
      </div>
      <app-varda-error-field [errors]="taydennyskoulutusFormErrors"></app-varda-error-field>


    </div>
  </div>
</form>
