<div class="varda-router-outlet-container"
     appHighContrast>
  <main class="varda-login-page">
    <h1 class="oph-h2 oph-bold"
        aria-live="polite">
      Kirjaudu sisään / Logga in
    </h1>

    <div class="varda-page-content">
      <button class="varda-button responsive-md"
              id="navigateToVardaLoginBtn"
              (click)="navigateToVardaLogin()">
        LOGIN
      </button>

      <ng-container *ngIf="tokenInput?.show">
        <form (ngSubmit)="addLoginToken(tokenInput.value)"
              class="varda-logout-clear oph-alert-error">
          <div class="oph-h2 oph-bold">Tämä kenttä näkyy vain testiympäristössä</div>
          <div><a target="_blank"
               [attr.href]="tokenInput.backend">{{ tokenInput.backend }}</a></div>
          <label class="oph-label">Tallenna login token tästä</label>
          <input class="oph-input"
                 [(ngModel)]='tokenInput.value'
                 autocomplete="off"
                 name='value'
                 placeholder="login-token" />
          <button type="submit"
                  class="varda-button varda-button-success secondary">Tallenna</button>
        </form>
      </ng-container>
    </div>
  </main>
</div>
