<form [formGroup]="paosToimijaForm"
  (ngSubmit)="searchToimija()">
  <h2>{{(isVakajarjestajaKunta ? i18n.paos_toiminta_instruction : i18n.paos_toiminta_instruction_yksityinen) | translate}}
  </h2>
  <p [innerHTML]="(isVakajarjestajaKunta ? i18n.paos_toiminta_instruction_search : i18n.paos_toiminta_instruction_search_yksityinen) | translateMarkdown"></p>
  <div>
    <label class="oph-h4 oph-bold"
    for="add-paos-toiminta-toimija-search-input">{{(isVakajarjestajaKunta ? i18n.paos_toiminta_search : i18n.paos_toiminta_search_yksityinen) | translate}}</label>
    <div id="add-paos-toiminta-toimija-search-wrapper">
      <input type="text"
        class="oph-input"
        id="add-paos-toiminta-toimija-search-input"
        [placeholder]="i18n.paos_search_placeholder | translate"
        autofocus
        formControlName="search" />
      <button type="submit"
        class="varda-button responsive add-paos-toiminta-toimija-search-button"
        [disabled]="paosToimijaForm.invalid"
        [class.varda-disabled-button]="paosToimijaForm.invalid">
        {{i18n.search | translate}}
      </button>
    </div>
  </div>
</form>
@if (isVakajarjestajatFetched) {
  <div>
    <div class="oph-h5 oph-bold my-2">{{i18n.paos_results | translate}}</div>
    @if (!vakajarjestajat.length) {
      <div>
        {{i18n.paos_toiminta_no_results | translate}}
      </div>
    }
    @if (vakajarjestajat.length) {
      <div
        class="varda-paos-hallinta-result-wrapper">
        @for (vakajarjestaja of vakajarjestajat; track vakajarjestaja; let i = $index) {
          <div
            [class.varda-paos-hallinta-colored-background]="i % 2">
            @if (vakajarjestaja.id !== selectedVakajarjestaja.id) {
              <div class="varda-paos-hallinta-result-flex">
                <div class="varda-paos-hallinta-result-column varda-paos-hallinta-result-column-wide small-text">
                  <div>
                    <h6>{{vakajarjestaja.nimi}}</h6>
                  </div>
                  <div>
                    {{i18n.organisaatio_y_tunnus | translate}}: {{vakajarjestaja.y_tunnus}}
                  </div>
                  <div>
                    {{i18n.organisaatio_oid | translate}}: {{vakajarjestaja.organisaatio_oid}}
                  </div>
                </div>
                @if (isAdminUser || isVardaPaakayttaja) {
                  <div class="varda-paos-hallinta-result-column varda-paos-hallinta-result-middle">
                    @if (vakajarjestaja.kunnallinen_kytkin) {
                      <div
                        class="varda-paos-hallinta-result-button-wrapper">
                        @if (!ignoredJarjestajaIds.has(vakajarjestaja.id)) {
                          <button class="varda-button add-paos-toiminta-toimija-add-button"
                            (click)="addJarjestaja(vakajarjestaja)">
                            {{i18n.paos_toiminta_add | translate}}
                          </button>
                        }
                        @if (ignoredJarjestajaIds.has(vakajarjestaja.id)) {
                          <span
                          >{{i18n.paos_toiminta_already_added | translate}}</span>
                        }
                      </div>
                    }
                  </div>
                }
                <div class="varda-paos-hallinta-result-column varda-paos-hallinta-result-middle">
                  @if (isVakajarjestajaKunta) {
                    <app-varda-toggle-button
                      [isUp]="!isToimipaikkadata(vakajarjestaja.id)"
                      [showTextKey]="i18n.paos_toimipaikat_show"
                      [hideTextKey]="i18n.paos_toimipaikat_hide"
                    (click)="toggleSearchToimipaikat(vakajarjestaja)"></app-varda-toggle-button>
                  }
                </div>
              </div>
              @if (isToimipaikkadata(vakajarjestaja.id)) {
                <div>
                  <app-paos-add-toiminta-list [isVardaPaakayttaja]="isVardaPaakayttaja"
                    [isAdminUser]="isAdminUser"
                    [selectedVakajarjestaja]="selectedVakajarjestaja"
                    [toimipaikat]="toimipaikatById[vakajarjestaja.id]"
                  [ignoredIds]="ignoredToimipaikkaIds"></app-paos-add-toiminta-list>
                </div>
              }
            }
          </div>
        }
      </div>
    }
  </div>
}
