<div class="modal-header">
  <div class="modal-title varda-modal-title"
       [id]="'vardaModalTitleLabelhenkiloModal'">
    {{ currentHenkilo ? currentHenkilo.sukunimi + ', ' + currentHenkilo.etunimet : 'label.add-lapsi-toimipaikka' | translate: {value: toimipaikka.nimi} }}
  </div>
  <button type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="alert alert-danger varda-form-main-feedback"
     role="alert"
     *ngIf="ui.henkiloAddRequestFailure">
  <ul>
    <li *ngFor="let errItem of ui.lapsiFormErrors">
      <span *ngIf="errItem.msg; else defaultErrorMessage">{{errItem.key | translate}}.
        {{errItem.msg | translate}}</span>
      <ng-template #defaultErrorMessage>{{'alert.add-henkilo-failed-check-henkilo-details' | translate}}</ng-template>
    </li>
  </ul>
</div>

<div class="form-continues-text-wrapper"
     *ngIf="ui.showFormContinuesWarning">
  <div class="form-continues-text">{{'alert.lomake-continues' | translate}}</div>
  <i class="material-icons">arrow_downward</i>
</div>
<div #formContent
     class="modal-body varda-modal-body"
     id="henkiloFormContent">
  <div class="varda-modal-form-wrapper">
    <div class="varda-modal-form-content">
      <div *ngIf="!henkilo">
        <form class="varda-form"
              autocomplete="off"
              [formGroup]="vardaHenkiloForm">
          <fieldset class="form-group varda-fieldset"
                    [id]="'setSSNFieldSet'"
                    *ngIf="!currentHenkilo">
            <div>{{'text.add-lapsi-form-info' | translate}}<br />
              {{'text.add-lapsi-form-info-add' | translate}}
              <a style="text-decoration: underline;"
                 target="_blank"
                 href="{{'ohjeet.url.confluence' | translate}}#{{'ohjeet.url.lisaaminen-ja-muokkaaminen.lapsen-lisaaminen' | translate}}">{{'label.taalta' | translate}}</a>.
            </div>
            <div class="varda-fieldset-content form-group">
              <div class="ssn-or-oid-radio-wrapper">
                <mat-radio-group [name]="'henkiloFormSsnOrOidRadioGroup'"
                                 [formControlName]="'addWithSsnOrOid'"
                                 (change)="addWithSsnOrOidChanged($event)">
                  <mat-radio-button [id]="'lisaaHenkilotunnuksella'"
                                    [value]="true">{{'label.lisaa-henkilotunnuksella' | translate}}</mat-radio-button>
                  <mat-radio-button [id]="'lisaaOppijanumerolla'"
                                    [value]="false">{{'label.lisaa-oppijanumerolla' | translate}}</mat-radio-button>
                </mat-radio-group>
                <div class="oph-field">
                  <div class="oph-field-inputs">
                    <label [for]="'henkiloFormSsnOrOid'"
                           class="oph-label">{{getHenkiloSsnLabel() | translate}}</label>
                    <input id="henkiloFormSsnOrOid"
                           type="text"
                           [placeholder]="getSsnPlaceholderText()"
                           class="oph-input"
                           [ngClass]="{'oph-input-has-error': vardaHenkiloForm.get('ssn').invalid && vardaHenkiloForm.get('ssn').touched }"
                           (blur)="onBlur()"
                           (focus)="onFocus('ssn')"
                           [formControlName]="'ssn'"
                           [attr.aria-describedby]="'henkiloFormSsnOrOidInstruction'">
                    <div class="oph-error"
                         role="alert"
                         *ngIf="vardaHenkiloForm.get('ssn').invalid && vardaHenkiloForm.get('addWithSsnOrOid').value && vardaHenkiloForm.get('ssn').touched">
                      {{'alert.ssn-format-warning' | translate}}
                    </div>
                    <div class="oph-error"
                         role="alert"
                         *ngIf="vardaHenkiloForm.get('ssn').invalid && !vardaHenkiloForm.get('addWithSsnOrOid').value && vardaHenkiloForm.get('ssn').touched">
                      {{'alert.oppijanumero-format-warning' | translate}}
                    </div>
                  </div>
                  <div class="oph-field-text">
                    <small [id]="'henkiloFormSsnOrOidInstruction'"
                           [appSlideHide]="ui.activeInstructionText === 'ssn'">
                      {{getHenkiloSsnInstructionText() | translate}}
                    </small>
                  </div>
                </div>
              </div>
            </div>
            <div class="varda-fieldset-content form-group">
              <div class="oph-field">
                <div class="oph-field-inputs">
                  <label [for]="'henkiloFormFirstnames'"
                         class="oph-label">{{'label.firstnamesbyseparated' | translate}}</label>
                  <input id="henkiloFormFirstnames"
                         type="text"
                         [placeholder]="'Jukka-Pekka Matias'"
                         class="oph-input"
                         [ngClass]="{'oph-input-has-error': vardaHenkiloForm.get('firstnames').invalid && vardaHenkiloForm.get('firstnames').touched }"
                         (blur)="onBlur()"
                         (focus)="onFocus('firstnames')"
                         [formControlName]="'firstnames'"
                         [attr.aria-describedby]="'firstnamesInstruction'"
                         appHighlightElement>
                  <div class="oph-error"
                       role="alert"
                       *ngIf="vardaHenkiloForm.get('firstnames').invalid &&
                vardaHenkiloForm.get('firstnames').hasError('required') &&
                vardaHenkiloForm.get('firstnames').touched">
                    {{'alert.firstnames-required' | translate}}
                  </div>
                  <div class="oph-error"
                       role="alert"
                       *ngIf="vardaHenkiloForm.get('firstnames').invalid &&
                vardaHenkiloForm.get('firstnames').hasError('nameHasDisallowedCharacters') &&
                vardaHenkiloForm.get('firstnames').touched">
                    {{'alert.firstnames-has-disallowed-characters' | translate}}
                  </div>
                </div>
                <div class="oph-field-text">
                  <small [id]="'firstnamesInstruction'"
                         [appSlideHide]="ui.activeInstructionText === 'firstnames'">
                    {{'henkiloform.firstnamesinstruction' | translate}}
                  </small>
                </div>
              </div>

            </div>
            <div class="varda-fieldset-content form-group">
              <div class="oph-field">
                <div class="oph-field-inputs">
                  <label [for]="'henkiloFormNickname'"
                         class="oph-label">{{'label.nickname' | translate}}</label>
                  <input id="henkiloFormNickname"
                         type="text"
                         [placeholder]="'Jukka-Pekka'"
                         class="oph-input"
                         [ngClass]="{'oph-input-has-error': vardaHenkiloForm.get('nickname').invalid && vardaHenkiloForm.get('nickname').touched }"
                         (blur)="onBlur()"
                         (focus)="onFocus('nickname')"
                         [formControlName]="'nickname'"
                         [attr.aria-describedby]="'nicknameInstruction'"
                         appHighlightElement>
                  <div class="oph-error"
                       role="alert"
                       *ngIf="vardaHenkiloForm.get('nickname').invalid &&
                  vardaHenkiloForm.get('nickname').hasError('required') &&
                  vardaHenkiloForm.get('nickname').touched">
                    {{'alert.nickname-required' | translate}}
                  </div>
                  <div class="oph-error"
                       role="alert"
                       *ngIf="vardaHenkiloForm.get('nickname').invalid &&
                  vardaHenkiloForm.get('nickname').hasError('nameHasDisallowedCharacters') &&
                  vardaHenkiloForm.get('nickname').touched">
                    {{'alert.nickname-has-disallowed-characters' | translate}}
                  </div>
                  <div class="oph-error"
                       role="alert"
                       *ngIf="vardaHenkiloForm.hasError('nicknameNotPartOfFirstname') &&
                  vardaHenkiloForm.get('nickname').touched">
                    <p>{{'alert.nickname-must-be-part-of-firstnames' | translate}}
                  </div>
                  <div class="oph-error"
                       role="alert"
                       *ngIf="vardaHenkiloForm.hasError('nicknameMustBeOneName') &&
                  vardaHenkiloForm.get('nickname').touched">
                    {{'alert.nickname-must-be-one-name' | translate}}
                  </div>
                </div>

                <div class="oph-field-text">
                  <small [id]="'nicknameInstruction'"
                         [appSlideHide]="ui.activeInstructionText === 'nickname'">
                    {{'henkiloform.nicknameinstruction' | translate}}
                  </small>
                </div>
              </div>
            </div>

            <div class="varda-fieldset-content form-group">
              <div class="oph-field">
                <div class="oph-field-inputs">
                  <label [for]="'henkiloFormLastname'"
                         class="oph-label">{{'label.lastname' | translate}}</label>
                  <input id="henkiloFormLastname"
                         type="text"
                         [placeholder]="'Meikäläinen'"
                         class="oph-input"
                         [ngClass]="{'oph-input-has-error': vardaHenkiloForm.get('lastname').invalid && vardaHenkiloForm.get('lastname').touched }"
                         (blur)="onBlur()"
                         (focus)="onFocus('lastname')"
                         [formControlName]="'lastname'"
                         [attr.aria-describedby]="'lastnameInstruction'"
                         appHighlightElement>
                  <div class="oph-error"
                       role="alert"
                       *ngIf="vardaHenkiloForm.get('lastname').invalid &&
                vardaHenkiloForm.get('lastname').hasError('required') &&
                vardaHenkiloForm.get('lastname').touched">
                    {{'alert.lastname-required' | translate}}
                  </div>
                  <div class="oph-error"
                       role="alert"
                       *ngIf="vardaHenkiloForm.get('lastname').invalid &&
                vardaHenkiloForm.get('lastname').hasError('nameHasDisallowedCharacters') &&
                vardaHenkiloForm.get('lastname').touched">
                    {{'alert.lastname-has-disallowed-characters' | translate}}
                  </div>
                </div>

                <div class="oph-field-text">
                  <small [id]="'lastnameInstruction'"
                         [appSlideHide]="ui.activeInstructionText === 'lastname'">
                    {{'henkiloform.lastnamesinstruction' | translate}}
                  </small>
                </div>
              </div>
            </div>
            <div class="varda-form-btn-wrapper">
              <button type="button"
                      class="varda-button responsive-md"
                      [ngClass]="{'varda-disabled-button': vardaHenkiloForm.invalid || ui.isFetchingHenkilo}"
                      [disabled]="vardaHenkiloForm.invalid || ui.isFetchingHenkilo"
                      (click)="searchHenkilo()">{{'label.generic-add' | translate}}</button>
            </div>
          </fieldset>
        </form>
      </div>
      <div *ngIf="currentHenkilo">
        <ng-container *ngIf="currentHenkilo">
          <ng-container *ngIf="henkiloIsLapsi || henkiloEntitySelection === 'lapsi'">
            <app-varda-lapsi-form [henkilo]="currentHenkilo"
                                  [isEdit]="henkiloIsLapsi"
                                  (saveLapsiSuccess)="onSaveLapsiSuccess($event)"
                                  (saveLapsiFailure)="onSaveLapsiFailure($event)"
                                  (updateLapsi)="onUpdateLapsi($event)"
                                  (deleteLapsi)="onDeleteLapsi($event)"
                                  (valuesChanged)="lapsiFormValuesChanged($event)"></app-varda-lapsi-form>
          </ng-container>
        </ng-container>
        <div class="henkilo-form-cancel-btn-wrapper"
             *ngIf="!currentHenkilo">
          <div><button class="varda-button secondary"
                    type="button"
                    data-dismiss="modal">{{'label.cancel' | translate}}</button></div>
        </div>
      </div>
    </div>
  </div>
</div>
<lib-loading-indicator *ngIf="ui.isLoading || ui.isFetchingHenkilo"></lib-loading-indicator>
