{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>VARDA</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body background="{% static 'varda/images/gradient-bg.png' %}">
{% load i18n %}

<div class="container">
  <div class="row">
    <h1> {% trans "Varhaiskasvatuksen tietovaranto" %}</h1><br>
  </div>

  <div class="row">
    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href= "https://wiki.eduuni.fi/display/OPHPALV/Varda-palvelukortti" target="top"> {% trans "Vardan palvelukortti" %}</a>
  </div>

  <div class="row">
    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href= "https://wiki.eduuni.fi/display/OPHPALV/Varda-integraatiot" target="top"> {% trans "Wiki-sivut" %}</a>
  </div>

  <div class="row">
    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href= "https://virkailija.opintopolku.fi/varda/julkinen/tietomalli" target="top"> {% trans "Tietomalli" %}</a>
  </div>

  <div class="row">
    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href= "/api/v1"> {% trans "Selailtava REST API" %}</a>
  </div>

  <div class="row">
    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href= "/api/henkilosto/v1"> {% trans "Selailtava REST API (henkilöstö)" %}</a>
  </div>

  <div class="row">
    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/varda/swagger/"> {% trans "Rajapinnan Swagger-dokumentaatio" %}</a>
  </div>

  <div class="row">
    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="https://github.com/Opetushallitus/varda/tree/oph-public-branch/webapps/varda/examples/add_toimipaikka" target="top"> {% trans "Koodiesimerkit" %}</a>
  </div>

  <div class="row">
    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/varda/release-notes/"> {% trans "Release notes" %}</a>
  </div>

</div>

<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text pull-left"><b>{% trans "Versio" %}: 1.6.52</b>
      </p>

      <a href="mailto:varda@opintopolku.fi" class="navbar-btn btn-danger btn pull-right">
      <span class="glyphicon glyphicon-envelope"></span> varda@opintopolku.fi</a>
    </div>
</div>

</body>
</html>
