{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>VARDA</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body background="{% static 'varda/images/gradient-bg.png' %}">
{% load i18n %}

<div class="container">
  <div class="row">
    <h1> {% trans "VARDA - Release notes" %}</h1><br>
  </div>

  <div class="row">
    <ul><b>1.6.46</b> (17.03.2022)
      <li>{% trans "OPHVARDA-2423: Throttle ennen autentikointia" %}</li>
      <li>{% trans "OPHVARDA-2430: Erikoismerkkien salliminen henkilön nimessä" %}</li>
      <li>{% trans "OPHVARDA-2434: Nopeuta Kelan lopettaneet rajapinnan toimintaa" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.6.45</b> (10.03.2022)
      <li>{% trans "OPHVARDA-2422: delete-all refaktorointi" %}</li>
      <li>{% trans "OPHVARDA-2425: Puutteellisten tietojen haun bugikorjaus" %}</li>
      <li>{% trans "OPHVARDA-2424: Piilota sensitiivinen tieto virheviesteistä" %}</li>
      <li>{% trans "OPHVARDA-2394: Admin-käyttäjien monitorointi ja admin-näkymän jatkokehitys" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.6.44</b> (03.03.2022)
      <li>{% trans "OPHVARDA-2377: TP023 puutteellisen virheen tarkennus" %}</li>
      <li>{% trans "OPHVARDA-2345: Yksilöimättömän henkilön puuttellinen virhe" %}</li>
      <li>{% trans "OPHVARDA-2406: Passiivisen kasvatusopillisen järjestelmän puutteellinen virhe" %}</li>
      <li>{% trans "OPHVARDA-2389: Työskentelypaikan tai pidemmän poissaolon puuttumisen puutteellinen virhe" %}</li>
      <li>{% trans "OPHVARDA-2419: Nopeuta kela-rajapintojen toimintaa" %}</li>
      <li>{% trans "OPHVARDA-2416: Katsele tietoja rajaus passiivisella PAOS-toimipaikalla" %}</li>
      <li>{% trans "OPHVARDA-2420: Kirjainkoon käsittely filttereissä" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.6.43</b> (24.02.2022)
      <li>{% trans "OPHVARDA-2317: Systemaattisen läpikäynnin monitorointi" %}</li>
      <li>{% trans "OPHVARDA-2404: Tilastokeskus: siirrettyjen tietojen käsittely" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.6.42</b> (17.02.2022)
      <li>{% trans "OPHVARDA-2327: Vuositilasto admin näkymään" %}</li>
      <li>{% trans "OPHVARDA-2409: Vuositilaston tyhjennys anonymisoinnin yhteydessä" %}</li>
      <li>{% trans "OPHVARDA-2409: Vuositilaston bugikorjaus vuorohoito-lukemiin" %}</li>
      <li>{% trans "OPHVARDA-2369: Syötä tietoja voimassaolon tarkastelun korjaus" %}</li>
      <li>{% trans "OPHVARDA-1777: Yritysmuodon koodistointegraatio" %}</li>
      <li>{% trans "OPHVARDA-2353: top-tulosten käyttöoikeudet" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.6.41</b> (11.02.2022)
      <li>{% trans "OPHVARDA-2327: Vuositilaston summatasoinen raportti" %}</li>
      <li>{% trans "OPHVARDA-2403: Lisää history-tauluihin puuttuvat muokkaukset" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.6.40</b> (04.02.2022)
      <li>{% trans "OPHVARDA-2403 Lisää history-tauluihin puuttuvat poistot" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.6.39</b> (27.01.2022)
      <li>{% trans "OPHVARDA-2367: Django 4.0 -päivitys" %}</li>
      <li>{% trans "OPHVARDA-2380: Tietoturvapäivityksiä" %}</li>
      <li>{% trans "OPHVARDA-2279: Tilastokeskus: henkilöstötiedot" %}</li>
      <li>{% trans "OPHVARDA-2322: Yhden lapsen kaikkien tietojen poisto" %}</li>
      <li>{% trans "OPHVARDA-2355: Toimipaikka-pääkäyttäjäryhmien poisto" %}</li>
      <li>{% trans "OPHVARDA-2323: Yhden työntekijän kaikkien tietojen poisto" %}</li>
      <li>{% trans "OPHVARDA-2378: Lapsen ja työntekijän lähdejärjestelmän ja tunnisteen päivitys POST-kutsussa" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.6.38</b> (11.01.2022)
      <li>{% trans "OPHVARDA-2277: Tilastokeskus: organisaatiotiedot" %}</li>
      <li>{% trans "OPHVARDA-2278: Tilastokeskus: varhaiskasvatustiedot" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.6.37</b> (22.12.2021)
      <li>{% trans "OPHVARDA-2296: Asiakasmaksuihin lisää hakumahdollisuuksia" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.6.36</b> (17.12.2021)
      <li>{% trans "OPHVARDA-2211: Katsele tietoja hakutoiminnallisuuksiin mahdollisuus hakea tunnisteilla" %}</li>
      <li>{% trans "OPHVARDA-2337: Paranna tiedonsiirtorajapintojen suorituskykyä" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.6.35</b> (09.12.2021)
      <li>{% trans "OPHVARDA-2352: Painotusten käyttöoikeuksien korjaus" %}</li>
      <li>{% trans "OPHVARDA-2342: Swagger-dokumentaation päivitys" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.6.34</b> (18.11.2021)
      <li>{% trans "OPHVARDA-2335: Katsele tietoja toimipaikan tarkempi haku" %}</li>
      <li>{% trans "OPHVARDA-2236: Yhteenvedon tilapäisen henkilöstön muutoksia" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.6.33</b> (11.11.2021)
      <li>{% trans "OPHVARDA-2332: Kelan tiedonsiirtorajapinnan optimointia" %}</li>
      <li>{% trans "OPHVARDA-2334: Python 3.10 päivitys" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.6.32</b> (05.11.2021)
      <li>{% trans "OPHVARDA-2318: Audit loki -parannuksia" %}</li>
      <li>{% trans "OPHVARDA-2287: Hetun anonymisointi -parannus (lokitus)" %}</li>
      <li>{% trans "OPHVARDA-2314: Monitoroinnin parannuksia" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.6.31</b> (21.10.2021)
      <li>{% trans "OPHVARDA-2273: Toimipaikkojen Excel-raportti" %}</li>
      <li>{% trans "OPHVARDA-2306: Excel-raportin ID ExcelReportLog-tauluun" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.6.30</b> (19.10.2021)
      <li>{% trans "OPHVARDA-2178: Maksutiedon huoltajien muokkaus" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.6.29</b> (07.10.2021)
      <li>{% trans "OPHVARDA-2310: Bugikorjaus Kelan tiedonsiirtoihin" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.6.28</b> (16.09.2021)
      <li>{% trans "OPHVARDA-2272: Henkilöstötietojen Excel-raportit" %}</li>
      <li>{% trans "OPHVARDA-1153: Alive-loki CloudWatchiin" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.6.27</b> (09.09.2021)
      <li>{% trans "OPHVARDA-2295: Funktio jolla yhdistetään duplikaattilapset" %}</li>
      <li>{% trans "OPHVARDA-2261: Validoi koodiston koodien voimassaolo" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.6.26</b> (03.09.2021)
      <li>{% trans "OPHVARDA-2289: Toimipaikan muokkaus toimipaikkaoikeuksilla" %}</li>
      <li>{% trans "OPHVARDA-2300: Pakota tutkinnon uniikkius tietokantatasolla" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.6.25</b> (26.08.2021)
      <li>{% trans "OPHVARDA-2221: Excel-raporttien salaus" %}</li>
      <li>{% trans "OPHVARDA-2225: Puutteellisten tietojen Excel-raportit" %}</li>
      <li>{% trans "OPHVARDA-2060: Raportti eniten virheitä tuottavista tilanteista" %}</li>
      <li>{% trans "OPHVARDA-921: Merkitse järjestelmän muuttamat tiedot järjestelmän tunnukselle" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.6.24</b> (19.08.2021)
      <li>{% trans "OPHVARDA-2271: Poista poikkeuskäsittelyt koskien lapsia ilman vakatoimijaa" %}</li>
      <li>{% trans "OPHVARDA-2238: Henkilö-oikeuksien täysimittainen tarkastelu" %}</li>
      <li>{% trans "OPHVARDA-1868: Pidempien poissaolojen toimipaikkakohtaiset oikeudet" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.6.23</b> (13.08.2021)
      <li>{% trans "OPHVARDA-2168: Puutteellisten tietojen jatkokehitys" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.6.22</b> (05.08.2021)
      <li>{% trans "OPHVARDA-2172: Nginx virheet virhekoodistoon" %}</li>
      <li>{% trans "OPHVARDA-2105: Julkisen GitHub-branchin siivous" %}</li>
      <li>{% trans "OPHVARDA-2282: Huoltaja-login korjaus" %}</li>
      <li>{% trans "OPHVARDA-2222: Excel-raporttien käännökset" %}</li>
      <li>{% trans "OPHVARDA-2285: Duplikaattiobjektin lisäyksen korjaus" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.6.21</b> (23.06.2021)
      <li>{% trans "OPHVARDA-1966: Toimipaikkakohtaisten täydennyskoulutusoikeuksien tarkennusta" %}</li>
      <li>{% trans "OPHVARDA-1914: Käyttöoikeuksien siivous" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.6.20</b> (15.06.2021)
      <li>{% trans "OPHVARDA-2263: Versiopäivityksiä" %}</li>
      <li>{% trans "OPHVARDA-2257: Aseta lapsille vakatoimija" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.6.19</b> (10.06.2021)
      <li>{% trans "OPHVARDA-2157: Tiedonsiirron katkosten raportti" %}</li>
      <li>{% trans "Työkalujen päivityksiä" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.6.18</b> (04.06.2021)
      <li>{% trans "OPHVARDA-1747: Maksutietojen toimipaikkakohtaiset oikeudet" %}</li>
      <li>{% trans "OPHVARDA-2247: Toimipaikan validointi vakajärjestäjän voimassaolon kanssa" %}</li>
      <li>{% trans "OPHVARDA-867, OPHVARDA-869, OPHVARDA-1873: HTTP-headerien tarkistus" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.6.17</b> (27.05.2021)
      <li>{% trans "OPHVARDA-2179 ja OPHVARDA-1610: Toimipaikkojen siirto" %}</li>
      <li>{% trans "OPHVARDA-2041: Vakatoimittajattomien lasten poisto" %}</li>
      <li>{% trans "OPHVARDA-2256: Henkilön roolien validointia" %}</li>
      <li>{% trans "OPHVARDA-1128: Tiedonsiirtorajapinnan suorituskyvyn parannus" %}</li>
      <li>{% trans "OPHVARDA-2246: Lapsien poisto, jotka ovat myös huoltajia" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.6.16</b> (20.05.2021)
      <li>{% trans "OPHVARDA-1792: Toimipaikkakohtaisten oikeuksien asetus tallennustehtävän vaihdoksessa" %}</li>
      <li>{% trans "OPHVARDA-1751: Testidatan refaktorointi" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.6.15</b> (12.05.2021)
      <li>{% trans "OPHVARDA-2242: Käyttämättömän koodin poisto" %}</li>
      <li>{% trans "OPHVARDA-1627: get_object_id_from_path-funktion poisto" %}</li>
      <li>{% trans "OPHVARDA-2037: Puutteellisten raportti toimipaikoille" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.6.14</b> (06.05.2021)
      <li>{% trans "OPHVARDA-2253: Otetaan käyttöön lähdejärjestelmä ja lähdejärjestelmätunnisteet pakotetusti" %}</li>
      <li>{% trans "OPHVARDA-2255: Rajapinta duplikaattilapsien tiedoille" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.6.13</b> (29.04.2021)
      <li>{% trans "OPHVARDA-2249: Salli vakatoimija-kentän päivitys, jos se on tyhjä" %}</li>
      <li>{% trans "OPHVARDA-2031: Paranna uniikkiuden tarkastelua" %}</li>
      <li>{% trans "OPHVARDA-152: Swaggerin ja selattavan REST API:n päivityksiä" %}</li>
      <li>{% trans "OPHVARDA-1798: Validointien refaktorointi" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.6.12</b> (22.04.2021)
      <li>{% trans "OPHVARDA-2248: Päällekkäisten tietojen validoinnin tarkennus" %}</li>
      <li>{% trans "OPHVARDA-1509: Identtisten vakapäätösten luonnin esto" %}</li>
      <li>{% trans "OPHVARDA-1082: Rajapintojen suorituskyvyn parantaminen" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.6.11</b> (15.04.2021)
      <li>{% trans "OPHVARDA-2232: Korjauksia kelan tiedonsiirtoihin poistettujen jaksojen osalta" %}</li>
      <li>{% trans "OPHVARDA-2239: 003-tutkintoon liittyvien validointien poisto" %}</li>
      <li>{% trans "OPHVARDA-2245: Tietoturvapäivitys (jquery)" %}</li>
      <li>{% trans "OPHVARDA-1306: Lokitiedoista hetun piilottaminen" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.6.10</b> (08.04.2021)
      <li>{% trans "OPHVARDA-2195: Käyttöoikeudet palvelukäyttäjälle CAS-kirjautumisen yhteydessä" %}</li>
      <li>{% trans "OPHVARDA-1233: Roolittomien henkilöiden poisto" %}</li>
      <li>{% trans "OPHVARDA-528: Lapsettomien huoltajien poisto" %}</li>
      <li>{% trans "OPHVARDA-2241: Korjaus testihenkilöiden luontiin" %}</li>
      <li>{% trans "OPHVARDA-2114, OPHVARDA-1756, OPHVARDA-1738, OPHVARDA-1767: Datan tuonnin automatisointi" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.6.9</b> (01.04.2021)
      <li>{% trans "OPHVARDA-2230: Päivitä linkit backendin aloitussivulla" %}</li>
      <li>{% trans "OPHVARDA-1807: Tilapäisten toimipaikkojen poikkeusten poisto" %}</li>
      <li>{% trans "OPHVARDA-2079: Python päivitys" %}</li>
      <li>{% trans "OPHVARDA-1822: CAS-käyttäjän perustietojen päivitys" %}</li>
      <li>{% trans "OPHVARDA-1788: Toimipaikan järjestämismuodon validointi" %}</li>
      <li>{% trans "OPHVARDA-2235: Salli työntekijän/tutkinnon/lapsen luonti mistä tahansa henkilöstä" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.6.8</b> (25.03.2021)
      <li>{% trans "OPHVARDA-2186: Henkilö-oikeuksien tarkennus" %}</li>
      <li>{% trans "OPHVARDA-2219: view_vakajarjestaja-oikeus toimipaikkaryhmille" %}</li>
      <li>{% trans "OPHVARDA-2226: Vakasuhteen ja toimipaikan päivämäärävalidointi" %}</li>
      <li>{% trans "OPHVARDA-1262: Tieto mahdollisesta turvakiellosta" %}</li>
      <li>{% trans "OPHVARDA-2227: Korjaa taydennyskoulutus_tyontekijat_remove-kentän toiminta" %}</li>
      <li>{% trans "OPHVARDA-2212: Toimipaikkakohtaiset oikeudet lapsen ja vakapäätöksen luonnissa" %}</li>
      <li>{% trans "OPHVARDA-1673: Poista huoltajilta syntymäpäivämäärä" %}</li>
      <li>{% trans "OPHVARDA-2165: Korjaa painotusten lähettämistä Organisaatiopalveluun" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.6.7</b> (18.03.2021)
      <li>{% trans "OPHVARDA-1716: Luovutuspalvelu-rajapintoihin kirjautuminen" %}</li>
      <li>{% trans "OPHVARDA-2005: Excel-raportit" %}</li>
      <li>{% trans "OPHVARDA-2192: S3-client" %}</li>
      <li>{% trans "OPHVARDA-2218: Tiedonsiirto-rajapinnan suorituskyvyn parannus" %}</li>
      <li>{% trans "OPHVARDA-2186: Henkilö-oikeuksien tarkennus" %}</li>
      <li>{% trans "OPHVARDA-2205: Duplikaattihenkilöiden luonnin esto" %}</li>
      <li>{% trans "OPHVARDA-2200: Palauta henkilön luonnissa ONR-nimitiedot" %}</li>
      <li>{% trans "OPHVARDA-1035: CSRF-headerit Opintopolun rajapintakutsuihin" %}</li>
      <li>{% trans "OPHVARDA-2156: Avoimen uudelleenohjauksen esto" %}</li>
      <li>{% trans "OPHVARDA-2214: Virhekoodi JSON-virheille" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.6.6</b> (11.03.2021)
      <li>{% trans "OPHVARDA-2204: Rajapintakutsujen rajan nosto henkilöstörajapinnoissa" %}</li>
      <li>{% trans "OPHVARDA-2217: Työskentelypaikan tehtävänimikkeen päivityksen validointi" %}</li>
      <li>{% trans "OPHVARDA-2193: Kooste-rajapintojen suorituskyvyn parannus" %}</li>
      <li>{% trans "OPHVARDA-2216: PAOS-toimipaikkalistauksen korjaus" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.6.5</b> (04.03.2021)
      <li>{% trans "OPHVARDA-1942: Lähdejärjestelmä- ja tunniste-kentät varhaiskasvatustietoihin" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.6.4</b> (25.02.2021)
      <li>{% trans "OPHVARDA-2149: Kelan etuusmaksatuksen tiedonsiirron korjaukset" %}</li>
      <li>{% trans "OPHVARDA-2201: Toimipaikan painotus-kytkimien automaattinen päivitys" %}</li>
      <li>{% trans "OPHVARDA-2163: Ylläpitotunnuksien salasanojen uusimisen pakotus" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.6.3</b> (18.02.2021)
      <li>{% trans "OPHVARDA-1778: Tilapäisen henkilöstön tallentamisen validointeja" %}</li>
      <li>{% trans "OPHVARDA-2196: Integraatio-asetuksen korjaus jos käytössä monta palvelukäyttäjää" %}</li>
      <li>{% trans "OPHVARDA-1781: Katsele tietoja rajapintamuutoksia" %}</li>
      <li>{% trans "OPHVARDA-2199: Palvelukäyttäjille oikeudet lasten puutteellisten tietojen rajapintaan" %}</li>
      <li>{% trans "OPHVARDA-2149: Kelan tiedonsiirtoon korjauksia" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.6.2</b> (11.02.2021)
      <li>{% trans "OPHVARDA-2149: Kelan tiedonsiirtoon korjauksia" %}</li>
      <li>{% trans "OPHVARDA-1764: Paranna päällekkäisten objektien tarkistusta" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.6.1</b> (04.02.2021)
      <li>{% trans "OPHVARDA-2153: Lasten ja vakapäätösten käyttöoikeuksien korjaus" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.6.0</b> (28.01.2021)
      <li>{% trans "OPHVARDA-1947: Syötä tietoja -hakurajapintoihin voimassa-filtterit" %}</li>
      <li>{% trans "OPHVARDA-2136: Tilinumeron poisto Vakajärjestäjän tiedoista" %}</li>
      <li>{% trans "OPHVARDA-1803: Omien tietojen katselunäkymän rajapinnat" %}</li>
      <li>{% trans "OPHVARDA-2173: Poissaolon pituuden validoinnin korjaus" %}</li>
      <li>{% trans "OPHVARDA-2166: Poistetaan poissaolon päivämäärien riippuvuus palvelussuhteesta" %}</li>
      <li>{% trans "OPHVARDA-2138: Anonymisointiin muutoksia" %}</li>
      <li>{% trans "OPHVARDA-2149: Kela tiedonsiirron korjauksia" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.5.2</b> (14.01.2021)
      <li>{% trans "OPHVARDA-2146 Puutteellisten raportilla näkyy maksutiedot tuplina" %}</li>
      <li>{% trans "OPHVARDA-2140 Salli passiivisen vakajärjestäjän käyttöoikeusryhmien käyttö" %}</li>
      <li>{% trans "OPHVARDA-1812 Katsele tietoja: Työntekijän haun toteutus osa 4" %}</li>
      <li>{% trans "OPHVARDA-2127 Vardan lokalisointirajapinnasta julkinen" %}</li>
      <li>{% trans "OPHVARDA-2143 Syötä tietoja paos toimipaikkojen listaus" %}</li>
      <li>{% trans "OPHVARDA-2145 Celery-tulosten siivous" %}</li>
      <li>{% trans "OPHVARDA-2148 Tiedonsiirtolokin tyhjennysaikataulu" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.5.1</b> (04.01.2021)
      <li>{% trans "CSCVARDA-2135: Pakotus rajapintasiirtoihin tieto tilapäisestä varhaiskasvatuksesta" %}</li>
      <li>{% trans "CSCVARDA-2133: Työajan pitää voida olla 0" %}</li>
      <li>{% trans "CSCVARDA-2108: Tietojen anonymisointiin muutoksia" %}</li>
      <li>{% trans "CSCVARDA-2141: Kelan tiedonsiirtoon liittyviä valmistelutöitä" %}</li>
      <li>{% trans "CSCVARDA-2067: Versiopäivityksiä" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.5.0</b> (17.12.2020)
      <li>{% trans "CSCVARDA-2125, CSCVARDA-2001, CSCVARDA-2026: Lasten ja henkilöstön puutteelliset tiedot" %}</li>
      <li>{% trans "CSCVARDA-2002: Tiedonsiirtojen virheraportti" %}</li>
      <li>{% trans "CSCVARDA-2115: Koodistojen järjestys nimen mukaan" %}</li>
      <li>{% trans "CSCVARDA-2056: Puhelinnumeron validoinnin tarkennus" %}</li>
      <li>{% trans "CSCVARDA-2104: Henkilöstötietojen luonnin käyttöoikeustarkennuksia" %}</li>
      <li>{% trans "CSCVARDA-2131: Katsele tietoja PAOS-käyttöoikeuksien korjaus" %}</li>
      <li>{% trans "CSCVARDA-2116: Kelan tiedonsiirtoon liittyviä valmistelutöitä" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.4.12</b> (03.12.2020)
      <li>{% trans "CSCVARDA-1740: Virhekoodisto ja virheviestien uudistus" %}</li>
      <li>{% trans "CSCVARDA-2112: Lisäys, muokkaus ja poisto kutsujen päivittäisen määrän nostaminen" %}</li>
      <li>{% trans "Kelan tiedonsiirtoihin valmistautumista" %}</li>
      <ul>
        <li>CSCVARDA-753, CSCVARDA-601, CSCVARDA-603, CSCVARDA-603</li>
      </ul>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.4.11</b> (26.11.2020)
      <li>{% trans "CSCVARDA-2039: Varhaiskasvatuspäätökselle tilapainen_vaka_kytkin" %}</li>
      <li>{% trans "CSCVARDA-2103: Postinumerokoodiston käyttöönotto" %}</li>
      <li>{% trans "CSCVARDA-2106: PAOS-lapsen tallentajaorganisaatio käyttöliittymän rajapinnassa" %}</li>
      <li>{% trans "CSCVARDA-2076: Täydennyskoulutuksen luonnin nopeutus" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.4.10</b> (12.11.2020)
      <li>{% trans "CSCVARDA-1941: Toimijan yhteystietojen tallennus pääkäyttäjäoikeuksilla" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.4.8</b> (29.10.2020)
      <li>{% trans "CSCVARDA-2001 CSCVARDA-2026 Vardan UI:n rajapinnan muutoksia, /api/v1/vakajarjestajat/{id}/toimipaikat/ 'voimassaolo' query parametri poistui johon korvaajana alkamis_pvm ja paattymis_pvm" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.4.7</b> (22.10.2020)
      <li>{% trans "CSCVARDA-1886 PO116 Toimipaikkakohtaisilla oikeuksilla täydennyskoulutuksen tallennus" %}</li>
      <li>{% trans "CSCVARDA-1938 Yksityinen toimija ei saa tallentaa maksutietoa, joka päättyy ennen 1.9.2020" %}</li>
      <li>{% trans "CSCVARDA-1850 PO14 Työskentelypaikan päättymispvmn validointi" %}</li>
      <li>{% trans "CSCVARDA-1939 Vardaan ei voi tallentaa poissaolotietoja, joissa päättymispäivämäärä on ennen 1.9.2020" %}</li>
      <li>{% trans "CSCVARDA-2046 Lisää työntekijän koosteeseen tunnistetiedot" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.4.6</b> (12.10.2020)
      <li>{% trans "CSCVARDA-2008 oph-käyttäjät eivät saa haettua vakasuhteita" %}</li>
      <li>{% trans "CSCVARDA-2000 Tehdään tilapäiseen toimipaikkaan mahdolliseksi jm02/03 lapsen tallentaminen" %}</li>
      <li>{% trans "CSCVARDA-1766 Lakkautettuun toimipaikkaa pitäisi voida syöttää lapsia" %}</li>
      <li>{% trans "CSCVARDA-2027 Täydennyskoulutus total-osallistujamäärä" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.4.5</b> (01.10.2020)
      <li>{% trans "CSCVARDA-1959: Lisäys opintopolun rajapintakutsuihin tulevaan CALLER-ID pakotukseen liittyen" %}</li>
      <li>{% trans "CSCVARDA-1961: Tunniste kentän tarkennus: Erikoismerkeistä sallitaan vain piste, viiva ja alaviiva (.-_)" %}</li>
      <li>{% trans "CSCVARDA-1958: Varhaiskasvatuspäätöksiin lapsi-suodatin, varhaiskasvatussuhteisiin varhaiskasvatuspäätös-suodatin" %}</li>
      <li>{% trans "CSCVARDA-1783: Tilapäisen henkilöstön tietoja ei voi tallentaa tulevaisuuteen" %}</li>
      <li>{% trans "CSCVARDA-1964: Maksutieto salli maksutiedon päivämäärien olevan sama kuin vakapäätöksen" %}</li>
      <li>{% trans "CSCVARDA-1867: Pidempi poissaolo: Toimipaikkakohtaisten käyttöoikeuksien parannuksia" %}</li>
      <li>{% trans "CSCVARDA-1969: Työskentelypaikan validoinnin parannusta" %}</li>
      <li>{% trans "CSCVARDA-1962: Työskentelypaikan luonnin nopeutus" %}</li>
      <li>{% trans "CSCVARDA-1535: Henkilo_oid pakolliseksi vardan tallentaessa henkilön tietoja ONR:stä" %}</li>
      <li>{% trans "CSCVARDA-1952: Työntekijän uniikkiuden virheviesti palautuu loppukäyttäjälle" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.4.4</b> (23.09.2020)
      <li>{% trans "CSCVARDA-1940: Palvelussuhde voi alkaa ennen toimipaikan alkamista" %}</li>
      <li>{% trans "CSCVARDA-1915: Täydennyskoulutuksen työntekijän lisää ja poista järjestyksen korjaus" %}</li>
      <li>{% trans "CSCVARDA-1879: Täydennyskoulutuksen kesto voi olla maksimissaan 160 pv" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.4.3</b> (10.09.2020)
      <li>{% trans "Bugikorjaus työntekijän uniikkiuden validointiin" %}</li>
      <li>{% trans "Caller-Id käyttöoikeuspalvelun kutsuihin" %}</li>
      <li>{% trans "CSCVARDA-1942: Lapsen päivitys (PUT/PATCH) palauttaa aina 200_OK. Rajapinnalla ei voi päivityksiä tehdä lapsi-objektiin." %}</li>
      <li>{% trans "CSCVARDA-1889: Vakajärjestäjien haku kunnan nimen perusteella (PAOS)" %}</li>
      <li>{% trans "CSCVARDA-1677: Henkilötietojen päivitys" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.4.2</b> (03.09.2020)
      <li>{% trans "CSCVARDA-1909 Yhteenvetonäkymän hakupäivämäärän korjaus" %}</li>
      <li>{% trans "CSCVARDA-1883 Syötä tietoja näkymään hetu ja oppijanumerohaku" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.4.1</b> (01.09.2020)
      <li>{% trans "CSCVARDA-1876 Muutetaan lapsen vakatoimija kenttä pakolliseksi" %}</li>
      <li>{% trans "CSCVARDA-1895 OPH käyttäjille henkilöstöoikeudet" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.4.0</b> (27.08.2020)
      <li>{% trans "Henkilöstökokonaisuuden käyttöönotto" %}</li>
      <li>{% trans "Huoltajan katselunäkymän käyttöönotto" %}</li>
      <li>{% trans "CSCVARDA-1837: Oppijanumero palautuu myös silloin kuin henkilö lisätään ensimmäistä kertaa" %}</li>
      <li>{% trans "CSCVARDA-1874: Toimipaikan alkamispäivämäärää ei voi päivittää olemaan päättymispäivämäärän jälkeen" %}</li>
      <li>{% trans "Tietoturvapäivityksiä:" %}</li>
      <ul>
        <li>CSCVARDA-1869, CSCVARDA-909</li>
      </ul>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.3.22</b> (06.08.2020)
      <li>{% trans "CSCVARDA-1705: Lapsi objektin voi poistaa jos vaka- ja huoltajatiedot ovat poistettu" %}</li>
      <li>{% trans "CSCVARDA-1836: Yksityisten maksutietojen tallennukseen parannus" %}</li>
      <li>{% trans "Henkilöstön käyttöönottoon valmistautumista:" %}</li>
      <ul>
        <li>CSCVARDA-1795, CSCVARDA-1271, CSCVARDA-1834, CSCVARDA-1801</li>
      </ul>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.3.21</b> (30.07.2020)
      <li>{% trans "CSCVARDA-1829 ja CSCVARDA-1830: Yhteenvetonäkyman laskentakaavojen tarkennuksia" %}</li>
      <li>{% trans "CSCVARDA-1802: Paos lupiin korjaus kuntien välisessä toiminnassa" %}</li>
      <li>{% trans "CSCVARDA-1476: Hae ja muokkaa rajapintamuutoksia" %}</li>
      <li>{% trans "Henkilöstön käyttöönottoon valmistautumista:" %}</li>
      <ul>
        <li>CSCVARDA-1776</li>
      </ul>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.3.20</b> (16.07.2020)
      <li>{% trans "CSCVARDA-1403 Validointi: järjestämismuodot" %}</li>
      <li>{% trans "CSCVARDA-1679 Vakatoimijalle lisätään tieto sisältötyyppien mukaan (integraatio)" %}</li>
      <li>{% trans "CSCVARDA-1779 Työskentelypaikan mitätöinnin validointi" %}</li>
      <li>{% trans "CSCVARDA-1639 Muokkaa toimipaikan lähdejärjestelmäkenttä hallinnointijärjestelmäksi" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.3.19</b> (09.07.2020)
      <li>{% trans "CSCVARDA-996 Työntekijän osoitetietojen poisto" %}</li>
      <li>{% trans "CSCVARDA-1744 Henkilöstön päivämäärien lisävalidointeja" %}</li>
      <ul>
        <li>CSCVARDA-1646, CSCVARDA-1647</li>
      </ul>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.3.18</b> (02.07.2020)
      <li>{% trans "CSCVARDA-1648: Batcherror henkilömuutoksiin" %}</li>
      <li>{% trans "CSCVARDA-1753: Paos lasten maksutietojen käyttöoikeuksien parannuksia" %}</li>
      <li>{% trans "CSCVARDA-1791: Vakajärjestäjän ja toimipaikan välisen päivämäärätarkastuksen poistaminen" %}</li>
      <li>{% trans "Henkilöstön käyttöönottoon valmistautumista" %}</li>
      <ul>
        <li>CSCVARDA-1461, CSCVARDA-1459, CSCVARDA-1648, CSCVARDA-1719</li>
      </ul>
      <li>{% trans "Sisäisiä toiminnallisuuksia" %}</li>
      <ul>
        <li>CSCVARDA-1433, CSCVARDA-1611</li>
      </ul>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.3.17</b> (11.06.2020)
      <li>{% trans "Lokituksen parannusta puuttuville käyttäjäryhmille" %}</li>
      <li>{% trans "CSCVARDA-1732: Lokalisointipalvelu-proxy käyttöliittymälle" %}</li>
      <li>{% trans "CSCVARDA-1504: Päivämäärävalidointeja" %}</li>
      <ul>
        <li>{% trans "Kieli- ja toiminnallisenpainotuksen päivämäärät pitää olla toimipaikan päivämäärien sisällä" %}</li>
        <li>{% trans "Toimipaikan alkamis- ja päättymispäivämäärä pitää olla vakajärjestäjän alkamis- ja päättymispäivämäärän sisällä" %}</li>
      </ul>
      <li>{% trans "Tietoturvapäivityksiä" %}</li>
      <li>{% trans "Asiakaspalvelun yhteysosoite päivitetty" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.3.16</b> (04.06.2020)
      <li>{% trans "CSCVARDA-1591: Yksityisten toimijoiden maksutietojen muutokset, perheen_koko minimiarvo nostettu 2:een" %}</li>
      <li>{% trans "CSCVARDA-1712: Yhdellä virkailijatunnuksella on jatkossa mahdollista syöttää useampaan organisaation saman henkilön tietoja" %}</li>
      <li>{% trans "CSCVARDA-1735: Huoltajien katselunäkymään valmistautumista" %}</li>
      <li>{% trans "CSCVARDA-1460: Henkilöstön käyttöönottoon valmistautumista" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.3.15</b> (28.05.2020)
      <li>{% trans "CSCVARDA-1629: Lapsen voi lisätä henkilo_oid:lla" %}</li>
      <li>{% trans "CSCVARDA-1710: Vardan koodistot julkisesti saataville sekä koodistopalveluintegraatio" %}</li>
      <li>{% trans "CSCVARDA-1042: Huoltajien katselunäkymään valmistautumista" %}</li>
      <li>{% trans "Henkilöstön käyttöönottoon valmistautumista" %}</li>
      <ul>
        <li>CSCVARDA-992, CSCVARDA-1463, CSCVARDA-1462</li>
      </ul>
      <li>{% trans "Sisäisiä parannuksia" %}</li>
      <ul>
        <li>CSCVARDA-1717, CSCVARDA-1723</li>
      </ul>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.3.14</b> (11.05.2020)
      <li>{% trans "CSCVARDA-1670: Paos toiminnallisuuksien parannuksia" %}</li>
      <li>{% trans "CSCVARDA-1235: Päivämäärävalidoinnin tarkennus" %}</li>
      <ul>
        <li>{% trans "Varhaiskasvatuspäätösten, -suhteiden ja maksutietojen päivämäärät tulee olla vuoden 2000 jälkeen" %}</li>
      </ul>
      <li>{% trans "CSCVARDA-1525: Varhaiskasvatussuhteen validointitarkennus" %}</li>
      <ul>
        <li>{% trans "Mikäli varhaiskasvatuspäätöksellä on päättymispäivämäärä, tulee varhaiskasvatussuhteella olla päättymispäivämäärä" %}</li>
      </ul>
      <li>{% trans "CSCVARDA-1682: Sisäisiä toiminnallisuusparannuksia" %}</li>
      <li>{% trans "Bugikorjaus: Palautetaan validointivirhe mikäli yritetään päivittää maksutietoa lapselle jolta puuttuu varhaiskasvatustiedot" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.3.13</b> (24.04.2020)
      <li>{% trans "CSCVARDA-1190: Maksutiedot voi syöttää uudelle lapselle samantien jos lapsen huoltajatiedot jo löytyvät Vardasta" %}</li>
      <ul>
        <li>{% trans "Aikaisemmin tässä oli ohjeistuksena että maksutietojen syöttö vasta seuraavana päivänä" %}</li>
      </ul>
      <li>{% trans "CSCVARDA-1593: Bugikorjaus liittyen maksutietoihin PAOS-lapsilla" %}</li>
      <li>{% trans "CSCVARDA-1464: HR-rajapintojen valmistelua" %}</li>
      <li>{% trans "CSCVARDA-1485: Sisäisiä virheenkäsittelyparannuksia" %}</li>
      <li>{% trans "CSCVARDA-1194: Sisäisiä infrastruktuuriparannuksia" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.3.12</b> (16.04.2020)
      <li>{% trans "CSCVARDA-1484: Paos-lapsen ja vakatietojen lisäyksessä käyttöoikeudet heti toimijatasolle" %}</li>
      <li>{% trans "CSCVARDA-1492: Järjestäjätieto-kenttä mukaan lasta lisättäessä" %}</li>
      <li>{% trans "CSCVARDA-1492: Lapsen ja vakatietojen lisäyksessä käyttöoikeudet heti toimijatasolle jos järjestäjätieto on annettu" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.3.11</b> (08.04.2020)
      <li>{% trans "Parannuksia ajastettuihin ajoihin" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.3.10</b> (02.04.2020)
      <li>{% trans "CSCVARDA-1559: Salli toimipaikan toimintamuodon muokkaus" %}</li>
      <li>{% trans "CSCVARDA-1398: Katsele tietoja: lasten tietojen suodatus päivämäärien mukaan" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.3.9</b> (26.03.2020)
      <li>{% trans "CSCVARDA-1478: Toimipaikan nimikenttä hyväksyy kaksoispisteen" %}</li>
      <li>{% trans "CSCVARDA-1299: Maksutietojen päivämäärät validoidaan vakatietojen perusteella" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.3.8</b> (12.03.2020)
      <li>{% trans "CSCVARDA-1064: Perhepäivähoitajien ja ryhmäperhepäivähoitajien toimipaikat siirtyvät jatkossa organisaatiopalveluun" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.3.7</b> (12.03.2020)
      <li>{% trans "CSCVARDA-1064: Perhepäivähoitajien ja ryhmäperhepäivähoitajien oiditus" %}</li>
      <li>{% trans "CSCVARDA-1532: Sähköpostivalidoinnin parannuksia" %}</li>
      <li>{% trans "CSCVARDA-1310: Palvelun sisäisiä parannuksia" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.3.6</b> (05.03.2020)
      <li>{% trans "Vakatoimijan nimen pituuden muutos 100:sta merkistä 400:aan" %}</li>
      <li>{% trans "CSCVARDA-1412: Paostoimintojen toiminnallisuuksien parantaminen" %}</li>
      <li>{% trans "CSCVARDA-1527: Vanhojen henkilöstörajapintojen poisto" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.3.5</b> (28.02.2020)
      <li>{% trans "CSCVARDA-1248: Salli toimipaikan nimen muokkaus" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.3.4</b> (18.02.2020)
      <li><b>{% trans "Merkittävä rajapintamuutos" %}</b></li>
      <ul>
        <li>{% trans "CSCVARDA-1399: Henkilö-rajapinta palauttaa henkilo_oid:n luonnin yhteydessä. Konfliktivirhekoodi vaihdettu 409 ConflictError -> 200 OK." %}</li>
      </ul>
      <li>{% trans "Vakatoimijoiden hakuun lisättiin hakuehtoihin postitoimipaikka." %}</li>
      <li>{% trans "CSCVARDA-1373: Korjattu 'Huoltajuussuhde jää ei-aktiiviseksi jos tietojen päivityksessä tapahtuu virhe'." %}</li>
      <li>{% trans "CSCVARDA-1408: Lisätty tarkempi validointi varhaiskasvatussuhteen alkamis_pvm:ään." %}</li>
      <li>{% trans "CSCVARDA-1424: Lisätty muutos_pvm lapsen kooste rajapinnan tietoihin." %}</li>
      <li>{% trans "CSCVARDA-1373: Korjaa duplikaattihuoltajan syntyminen jos huoltajan hetu vaihtuu." %}</li>
      <li>{% trans "CSCVARDA-1434: Bugikorjaus: Salli organisaation luonti ilman y-tunnusta." %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.3.3</b> (17.01.2020)
      <li>{% trans "Bugikorjauksia" %}</li>
      <ul>
        <li>{% trans "Lapsi lomakkeen käyttämään rajapintaan lisätty syntymäpäivämäärä ja oppijanumero" %}</li>
        <li>Logitusta paranneltu (CSCVARDA-1425)</li>
      </ul>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.3.2</b> (03.01.2020)
      <li>{% trans "Kooste lapsen tiedoista saatavilla: <b>/api/v1/lapset/xx/kooste</b>" %}</li>
      <li>{% trans "Suorituskykyoptimointeja" %}</li>
      <li>{% trans "Bugikorjauksia" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.3.1</b> (31.12.2019)
      <li>{% trans "Bugikorjauksia" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.3.0</b> (19.12.2019)
      <li>{% trans "Yksityisten varhaiskasvatusjärjestäjien kirjautuminen" %}</li>
      <li>{% trans "Palveluseteli- ja ostopalvelukokonaisuus" %}</li>
      <li>{% trans "Bugikorjauksia" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.2.9</b> (3.12.2019)
      <li>{% trans "Salli yhden päivän maksutiedot" %}</li>
      <li>{% trans "JM02 ja JM03 koodien päivitys" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.2.8</b> (25.11.2019)
      <li>{% trans "PAOS-kokonaisuutta tukeva alustava toiminnallisuus" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.2.7</b> (18.11.2019)
      <li>{% trans "Sallitaan hetullisen henkilön syöttäminen vardaan oppijanumerolla" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.2.6</b> (30.10.2019)
      <li>{% trans "POST /api/v1/maksutiedot/ palauttaa nyt response-viestissä <b>henkilotunnus</b>-parametrin jos maksutieto on syötetty käyttäen huoltajan henkilötunnusta. Jos huoltaja on syötetty käyttäen <b>henkilo_oid</b> tietoa, ei <b>henkilotunnus</b>-parametria palauteta." %}</li>
      <ul>
        <li>{% trans "<b>Huom!</b> GET /api/v1/maksutiedot/{id}/ ei edelleenkään palauta huoltajien <b>henkilotunnus</b>-parametria." %}</li>
      </ul>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.2.5</b> (15.10.2019)
      <li>{% trans "Termistömuutos:" %}</li>
      <ul>
        <li>{% trans "/api/v1/vakajarjestajat/xx/yhteenveto/" %}</li>
        <ul>
          <li>{% trans "aktiivinen termit vaihdettu voimassaoleva-termeihin" %}</li>
        </ul>
      </ul>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.2.4</b> (11.10.2019)
      <li>{% trans "Pieniä bugikorjauksia" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.2.3</b> (30.09.2019)
      <li>{% trans "Bugikorjauksia" %}</li>
      <ul>
        <li>{% trans "Rajapinnan viiveitä on pienennetty huomattavasti" %}</li>
        <li>{% trans "Varhaiskasvatussuhteen syöttäminen on epäonnistunut joissain harvinaisissa tilanteissa" %}</li>
      </ul>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.2.2</b> (20.09.2019)
      <li>{% trans "Bugikorjaus (maksutietojen muutos ei onnistunut aikaisemmin)" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.2.1</b> (16.09.2019)
      <li>{% trans "Bugikorjauksia" %}</li>
      <li>{% trans "Maksutiedot:" %}</li>
      <ul>
        <li>{% trans "Koodiarvot MP02, MP03: Lisätty mahdollisuus luoda maksutietoja, joissa sekä asiakasmaksu että palvelusetelin arvo ovat 0" %}</li>
        <li>{% trans "Parannettu validointeja" %}</li>
      </ul>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.2.0</b> (27.08.2019)
      <li>{% trans "Maksutiedot lisätty" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.1.5</b> (01.08.2019)
      <li>{% trans "Hakee huoltajatiedot oppijanumerorekisteristä" %}</li>
      <li>{% trans "Parantaa maksutietojen validointia." %}</li>
      <li>{% trans "Tarjoa aktiiviset maksutiedot yhteenveto rajapinnasta." %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.1.4</b> (15.07.2019)
      <li>{% trans "Varhaiskasvatussuhde ei voi alkaa tai päättyä toimipaikan päättymisen jälkeen" %}</li>
      <li>{% trans "Palvelun sisäisiä parannuksia" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.1.3</b> (01.07.2019)
      <li>
        <b>{% trans "Henkilön syöttäminen oppijanumerolla (hetuton henkilö): Tähän vaaditaan nimitiedot jatkossa mukaan, samaan tapaan kuin hetullisen henkilön syöttäminen on jo ollut." %}</b>
      </li>
      <li>{% trans "POST /api/v1/henkilot/ palauttaa" %}</li>
      <ul>
        <li>{% trans "HTTP 400 jos validointi ei onnistu" %}</li>
        <li>{% trans "HTTP 201 jos henkilön luonti onnistui" %}</li>
        <li>{% trans "HTTP 409 jos henkilö on jo Vardassa. Tällöin Varda palauttaa henkilön perustiedot, jonka jälkeen /api/v1/hae-henkilo/ kutsua ei tarvitse enää suorittaa." %}</li>
      </ul>
      <li>{% trans "Varhaiskasvatuspäätöksen tuntimäärä oltava jatkossa minimissään 1h" %}</li>
      <li>{% trans "Validointeja päivitetty" %}</li>
      <li>{% trans "Bugikorjauksia" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.1.2</b> (12.06.2019)
      <li>{% trans "Uusi rajapinta /api/v1/varhaiskasvatuspaatokset/xx/varhaiskasvatussuhteet/ lisätty" %}</li>
      <li>{% trans "Tietoturvapäivityksiä" %}</li>
      <li>{% trans "Validointeja kehitetty" %}</li>
      <ul>
        <li>{% trans "Toimipaikan osoitteen (kayntiosoite, postiosoite) pituus oltava 3-100 merkkiä." %}</li>
        <li>{% trans "Ns. tilapäiset henkilötunnukset ei sallittuja enää tuotannossa. Eli järjestysnumero 9:llä alkavat." %}</li>
      </ul>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.1.1</b> (16.05.2019)
      <li>{% trans "/api/v1/vakajarjestajat/ sivun pituus muutettu 200 -> 20" %}</li>
      <li>{% trans "Bugikorjaus" %}</li>
      <ul>
        <li>{% trans "varhaiskasvatuspaatoksen ja vakasuhteen paivamaarien synkkaus." %}</li>
      </ul>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.1.0</b> (15.05.2019)
      <li>{% trans "Uudet api-throttle rajat" %}</li>
      <ul>
        <li>{% trans "15 req/s" %}</li>
        <li>{% trans "GET: 10 000 req/päivä" %}</li>
        <li>{% trans "POST, PUT, PATCH, DELETE: 50 000 req/päivä" %}</li>
      </ul>
      <li>{% trans "Rajapintatulosten sorttaukset" %}</li>
      <ul>
        <li>{% trans "/api/v1/vakajarjestajat/xx/toimipaikat/ toimipaikan nimen mukaan." %}</li>
        <li>{% trans "/api/v1/toimipaikat/xx/lapset/ sukunimen ja etunimien mukaan." %}</li>
      </ul>
      <li>{% trans "Validointeja kehitetty" %}</li>
      <ul>
        <li>{% trans "alkamis- ja paattymis_pvm ei voi olla sama. Poikkeus: Tilapaisesti hoidossa olevien varhaiskasvatuspaatos ja -suhde voi kestaa yhden paivan." %}</li>
        <li>{% trans "varhaiskasvatuspaatos ei voi päättyä ennen kuin varhaiskasvatussuhde on päättynyt." %}</li>
      </ul>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.0.3</b> (15.04.2019)
      <li>{% trans "Varhaiskasvatuspäätös" %}</li>
      <ul>
        <li>{% trans "Vuorohoitokytkinten validointi." %}</li>
        <ul>
          <li>Mikäli lapsi on vuorohoidossa, kokoaikainen_vaka_kytkin ja paivittainen_vaka_kytkin merkitään tyhjäksi
          </li>
          <li>Mikäli lapsi ei ole vuorohoidossa, vaaditaan sekä kokoaikainen_vaka_kytkin, että
            paivittainen_vaka_kytkin
          </li>
        </ul>
        <li>{% trans "Yhteenvetonäkymä." %}</li>
        <ul>
          <li>Jokaiselle varhaiskasvatustoimijalle tulossa yhteenvetonäkymä heidän organisaatioonsa syötetyistä
            tiedoista
          </li>
        </ul>
      </ul>
      <li>{% trans "Nimi ja yhteystiedot menevät Organisaatiopalveluun kolmella kielellä (suomi, ruotsi ja englanti)" %}</li>
      <li>{% trans "Bugikorjauksia" %}</li>
      <ul>
        <li>{% trans "Korjattu suuri viive toimipaikan muutoksissa / kieli- ja toiminnallisissa painotuksissa (lisäykset/muutokset)." %}</li>
        <li>{% trans "Henkilön nimivalidointi: Aikaisemmin ei sallinut esim. merkkiä é." %}</li>
      </ul>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.0.2</b> (26.02.2019)
      <li>{% trans "Bugikorjauksia" %}</li>
      <ul>
        <li>{% trans "Varhaiskasvatuspäätöksen muokkaaminen (PUT/PATCH) ei palauttanut kaikkia päätöksen tietoja, ainoastaan pvm-kentät." %}</li>
      </ul>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.0.1</b> (20.02.2019)
      <li>{% trans "Bugikorjauksia" %}</li>
      <ul>
        <li>{% trans 'Yhden ja saman toimipaikan pystyi syöttämään "vahingossa" monta kertaa Vardan kautta Org.palveluun.' %}</li>
      </ul>
    </ul>
  </div>

  <div class="row">
    <ul><b>1.0.0</b> (05.02.2019)
      <li>{% trans "Varhaiskasvatussuhde" %}</li>
      <ul>
        <li>{% trans "Päätöslinkkiä ei voi muuttaa syötön jälkeen." %}</li>
        <li>{% trans "Toimipaikkalinkkiä ei voi muuttaa syötön jälkeen." %}</li>
      </ul>
      <li>{% trans "Varhaiskasvatuspäätös" %}</li>
      <ul>
        <li>{% trans "Muita kuin päivämäärätietoja ei voi muokata." %}</li>
      </ul>
      <li>{% trans "Kielikoodisto" %}</li>
      <ul>
        <li>{% trans "Varda käyttää jatkossa kielikoodia: https://virkailija.testiopintopolku.fi/koodisto-service/rest/json/kielikoodistoopetushallinto/koodi" %}</li>
        <li>{% trans 'HUOM! Edellisessä koodistossa arvoja, joita ei uudessa ole esim. koodiarvo "98" ja "se" poistuvat käytöstä' %}</li>
        <ul>
          <li>{% trans "https://virkailija.testiopintopolku.fi/koodisto-service/rest/json/kieli/koodi" %}</li>
        </ul>
      </ul>
    </ul>
  </div>

  <div class="row">
    <ul><b>0.9.5</b> (30.01.2019)
      <li>{% trans "Hetullisen henkilön VTJ-yksilöinti" %}</li>
      <ul>
        <li>{% trans "Jos tämä epäonnistuu → Vardan ylläpito ottaa kuntaan yhteyttä asian ratkaisemiseksi." %}</li>
      </ul>
      <li>{% trans "Validointeja päivitetty" %}</li>
      <ul>
        <li>{% trans "Toimipaikan nimessä sallittu numeroiden ja kirjaimien lisäksi merkit: '/', '&', '+', '(', ')', '-', ','" %}</li>
        <li>{% trans "Henkilön kutsumanimen tarkastamiseen tiukennuksia." %}</li>
        <ul>
          <li>{% trans "Esim. etunimi 'Liisa-Marjatta Tuulikki'. Tämän sallitut kutsumanimet: 'Liisa', 'Marjatta', 'Liisa-Marjatta' ja 'Tuulikki'. 'Marja' ei käy." %}</li>
        </ul>
      </ul>
      <li>{% trans "Bugikorjauksia" %}</li>
      <ul>
        <li>{% trans "Varhaiskasvatuspäätöksen paattymis_pvm ei voinut asettaa ilman aloitus_pvm (PATCH-request)." %}</li>
        <li>{% trans "Käyttöoikeusongelma liittyen PAOS-toimipaikkoihin korjattu." %}</li>
      </ul>
    </ul>
  </div>

  <div class="row">
    <ul><b>0.9.0</b> (08.01.2019)
      <li>{% trans "Toimipaikan painotusten päivittäminen Organisaatiopalveluun lisätty." %}</li>
      <li>{% trans "Jokaiselle vakajärjestäjälle lisätty toimipaikka: <i>'Palveluseteli ja ostopalvelu' + vakajärjestäjän nimi</i>." %}</li>
      <ul>
        <li>{% trans "Esimerkki: Palveluseteli ja ostopalvelu Helsingin kaupunki." %}</li>
      </ul>
      <li>{% trans "Perhepäivähoitajia (toimipaikkoja) ei viedä Organisaatiopalveluun." %}</li>
      <li>{% trans "Käyttöoikeuksia päivitetty virkailijoiden osalta." %}</li>
      <li>{% trans "Tietomalli" %}</li>
      <ul>
        <li>{% trans "Vakapäätöksen tuntimaara_viikossa: max-arvo muutettu 168 → 120." %}</li>
      </ul>
      <li>{% trans "Bugikorjauksia." %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>0.8.5</b> (20.12.2018)
      <li>{% trans "Tietomalliin muutos: toimipaikan kaikki osoitetiedot ovat nyt pakollisia." %}</li>
      <ul>
        <li>{% trans "Pakollisuus koskee siis jatkossa myös  kenttiä: Käyntiosoite, Käyntiosoitteen_postinumero ja Käyntiosoite_postitoimipaikka." %}</li>
      </ul>
    </ul>
  </div>

  <div class="row">
    <ul><b>0.8.4</b> (19.12.2018)
      <li>{% trans "Varhaiskasvatuspäätös: Pikakäsittely_kytkin tietoa ei voi jatkossa syöttää." %}</li>
      <li>{% trans "PATCH-metodi poistettu /api/v1/toimipaikat/. Toimipaikka-muutokset jatkossa PUT-requestilla." %}</li>
      <li>{% trans "Ratelimit asetettu basic auth-pyyntöihin (apikeyn nouto). Ei salli pyyntöjä kuin kerran 5 min sisällä." %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>0.8.3</b> (13.12.2018)
      <li>{% trans "Korjaus: Palvelukäyttäjälle annettu oikeudet luoda toimipaikka." %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>0.8.2</b> (12.12.2018)
      <li>{% trans "Käyttäjien oikeuksia toimipaikkojen luomiseen/muokkaamiseen päivitetty." %}</li>
      <li>{% trans "Toimipaikan tietojen muokkaus päivittyy nyt myös Organisaatiopalveluun." %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>0.8.1</b> (12.12.2018)
      <li>{% trans "Bugikorjaus liittyen palvelukäyttäjän henkilö-hakuun." %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>0.8.0</b> (11.12.2018)
      <li>{% trans "Mittavia muutoksia liittyen" %}</li>
      <ul>
        <li>{% trans "käyttäjän/vaka-organisaation kirjautumiseen/rekisteröitymiseen" %}</li>
        <li>{% trans "käyttöoikeuksiin" %}</li>
      </ul>
      <li>{% trans "Vakajarjestaja: mahdollisuus lisätä/muokata" %}</li>
      <ul>
        <li>{% trans "sähköpostiosoite" %}</li>
        <li>{% trans "tilinumero" %}</li>
        <li>{% trans "puhelinnumero" %}</li>
      </ul>
      <li>{% trans "Toimipaikan lisäys" %}</li>
      <ul>
        <li>{% trans "toimipaikka lisätään Organisaatiopalveluun, ja paluuviestissä toimitetaan organisaatio_oid." %}</li>
      </ul>
      <li>{% trans "Toimipaikan poisto" %}</li>
      <ul>
        <li>{% trans "tämä ei ole enää mahdollista. Käytä paattymis_pvm vanhentuneelle toimipaikalle." %}</li>
      </ul>
      <li>{% trans "Tietomallimuutokset" %}</li>
      <ul>
        <li>{% trans "Toimipaikan nimen max-pituus kasvatettu 200 merkkiin. Oli aikaisemmin 100 merkkiä." %}</li>
        <li>{% trans "Varhaiskasvatuspaatos/jarjestamismuoto_koodi listamuodosta stringiksi." %}</li>
        <li>{% trans "Toimipaikan asiointikieli muutettu stringistä listaksi." %}</li>
        <li>{% trans "hoitopaikat => varhaiskasvatuspaikat" %}</li>
        <li>{% trans "kokoaikainen_vaka_kytkin => kokopaivainen_vaka_kytkin" %}</li>
        <li>{% trans "oppijanumero-kenttä poistettu henkilö-taulusta. Käytä henkilo_oid." %}</li>
        <li>{% trans "id-kenttä lisätty rajapintaan eri näkymiin" %}</li>
      </ul>
      <li>{% trans "Koodistoa päivitetty" %}</li>
      <li>{% trans "Validointeja päivitetty" %}</li>
      <li>{% trans "Bugeja korjattu" %}</li>
      <li>{% trans "Tietoturvapäivityksiä" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>0.6.0</b> (29.10.2018)
      <li>{% trans "Päivämääräkentistä poistettu default-arvot" %}</li>
      <li>{% trans "Kieli- ja toiminallinenpainotus: lista koodeja -> koodi-string" %}</li>
      <li>{% trans "Tietomalli: toimipaikan osoitetiedot täydentyneet" %}</li>
      <li>{% trans "Tietomalli: vakasuhde linkittyy nyt vakapäätökseen" %}</li>
      <li>{% trans "Henkilön lisääminen Vardaan oid:lla (hetuton)" %}</li>
      <li>{% trans "Henkilön haku-logiikkaa muutettu (GET -> POST)" %}</li>
      <li>{% trans "Palvelukäyttäjän autentikointi" %}</li>
      <li>{% trans "Esiopetustiedot poistettu" %}</li>
      <li>{% trans "Rekisteröinti poistettu" %}</li>
      <li>{% trans "Tietoturva-asioita paranneltu" %}</li>
      <li>{% trans "Validointeja päivitetty" %}</li>
      <li>{% trans "Bugi-korjauksia" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>0.3.4</b> (28.8.2018)
      <li>{% trans "Kuntakoodi-validointeja päivitetty" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>0.3.3</b> (20.8.2018)
      <li>{% trans "paivittainen_hoito_kytkin -> paivittainen_vaka_kytkin" %}</li>
      <li>{% trans "kokoaikainen_hoito_kytkin -> kokoaikainen_vaka_kytkin" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>0.3.2</b> (15.8.2018)
      <li>{% trans "Johtaja-kenttä poistettu Toimipaikka-taulusta" %}</li>
      <li>{% trans "Rajapinnassa mahdollisuus tehdä apikey-refresh" %}</li>
      <li>{% trans "Rajapinnassa mahdollisuus testidatan poistoon helposti" %}</li>
      <li>{% trans "Rajapinnan bugeja korjattu, sekä tiedon validointeja kehitetty" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>0.3.1</b> (20.6.2018)
      <li>{% trans "Rajapinnan bugeja korjattu" %}</li>
    </ul>
  </div>

  <div class="row">
    <ul><b>0.3.0</b> (29.5.2018)
      <li>{% trans "Uusi tietomalli otettu käyttöön" %}
        <ul>
          <li>{% trans "Poistettu: Toimipiste, Ryhmä" %}</li>
          <li>{% trans "Lisätty: Täydennyskoulutus, Esiopetussuhde, Esiopetus-suoritus" %}</li>
        </ul>
      </li>
      <li>{% trans "IP-rajaus otettu käyttöön" %}</li>
    </ul>
  </div>

  <br><br>
  <div>
    <a href="/" class="navbar-btn btn-info btn pull-left">
      <span class="glyphicon glyphicon-arrow-left"></span> {% trans "Takaisin" %}</a>
  </div>
</div>

<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <p class="navbar-text pull-left">
      <b>{% trans "Versio" %}: 1.6.46</b>
    </p>

    <a href="mailto:varda@opintopolku.fi" class="navbar-btn btn-danger btn pull-right">
      <span class="glyphicon glyphicon-envelope"></span> varda@opintopolku.fi</a>
  </div>
</div>
</body>
</html>
