.huoltaja-container {
  position: relative;
  margin: 1rem auto;
  width: calc(100% - 2rem);
  max-width: 1000px;
  min-height: 50vh;
}

.huoltaja-versio {
  color: var(--oph-gray);
  margin: 0 auto;
  padding: 0.5rem 1rem;
  max-width: 1160px;
}

@media (max-width: 740px) {
  .huoltaja-container {
    width: calc(100% - 1rem);
  }
}
