<footer class="varda-footer-wrapper"
        appHighContrast>
  <div class="varda-footer-section site-version">
    <span>{{ i18n.versio_VALUE | translate: {value: '1.4.3'} }}</span>
  </div>
  <div class="varda-footer-section">
    <a href="javascript:void(0);"
       (click)="toggleAccesibilitySettingsVisibility()"
       class="varda-footer-link">
      {{'label.accessibilitysettings' | translate}}
    </a>
    <a href="{{'footer.url.accessibilityinfo' | translate}}"
       target="_blank"
       class="varda-footer-link">
      {{'label.accessibilityinfo' | translate}}
    </a>
  </div>
</footer>
