<footer class="varda-footer-wrapper"
        appHighContrast>
  <div class="varda-footer-section site-version">
    <span>{{ i18n.versio_VALUE | translate: {value: '1.5.5'} }}</span>
  </div>
  <div class="varda-footer-section">
    <a href="javascript:void(0);"
       (click)="toggleAccesibilitySettingsVisibility()"
       class="varda-footer-link">
      {{ i18n.accessibility_settings | translate }}
    </a>
    <a [href]="i18n.accessibility_href | translate"
       target="_blank"
       class="varda-footer-link">
      {{ i18n.accessibility_info | translate }}
    </a>
  </div>
</footer>
