<footer class="varda-footer-wrapper" appHighContrast>
  <div class="varda-footer-section site-version">
    <span>{{'label.version' | translate: {value: '1.3.7'} }}</span>
  </div>
  <div class="varda-footer-section">
    <a href="javascript:void(0);" (click)="toggleAccesibilitySettingsVisibility()" class="varda-footer-link">
      {{'label.accessibilitysettings' | translate}}
    </a>
    <a href="{{'footer.url.accessibilityinfo' | translate}}"
      target="_blank" class="varda-footer-link">
      {{'label.accessibilityinfo' | translate}}
    </a>
  </div>
</footer>
