@if (objectList) {
  <mat-expansion-panel class="palvelussuhteet mt-4 main-section"
    (opened)="togglePanel(true)"
    (closed)="togglePanel(false)"
    [expanded]="expandPanel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2 class="varda-fieldset-legend">
          {{ i18n.varhaiskasvatuspaatokset | translate }}
          @if (objectList?.length) {
            <span>({{ objectList.length }})</span>
          }
        </h2>
      </mat-panel-title>
      @if (lapsitiedotTallentaja) {
        @if (objectList.length) {
          <mat-panel-description>
            <button class="varda-text-button" id="add-varhaiskasvatuspaatos"
              (keydown.enter)="initObject()"
              (click)="initObject()">
              <mat-icon class="d-none d-md-inline-block" alt="">assignment_outline</mat-icon>
              <mat-icon alt="">add</mat-icon>{{ i18n.varhaiskasvatuspaatokset_lisaa_varhaiskasvatuspaatos | translate }}
            </button>
          </mat-panel-description>
        }
      }
    </mat-expansion-panel-header>
    <div class="tyontekija-panel-content tyontekija-panel-content-first">
      @if (!toimipaikkaAccess.lapsitiedot.katselija) {
        <div class="ei-palvelussuhteita"
          role="alert">
          <p>{{ i18n.varhaiskasvatuspaatokset_ei_oikeuksia | translate }}</p>
        </div>
      }
      @if (toimipaikkaAccess.lapsitiedot.katselija) {
        @if (!objectList.length) {
          <div
            class="ei-palvelussuhteita"
            role="alert">
            <p class="missing-info">
              <mat-icon aria-ignore>error_outline</mat-icon>
              {{ i18n.varhaiskasvatuspaatokset_ei_varhaiskasvatuspaatoksia | translate }}
            </p>
            @if (lapsitiedotTallentaja) {
              @if (!addObjectBoolean) {
                <button class="varda-text-button" id="add-varhaiskasvatuspaatos-empty"
                  (click)="initObject()">
                  <mat-icon alt="">add</mat-icon>{{ i18n.varhaiskasvatuspaatokset_lisaa_varhaiskasvatuspaatos | translate }}
                </button>
              }
            }
          </div>
        }
        <mat-accordion class="accordion-large-margin">
          @for (varhaiskasvatuspaatos of objectList | slice:0:numberOfDisplayed; track varhaiskasvatuspaatos) {
            <app-varda-varhaiskasvatuspaatos
              [lapsitiedotTallentaja]="lapsitiedotTallentaja"
              [currentObject]="varhaiskasvatuspaatos"
              [henkilonToimipaikka]="henkilonToimipaikka"
              (addObject)="addObject($event)"
              (deleteObject)="deleteObject($event)">
            </app-varda-varhaiskasvatuspaatos>
          }
          @if (objectList) {
            <app-varda-show-more-less [showMoreKey]="i18n.varhaiskasvatuspaatokset_show_more"
              [(numberOfDisplayed)]="numberOfDisplayed" [numberOfItems]="objectList.length">
            </app-varda-show-more-less>
          }
          @if (addObjectBoolean && lapsitiedotTallentaja) {
            <app-varda-varhaiskasvatuspaatos
              [lapsitiedotTallentaja]="lapsitiedotTallentaja"
              [henkilonToimipaikka]="henkilonToimipaikka"
              (addObject)="addObject($event)"
              (deleteObject)="deleteObject($event)"
              (closeEmitter)="hideAddObject()">
            </app-varda-varhaiskasvatuspaatos>
          }
        </mat-accordion>
      }
    </div>
  </mat-expansion-panel>
}
