<form [formGroup]="hakuform" (ngSubmit)="searchType()">
  <div class="haku-row">
    <div class="haku-column1">
      <label for="henkilo-haku-input">{{'label.haku-condition.hae-henkilo' | translate}}</label>
    </div>
    <div class="haku-column2">
      <input type="text"
             class="varda-form-control form-control varda-input"
             id="henkilo-haku-input"
             autofocus
             formControlName="search"
      >
      <button type="submit" class="varda-button" id="henkilo-haku-search-button">{{'label.search' | translate | uppercase}}</button>
      <div class="haku-instructions">
        <span class="site-caption">{{'label.haku-condition.search-instruction' | translate}}</span>
        <span class="site-caption">{{'label.haku-condition.search-instruction2' | translate}}</span>
      </div>
    </div>
  </div>
  <div class="haku-row">
    <div class="haku-column1">
      <label for="type-condition">{{'label.haku-condition.type-select' | translate}}</label>
    </div>
    <div class="haku-column2">
      <mat-radio-group id="type-condition"
                       formControlName="type">
        <mat-radio-button [value]="HenkilohakuType.lapset"
                          checked>
          {{'label.lapset' | translate}}
        </mat-radio-button>
        <mat-radio-button [value]="HenkilohakuType.tyontekija"
                          disabled>
          {{'label.tyontekija' | translate}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div class="haku-row">
    <div class="haku-column1">
      <label for="filter_status">{{'label.haku-condition.filter' | translate}}</label>
    </div>
    <div class="haku-column2">
      <div>
        <select class="varda-form-control form-control varda-select"
                id="filter_status"
                formControlName="filter_status">
          <option [ngValue]="FilterStatus.kaikki">{{'label.haku.filter-status.kaikki' | translate}}</option>
          <option [ngValue]="FilterStatus.voimassaOlevat" [selected]="true">{{'label.haku.filter-status.voimassa-olevat' | translate}}</option>
          <option [ngValue]="FilterStatus.paattyneet">{{'label.haku.filter-status.paattyneet' | translate}}</option>
          <option [ngValue]="FilterStatus.eiMaksutietoja">{{'label.haku.filter-status.ei-maksutietoja' | translate}}</option>
        </select>
      </div>
      <div>
        <mat-radio-group id="filter_object"
                         formControlName="filter_object">
          <mat-radio-button [value]="FilterObject.vakapaatokset"
                            [checked]="hakuform.controls.filter_status.value !== FilterStatus.eiMaksutietoja && hakuform.value.filter_object === FilterObject.vakapaatokset"
                            [disabled]="hakuform.controls.filter_status.value === FilterStatus.eiMaksutietoja">
            {{'label.lapsi-stepper.varhaiskasvatuspaatokset' | translate}}
          </mat-radio-button>
          <mat-radio-button [value]="FilterObject.vakasuhteet"
                            [checked]="hakuform.controls.filter_status.value !== FilterStatus.eiMaksutietoja && hakuform.value.filter_object === FilterObject.vakasuhteet"
                            [disabled]="hakuform.controls.filter_status.value === FilterStatus.eiMaksutietoja">
            {{'label.lapsi-stepper.varhaiskasvatussuhteet' | translate}}
          </mat-radio-button>
          <mat-radio-button [value]="FilterObject.maksutiedot"
                            [checked]="hakuform.controls.filter_status.value === FilterStatus.eiMaksutietoja"
                            [disabled]="hakuform.controls.filter_status.value !== FilterStatus.eiMaksutietoja">
            {{'label.lapsi-stepper.maksutiedot' | translate}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>
</form>
