h2 {
  font-weight: bold;
}

.haku-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.haku-column1 {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
}

.haku-column2 {
  display: inline-block;
  flex-direction: column;
  flex: 4 0 0;
}

.haku-column2 > * {
  display: inline-block;
  margin-right: 20px;
}

#henkilo-haku-input {
  width: 30%;
}

#henkilo-haku-search-button {
  width: auto;
}

.haku-row > label {
  padding-right: 30px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.site-caption {
  margin-top: 0;
  margin-bottom: 0;
  color: #2A2A2A;
  font-size: 0.7rem;
  letter-spacing: 0.3px;
  display: block;
}

.haku-instructions {
  vertical-align: middle;
}
