<form [formGroup]="hakuform"
      class="haku-form"
      (ngSubmit)="searchType()">
  <fieldset>
    <div class="oph-field">
      <div class="oph-field-inputs">
        <label class="oph-label"
               id="condition-label">
          <span *ngIf="this.access.isTallentaja; else haeTietoja">
            {{'label.haku-condition.hae-ja-muokkaa-tietoja' | translate}}
          </span>
          <ng-template #haeTietoja>{{'label.haku-condition.hae-tietoja' | translate}}</ng-template>

        </label>

        <ng-container *ngIf="access.showHenkilosto && access.showLapset">
          <app-varda-radio-button-group (change)="searchType($event.value)"
                                        [responsive]="'md'"
                                        [wrap]="'xs'"
                                        [name]="'type'"
                                        [attr.aria-labelledby]="'condition-label'">
            <app-varda-radio-button [id]="'radioLapset'"
                                    [value]="HenkilohakuType.lapset"
                                    [checked]="this.access.showLapset">
              {{'label.lapset' | translate}}
            </app-varda-radio-button>
            <app-varda-radio-button [id]="'radioTyontekija'"
                                    [disabled]="true"
                                    [checked]="this.access.showHenkilosto && !this.access.showLapset"
                                    [value]="HenkilohakuType.tyontekija">
              {{'label.tyontekija' | translate}}
            </app-varda-radio-button>
          </app-varda-radio-button-group>
        </ng-container>
      </div>
    </div>
    <div class="oph-field">
      <div class="oph-field-inputs">
        <div class="modal-form-intro">
          {{'label.haku-condition.search-instruction' | translate}}<br />
          {{'label.haku-condition.search-instruction2' | translate}}
        </div>
      </div>
    </div>

    <div class="oph-field">
      <div class="oph-field-inputs">
        <label class="oph-label"
               for="hakuFormSearch">
          {{'label.haku-list.nimi-ssn-oid' | translate}}
        </label>
        <input type="text"
               [disabled]="isLoading | async"
               autocomplete="off"
               class="oph-input"
               formControlName="search"
               id="hakuFormSearch"
               placeholder="{{'label.haku-condition.hae-henkilo' | translate}}..."
               autofocus />
      </div>
    </div>
    <div class="oph-field mt-1">
      <button type="submit"
              [disabled]="isLoading | async"
              class="varda-button varda-button-wide responsive-md">
        {{'label.search' | translate | uppercase}}
      </button>
    </div>
    <div class="oph-field mx-3">
      <div class="oph-field-inputs">
        <label class="oph-label"
               id="hakuFormStatusLabel">
          {{'label.haku-condition.filter' | translate}}
        </label>
        <select class="oph-select oph-input"
                [disabled]="isLoading | async"
                aria-labelledby="hakuFormStatusLabel"
                id="hakuFormStatus"
                formControlName="filter_status">
          <option [ngValue]="FilterStatus.kaikki">{{'label.haku.filter-status.kaikki' | translate}}</option>
          <option [ngValue]="FilterStatus.voimassaOlevat"
                  [selected]="true">{{'label.haku.filter-status.voimassa-olevat' | translate}}</option>
          <option [ngValue]="FilterStatus.paattyneet">{{'label.haku.filter-status.paattyneet' | translate}}</option>
        </select>
      </div>
    </div>
    <div class="oph-field mx-3">
      <div class="oph-field-inputs">
        <mat-radio-group [attr.aria-labelledby]="'hakuFormStatusLabel'"
                         [disabled]="isLoading | async"
                         class="responsive-md"
                         formControlName="filter_object">
          <mat-radio-button *ngIf="access.userAccess.lapsitiedot.katselija"
                            [value]="FilterObject.vakapaatokset"
                            [checked]="access.userAccess.lapsitiedot.katselija">
            {{'label.varhaiskasvatuspaatokset' | translate}}
          </mat-radio-button>
          <mat-radio-button *ngIf="access.userAccess.lapsitiedot.katselija"
                            [value]="FilterObject.vakasuhteet">
            {{'label.varhaiskasvatussuhteet' | translate}}
          </mat-radio-button>
          <mat-radio-button *ngIf="access.userAccess.huoltajatiedot.katselija"
                            [value]="FilterObject.maksutiedot"
                            [checked]="!access.userAccess.lapsitiedot.katselija && access.userAccess.huoltajatiedot.katselija">
            {{'label.maksutiedot' | translate}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </fieldset>
</form>
