<form [formGroup]="hakuform"
      class="haku-form"
      (ngSubmit)="searchType()">
  <fieldset>
    <div class="oph-field">
      <div class="oph-field-inputs">
        <label class="oph-label"
               id="condition-label">
          {{'label.haku-condition.hae-henkiloita' | translate}}
        </label>
        <mat-radio-group [attr.aria-labelledby]="'condition-label'"
                         [disabled]="isLoading"
                         formControlName="type">
          <mat-radio-button [value]="HenkilohakuType.lapset"
                            checked>
            {{'label.lapset' | translate}}
          </mat-radio-button>
          <mat-radio-button [value]="HenkilohakuType.tyontekija"
                            disabled>
            {{'label.tyontekija' | translate}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="oph-field">
      <div class="oph-field-inputs">
        <div class="modal-form-intro">
          {{'label.haku-condition.search-instruction' | translate}}<br />
          {{'label.haku-condition.search-instruction2' | translate}}
        </div>
      </div>
    </div>

    <div class="oph-field">
      <div class="oph-field-inputs">
        <label class="oph-label"
               for="hakuFormSearch">
          {{'label.haku-list.nimi-ssn-oid' | translate}}
        </label>
        <input type="text"
               [disabled]="isLoading"
               autocomplete="off"
               class="oph-input"
               formControlName="search"
               id="hakuFormSearch"
               placeholder="{{ 'label.generic-name' | translate}} / {{ 'label.ssn' | translate}} / {{ 'label.oppijanumero' | translate}}"
               autofocus />
      </div>
    </div>
    <div class="oph-field mt-1">
      <button type="submit"
              [disabled]="isLoading"
              class="varda-button varda-button-wide responsive-md">
        {{'label.search' | translate | uppercase}}
      </button>
    </div>
    <div class="oph-field mx-3">
      <div class="oph-field-inputs">
        <label class="oph-label"
               id="hakuFormStatusLabel">
          {{'label.haku-condition.filter' | translate}}
        </label>
        <select class="oph-select oph-input"
                [disabled]="isLoading"
                aria-labelledby="hakuFormStatusLabel"
                id="hakuFormStatus"
                formControlName="filter_status">
          <option [ngValue]="FilterStatus.kaikki">{{'label.haku.filter-status.kaikki' | translate}}</option>
          <option [ngValue]="FilterStatus.voimassaOlevat"
                  [selected]="true">{{'label.haku.filter-status.voimassa-olevat' | translate}}</option>
          <option [ngValue]="FilterStatus.paattyneet">{{'label.haku.filter-status.paattyneet' | translate}}</option>
          <option [ngValue]="FilterStatus.eiMaksutietoja">{{'label.haku.filter-status.ei-maksutietoja' | translate}}
          </option>
        </select>
      </div>
    </div>
    <div class="oph-field mx-3">
      <div class="oph-field-inputs">
        <mat-radio-group [attr.aria-labelledby]="'hakuFormStatusLabel'"
                         [disabled]="isLoading"
                         class="responsive-md"
                         formControlName="filter_object">
          <mat-radio-button [value]="FilterObject.vakapaatokset"
                            [checked]="hakuform.controls.filter_status.value !== FilterStatus.eiMaksutietoja && hakuform.value.filter_object === FilterObject.vakapaatokset"
                            [disabled]="hakuform.controls.filter_status.value === FilterStatus.eiMaksutietoja">
            {{'label.lapsi-stepper.varhaiskasvatuspaatokset' | translate}}
          </mat-radio-button>
          <mat-radio-button [value]="FilterObject.vakasuhteet"
                            [checked]="hakuform.controls.filter_status.value !== FilterStatus.eiMaksutietoja && hakuform.value.filter_object === FilterObject.vakasuhteet"
                            [disabled]="hakuform.controls.filter_status.value === FilterStatus.eiMaksutietoja">
            {{'label.lapsi-stepper.varhaiskasvatussuhteet' | translate}}
          </mat-radio-button>
          <mat-radio-button [value]="FilterObject.maksutiedot"
                            [checked]="hakuform.controls.filter_status.value === FilterStatus.eiMaksutietoja"
                            [disabled]="hakuform.controls.filter_status.value !== FilterStatus.eiMaksutietoja">
            {{'label.lapsi-stepper.maksutiedot' | translate}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </fieldset>
</form>
