<div class="backend-error-container"
     #notificationContainer>
  <div class="alert alert-success varda-form-main-feedback"
       role="alert"
       aria-live="polite"
       *ngIf="ui.formSaveSuccessMsg">
    {{ui.formSaveSuccessMsg | translate}}
  </div>
  <div class="alert alert-danger varda-form-main-feedback"
       role="alert"
       aria-live="assertive"
       *ngIf="ui.formSaveErrorMsg || ui.formSaveErrors.length">
    <div *ngIf="ui.formSaveErrorMsg">
      {{ui.formSaveErrorMsg}}
    </div>
    <ul>
      <li *ngFor="let error of ui.formSaveErrors">
        {{error.key | translate}}. {{error.msg | translate}}
      </li>
    </ul>
  </div>
</div>
<div *ngIf="!ui.noMaksutietoPrivileges"
     class="varda-painotukset-panel">
  <div class="varda-painotukset-header">
    {{'label.maksutiedot'  | translate}}
  </div>
  <mat-accordion>
    <form [formGroup]="formControl"
          autocomplete="off"
          *ngFor="let formControl of maksutiedotFormArr.controls; let maksutietoFormArrayIdx = index;">
      <mat-expansion-panel [expanded]="isExpanded(maksutietoFormArrayIdx)"
                           (click)="onExpansionPanelClick($event, maksutietoFormArrayIdx)"
                           #maksutietoPanels>
        <mat-expansion-panel-header>
          <div class="oph-h4"
               #recurringMaksutietoEntityHeader
               tabindex="0">
            {{getMaksutietoHeader(maksutietoFormArrayIdx) |async}}
          </div>
        </mat-expansion-panel-header>

        <app-huoltajat-container [initialHuoltajat]="getInitialHuoltajat(maksutietoFormArrayIdx)"
                                 (huoltajat)="setHuoltajat($event, maksutietoFormArrayIdx)"
                                 formControlName="huoltajat"
                                 [isReadOnly]="!toimipaikkaAccess.huoltajatiedot.tallentaja"></app-huoltajat-container>

        <fieldset *ngFor="let maksutietoFieldSet of maksutiedotFieldSetObj[maksutietoFormArrayIdx]"
                  class="form-group varda-fieldset"
                  [id]="maksutietoFieldSet.id + maksutietoFormArrayIdx"
                  [formGroup]="getMaksutietoFormGroup(formControl, maksutietoFieldSet.id)">
          <div *ngFor="let field of maksutietoFieldSet.fields; let fieldIdx = index">
            <app-varda-form-question [isReadOnly]="!toimipaikkaAccess.huoltajatiedot.tallentaja"
                                     [field]="field"
                                     [fieldIndex]="fieldIdx"
                                     [partOfInline]="false"
                                     [fieldSet]="maksutietoFieldSet"
                                     [fieldSetIndex]="maksutietoFormArrayIdx"
                                     [fieldSetName]="maksutietoFieldSet.id"
                                     [form]="getMaksutietoFormGroup(formControl, maksutietoFieldSet.id)"
                                     [formName]="'maksutieto'"></app-varda-form-question>
          </div>
        </fieldset>
        <div *ngIf="toimipaikkaAccess.huoltajatiedot.tallentaja"
             [id]="'saveMaksutietoBtnWrapper' + maksutietoFormArrayIdx">
          <div class="varda-form-btn-wrapper"
               *ngIf="ui.indexOfMaksutietoToDelete !== maksutietoFormArrayIdx">
            <button class="varda-button responsive"
                    type="button"
                    (click)="saveMaksutiedot(maksutietoFormArrayIdx)"
                    [ngClass]="{'varda-disabled-button': formControl.invalid || ui.isLoading || paattymisPvmIsUnchanged(maksutietoFormArrayIdx)}"
                    [disabled]="formControl.invalid || ui.isLoading || paattymisPvmIsUnchanged(maksutietoFormArrayIdx)">
              {{'label.generic-save' | translate}}
            </button>
            <button class="varda-button responsive varda-button-delete"
                    type="button"
                    [ngClass]="getDeleteButtonStyles(maksutietoFormArrayIdx)"
                    [disabled]="ui.isLoading"
                    (click)="displayDeleteWarning(maksutietoFormArrayIdx)">
              {{getDeleteText(maksutietoFormArrayIdx) | translate}}
            </button>
          </div>
          <div *ngIf="ui.indexOfMaksutietoToDelete === maksutietoFormArrayIdx"
               role="alert"
               aria-live="assertive">
            <div class="oph-bold">{{'label.maksutieto.confirm-delete' | translate}}</div>
            <div class="varda-form-btn-wrapper">
              <button [id]="'maksutietoConfirmDeleteBtn' + maksutietoFormArrayIdx"
                      class="varda-button responsive varda-button-danger"
                      (click)="doDeleteAction(maksutietoFormArrayIdx)"
                      [disabled]="ui.isLoading"
                      [ngClass]="{'varda-disabled-button': ui.isLoading}">
                {{'label.delete' | translate}}
              </button>
              <button #maksutietoCancelDeleteBtn
                      [id]="'maksutietoCancelDeleteBtn' + maksutietoFormArrayIdx"
                      class="varda-button responsive varda-button-neutral"
                      (click)="cancelDelete()"
                      [disabled]="ui.isLoading"
                      [ngClass]="{'varda-disabled-button': ui.isLoading}">
                {{'label.cancel' | translate}}
              </button>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </form>
  </mat-accordion>
  <div class="varda-recurring-field-add-new-wrapper"
       *ngIf="toimipaikkaAccess.huoltajatiedot.tallentaja && isShowAddMaksutietoButton()">
    <a [routerLink]=""
       class=""
       (click)="createNewMaksutietoForm()">
      {{'label.maksutieto.uusi.lisaa' | translate}}</a>
  </div>
</div>
