.ohjeet-panel-title-wrapper {
    display: flex;
    align-items: center;
}

.ohjeet-panel-title-wrapper mat-icon {
    margin-right: 10px;
}

.ohjeet-panel-gap {
    height: 20px;
}

.ohjeet-section-gap {
    height: 30px;
}

.ohjeet-employee-icon {
    font-size: 2.2rem;
}

.varda-info-modal-body {
    max-height: 75vh;
}

.varda-info-modal-close-btn {
    width: 100px;
}