.toimipaikan-lapset-container {
  background-color: #ffffff;
  position: relative;
  margin-top: 1em;
  --tree-width: 0.75em;
  --tree-width-negative: -.75em;
  --tree-border: 0.1em solid var(--gray-lighten-1);
}

.toimipaikanLapsetScrollTo {
  position: relative;
  top: -200px;
}

.toimipaikan-lapset-container-margin-bottom {
  margin-bottom: 2em;
}

.toimipaikan-lapset-table {
  border-spacing: 0;
  text-align: left;
  width: 100%;
}

.toimipaikan-lapset-vakatable {
  table-layout: fixed;
  width: 97.5%;
}

.toimipaikan-lapset-huoltajat-table {
  margin-bottom: 25px;
}

.toimipaikan-lapset-font-blue {
  color: #159ecb;
}

.toimipaikan-lapset-font-bold {
  font-weight: bold;
}

.toimipaikan-lapset-header-margin-bottom {
  margin-bottom: 15px;
}

.toimipaikan-lapset-header:focus {
  background: #def2ff !important;
}

.toimipaikan-lapset-header-table {
  table-layout: fixed;
  width: 100%;
}

.maksutieto-panel {
  margin-bottom: 1em;
}

.vakatieto-container {
  margin-bottom: 2em;
}

.vakapaatos-panel {
  background: var(--blue-lighten-4);
}

.vakapaatos-panel .mat-table {
  background: initial;
}

.vakasuhteet-wrapper {
  margin-top: 1.5em;
  margin-left: 1.5em;
}

.vakasuhteet-wrapper app-toimipaikan-lapset-vakasuhteet:first-child .vakasuhde-panel::before {
  content: "";
  position: absolute;
  top: -1.5em;
  left: var(--tree-width-negative);
  border-left: var(--tree-border);
  width: var(--tree-width);
  height: 3.25em;
}

.vakasuhteet-wrapper .vakasuhde-panel::before {
  content: "";
  position: absolute;
  top: -1em;
  left: var(--tree-width-negative);
  border-left: var(--tree-border);
  border-bottom: var(--tree-border);
  width: var(--tree-width);
  height: 2.5em;
}

.vakasuhteet-wrapper app-toimipaikan-lapset-vakasuhteet:not(:last-child) .vakasuhde-panel::after {
  content: "";
  position: absolute;
  top: 1em;
  left: var(--tree-width-negative);
  border-left: var(--tree-border);
  width: var(--tree-width);
  height: 100%;
}

h1 {
  font-size: 1.25rem;
  font-weight: bold;
}

h2 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 20px;
}

h3 {
  font-size: 1rem;
}
