<div class="toimipaikan-lapset-container">
  <div #toimipaikanLapsetScrollTo class="toimipaikanLapsetScrollTo"></div>
  <div class="toimipaikan-lapset-container-margin-bottom">
    <h3 class="oph-bold">{{'label.perustiedot' | translate}}</h3>
    <div class="table-responsive">
      <table class="mat-table">
        <tr class="mat-row">
          <th scope="row" class="mat-header-cell">{{'label.firstnamesbyseparated' | translate}}</th>
          <td class="mat-cell">{{selectedToimipaikanLapsi.henkilo.etunimet}}</td>
        </tr>
        <tr class="mat-row">
          <th scope="row" class="mat-header-cell">{{'label.nickname' | translate}}</th>
          <td class="mat-cell">{{selectedToimipaikanLapsi.henkilo.kutsumanimi}}</td>
        </tr>
        <tr class="mat-row">
          <th scope="row" class="mat-header-cell">{{'label.lastname' | translate}}</th>
          <td class="mat-cell">{{selectedToimipaikanLapsi.henkilo.sukunimi}}</td>
        </tr>
        <tr class="mat-row">
          <th scope="row" class="mat-header-cell">{{'label.henkilo.id' | translate}}</th>
          <td class="mat-cell">{{selectedToimipaikanLapsi.henkilo.id}}</td>
        </tr>
        <tr class="mat-row">
          <th scope="row" class="mat-header-cell">{{'label.lapsi.id' | translate}}</th>
          <td class="mat-cell">{{selectedToimipaikanLapsi.id}}</td>
        </tr>
        <tr class="mat-row">
          <th scope="row" class="mat-header-cell">{{'label.oppijanumero' | translate}}</th>
          <td class="mat-cell">{{selectedToimipaikanLapsi.henkilo.henkilo_oid}}</td>
        </tr>
        <tr class="mat-row">
          <th scope="row" class="mat-header-cell">{{'label.birthday' | translate}}</th>
          <td class="mat-cell">{{selectedToimipaikanLapsi.henkilo.syntyma_pvm | date:'d.M.yyyy'}}</td>
        </tr>
        <tr class="mat-row"
            *ngIf="selectedToimipaikanLapsi.oma_organisaatio_nimi">
          <th scope="row" class="mat-header-cell">{{'label.oma-organisaatio' | translate}}</th>
          <td class="mat-cell">{{selectedToimipaikanLapsi.oma_organisaatio_nimi}}</td>
        </tr>
        <tr class="mat-row"
            *ngIf="selectedToimipaikanLapsi.paos_organisaatio_nimi">
          <th scope="row" class="mat-header-cell">{{'label.paos-organisaatio' | translate}}</th>
          <td class="mat-cell">{{selectedToimipaikanLapsi.paos_organisaatio_nimi}}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="toimipaikan-lapset-container-margin-bottom">
    <h3 class="oph-bold">{{'label.vakatiedot' | translate}}</h3>
    <div class="varda-text-secondary d-block" *ngIf="!userAccess.lapsitiedot.katselija; else validLapsiPermissionsContainer">
      {{'alert.invalid-permissions' | translate}}
    </div>
    <ng-template #validLapsiPermissionsContainer>
      <div class="varda-text-secondary d-block" *ngIf="selectedToimipaikanLapsi.varhaiskasvatuspaatokset.length === 0">
        {{'label.no-vakatiedot' | translate}}
      </div>
      <div *ngIf="selectedToimipaikanLapsi.varhaiskasvatuspaatokset && selectedToimipaikanLapsi.varhaiskasvatuspaatokset.length > 0">
        <div class="vakatieto-container" *ngFor="let vakapaatos of selectedToimipaikanLapsi.varhaiskasvatuspaatokset">
          <app-toimipaikan-lapset-vakapaatokset [vakapaatos]="vakapaatos">
          </app-toimipaikan-lapset-vakapaatokset>
          <div class="toimipaikan-lapset-container-margin-bottom vakasuhteet-wrapper">
            <app-toimipaikan-lapset-vakasuhteet *ngFor="let vakasuhde of getVakasuhteetForVakapaatos(vakapaatos.id)" [vakasuhde]="vakasuhde">
            </app-toimipaikan-lapset-vakasuhteet>
          </div>
        </div>
      </div>
    </ng-template>
  </div>

  <div class="toimipaikan-lapset-container-margin-bottom">
    <h3 class="oph-bold">{{'label.maksutiedot' | translate}}</h3>
    <div class="varda-text-secondary d-block" *ngIf="!userAccess.huoltajatiedot.katselija; else validHuoltajaPermissionsContainer">
      {{'alert.invalid-permissions' | translate}}
    </div>
    <ng-template #validHuoltajaPermissionsContainer>
      <div class="varda-text-secondary d-block" *ngIf="selectedToimipaikanLapsi.maksutiedot.length === 0">
        {{'label.no-maksutiedot' | translate}}
      </div>
      <div *ngIf="selectedToimipaikanLapsi.maksutiedot && selectedToimipaikanLapsi.maksutiedot.length > 0">
        <div *ngFor="let maksutieto of selectedToimipaikanLapsi.maksutiedot">
          <app-toimipaikan-lapset-maksutiedot [maksutieto]="maksutieto" [isYksityinen]="selectedToimipaikanLapsi.yksityinen_kytkin">
          </app-toimipaikan-lapset-maksutiedot>
        </div>
      </div>
    </ng-template>
  </div>
</div>
