<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <timeZone>UTC</timeZone>

            <fieldNames>
                <timestamp>@timestamp</timestamp>
                <level>level</level>
                <logger>logger_name</logger>
                <thread>threadJava</thread>
                <message>message</message>
            </fieldNames>

            <customFields>{"source":"java"}</customFields>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
    <logger name="ktor.application" level="INFO"/>

</configuration>
