.henkilo-head {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
}

.henkilo-head>legend {
  width: auto;
  margin-right: 1rem;
  margin-bottom: 1rem;
}


.huoltaja-rivi {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5em;
}

.huoltaja-rivi>.huoltaja-nimi {
  font-weight: bold;
  word-wrap: break-word;
  flex-grow: 1;
}

.huoltaja-rivi>.huoltaja-oid {
  font-style: italic;
  word-wrap: break-word;
}
