<div class="varda-login-page">
  <main class="varda-page-content">
    <h1 class="oph-h2 oph-bold"
        aria-live="polite">
      Kirjaudu sisään / Logga in
    </h1>

    <div class="login-links">
      <a [href]="loginURL+'&valtuudet=true'">
        <button class="button">
          <mat-icon aria-ignore>escalator_warning</mat-icon>
          <span>Kirjaudu huoltajana / Logga in som vårdnadshavare</span>
        </button>
      </a>
      <a [href]="loginURL+'&valtuudet=false'">
        <button class="button">
          <mat-icon aria-ignore>person</mat-icon>
          <span>Omien tietojen katselu / Granska egna uppgifter</span>
        </button>
      </a>
    </div>
  </main>
</div>

<ng-container *ngIf="tokenInput?.show">

  <div class="varda-login-page localhost">
    <main class="varda-page-content">
      <h1 class="oph-h2 oph-bold">Tämä kenttä näkyy vain testiympäristössä</h1>
      <form (ngSubmit)="addLoginToken(tokenInput.value)">
        <div><a target="_blank"
             [attr.href]="tokenInput.backend">{{ tokenInput.backend }}</a></div>
        <label class="oph-label">Tallenna login token tästä</label>
        <input class="oph-input"
               [(ngModel)]='tokenInput.value'
               autocomplete="off"
               name='value'
               placeholder="login-token" />
        <button type="submit"
                class="varda-button varda-button-success secondary">Tallenna</button>
      </form>
    </main>
  </div>
</ng-container>
