<div class="clickable text-nowrap"
     (click)="toggle()"><span>{{ label | translate }}</span>
  <ng-container *ngIf="!expand; else expanded">
    <mat-icon [attr.alt]="i18n.show_more | translate">search</mat-icon>
  </ng-container>
  <ng-template #expanded>
    <mat-icon class="oph-red"
              [attr.alt]="i18n.show_less | translate"
              alt="">close</mat-icon>
  </ng-template>
</div>
<form [class.text-nowrap]="!multiline"
      *ngIf="expand"
      (ngSubmit)="submitFilter.emit(true)">
  <ng-content></ng-content>
  <button mat-button
          *ngIf="!hideSearchButton"
          type="submit">
    <mat-icon alt="">search</mat-icon>
    {{ i18n.tiedonsiirrot_search | translate }}
  </button>
</form>
