<mat-expansion-panel [ngClass]="{'vakapaatos-voimassa-panel' : vakasuhde}"
                     hideToggle="true">
  <mat-expansion-panel-header class="huoltaja-header">
    <mat-panel-title (click)="toggleVakapaatos(vakasuhde.varhaiskasvatuspaatos)">
      <h4 class="huoltaja-blue">
        <table class="huoltaja-vakapaatos-header-table">
          <tr>
            <td>
              <mat-icon *ngIf="!vakasuhde.varhaiskasvatuspaatos.toggle_expanded"
                        style="vertical-align: middle;">chevron_right</mat-icon>
              <mat-icon *ngIf="vakasuhde.varhaiskasvatuspaatos.toggle_expanded"
                        style="vertical-align: middle;">expand_more</mat-icon>
              <span>{{'label.varhaiskasvatuspaatos' | translate}}</span>
            </td>
            <td>
              <span>{{vakasuhde.varhaiskasvatuspaatos.alkamis_pvm | date:'d.M.yyyy'}} -
                {{vakasuhde.varhaiskasvatuspaatos.paattymis_pvm | date:'d.M.yyyy'}}</span>
            </td>
          </tr>
        </table>
      </h4>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <table class="mat-table huoltaja-table">
    <tr class="mat-header-row"
        tabindex="0">
      <th class="mat-cell">{{'label.varhaiskasvatuspaatos.hakemus-pvm' | translate}}</th>
      <td class="mat-cell">{{vakasuhde.varhaiskasvatuspaatos.hakemus_pvm | date:'d.M.yyyy'}}</td>
      <td class="mat-cell">
        <button matTooltip="{{'label.varhaiskasvatuspaatos.hakemus-pvm' | translate}}"
                #hakemusPvm="matTooltip"
                (click)="hakemusPvm.toggle()"
                (mouseenter)="$event.stopImmediatePropagation()"
                (mouseleave)="$event.stopImmediatePropagation()">
          <mat-icon>help_outline</mat-icon>
        </button>
      </td>
    </tr>
    <tr class="mat-header-row"
        tabindex="0">
      <th class="mat-cell">{{'label.varhaiskasvatuspaatos.tuntimaara-viikossa' | translate}}</th>
      <td class="mat-cell">{{vakasuhde.varhaiskasvatuspaatos.tuntimaara_viikossa}}</td>
      <td class="mat-cell">
        <button matTooltip="{{'label.varhaiskasvatuspaatos.tuntimaara-viikossa' | translate}}"
                #tuntimaaraViikossa="matTooltip"
                (click)="tuntimaaraViikossa.toggle()"
                (mouseenter)="$event.stopImmediatePropagation()"
                (mouseleave)="$event.stopImmediatePropagation()">
          <mat-icon>help_outline</mat-icon>
        </button>
      </td>
    </tr>
    <tr class="mat-header-row huoltaja-even-row"
        tabindex="0">
      <th class="mat-cell">{{'label.varhaiskasvatuspaatos.jarjestamismuoto' | translate}}</th>
      <td class="mat-cell">{{vakasuhde.varhaiskasvatuspaatos.jarjestamismuoto_koodi}}</td>
      <td class="mat-cell">
        <button matTooltip="{{'label.varhaiskasvatuspaatos.jarjestamismuoto' | translate}}"
                #jarjestamismuoto="matTooltip"
                (click)="jarjestamismuoto.toggle()"
                (mouseenter)="$event.stopImmediatePropagation()"
                (mouseleave)="$event.stopImmediatePropagation()">
          <mat-icon>help_outline</mat-icon>
        </button>
      </td>
    </tr>
    <tr class="mat-header-row"
        tabindex="0">
      <th class="mat-cell">{{'label.varhaiskasvatuspaatos.paivittainen-varhaiskasvatus' | translate}}</th>
      <td class="mat-cell">
        {{vakasuhde.varhaiskasvatuspaatos.paivittainen_vaka_kytkin ? ('label.kylla' | translate) : ('label.ei' | translate)}}
      </td>
      <td class="mat-cell">
        <button matTooltip="{{'label.varhaiskasvatuspaatos.paivittainen-varhaiskasvatus' | translate}}"
                #paivittainenVarhaiskasvatus="matTooltip"
                (click)="paivittainenVarhaiskasvatus.toggle()"
                (mouseenter)="$event.stopImmediatePropagation()"
                (mouseleave)="$event.stopImmediatePropagation()">
          <mat-icon>help_outline</mat-icon>
        </button>
      </td>
    </tr>
    <tr class="mat-header-row huoltaja-even-row"
        tabindex="0">
      <th class="mat-cell">{{'label.varhaiskasvatuspaatos.kokoaikainen-varhaiskasvatus' | translate}}</th>
      <td class="mat-cell">
        {{vakasuhde.varhaiskasvatuspaatos.kokopaivainen_vaka_kytkin ? ('label.kylla' | translate) : ('label.ei' | translate)}}
      </td>
      <td class="mat-cell">
        <button matTooltip="{{'label.varhaiskasvatuspaatos.kokoaikainen-varhaiskasvatus' | translate}}"
                #kokoaikainenVarhaiskasvatus="matTooltip"
                (click)="kokoaikainenVarhaiskasvatus.toggle()"
                (mouseenter)="$event.stopImmediatePropagation()"
                (mouseleave)="$event.stopImmediatePropagation()">
          <mat-icon>help_outline</mat-icon>
        </button>
      </td>
    </tr>
    <tr class="mat-header-row"
        tabindex="0">
      <th class="mat-cell">{{'label.varhaiskasvatuspaatos.vuorohoito' | translate}}</th>
      <td class="mat-cell">
        {{vakasuhde.varhaiskasvatuspaatos.vuorohoito_kytkin ? ('label.kylla' | translate) : ('label.ei' | translate)}}
      </td>
      <td class="mat-cell">
        <button matTooltip="{{'label.varhaiskasvatuspaatos.vuorohoito' | translate}}"
                #vuorohoito="matTooltip"
                (click)="vuorohoito.toggle()"
                (mouseenter)="$event.stopImmediatePropagation()"
                (mouseleave)="$event.stopImmediatePropagation()">
          <mat-icon>help_outline</mat-icon>
        </button>
      </td>
    </tr>
    <tr class="mat-header-row huoltaja-even-row"
        tabindex="0">
      <th class="mat-cell">{{'label.varhaiskasvatuspaatos.varhaiskasvatusaika' | translate}}</th>
      <td class="mat-cell">{{vakasuhde.varhaiskasvatuspaatos.alkamis_pvm | date:'d.M.yyyy'}} -
        {{vakasuhde.varhaiskasvatuspaatos.paattymis_pvm | date:'d.M.yyyy'}}</td>
      <td class="mat-cell">
        <button matTooltip="{{'label.varhaiskasvatuspaatos.varhaiskasvatusaika' | translate}}"
                #varhaiskasvatusaika="matTooltip"
                (click)="varhaiskasvatusaika.toggle()"
                (mouseenter)="$event.stopImmediatePropagation()"
                (mouseleave)="$event.stopImmediatePropagation()">
          <mat-icon>help_outline</mat-icon>
        </button>
      </td>
    </tr>
    <tr class="mat-header-row huoltaja-even-row"
        tabindex="0">
      <th class="mat-cell">{{'label.varhaiskasvatuspaatos.pikakasittely' | translate}}</th>
      <td class="mat-cell">
        {{vakasuhde.varhaiskasvatuspaatos.pikakasittely_kytkin ? ('label.kylla' | translate) : ('label.ei' | translate)}}
      </td>
      <td class="mat-cell">
        <button matTooltip="{{'label.varhaiskasvatuspaatos.pikakasittely' | translate}}"
                #pikakasittely="matTooltip"
                (click)="pikakasittely.toggle()"
                (mouseenter)="$event.stopImmediatePropagation()"
                (mouseleave)="$event.stopImmediatePropagation()">
          <mat-icon>help_outline</mat-icon>
        </button>
      </td>
    </tr>
  </table>
  <p class="onko-tiedoissa-virhe">{{'label.varhaiskasvatuspaatos.onko-tiedoissa-virhe' | translate}}</p>
</mat-expansion-panel>
