<div class="modal-header varda-modal-header">
  <div class="modal-title varda-modal-title">
    <span *ngIf="toimipaikka; else addToimipaikka">{{ toimipaikka.nimi }}</span>
    <ng-template #addToimipaikka>{{ i18n.lisaa_toimipaikka | translate }}</ng-template>
  </div>
  <button type="button"
          class="close"
          aria-label="Close"
          data-dismiss="modal">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="form-continues-text-wrapper"
     *ngIf="showFormContinuesWarning">
  <div class="form-continues-text">{{ i18n.form_continues | translate}}</div>
  <i class="material-icons" alt="">arrow_downward</i>
</div>

<ng-container *ngIf="!toimipaikkaForm">
  <app-varda-error-field [errors]="toimipaikkaFormErrors"></app-varda-error-field>
  <mat-progress-spinner diameter="40"
                        mode="indeterminate"
                        color="accent"></mat-progress-spinner>
</ng-container>
<div #formContent
     *ngIf="toimipaikkaForm"
     class="modal-body toimipaikka-form-content">
  <div class="modal-form-intro">
    {{ i18n.toimipaikka_intro_paragraph | translate }}
    <div *ngIf="!isEdit">
      <a target="_blank"
         [href]="i18n.toimipaikka_create_link_href | translate">{{ i18n.toimipaikka_create_link_text | translate }}</a>
    </div>
    <div *ngIf="isEdit">
      <a target="_blank"
         [href]="i18n.toimipaikka_edit_link_href | translate">{{ i18n.toimipaikka_edit_link_text | translate }}</a>
    </div>
  </div>
  <form [formGroup]="toimipaikkaForm"
        (submit)="saveToimipaikka(toimipaikkaForm)"
        autocomplete="off">
    <fieldset>
      <legend>{{ i18n.toimipaikka_legend_nimi | translate }}</legend>
      <app-varda-form-field name="nimi"
                            [form]="toimipaikkaForm"
                            [label]="i18n.toimipaikka_nimi | translate"
                            [errorText]="i18n.toimipaikka_error_nimi | translate"
                            [placeholder]="i18n.toimipaikka_placeholder_nimi | translate"
                            [instructionText]="i18n.toimipaikka_instruction_nimi | translate">
        <input #fieldItem
               type="text"
               class="oph-input"
               formControlName="nimi" />
      </app-varda-form-field>

      <app-varda-form-field name="organisaatio_oid"
                            *ngIf="toimipaikka?.organisaatio_oid"
                            [form]="toimipaikkaForm"
                            [label]="i18n.toimipaikka_oid | translate">
        <span>{{ toimipaikka.organisaatio_oid }}</span>
      </app-varda-form-field>
    </fieldset>

    <fieldset>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <legend>{{ i18n.toimipaikka_legend_yhteystiedot | translate }}</legend>
        </mat-expansion-panel-header>
        <app-varda-form-field name="kayntiosoite"
                              [form]="toimipaikkaForm"
                              [label]="i18n.toimipaikka_kayntiosoite | translate"
                              [errorText]="i18n.toimipaikka_error_kayntiosoite | translate"
                              [placeholder]="i18n.toimipaikka_placeholder_kayntiosoite | translate"
                              [instructionText]="i18n.toimipaikka_instruction_kayntiosoite | translate">
          <input #fieldItem
                 type="text"
                 class="oph-input"
                 (change)="checkPostiosoiteToggle()"
                 formControlName="kayntiosoite" />
        </app-varda-form-field>

        <app-varda-form-field name="kayntiosoite_postinumero"
                              [form]="toimipaikkaForm"
                              [label]="i18n.toimipaikka_kayntiosoite_postinumero | translate"
                              [errorText]="i18n.toimipaikka_error_kayntiosoite_postinumero | translate"
                              [placeholder]="i18n.toimipaikka_placeholder_kayntiosoite_postinumero | translate"
                              [instructionText]="i18n.toimipaikka_instruction_kayntiosoite_postinumero | translate">
          <input #fieldItem
                 type="text"
                 minlength="5"
                 maxlength="5"
                 class="oph-input"
                 (change)="checkPostiosoiteToggle()"
                 [matAutocomplete]="kayntiosoite_postinumero"
                 formControlName="kayntiosoite_postinumero" />
          <mat-autocomplete #kayntiosoite_postinumero="matAutocomplete">
            <mat-option *ngFor="let option of filteredKayntiosoitePostitoimipaikat"
                        [value]="option.code_value"
                        [libKoodistoValue]="koodistoEnum.posti"
                        format="long">
              {{ option.code_value }}
            </mat-option>
          </mat-autocomplete>
        </app-varda-form-field>

        <app-varda-form-field name="kayntiosoite_postitoimipaikka"
                              [form]="toimipaikkaForm"
                              [label]="i18n.toimipaikka_kayntiosoite_postitoimipaikka | translate"
                              [errorText]="i18n.toimipaikka_error_kayntiosoite_postitoimipaikka | translate"
                              [placeholder]="i18n.toimipaikka_placeholder_kayntiosoite_postitoimipaikka | translate"
                              [instructionText]="i18n.toimipaikka_instruction_kayntiosoite_postitoimipaikka | translate">
          <input #fieldItem
                 type="text"
                 class="oph-input"
                 readonly="true"
                 formControlName="kayntiosoite_postitoimipaikka" />
        </app-varda-form-field>

        <app-varda-form-field name="postiosoite"
                              [form]="toimipaikkaForm"
                              [label]="i18n.toimipaikka_postiosoite | translate"
                              [errorText]="i18n.toimipaikka_error_postiosoite | translate"
                              [placeholder]="i18n.toimipaikka_placeholder_postiosoite | translate"
                              [instructionText]="i18n.toimipaikka_instruction_postiosoite | translate">
          <mat-checkbox [disabled]="!toimipaikkaForm.value.kayntiosoite_postitoimipaikka"
                        [checked]="postiosoiteToggleBoolean"
                        *ngIf="isEdit"
                        (change)="togglePostinumero($event)">{{ i18n.toimipaikka_postiosoite_checkbox | translate }}
          </mat-checkbox>
          <input #fieldItem
                 type="text"
                 class="oph-input"
                 [readonly]="postiosoiteToggleBoolean"
                 formControlName="postiosoite" />
        </app-varda-form-field>

        <app-varda-form-field name="postinumero"
                              [form]="toimipaikkaForm"
                              [label]="i18n.toimipaikka_postinumero | translate"
                              [errorText]="i18n.toimipaikka_error_postinumero | translate"
                              [placeholder]="i18n.toimipaikka_placeholder_postinumero | translate"
                              [instructionText]="i18n.toimipaikka_instruction_postinumero | translate">
          <input #fieldItem
                 type="text"
                 minlength="5"
                 maxlength="5"
                 class="oph-input"
                 [matAutocomplete]="postinumero"
                 [readonly]="postiosoiteToggleBoolean"
                 formControlName="postinumero" />
          <mat-autocomplete #postinumero="matAutocomplete">
            <mat-option *ngFor="let option of filteredPostitoimipaikat"
                        [value]="option.code_value"
                        [libKoodistoValue]="koodistoEnum.posti"
                        format="long">
              {{ option.code_value }}
            </mat-option>
          </mat-autocomplete>
        </app-varda-form-field>

        <app-varda-form-field name="postitoimipaikka"
                              [form]="toimipaikkaForm"
                              [label]="i18n.toimipaikka_postitoimipaikka | translate"
                              [errorText]="i18n.toimipaikka_error_postitoimipaikka | translate"
                              [placeholder]="i18n.toimipaikka_placeholder_postitoimipaikka | translate"
                              [instructionText]="i18n.toimipaikka_instruction_postitoimipaikka | translate">
          <input #fieldItem
                 type="text"
                 class="oph-input"
                 readonly="true"
                 formControlName="postitoimipaikka" />
        </app-varda-form-field>


        <app-varda-form-field name="kunta_koodi"
                              [form]="toimipaikkaForm"
                              [label]="i18n.toimipaikka_kunta_koodi | translate"
                              [errorText]="i18n.toimipaikka_error_kunta_koodi | translate"
                              [instructionText]="i18n.toimipaikka_instruction_kunta_koodi | translate">
          <ng-container *ngIf="kuntaOptions$ | async as kuntaOptions">
            <mat-select #fieldItem
                        placeholder="-- {{ i18n.choose | translate }} --"
                        class="oph-input oph-select"
                        formControlName="kunta_koodi">
              <mat-option *ngFor="let option of kuntaOptions.codes"
                          [value]="option.code_value"
                          [libKoodistoValue]="koodistoEnum.kunta"
                          format="long">
                {{ option.code_value }}
              </mat-option>
            </mat-select>
          </ng-container>
        </app-varda-form-field>

        <app-varda-form-field name="puhelinnumero"
                              [form]="toimipaikkaForm"
                              [label]="i18n.toimipaikka_puhelinnumero | translate"
                              [errorText]="i18n.toimipaikka_error_puhelinnumero | translate"
                              [placeholder]="i18n.toimipaikka_placeholder_puhelinnumero | translate"
                              [instructionText]="i18n.toimipaikka_instruction_puhelinnumero | translate">
          <input #fieldItem
                 type="text"
                 class="oph-input"
                 formControlName="puhelinnumero" />
        </app-varda-form-field>

        <app-varda-form-field name="sahkopostiosoite"
                              [form]="toimipaikkaForm"
                              [label]="i18n.toimipaikka_sahkopostiosoite | translate"
                              [errorText]="i18n.toimipaikka_error_sahkopostiosoite | translate"
                              [placeholder]="i18n.toimipaikka_placeholder_sahkopostiosoite | translate"
                              [instructionText]="i18n.toimipaikka_instruction_sahkopostiosoite | translate">
          <input #fieldItem
                 type="text"
                 class="oph-input"
                 formControlName="sahkopostiosoite" />
        </app-varda-form-field>
      </mat-expansion-panel>
    </fieldset>

    <fieldset>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <app-varda-form-error-icon [errors]="errorList"></app-varda-form-error-icon>
            <legend>{{ i18n.toimipaikka_legend_lisatiedot | translate }}</legend>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="panel-content"
             mat-expansion-panel-content>
          <app-varda-form-error-list [errors]="errorList"></app-varda-form-error-list>
          <app-varda-form-field name="toimintamuoto_koodi"
                                [form]="toimipaikkaForm"
                                [label]="i18n.toimipaikka_toimintamuoto_koodi | translate"
                                [errorText]="i18n.toimipaikka_error_toimintamuoto_koodi | translate"
                                [instructionText]="i18n.toimipaikka_instruction_toimintamuoto_koodi | translate">
            <ng-container *ngIf="toimintamuotoOptions$ | async as toimintamuotoOptions">
              <mat-select #fieldItem
                          placeholder="-- {{ i18n.choose | translate }} --"
                          class="oph-input oph-select"
                          formControlName="toimintamuoto_koodi">
                <mat-option *ngFor="let option of toimintamuotoOptions.codes"
                            [value]="option.code_value"
                            [libKoodistoValue]="koodistoEnum.toimintamuoto"
                            format="long">
                  {{ option.code_value }}
                </mat-option>
              </mat-select>
            </ng-container>
          </app-varda-form-field>

          <app-varda-form-field name="jarjestamismuoto_koodi"
                                [form]="toimipaikkaForm"
                                [label]="i18n.toimipaikka_jarjestamismuoto_koodi | translate"
                                [errorText]="i18n.toimipaikka_error_jarjestamismuoto_koodi | translate"
                                [instructionText]="i18n.toimipaikka_instruction_jarjestamismuoto_koodi | translate">
            <ng-container *ngIf="!isEdit; else showTrigger">
              <div *ngFor="let koodi of toimipaikkaForm.controls.jarjestamismuoto_koodi.value"
                   [libKoodistoValue]="koodistoEnum.jarjestamismuoto"
                   format="long"
                   class="ml-2">{{ koodi }}</div>
            </ng-container>
            <ng-template #showTrigger>
              <mat-select #fieldItem
                          placeholder="-- {{ i18n.choose | translate }} --"
                          multiple
                          class="oph-input oph-select"
                          formControlName="jarjestamismuoto_koodi">
                <mat-select-trigger>
                  <span libKoodistoValue="vardajarjestamismuoto"
                        format="long"
                        *ngIf="toimipaikkaForm.controls.jarjestamismuoto_koodi?.value?.length === 1; else jmList">
                    {{ toimipaikkaForm.controls.jarjestamismuoto_koodi?.value }}
                  </span>
                  <ng-template #jmList>
                    {{ toimipaikkaForm.controls.jarjestamismuoto_koodi?.value?.join(", ") }}
                  </ng-template>
                </mat-select-trigger>
                <ng-container *ngIf="jarjestamismuotoOptions$ | async as jarjestamismuotoOptions">
                  <mat-option *ngFor="let option of jarjestamismuotoOptions.codes"
                              [value]="option.code_value"
                              [title]="option.name + ' (' + option.code_value + ')'">
                    <span [libKoodistoValue]="koodistoEnum.jarjestamismuoto" format="long">{{ option.code_value }}</span>
                  </mat-option>
                </ng-container>
              </mat-select>
            </ng-template>
          </app-varda-form-field>
          <app-varda-form-field name="asiointikieli_koodi"
                                [form]="toimipaikkaForm"
                                [label]="i18n.toimipaikka_asiointikieli_koodi | translate"
                                [errorText]="i18n.toimipaikka_error_asiointikieli_koodi | translate"
                                [instructionText]="i18n.toimipaikka_instruction_asiointikieli_koodi | translate">
            <mat-select #fieldItem
                        placeholder="-- {{ i18n.choose | translate }} --"
                        multiple
                        class="oph-input oph-select"
                        formControlName="asiointikieli_koodi">
              <mat-optgroup [label]="i18n.painotukset_kielipainotus_yleiset | translate">
                <ng-container *ngFor="let option of kielikoodisto | slice:0:10">
                  <mat-option [value]="option.code_value" [libKoodistoValue]="koodistoEnum.kieli" format="long">
                    {{ option.code_value }}
                  </mat-option>
                </ng-container>
              </mat-optgroup>
              <mat-optgroup [label]="i18n.painotukset_kielipainotus_muut | translate">
                <ng-container *ngFor="let option of kielikoodisto | slice:10">
                  <mat-option [value]="option.code_value" [libKoodistoValue]="koodistoEnum.kieli" format="long">
                    {{ option.code_value }}
                  </mat-option>
                </ng-container>
              </mat-optgroup>
            </mat-select>
          </app-varda-form-field>

          <app-varda-form-field name="kasvatusopillinen_jarjestelma_koodi"
                                [form]="toimipaikkaForm"
                                [label]="i18n.toimipaikka_kasvatusopillinen_jarjestelma_koodi | translate"
                                [errorText]="i18n.toimipaikka_error_kasvatusopillinen_jarjestelma_koodi | translate"
                                [instructionText]="i18n.toimipaikka_instruction_kasvatusopillinen_jarjestelma_koodi | translate">
            <ng-container *ngIf="kasvatusopillinenOptions$ | async as kasvatusopillinenOptions">
              <mat-select #fieldItem
                          placeholder="-- {{ i18n.choose | translate }} --"
                          class="oph-input oph-select"
                          formControlName="kasvatusopillinen_jarjestelma_koodi">
                <mat-option *ngFor="let option of kasvatusopillinenOptions.codes"
                            [value]="option.code_value"
                            [libKoodistoValue]="koodistoEnum.kasvatusopillinenjarjestelma"
                            format="long">
                  {{ option.code_value }}
                </mat-option>
              </mat-select>
            </ng-container>
          </app-varda-form-field>

          <app-varda-form-field name="varhaiskasvatuspaikat"
                                [form]="toimipaikkaForm"
                                [label]="i18n.toimipaikka_varhaiskasvatuspaikat | translate"
                                [errorText]="i18n.toimipaikka_error_varhaiskasvatuspaikat | translate"
                                [instructionText]="i18n.toimipaikka_instruction_varhaiskasvatuspaikat | translate">
            <input #fieldItem
                   type="number"
                   class="oph-input"
                   min="0"
                   step="1"
                   max="9999"
                   formControlName="varhaiskasvatuspaikat" />
          </app-varda-form-field>

          <app-varda-form-field name="alkamis_pvm"
                                [form]="toimipaikkaForm"
                                [label]="i18n.toimipaikka_alkamis_pvm | translate"
                                [errorText]="i18n.toimipaikka_error_alkamis_pvm | translate"
                                [instructionText]="i18n.toimipaikka_instruction_alkamis_pvm | translate">
            <app-varda-datepicker #fieldItem
                                  (dateChange)="startDateChange($event.value)"
                                  formControlName='alkamis_pvm'></app-varda-datepicker>
          </app-varda-form-field>

          <app-varda-form-field name="paattymis_pvm"
                                [form]="toimipaikkaForm"
                                [label]="i18n.toimipaikka_paattymis_pvm | translate"
                                [errorText]="i18n.toimipaikka_error_paattymis_pvm | translate"
                                [instructionText]="i18n.toimipaikka_instruction_paattymis_pvm | translate">
            <app-varda-datepicker #fieldItem
                                  [min]="minEndDate"
                                  formControlName='paattymis_pvm'></app-varda-datepicker>
          </app-varda-form-field>
        </div>
      </mat-expansion-panel>
    </fieldset>

    <fieldset>
      <app-toimipaikka-painotukset [toimipaikka]="toimipaikka"
                                   [kielikoodisto]="kielikoodisto"
                                   [saveAccess]="tallentajaAccess"
                                   [isEdit]="isEdit"
                                   [minStartDate]="minEndDate"
                                   [maxEndDate]="maxEndDate">
      </app-toimipaikka-painotukset>
    </fieldset>

    <app-varda-error-field [errors]="toimipaikkaFormErrors"></app-varda-error-field>

    <app-varda-action-row [saveDisabled]="toimipaikkaForm.pristine || (isSubmitting | async)"
                          [saveAccess]="tallentajaAccess"
                          [formExists]="!!toimipaikka"
                          [isEdit]="isEdit"
                          [noDelete]="true"
                          [noToggle]="!!toimipaikka?.id"
                          (enableEdit)="enableForm()"
                          (disableEdit)="disableForm()"
                          (togglePanel)="togglePanel($event)"></app-varda-action-row>

  </form>
</div>
