<div>
  <div class="search-heading">
    <div>
      <h2>{{'label.haku-list.topic' | translate}} ({{searchResultByToimipaikka.length}})</h2>
    </div>
  </div>
  <div class="search-result-container">
    <div class="search-result-row" *ngFor="let result of searchResultByToimipaikka">
      <div class="search-result-column clickable-cell"
           (click)="editHenkilo(result)">
        <div class="clickable-cell-content">
          {{result.lapsi.henkilo.sukunimi}} {{result.lapsi.henkilo.etunimet}}
        </div>
      </div>
      <div class="search-result-column">
        {{result.toimipaikkaName}}
      </div>
      <div class="search-result-column">
        {{getMaksutietoText(result.lapsi.maksutiedot) | translate}}
      </div>
    </div>
  </div>

  <app-varda-modal-form [identifier]="'henkiloModal'"
                        [isXl]="false"
                        [isLg]="true"
                        [openModal]="henkiloFormOpen"
                        [closeWithoutConfirm]="closeHakuListFormWithoutConfirm"
                        (events)="this.hideHenkiloForm($event)">
    <app-varda-henkilo-form
      *ngIf="henkiloFormOpen"
      [henkilo]="activeHenkilo"
      (valuesChanged)="henkiloHakuFormValuesChanged($event)"></app-varda-henkilo-form>
  </app-varda-modal-form>

</div>
