h2 {
  font-weight: bold;
}

.search-heading > * {
  margin-right: 50px;
  display: inline-block;
}

#sort-select {
  display: inline-block;
  width: auto;
  margin-left: 20px;
}

.search-result-row {
  display: flex;
  flex-direction: row;
}

.search-result-column {
  flex-direction: column;
  display: flex;
  flex: 1 1 0;
  margin: 3px 21px;
  justify-content:center;
  align-content:center;
}

.clickable-cell-content {
  padding: 3px 21px;
}

.clickable-cell:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.search-result-container {
  margin-left: 5%;
  margin-top: 20px;
  font-size: 0.87rem;
}
