<h1 class="varda-page-header">{{ pageHeader | translate }}</h1>
<div class="varda-page-content">
  <nav class="raportit-nav"
       mat-tab-nav-bar>
    <a mat-tab-link
       routerLink="puutteelliset-tiedot"
       (click)="activeLink = 'puutteelliset-tiedot'"
       [active]="activeLink === 'puutteelliset-tiedot'">
      <mat-icon alt="">warning</mat-icon>
      {{ i18n.puutteelliset_tiedot | translate }}
    </a>
    <ng-container *ngIf="toimijaAccess.raportit.katselija || toimijaAccess.oph.katselija">
      <a mat-tab-link
         routerLink="tiedonsiirrot"
         (click)="activeLink = 'tiedonsiirrot'"
         [active]="activeLink === 'tiedonsiirrot'">
        <mat-icon alt="">cloud_upload</mat-icon>
        {{ i18n.tiedonsiirrot | translate }}
      </a>
    </ng-container>
    <ng-container *ngIf="toimijaAccess.raportit.katselija || toimijaAccess.oph.katselija">
      <a mat-tab-link
         routerLink="excel"
         (click)="activeLink = 'excel'"
         [active]="activeLink === 'excel'">
        <mat-icon alt="">table_view</mat-icon>
        {{ i18n.excel | translate }}
      </a>
    </ng-container>
    <ng-container *ngIf="toimijaAccess.raportit.katselija || toimijaAccess.oph.katselija">
      <a mat-tab-link
         routerLink="vuosiraportti"
         (click)="activeLink = 'vuosiraportti'"
         [active]="activeLink === 'vuosiraportti'">
        <mat-icon alt="">calendar_month</mat-icon>
        {{ i18n.yearly_report | translate }}
      </a>
    </ng-container>
    <ng-container *ngIf="toimijaAccess.oph.katselija">
      <a mat-tab-link
         routerLink="yksiloimattomat"
         (click)="activeLink = 'yksiloimattomat'"
         [active]="activeLink === 'yksiloimattomat'">
        <mat-icon alt="">ac_unit</mat-icon>
        {{ i18n.yksiloimattomat | translate }}
      </a>
    </ng-container>
    <ng-container *ngIf="toimijaAccess.oph.katselija">
      <a mat-tab-link
         routerLink="transfer-outage"
         (click)="activeLink = 'transfer-outage'"
         [active]="activeLink === 'transfer-outage'">
        <mat-icon alt="">sync_problem</mat-icon>
        {{ i18n.transfer_outage | translate }}
      </a>
    </ng-container>
    <ng-container *ngIf="toimijaAccess.oph.katselija">
      <a mat-tab-link
         routerLink="request-summary"
         (click)="activeLink = 'request-summary'"
         [active]="activeLink === 'request-summary'">
        <mat-icon alt="">trending_up</mat-icon>
        {{ i18n.request_summary | translate }}
      </a>
    </ng-container>
  </nav>

  <router-outlet></router-outlet>
</div>
