.raportit-nav {
  margin-bottom: 2rem;
}

.raportit-nav a:hover {
  text-decoration: none;
}

.raportit-nav a.mat-tab-label-active {
  font-weight: bold;
}

.raportit-nav .mat-icon {
  margin-right: 0.5rem;
  user-select: none;
}

.mat-form-field {
  display: block;
}

.mat-table {
  width: 100%;
}

.mat-table th.mat-header-cell:not(:first-of-type),
.mat-table td.mat-cell:not(:first-of-type) {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.mat-progress-bar {
  height: 0.5em;
  margin: 1em auto;
}


.varda-table-column-selector {
  margin: 1rem 0rem;
  display: flex;
  flex-wrap: wrap;
}

.varda-table-column-selector .mat-checkbox {
  margin: 0.5rem;
}

.mat-button-toggle-group {
  margin: 1rem 1rem;
}

.mat-button-toggle-group .mat-button-toggle-checked {
  background-color: var(--blue);
  color: var(--white);
}

.mat-button-toggle .material-icons {
  position: relative;
  top: -1px;
}

.mat-button-toggle-checked .material-icons {
  color: white !important;
}

.mat-ink-bar {
  background-color: var(--blue-lighten-1) !important;
}

app-tiedonsiirto-filter-header .oph-input {
  min-width: 150px;
  max-width: calc(100% - 80px);
}

