<div class="container">
  <div class="koodistot-wrapper">
    <div class="koodistot-header">
      <h1 class="page-header">
        {{ translation.koodistot_title | translate}}
      </h1>
    </div>
    <div class="koodistot-nav">
      <select *ngIf="isSmall | async"
              [ngModel]="selectedKoodisto"
              (ngModelChange)="selectKoodisto($event)"
              class="form-control">
        <option value="" disabled>--{{ translation.koodistot_select | translate }}--</option>
        <option *ngFor="let koodistoName of koodistoNames | async"
                [ngValue]="koodistoName">
          {{koodistoName}}
        </option>
      </select>
      <div *ngIf="!(isSmall | async)" class="koodistot-links">
        <a *ngFor="let koodistoName of koodistoNames | async"
           [routerLink]="['/koodistot', koodistoName]"
           routerLinkActive="active-link">
          {{koodistoName}}
        </a>
      </div>
    </div>
    <div class="koodistot-content">
      <p *ngIf="selectedKoodisto === ''">{{ translation.koodistot_no_selection | translate}}</p>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
