<div class="page-not-found-wrapper">
  <div class="page-not-found-content">
    <p id="pageNotFound">{{'page-not-found.page-not-found' | translate}}</p>
    <ul>
      <li>{{'page-not-found.link-might-be-wrong' | translate}}</li>
      <li>{{'page-not-found.have-you-written-address-correctly' | translate}}</li>
      <li>{{'page-not-found.link-deprecated' | translate}}</li>
    </ul>
    <p>{{'page-not-found.you-can-find-service' | translate}} <a [href]="rootUrl">{{rootUrl}}</a></p>
    <p>{{'page-not-found.thank-you-for-your-patience' | translate}}</p>
  </div>
</div>