.yhteenveto-row {
  display: flex;
  width: 100%;
  padding-bottom: 2em;
}

.yhteenveto-container {
  margin-top: 2em;
}

.mat-table .mat-header-cell:nth-child(2), .mat-table .mat-cell:nth-child(2) {
  text-align: right;
  padding-right: 1em;
}

.mat-table .mat-header-cell:nth-child(3), .mat-table .mat-cell:nth-child(3) {
  width: 1%;
  padding-right: 0;
}
