<div class="varda-card-bottom">
  <div class="yhteenveto-row">
    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
      <div class="yhteenveto-container">
        <label class="oph-bold">{{i18n.katsele_tietoja_toimipaikat | translate}}</label>
        <table mat-table [dataSource]="datasourceToimipaikat">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>{{i18n.katsele_tietoja_yhteenveto_key | translate }}</th>
            <td mat-cell *matCellDef="let element">{{element.name | translate}}</td>
          </ng-container>
          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef>{{i18n.katsele_tietoja_yhteenveto_value | translate }}</th>
            <td mat-cell *matCellDef="let element">{{element.value}}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <div class="yhteenveto-container">
        <label class="oph-bold">{{i18n.katsele_tietoja_lapset | translate}}</label>
        <table mat-table [dataSource]="datasourceLapset">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>{{i18n.katsele_tietoja_yhteenveto_key | translate }}</th>
            <td mat-cell *matCellDef="let element">{{element.name | translate}}</td>
          </ng-container>
          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef>{{i18n.katsele_tietoja_yhteenveto_value | translate }}</th>
            <td mat-cell *matCellDef="let element">{{element.value}}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <div class="yhteenveto-container">
        <label class="oph-bold">{{i18n.katsele_tietoja_tyontekijat | translate}}</label>
        <table mat-table [dataSource]="datasourceTyontekijat">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>{{i18n.katsele_tietoja_yhteenveto_key | translate }}</th>
            <td mat-cell *matCellDef="let element">{{element.name | translate}}</td>
          </ng-container>
          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef>{{i18n.katsele_tietoja_yhteenveto_value | translate }}</th>
            <td mat-cell *matCellDef="let element">{{element.value}}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
