.varda-error-component {
  background-color: pink;
  padding: 1em;
}

.varda-error-header {
  display: flex;
  justify-content: space-between;
}

.varda-error-header header .mat-icon {
  color: red;
  position: relative;
  top: -1px;
}


.tyontekija-error-line {
  margin: 0.5em 0.5em;
}
